.icon {
  &.text-danger,
  &.text-success,
  &.text-warning {
    color: $text-color;
  }
}

// Makes the label red when a form error is shown
.has-error {
  label {
    color: $state-danger-text;
  }
}

// Lighten the Administration link in the menu bar in the admin area
div.admin-title a {
  color:#4DB1D6;
}

.loggedout {
    .help .icon-info-circle {
        color: inherit;
    }
}

// Remove the weird smaller button in the approve friend request box
.btn-text,
button.btn-text:not(:disabled):not(.disabled) {
    border: 0;
    box-shadow: none;
    &:active {
        box-shadow: none;
        background-color: transparent;
        border-width: 0;
        color: inherit;
    }
}
