// Generic custom css (anything longer than a screen view should have its own component file)
body {
  //background-color: $theme-background;

  &.admin {
    h1 {
      border-bottom: none;
      margin-bottom: 10px;
    }
  }
}

.dashboard-widget-container {
  .circle-bg {
    border-radius: 0;
  }
}
.icon {
  &.text-danger,
  &.text-success,
  &.text-warning {
    color: $text-color;
  }
}

.messages {
  a {
    color: #FFFFFF;
  }
}

// Login Box padding fixes {
#login-helplinks {
  .register-link{
    padding-right: 2px;
  }
  .forgotpass-link {
    padding-left: 7px;
  }
}
// TINY MCE colour inherit bug fix
.mce-panel.mce-tinymce {
  .mce-statusbar.mce-container {
    background-color: lighten($gray-light, 50%);
    border: 1px solid;
    border-color: lighten($gray-light, 50%) !important;
  }
} 
