.panel {
    form {
        margin:0;
    }
    table {
        font-size: 12px;
    }
    small {
        margin-top:5px;
        line-height: 1.5em;
        color: $gray;
        display: block;
    }

    .list-group-item small {
        @extend .text-midtone;
        font-size: $font-size-base - 2;
    }

    dl {
        dt {
            font-weight:normal;
            clear: both;
            margin-right:10px;
        }
        dd, dt {
            display:inline-block;
            float:left;
        }

        dd {
            color: $gray;
            line-height: 1.5em;
            font-size: 0.9em;
        }
    }
    .nav-pills {
        margin: 0;
    }
}
