/*
 * Input boxes, links, or buttons positioned over the panel header
 */
.panel-control {
    display: block;
    font-size: $font-size-base - 2;
    margin: 0;
    min-width: 0;
    padding: 12px 0 12px 15px;
    position: absolute;
    width: auto;
    z-index: 5;
    &.panel-header-action {
        right:0;
        top:0;
        .btn {
            padding-top:0;
        }
    }
     &.panel-header-form-actions {
        right:0;
        top:0;
        padding:0;
        .btn {

        }
     }

    input {
        margin-top:0;
    }
    .control {
        display: inline-block;
        .control-wrapper {
            display: inline-block;
        }
    }
    .content-expanded {
        font-size: $font-size-small;
        color: $link-color;
    }
}
a.panel-control {
    &:hover, &:hover span {
        color: $link-color;
    }
}
