.arrow-bar {
    .arrow {
        font-family: $font-family-sans-serif;

        .text {
          font-weight: 700;
          color: #333333;
        }
    }
}

.nav-inpage {
    &.nav > li {
        > a, button {
            border-radius: 20px;
        }
    }
}
