.arrow-bar {
    .arrow {
        width: auto;
        @media (max-width: $screen-md-min) {
            width: auto;
        }
    }
    .right-text {
        @media (max-width: $screen-sm-min) {
            float: none;
            text-align: center;
        }
    }
}


.nav-inpage {
    &.nav > li {
        > a, button {
            color: $arrow-link-color;

            @media (max-width: $screen-sm-min) {
                 margin-top: 2px;
                 margin-bottom: 2px;
            }
            &:hover,
            &:focus {
                color: $arrow-link-hover-color;
            }
        }
        &.active > a,
        &.active > button,  {
            &:hover,
            &:focus {
                color: $arrow-link-hover-color;
            }
        }
    }
}