.btn-group div.form-button-group {
    display: inline-block;
    margin: 0;
    padding: 0;
    .btn {
        border-left:0;
        display: inline-block;
        border-bottom-radius: 0;
        border-bottom-left-radius: 0;
    }
}


// Lime buttons
.btn,
.btn-default {
    @include gradient-vertical($start-color: #FFFFFF, $end-color: #ececec, $start-percent: 10%, $end-percent: 100%);
    border-color: #dddddd;
    color: #676767;
    
    &:focus,
    &:hover {
        border-color: #a6a6a6;
        color: #333333;
    }
}

// Green buttons
.btn-success,
.btn-primary {
    @include gradient-vertical($start-color: #99b92d, $end-color: #66860f, $start-percent: 0%, $end-percent: 100%);
    border-color: #66860f;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
    font-weight: normal;
    
    &:focus,
    &:hover {
        border-color: #202c01;
        color: #FFFFFF;
    }
}