// forum buttons
.forum-post-btns {
    border-top: 1px dotted #ececec;
    padding: 10px;

    a {
        color: $theme-primary-color;
    }
}

.btn-secondary, .drag-default-button {
    background: $btn-secondary-bg;
    margin-bottom: 0;
    &:hover,
    &:focus {
        background: darken($btn-secondary-bg, 9.7%);
        color: $theme-text-color;
        border-color: darken($btn-secondary-border, 12%);
    }
}

.btn-secondary {
    background: darken($btn-secondary-bg, 4.75%);
    &:hover,
    &:focus {
        background: darken($btn-secondary-bg, 14.5%);
    }
}
