//dash
.collapse-indicator {
    color: $link-color;
    .collapsed & {
        color: $link-color;
    }
    a:hover &,
    a:focus & {
        color: $link-hover-color;
    }
}
//dash inner
//messages: inbox, sent
//admin: site options
//journals
.inboxblock .link-block,
.form-notificationlist h4 a,
.pieform-fieldset.collapsible h4 a,
.myblogs h5 a {
    &:hover .collapse-indicator,
    &:focus .collapse-indicator{
        color: $link-hover-color;
    }
    .collapse-indicator {
        color: $link-color;
    }
}

.expand-indicator {
    + .icon {
        color: $link-color;
        &:hover, &:focus {
            color: $link-hover-color;
        }
    }
}

// syntax change if link is an outer-link
[data-toggle="collapse"].outer-link {
    &.collapsed {
        ~ .collapse-indicator {
            color: $link-color;
        }
    }
    &:hover,
    &:focus {
        ~ .collapse-indicator {
            color: $link-hover-color;
        }
    }
}
