.list-group-item-link {
    a {
        color: $link-color;
        &:hover {
            color: $link-hover-color;
            background-color: scale-color($theme-primary-color, $lightness: 90%);
        }
    }
}

.list-group-item-heading {
  font-family: $font-family-sans-serif;
  font-weight: 700;
}

.list-group-item {
    &.published {
        background-color: #fff;
    }
    .list-group-item-controls,
    .btn-action-list,
    .list-group-item-heading {
        &.btn-group-top {
            @include media-breakpoint-up(lg) {
                margin-top: -13px;
            }
        }
    }
}
