.list-group-item-link {
    a {
        color: $theme-primary-color;
        &:hover {
            color: lighten($theme-primary-color, 5%);
            background-color: rgba(250, 255, 234, 0.3);
        }
    }
}
