.header {
    .navbar-toggle {
        @include gradient-vertical($start-color: #FFFFFF, $end-color: #ececec, $start-percent: 10%, $end-percent: 100%);
        border-color: #dddddd;
        color: #676767;

        &:focus,
        &:hover {
            @include gradient-vertical($start-color: #ececec, $end-color: #ececec, $start-percent: 10%, $end-percent: 100%);
            color: #333333;
        }
    }
    .navbar-nav {
        .navbar-toggle {
            margin-top: 0;
        }
    }
}
