// Generic custom css (anything longer than a screen view should have its own component file)
.blocktype-radio {
    display: none;
}

.login {
    .form-group.button,
    .form-group.submit {
        padding-top: 10px;
    }

    .form-group .errmsg {
        margin-left: 0;
    }
}

.progress-bar {
    background-color: #84a421;
}