.collapsible legend h4,
.collapsible legend h3,
.panel-heading {
    &.has-link {
        a .icon {
            color: $brand-primary;
        }
    }
    .metadata {
        margin-top: 3px;
        @media (min-width: $screen-md-min ) and (max-width: $screen-lg-min ) {
            float: none !important;
            font-size: 11px;
        }
    }
}


// custom block heading 
.column-layout {
    &:nth-child(3n+1) {
        .panel-secondary {
            &:nth-child(5n+1) > .panel-heading, .panel-heading-nested {
                background-color: #0591ce;
                color: #FFFFFF;
            }
            &:nth-child(5n+2) > .panel-heading, .panel-heading-nested {
                background-color: #ca0238;
                color: #FFFFFF;
            }
            &:nth-child(5n+3) > .panel-heading, .panel-heading-nested {
                background-color: #f29907;
                color: #FFFFFF;
            }
            &:nth-child(5n+4) > .panel-heading, .panel-heading-nested {
                background-color: #799323;
                color: #FFFFFF;
            }
            &:nth-child(5n+5) > .panel-heading, .panel-heading-nested {
                background-color: #773f97;
                color: #FFFFFF;
            }
        }
    }
    &:nth-child(3n+2) {
        .panel-secondary {
            &:nth-child(5n+1) > .panel-heading, .panel-heading-nested {
                background-color: #f29907;
                color: #FFFFFF;
            }
            &:nth-child(5n+2) > .panel-heading, .panel-heading-nested {
                background-color: #799323;
                color: #FFFFFF;
            }
            &:nth-child(5n+3) > .panel-heading, .panel-heading-nested {
                background-color: #773f97;
                color: #FFFFFF;
            }
            &:nth-child(5n+4) > .panel-heading, .panel-heading-nested {
                background-color: #0591ce;
                color: #FFFFFF;
            }
            &:nth-child(5n+5) > .panel-heading, .panel-heading-nested {
                background-color: #ca0238;
                color: #FFFFFF;
            }
        }
    }
    &:nth-child(3n+3) {
        .panel-secondary {
            &:nth-child(5n+1) > .panel-heading, .panel-heading-nested {
                background-color: #773f97;
                color: #FFFFFF;
            }
            &:nth-child(5n+2) > .panel-heading, .panel-heading-nested {
                background-color: #0591ce;
                color: #FFFFFF;
            }
            &:nth-child(5n+3) > .panel-heading, .panel-heading-nested {
                background-color: #ca0238;
                color: #FFFFFF;
            }
            &:nth-child(5n+4) > .panel-heading, .panel-heading-nested {
                background-color: #f29907;
                color: #FFFFFF;
            }
            &:nth-child(5n+5) > .panel-heading, .panel-heading-nested {
                background-color: #799323;
                color: #FFFFFF;
            }
        }
    }
}


// custom icons to some blocks
.bt-newviews .panel-heading:before {
    content: $fa-var-bullhorn;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-inbox .panel-heading:before {
    content: $fa-var-inbox;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-myviews .panel-heading:before {
    content: $fa-var-file;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-filedownload .panel-heading:before {
    content: $fa-var-download;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-folder .panel-heading:before {
    content: $fa-var-folder;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-gallery .panel-heading:before {
    content: $fa-var-picture-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-internalmedia .panel-heading:before {
    content: $fa-var-video-camera;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-pdf .panel-heading:before {
    content: $fa-var-file-pdf-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-html .panel-heading:before {
    content: $fa-var-code;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-blog .panel-heading:before {
    content: $fa-var-pencil;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-blogpost .panel-heading:before {
    content: $fa-var-file-text;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-recentposts .panel-heading:before {
    content: $fa-var-clock-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-taggedposts .panel-heading:before {
    content: $fa-var-tags;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-comment .panel-heading:before {
    content: $fa-var-comment;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-annotation .panel-heading:before {
    content: $fa-var-pencil-square-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-creativecommons .panel-heading:before {
    content: $fa-var-creative-commons;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-navigation .panel-heading:before {
    content: $fa-var-location-arrow;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-plans .panel-heading:before {
    content: $fa-var-check-square-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-recentforumposts .panel-heading:before {
    content: $fa-var-comments;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-textbox .panel-heading:before {
    content: $fa-var-pencil-square-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-profileinfo .panel-heading:before {
    content: $fa-var-info;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-socialprofile .panel-heading:before {
    content: $fa-var-thumbs-up;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-entireresume .panel-heading:before {
    content: $fa-var-star;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-resumefield .panel-heading:before {
    content: $fa-var-star-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-externalfeed .panel-heading:before {
    content: $fa-var-rss;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-externalvideo .panel-heading:before {
    content: $fa-var-youtube-play;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-googleapps .panel-heading:before {
    content: $fa-var-google;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-wall .panel-heading:before {
  content: $fa-var-quote-left;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-myfriends .panel-heading:before {
  content: $fa-var-user-plus;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-mygroups .panel-heading:before {
  content: $fa-var-users;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-image .panel-heading:before {
    content: $fa-var-picture-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-text .panel-heading:before {
    content: $fa-var-font;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}