.collapsible legend h4,
.collapsible legend h3,
.panel-heading {
    &.has-link {
        a .icon {
            color: $brand-primary;
        }
    }
    .metadata {
        margin-top: 3px;
        @media (min-width: $screen-md-min ) and (max-width: $screen-lg-min ) {
            float: none !important;
            font-size: 11px;
        }
    }
}