// panel-secondary is the style used for the user-editable panels used across Mahara

.panel-secondary {
    &.panel {
        @include box-shadow(none);
    }
    > .panel-heading {
        font-family: $font-family-sans-serif;
        border-radius: 0;
    }
    > .panel-heading, .panel-heading-nested {
        border-bottom: 0;

        background-color: #0591ce;
        color: #FFFFFF;

        a {
            color: #FFFFFF;
            text-decoration: underline;
        }
    }
    .blockinstance-controls {
        .btn-group-top {
            top: 10px;

            @media (max-width: $screen-md-min) {
                top: -10px;
            }
            @media (max-width: $screen-sm-min) {
                top: 0px;
            }
        }
    }
}
