a.panel-footer {
    color: $brand-primary;

    &:hover {
        color: lighten($brand-primary, 5%);
        .icon {
            color: lighten($brand-primary, 5%);
        }
        .icon.pull-right { //only apply link colorto right aligned icons
            color: lighten($brand-primary, 5%);
        }
    }
    .icon.pull-right {
        color: $brand-primary;
    }
}