$font-path: '../../raw/fonts';

$thin: 100, normal;
$light: 300, normal;
$lightItalic: 300, italic;
$regular: normal, normal;
$italic: normal, italic;
$bold: 700, bold;

$opensans: (
    OpenSansLight: $light,
    OpenSansLightItalic: $lightItalic,
    OpenSansRegular: $regular,
    OpenSansItalic: $italic,
    OpenSansBold: $bold
);

$robotoslab: (
    RobotoSlab-Thin: $thin,
    RobotoSlab-Light: $light,
    RobotoSlab-Regular: $regular,
    RobotoSlab-Bold: $bold
);


@each $fontname, $style in $opensans {
    @font-face {
        font-family: 'Open Sans';
        src: url('#{$font-path}/opensans/#{$fontname}.eot');
        src: url('#{$font-path}/opensans/#{$fontname}.eot') format('embedded-opentype'),
             url('#{$font-path}/opensans/#{$fontname}.woff2') format('woff2'),
             url('#{$font-path}/opensans/#{$fontname}.woff') format('woff'),
             url('#{$font-path}/opensans/#{$fontname}.ttf') format('truetype'),
             url('#{$font-path}/opensans/#{$fontname}.svg##{$fontname}') format('svg');
        font-weight: nth($style, 1);
        font-style:  nth($style, 2);
    }
}

@each $fontname, $style in $robotoslab {
    @font-face {
        font-family: 'Roboto Slab';
        src: url('#{$font-path}/robotoslab/#{$fontname}.ttf') format('truetype');
        font-weight: nth($style, 1);
        font-style:  nth($style, 2);
    }
}
