// Login link and language form
.topright-menu {
    .login-link a {
        border-radius: $btn-border-radius;
        font-weight: $font-weight-normal;
        border: 1px solid $theme-primary-color;

        &:focus,
        &:hover {
          border: 1px solid $theme-primary-color;
        }
    }
}

// Header search form
.navbar-form.navbar-collapse {
    @include media-breakpoint-up(md) {
        position: relative;
        display: inline-block;
        top: auto;
        right: auto;
        margin: 3.5rem $spacing-xl 0 0; // 56px 20px 0 0;
        float: right;
        clear: none;
    }
    .input-group-append.btn {
        border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
    }

    .header-search-form {
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        input[type=text] {
            @media (min-width: 768px) and (max-width: 992px) {
                max-width: 150px;
            }
        }
    }
}

.navbar-default {
    box-shadow: 0 .125rem .25rem rgba($black, .075);
}
