.arrow-bar {
    .arrow {
        .text {
            color: #FFF;
        }
    }
    .nav-inpage.nav {
        li > a {
            color: #FFF;
            &:hover {
                color: #FFF;
                background-color: $theme-secondary-color; 
            }
        }
    }
}