#close_site_submit {
    &.btn {
        border-color: $danger;
        color: $danger;
        background-color: scale-color($danger, $lightness: 70%);
        &:hover,
        &:focus {
          color:#FFFFFF;
          background-color: $danger;
        }
    }
}

.btn-group {
  &.btn-toolbar {
    &.btn-group-top{
      .active {
        background-color: $theme-primary-color;
        color: #FFF;
      }
    }
  }
}

// Tinymce primary button
.tox-dialog,
.mce-widget,
.mce-reset {
    .tox-primary {
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
        font-family: $font-family-sans-serif;

        &:hover {
            background-color: scale-color($btn-primary-bg, $lightness: -5%);
        }

        .mce-txt {
            color: $btn-primary-color;
        }
    }
    // Vertically center Raleway font
    .mce-abs-layout-item button .mce-txt {
        vertical-align: baseline;
    }
}

.modal-tinymce {
    .pieform {
        button.btn-secondary {
            background-color: $btn-primary-bg;
            border-color: $btn-primary-border;
            font-family: $font-family-sans-serif;
            color: $btn-primary-color;

            &:hover {
                background-color: scale-color($btn-primary-bg, $lightness: -5%);
            }
        }
    }
}
