#close_site_submit {
    &.btn {
        border-color: $brand-danger;
        color: $brand-danger;
        background-color: lighten($brand-danger, 35%);
        &:hover,
        &:focus {
          color:#FFFFFF;
          background-color: $brand-danger;
        }
    }
}

.btn-group {
  &.btn-toolbar {
    &.btn-group-top{
      .active {
        background-color: $brand-primary;
        color: #FFF;
      }
    }
  }
}