.user-icon {
  border-radius: 50%;

  img {
      border-radius: 50%;
  }
}

// turns thumbnail user-icons in grid back to rectangular
.user-thumbnails .user-icon {
    border-radius: $border-radius;
    img {
        border-radius: $border-radius;
    }
}

// Profile images page
.profileiconcell img {
    border-radius: 50%;
}

// Select-2 user list user icons
.select2-user-icon {
    border-radius: 50%;
}
