// tinymce heading font 
.mce-content-body {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-sans-serif;
        color: #333333;
        font-weight: 700;
    }
    h1 {
        border-bottom: 0;
        padding-bottom: 0;
        font-size: 28px;
    }
}