/*
 * Primary navigation menu
 */
.main-nav {

    .navbar-brand {
        font-size: 14px;
        text-transform: uppercase;
        &:hover {
            color: $accent-color;
        }
    }   
}

.top-nav.navbar-nav {
  background: none;
  
  .backto-be-admin {
    a {
      @media (max-width: $screen-sm-min) {
        background-color: transparent;
        color: $state-warning-bg;
      }
    }
  }
}

.navbar-form.navbar-right.navbar-collapse.collapse.in {
  border: none;
}


@media (max-width: 768px) {

  body.admin .container {
    margin-top: 0;
  }


  .navbar-toggle {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    &.navbar-showchildren {
      color: #FFF;
      background-color: transparent;
      .icon {
        color: #FFF;
      }
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
  .main-nav {

    .navbar-header {
      padding: 10px;
      background-color: $accent-color;
    }
    .nav {
      li {
        a {
          border-top: 1px solid lighten($theme-primary-color, 10%);
          border-bottom: 1px solid darken($theme-primary-color, 20%);
        }
        &.active > a {
          background: lighten($theme-primary-color, 8%);
          border-top: 1px solid lighten($theme-primary-color, 10%);
          color: #FFF !important;
          &:hover,
          &:focus {
            background-color: lighten( $theme-primary-color, 8%);
          }
        }
      }
    }

    .child-nav {
      padding-top: 0;
      padding-bottom: 0;
      background-color: darken( $theme-primary-color, 5%);
      li {
        &.active a,
        &.active a:hover,
        &.active a:focus {
          color: lighten($accent-color, 3%) !important;
          background-color: darken( $theme-primary-color, 8%);
          border-left: 5px solid lighten($accent-color, 3%);
          border-top: 1px solid darken($theme-primary-color, 9%);
        }
        a {
          color: #FFF !important;
          border-top: 1px solid darken($theme-primary-color, 2%);
          border-bottom: 1px solid darken($theme-primary-color, 9%);
          border-left: 5px solid darken( $theme-primary-color, 8%);
          &:hover,
          &:focus {
            background-color: darken( $accent-color, 8%);
            border-left: 5px solid darken( $accent-color, 8%);
          }
        }
      }

      .dropdown-tertiary {
        padding-left: 0;

        li {
          background-color: darken( $theme-primary-color, 8%);
          a {
            border-left: 0;
            color: #FFF;
          }
        }
      }
    }
  }

  .navbar-default {
    .menu-toggle,
    .search-toggle {
      border-color: lighten($theme-primary-color, 10%);
      background-color: lighten($theme-primary-color, 5%);
      color: #FFF;
      &:before {
        border-color: lighten($theme-primary-color, 20%);
        z-index: 1;
      }
      .icon-bar {
        background-color: #FFF;
      }
      &:hover {
        background-color: lighten($theme-primary-color, 10%);
      }
    }
  }

  .navbar-inverse {
    &.navbar-toggle {
      background-color: transparent;
    }
  }
}