/*
 * Primary navigation menu
 */
.main-nav {

    .navbar-brand {
        font-size: 14px;
        text-transform: uppercase;
        &:hover {
            color: $brand-secondary;
        }
    }   
}

