.minor-nav {
    background-color: #FFF;

    .nav>li>a {
        color: $brand-primary;
        border-radius: 3px;
        padding: 3px 8px;

        &:hover {
            color: $accent-color;
            background-color: #FFF;

        }
    }
    .nav>li.active>a,
    .nav>li.active>a:hover {
        background-color: $accent-color;
        color: #FFF;
    }
}
