h1.page-header {
  font-weight: 900;
  .icon {
    color: $theme-secondary-color;

    &.icon-info-circle {
      color: $help-icon-color;
    }
  }
}

#results .list-group-item-heading .icon {
  color: $theme-secondary-color;
}

.page-header {
    ~ form.with-heading,
    ~ form .with-heading,
    ~ .form.with-heading {
        border-radius: 0;
    }
}
