// Custom component variables (non-bootstrap components)

//Arrow component variables
$arrow-color: scale-color(theme-color("primary"), $lightness: 80%) !default;

$arrow-text-color: $theme-text-color !default;
$arrow-link-color: $link-color !default;
$arrow-link-hover-color: $theme-text-color !default;
$arrow-link-active-color: $theme-text-color !default;

// color for the secondary title in sections (cf. groups)
$section-heading-color: #999 !default;
$admin-title-color: #fff !default;
$admin-title-bg: theme-color("primary") !default;

$dashboard-widget-bg: #f4f4f4 !default;
$dashboard-widget-color: theme-color("primary") !default;

$help-icon-color: theme-color("statetext") !default;
$rss-icon-color: #FE6500 !default;

// Smart Evidence status colors
$assessment-begun-color: #5b9aa9 !default;
$assessment-incomplete-color: theme-color("danger") !default;
$assessment-partial-color: theme-color("warning") !default;
$assessment-completed-color: theme-color("success") !default;

$navbar-notification-count-bg: #FC9F1A !default;
$navbar-notification-count-text: #000000 !default;
