// Custom component variables (non-bootstrap components)
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//Arrow component variables
$arrow-color:                               scale-color(theme-color("primary"), $lightness: 80%) !default;
$arrow-bar-bg:                              scale-color($arrow-color, $lightness: 35%) !default;
$arrow-text-color:                          $theme-text-color !default;
$arrow-link-color:                          $link-color !default;
$arrow-link-hover-color:                    $theme-text-color !default;
$arrow-link-active-color:                   $theme-text-color !default;
$arrow-link-background-color:               #fff !default;

// color for the secondary title in sections (cf. groups)
$section-heading-color:                     #999 !default;

$dashboard-widget-bg:                       #f4f4f4 !default;
$dashboard-widget-color:                    theme-color("primary") !default;

$help-icon-color:                           theme-color("statetext") !default;
$rss-icon-color:                            #FE6500 !default;

// Smart Evidence status colors
$assessment-begun-color:                    #5b9aa9 !default;
$assessment-incomplete-color:               theme-color("danger") !default;
$assessment-partial-color:                  theme-color("warning") !default;
$assessment-completed-color:                theme-color("success") !default;

// LEGACY BOOTSTRAP 3 VARIABLES

// Header navbar
$navbar-height:                             60px !default;

// Navbar toggle and menu
$navbar-default-color:                      $link-color !default;
$navbar-default-bg:                         #fff !default;
$navbar-default-border:                     scale-color($navbar-default-bg, $lightness: -6.5%) !default;
$navbar-default-link-color:                 $link-color !default;
$navbar-default-link-hover-color:           $link-hover-color !default;
$navbar-default-link-bg:                    $navbar-default-bg !default;
$navbar-default-link-hover-bg:              #F1F1F1 !default;
$navbar-default-active-color:               $gray-700 !default;
$navbar-default-active-bg:                  #ececec !default;
$navbar-default-toggle-icon-bar-bg:         $link-color !default;

// Navbar menus children
$navbar-inverse-bg:                         #F1F1F1 !default;
$navbar-inverse-link-color:                 $link-color !default;
$navbar-inverse-link-hover-color:           $link-hover-color !default;
$navbar-inverse-link-hover-bg:              scale-color($navbar-inverse-bg, $lightness: -5.5%) !default;
$navbar-inverse-link-active-color:          theme-color("text") !default;
$navbar-inverse-link-active-bg:             #F1F1F1 !default;

// Navbar menu children toggles
$navbar-inverse-toggle-color:               scale-color($gray-500, $lightness: 37.5%) !default;
$navbar-inverse-toggle-bg:                  transparent !default;
$navbar-inverse-toggle-hover-color:         $navbar-default-link-color !default;
$navbar-inverse-toggle-hover-bg:            $navbar-inverse-bg !default;
$navbar-inverse-toggle-active-color:        $navbar-inverse-link-active-color !default;
$navbar-inverse-toggle-active-bg:           $navbar-inverse-bg !default;


//Fonts
$line-height-computed:                      $font-size-base * $line-height-base !default; // ~20px
$text-shadow:                               $white !default;

// Form states
$state-success-text:                        theme-color("success") !default;
$state-success-bg:                          mix(theme-color("success"), #fff, 20%) !default;
$state-success-border:                      scale-color(adjust-hue($state-success-bg, -10), $lightness: -10%) !default;

$state-info-text:                           #31708f !default;
$state-info-bg:                             #d9edf7 !default;
$state-info-border:                         scale-color(adjust-hue($state-info-bg, -10), $lightness: -7%) !default;

$state-warning-text:                        #8a6d3b !default;
$state-warning-bg:                          #fcf8e3 !default;
$state-warning-border:                      scale-color(adjust-hue($state-warning-bg, -10), $lightness: -5%) !default;

$state-danger-text:                         #a94442 !default;
$state-danger-bg:                           #f2dede !default;
$state-danger-border:                       scale-color(adjust-hue($state-danger-bg, -10), $lightness: -5%) !default;

// Buttons + Forms
$btn-secondary-bg:                          #F9F9F9 !default;
$btn-secondary-border:                      $secondary !default;

$btn-primary-color:                         #fff !default;
$btn-primary-bg:                            theme-color("primary") !default;
$btn-primary-border:                        scale-color(theme-color("primary"), $lightness: -16%) !default;

$btn-bg-disabled-color:                     #f9f9f9 !default;

// Cards
$card-border:                               #ddd !default;
$card-header-bg:                            #f9f9f9 !default;
$card-footer-bg:                            #f5f5f5 !default;

$card-secondary-border:                     theme-color("primary") !default;

$card-border:                               scale-color(theme-color("secondary"), $lightness: 33.35) !default;
$card-header-bg:                            $card-header-bg !default;

// Tables
$cursor-disabled:                           not-allowed !default; // Disabled cursor for form controls and buttons.

// Pagination
$pagination-padding-y-xs:                   0.0625rem !default;
$pagination-padding-x-xs:                   0.4375rem !default;

// Popovers
$popover-fallback-border-color:             #ccc !default;

// Modals
$modal-header-color:                        $white !default;
$modal-header-padding:                      0.125rem !default;

// List groups
$list-group-border:                         #ddd !default;
$list-group-line-height:                    1.3 !default;

// Code
$pre-bg:                                    #f5f5f5 !default;

// Header inbox message count background color
$navbar-messages-count-color:               #000 !default;
$navbar-messages-count-bg:                  #fc9f1a !default;
