/*
 * Theme colours should be defined here, and (ideally) used only in the global variables files (bootstrap-variables, custom-variables)
 */

$theme-primary-color: #556d32 !default; // mid green
$theme-secondary-color: #2e3a1c !default; // dark green
$theme-text-color:  #333 !default; // black
$theme-text-midtone-color: #444 !default; // mid gray
$theme-text-lighttone-color: #555 !default; // light gray (still passes contrast standards on white)
