/*
 * Theme colours should be defined here, and (ideally) used only in the global variables files (bootstrap-variables, custom-variables)
 */

$theme-primary-color: #556d32 !default;
$theme-primary-color-dark: #2e3a1c !default;
$theme-text-color:  #333 !default;
$theme-text-midtone-color: #666 !default;
$theme-text-lighttone-color: #767676 !default;

$theme-accent-color:  #423017 !default; // note this currently isn't used anywhere in raw
