.project
.buildpath
.settings/
.settings
.envrc
behat-root/
logs
htdocs/config.php
htdocs/.project
htdocs/.projectOptions
htdocs/.settings/
htdocs/.settings
mahara-*.tar.bz2
mahara-*.tar.gz
mahara-*.zip
*.swp
.patches
/test/selenium/TestSuite.html
/test/selenium/results.html
/test/selenium/*/index.html
/test/.project
/test/.buildpath
/test/.settings
/test/behat/selenium-server-standalone*
/configure-stamp
/debian/files
/debian/mahara-apache.postinst.debhelper
/debian/mahara-apache.postrm.debhelper
/debian/mahara-apache.substvars
/debian/mahara-apache
/debian/mahara-apache2.postinst.debhelper
/debian/mahara-apache2.postrm.debhelper
/debian/mahara-apache2.substvars
/debian/mahara-apache2
*.DS_Store
.__*
/external
logfile
node_modules/
htdocs/.externalToolBuilders/
htdocs/auth/saml/extlib/simplesamlphp
htdocs/auth/saml/sp/resources
htdocs/lib/chrome-php
package-lock.json
*\:Zone.Identifier\:\$DATA
