[project]
	description = Mahara core
	state = active
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	owner = group Mahara Release Managers
	read = group Replication
[access "refs/heads/*"]
	label-Verified = -1..+1 group Gerrit training
	label-Code-Review = -1..+1 group Gerrit training
    label-Automated-Tests = -1..+1 group Mahara Automated Testers
[label "Automated-Tests"]
    abbreviation = T
    rule = NoBlock
    value = -1 Tests failed
    value = 0 Tests not run
    value = 1 Tests passed
