[project]
	description = Mahara core
	state = active
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = merge always
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	owner = group Mahara Release Managers
[access "refs/heads/*"]
	label-Verified = -1..+0 group Mahara Automated Testers
