[project]
	description = Mahara core
	state = active
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	owner = group Mahara Release Managers
[access "refs/heads/*"]
	label-Verified = -1..+0 group Mahara Automated Testers
[access "refs/heads/1.6_STABLE"]
	read = block group Anonymous Users
	exclusiveGroupPermissions = read
[access "refs/heads/master"]
	read = group Anonymous Users
