// Generic custom css (anything longer than a screen view should have its own component file)

// viewfooter
.viewfooter {
    padding: 15px;
    background-color: $panel-default-heading-bg;
    border-radius: 10px;
}
