// Generic custom css (anything longer than a screen view should have its own component file)

// viewfooter
.viewfooter {
    padding: 0 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    // Ensure background-color isn't visible when comments aren't enabled
    .comment-container {
      h3 {
        padding: 36px 15px 0 15px;
      }
      hr {
        margin: 0 15px;
      }
      #feedbacktable,
      #feedback_pagination,
      #add-comment {
        padding: 0 15px;
      }
    }
}
