// Extra icons to fit db defiend tyopes (cf pagebuilder)
.icon {
    &.right {
        padding-left: 5px;
    }
    &.left {
        padding-right: 5px;
    }
    &.block-loading {
        margin-top: 20px;
        margin-left: 30px;
    }
}

.icon-placeholder {
    opacity:0;
    pointer-events: none;
    cursor: default;
}

.icon-annotation:before {
    content: $fa-var-pencil-square-o;
}
.icon-fileimagevideo:before,
.icon-video:before {
    content: $fa-var-film;
}
.icon-blog:before {
    content: $fa-var-pencil;
}

.icon-general:before,
.icon-occupation:before {
    content: $fa-var-briefcase;
}

.icon-internal:before {
    content: $fa-var-user;
}

.icon-external:before {
    content: $fa-var-external-link;
}

.icon-text:before {
    content: $fa-var-font;
}

.icon-filedownload:before {
    content: $fa-var-download;
}

.icon-gallery:before {
    content: $fa-var-image;
}

.icon-internalmedia:before {
    content: $fa-var-video-camera;
}

.icon-pdf:before {
    content: $fa-var-file-pdf-o;
}

.icon-blogaddress:before,
.icon-officialwebsite:before,
.icon-personalwebsite:before {
    content: $fa-var-rss;
}

.icon-html:before {
    content: $fa-var-code;
}

.icon-view:before,
.icon-myviews:before,
.icon-groupviews:before {
    content: $fa-var-file;
}

.icon-personalskill:before,
.icon-personalgoal:before,
.icon-membership:before,
.icon-employmenthistory:before,
.icon-workskill:before,
.icon-workgoal:before,
.icon-academicskill:before,
.icon-academicgoal:before,
.icon-careergoal:before,
.icon-coverletter:before,
.icon-educationhistory:before,
.icon-interest:before,
.icon-blogpost:before {
    content: $fa-var-file-text;
}

.icon-certification:before {
    content: $fa-var-certificate;
}

.icon-recentposts:before {
    content: $fa-var-clock-o;
}

.icon-taggedposts:before {
    content: $fa-var-tags;
}

.icon-creativecommons:before {
    content: $fa-var-creative-commons;
}

.icon-navigation:before {
    content: $fa-var-location-arrow;
}

.icon-newviews:before {
    content: $fa-var-file;
}

.icon-plans:before {
    content: $fa-var-check-square-o;
}

.icon-tasks:before {
    content: $fa-var-tasks;
}

.icon-recentforumposts:before {
    content: $fa-var-comments;
}

.icon-textbox:before {
    content: $fa-var-pencil-square-o;
}

.icon-watchlist:before {
    content: $fa-var-eye;
}

.icon-groupinfo:before,
.icon-profileinfo:before {
    content: $fa-var-info;
}

.icon-socialprofile:before {
    content: $fa-var-thumbs-up;
}

.icon-entireresume:before {
    content: $fa-var-star;
}

.icon-resumefield:before {
    content: $fa-var-star-half-o;
}

.icon-myfriends:before {
    content: $fa-var-user-plus;
}

.icon-groupmembers:before,
.icon-mygroups:before {
    content: $fa-var-users;
}

.icon-externalfeed:before {
    content: $fa-var-rss;
}

.icon-externalvideo:before {
    content: $fa-var-youtube-play;
}

.icon-googleapps:before {
    content: $fa-var-google;
}

.icon-wall:before {
    content: $fa-var-quote-left;
}

.icon-audio:before {
    content: $fa-var-music;
}

.icon-task:before {
    content: $fa-var-tasks;
}

.icon-plan:before {
    content: $fa-var-calendar-check-o;
}

.icon-collection:before {
    content: $fa-var-folder-open;
}

.icon-introduction:before {
    content: $fa-var-file-text-o;
}

.icon-homenumber:before,
.icon-businessnumber:before {
    content: $fa-var-phone;
}

.icon-address:before {
    content: $fa-var-road;
}

.icon-town:before {
    content: $fa-var-home;
}

.icon-city:before {
    content: $fa-var-building;
}

.icon-country:before {
    content: $fa-var-globe;
}

.icon-personalinformation:before {
    content: $fa-var-sticky-note-o;
}

.icon-studentid:before {
    content: $fa-var-graduation-cap;
}

.icon-mobilenumber:before {
    content: $fa-var-mobile;
}

.icon-on-hover {

    ~ .icon-action {
        opacity: 0;
        visibility: hidden;
        padding-top: 5px;
    }
    &:hover {
        ~ .icon {
            opacity: 1;
            visibility: visible;
            &.text-watermark {
                opacity: 0.2;
            }
        }
    }
}

.icon-fieldset {
    padding-right: 20px;
}

.mahara-rss-icon {
    color: $rss-icon-color;
}
