.table>thead>tr>th {
    border-color: #ccc;
    &.active {
        background: lighten($table-bg-active, 3%);
    }
}
td.short {
    width: 180px;
}
td.tiny {
    width: 20px;
    &.with-icon {
        padding: 20px 0 8px 8px;
    }
}

.table {
    max-width:100%;
    border-collapse: separate;
    .icon-cell {
        min-width: 50px; //width of two icons
        .icon {
            margin-left: 5px;
        }
    }

    label {
        min-width: 0;
    }

    thead {
        text-transform: uppercase;
        color: $gray;
        font-size: $font-size-base;
        th, td {
            font-weight: 300;
        }
        .allnone-toggles {
            width: 81px;
            .btn-xs {
                font-size: 10px;
            }
        }

        .search-results-sort-column {
            position: relative;

            & > a::after {
                display: block;
                position: absolute;
                right: -5px;
                bottom: 8px;
                text-decoration: none;
                color: $theme-text-midtone-color;
            }
            &.asc > a::after {
                content:"▼";
            }
            &.desc > a::after {
                content:"▲";
            }
            &:last-child > a::after {
                right: 0;
            }
        }
    }

    td input[type=radio],
    td input[type=checkbox] {
        margin: 0 auto;
        display: block;
        &.with-label {
            margin: 0;
        }
    }

    td {
        white-space: normal;
        &.movebuttons {
            width: 50px;
            .movedown,
            .moveup {
                @extend .text-midtone;
                font-size: 20px;
            }
        }
        &.control-buttons {
            width: 90px;
            a,
            .pieform {
                display: inline-block;
            }
            .btn-xs {
                padding: 2px 7px;
            }
        }
        h3 {
            font-weight: 300;
            font-family: $font-family-serif;
            font-size: $font-size-base + 3;
            margin: 0;
        }
    }

    .narrow {
        width: 20px;
        .checkbox {
            margin-top: 20px;
        }
    }

    .tiny .checkbox {
        margin-top: 10px;
    }

    small {
        font-size: $font-size-base - 2;
    }

    // admin configure site add link table
    &.nohead {
        th:not(:last-child) {
            min-width: 150px;
            @media (min-width: $screen-sm-min) {
                min-width: auto;
            }
        }
    }
}

.table-hover {
    > tbody > tr {
        &.no-hover {
            &:hover {
                background: transparent;
                cursor: default;
            }
        }
        &:hover {
            background: lighten($table-bg-hover, 2.5%);
            cursor: pointer;
            .filename {
                color: $link-hover-color;
            }
        }
        .file-download-link {
            color: $text-color;
            &:hover {
                color: $link-hover-color;
            }
        }
    }
}

.table-padded {
    >tbody>tr>td {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}


.table-small{
    font-size: 0.8em;
    th {
        font-size: 0.8em;
    }
    >thead>tr>th,
    >thead>tr>td,
    >tbody>tr>th,
    >tbody>tr>td,
    >tfoot>tr>th,
    >tfoot>tr>td {
        padding: 5px 3px;
        &:first-child {
            padding-left:8px;
        }
        &:last-child {
            padding-right: 8px;
        }
    }

    > thead>tr> th {
        padding: 10px 3px;
    }

    .btn-xs {
        font-size: 10px;
    }
}

.table-short {
    width: 100%;
    @media screen and (min-width: $screen-sm-min) {
        width: 40%;
    }
}

.table-selectedlist {
    font-size: $font-size-small;
}

table.table tr {
    .with-checkbox {
        min-width: 74px;

        input {
            margin-top:12px;
            margin-right:3px;
            float:left;
        }
    }
}

.table > thead > tr.th-has-shared > th {
    padding-bottom: 15px;
}

.th-shared-wrap {
    position: relative;
    padding-top: 7px;
}

.th-shared-heading {
    position: absolute;
    top: -8px;
    left: 13px;
    width: 200%;
    text-align: center;
}

.th-shared-title {
    font-size: 0.8em;
    position: relative;
    margin-bottom: -12px;
    display: block;
}

.table-help-text {
    @extend .text-midtone;
    float: right;
    display: block;
    line-height: 30px;
    vertical-align: bottom;
    margin: 5px;
    font-size: 16px;
    font-weight: 100;
}

// Unset border top on the first row of the table
.table>tbody>tr:first-child>td {
    border-top-width: 0;
}
