// Text modifying class (start with .text-)
.text-default {
    color: $text-color;
}

.text-lighttone {
    color: $theme-text-lighttone-color;
}

.text-midtone {
    color: $theme-text-midtone-color;
}

.text-link {
    color: $link-color;
}

.text-watermark {
    text-shadow: 0 1px 0 $text-shadow;
    opacity: 0.3;
}

.text-small {
    font-size: $font-size-small;
}

.text-tiny {
    font-size: $font-size-small - 3;
}

.text-regular {
    font-size: $font-size-base;
}

.text-inline.text-inline { // specificity
    display: inline-block;
}

.text-block.text-block { // specificity
    display: block;
}
