// Basic type related customisation


body, p {
    font-weight: $font-weight-normal;
}

h1 {
    @extend .page-header;
    padding-bottom: $line-height-computed * 0.4525;
    margin-bottom: 20px;
    border-bottom: $h1heading-border-width solid $h1heading-border-color;
    @include media-breakpoint-down(md) {
      border-bottom: 0;
    }
}

#notifications-page-header {
    @extend .page-header;
    clear: both;
    padding-bottom: $line-height-computed * 0.4525;
    margin-bottom: 20px;
    border-bottom: $h1heading-border-width solid $h1heading-border-color;
    @include media-breakpoint-down(md) {
      border-bottom: 0;
    }
}

// Add padding if there is no navigation
.header + .container h1 {
    padding-top: 10px;
}

// Page or collections page header title
.pageheader {
    padding-bottom: $line-height-computed * 0.4525;
    margin-bottom: 20px;
    margin-top:0;
    h1 {
        margin: 40px 0 20px 0;
        padding: 0;
        border-bottom: 0;
        font-size: $font-size-base * 2.5715;
        @include media-breakpoint-down(md) {
            font-size: $font-size-base * 2.1425;
            margin-top: 20px;
        }
    }
}

.page-header {
    ~ .with-heading {
        @include media-breakpoint-up(md) {
            margin-top: -16px;
        }
    }
    ~ form.with-heading,
    ~ form .with-heading,
    ~ .form.with-heading {
        @include border-bottom-radius($border-radius);
        background-color: $form-bg;
        padding: 20px 10px 10px 10px;
        margin-top: -20px;

        @include media-breakpoint-down(md) {
            padding: 10px;
            margin-top: 5px;
        }

        &.invite-friend,
        &#addmember {
            @include border-radius(0);
            padding: 0;
            margin-top: 10px;
            background: none;

            .input-group-append {
                margin-left: 0;
            }
        }

        ~ form.with-heading {
            padding-top: 0;
            margin-top: -1px;
            max-width: 100%;
        }
        .form-group {
            .select2 {
                max-width: 100%;
            }
        }
    }
    ~ div.with-heading {
        padding-bottom: 10px;
        margin-bottom: 10px;
        @include media-breakpoint-down(sm) {
            border-bottom: $h1heading-border-width solid $h1heading-border-color;
        }
        a {
            margin-right: 5px;
        }
        .tags a {
            margin-right: 0;
        }
    }
}

h2, h3, h4, h5, legend {
    &.card-header {
        margin: 0;
        font-size: $font-size-base * 1.14285;
    }
    &.no-margin {
        margin: 0;
    }
}

.subsection-heading +  .section-heading {
    color: $section-heading-color;
}

strong i {
    font-style: normal; // #tasteful
}

a {
    &.link-block {
        display: block;
    }
    &:focus,
    &:hover {
        text-decoration-color: $link-hover-color;
        outline-color: $input-focus-border-color;
    }
}

.list-unstyled:not(.list-group) {
    li {
        padding-bottom: 5px;
    }
}

.link-unstyled {
    color: $theme-text-color;
    &:hover,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

// Styles for links at the bottom of blocktype
// ie. add comment link and artefact detail link
.link-blocktype {
    .col-width-100 &,
    .col-width-50 & {
        padding: 5px 8px;
        @include media-breakpoint-up(md) {
            padding: 5px 20px;
        }
    }
    font-size: $font-size-sm;
    margin: 10px 0;
    padding: 5px 7px;
    display: inline-block;
    &:hover,
    &:focus {
        background-color: $accent-bg;
        text-decoration: none;
    }
    .icon {
        display: none;
        @include media-breakpoint-up(sm) {
            display: inline-block;
        }
    }
    &.js-peerassessment-modal {
        float: none;
    }
}

img {
    max-width: 100%;
    height: auto;
    &.artefact-img {
        margin-right: 10px;
    }
}

.file-icon {
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: top;

    &.icon {
        width: 24px;
    }
}

hr {
    margin-top: $line-height-base / 2;
}

ul {
    &.unstyled.unstyled { //increase the importance
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    // People page
    &.user-action-list {
        margin-top: 5px;
        margin-bottom: 0;
    }
}

blockquote {
    margin-top: 20px;
    margin-bottom: 30px;
    &.small {
        font-size: $font-size-base;
    }
    .text-small &{
        font-size: $font-size-base;
    }
}

.lead,
.lead p {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
    line-height: 1.4;
    margin-bottom: 15px;

    &.text-small {
        font-size: $font-size-sm;
    }
    &.link {
        margin-bottom: 0;
    }

    &.view-description {
        margin-top: 1em;
    }
}

label.lead {
    margin-bottom: 0;
}

.content-text,
.postcontent {
    margin: 10px 0;
}

.metadata {
    font-family: $font-family-base;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    color: $theme-text-midtone-color;
}

.postedon {
    font-family: $font-family-base;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    color: $theme-text-midtone-color;
}

.license {
    margin: 10px 0;
    .license-icon {
        padding-right: 10px;
    }
}

.licenseicon {
    padding: 0 10px 5px 0;
}

pre {
    padding: 10px;
    margin: 0 0 10.5px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $pre-bg;
    border: $border-width solid $border-color;
    border-radius: $border-radius-sm;
    span.wsname {
        font-weight: $font-weight-bold;
    }
    span.wsdescription {
        color: $info;
        padding-right: 10px;

        .wsrequired {
            font-weight: $font-weight-bold;
            color: theme-color("danger");
        }
        .wsoptional {
            font-weight: $font-weight-bold;
        }
        .wsdescriptiontext {
            font-style: italic;
        }
    }
}

.h2, .h3, h2, h3 {
    margin-top: 21px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10.5px;
}

/* headings in html entered by user neutralised */
.myblogs,
.content-text,
.card-body,
#resumefieldform_coverletterdisplay_container,
#resumefieldform_interestdisplay_container,
.note-name div,
.view-description,
.forum-post .postedits,
.mce-content-body,
.exportable-artefact-container {
  h1, h2, h3, h4, h5, h6  {
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    color: $theme-text-color;

    /* but not some titles */
    &.list-group-item-heading,
    &.title,
    &.card-header {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $headings-color;
    }
  }

  /* remove border bottom, padding and margin for h1 */
  h1 {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 10px;
  }
}

// Matrix header, move small text under H1 back to original
.matrixheader {
    h1.pageheader-actions ~ div.with-heading {
        margin-top: 0;
    }
}

// Add margin to TinyMCE blocks
body#tinymce {
    margin: 8px;
}

//font list list group item title
#fontlist h2.title {
  margin-top: 0;
}

// group views block heading titles
.bt-groupviews,
.bt-groupviews-editor {
    .title {
        margin-top: 2em;
        font-size: $h6-font-size;
    }
}

// Group listing user status on right
.groupuserstatus {
    clear: both;
    @include media-breakpoint-up(md) {
        text-align: right;
    }
}
