// Basic type related customisation


body, p {
    font-weight: 400;
}

h1 {
    @extend .page-header;
    .admin & {
        text-shadow: 1px 1px 0 rgba(#fff, 0.5);
        color: #555;
        border-bottom-color: #ddd;
    }

    .page-header & {
        border-bottom:0;
    }
}

// Add padding if there is no navigation
.header + .container h1 {
    padding-top: 20px;
}

.page-header {
    margin-bottom:20px;
    ~ .with-heading {
       margin-top: -16px;
    }
    ~ form.with-heading,
    ~ form .with-heading,
    ~ .form.with-heading {
        @include border-bottom-radius(3px);
        margin-top: -20px;
        background-color: #f7f7f7;
        padding: 10px;
        border-bottom: 1px solid #eee;
        .admin & {
            background-color: #fcfcfc;
            border-color: #ddd;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
        }
        ~ form.with-heading {
            padding-top: 0;
            margin-top: -1px;
            max-width: 100%;
        }
        //used to align form on profile page
        &.with-user-icon {
            padding-left: 92px;
        }
        .form-group {
            .select2 {
                max-width: 100%;
            }
        }
    }
}

.page-header,
h1, h2 {
    margin-top:0;
}

h4 {
    margin-bottom: 5px;
}

h2 {

    font-weight:300;
}

h2, h3, h4, h5, legend {
    &.panel-heading {
        margin: 0;
        font-size: 16px;
    }
}

.subsection-heading +  .section-heading {
    color: $section-heading-color;
}

strong i {
    font-style: normal; // #tasteful
}

a {
    &.link-block {
        display: block;
    }
    &:focus,
    &:hover {
        text-decoration-color: #aaa;
        outline-color: rgba($input-border-focus, 0.3);
        .text-orange {
            color: $link-color;
        }
    }
}

.link-unstyled {
    color: #333;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}


img {
    max-width: 100%;
}

hr {
    margin-top: $line-height-computed / 2;
}

ul {
    &.unstyled.unstyled { //increase the importance
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

blockquote {
    margin-top: 20px;
    margin-bottom: 30px;
    &.small {
        font-size: $font-size-base;
    }
    .text-small &{
        font-size: $font-size-base;
    }
}

.lead,
.lead p {
  font-size: floor(($font-size-base * 1.15));
  font-weight: 300;
  line-height: 1.4;

  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base * 1.4);
  }

  &.text-small {
    font-size: $font-size-base;
  }
}

.metadata {
    font-family: $font-family-sans-serif;
    font-size: 0.8em;
    color: #888;
}
