// Basic type related customisation


body, p {
    font-weight: 400;
}

h1 {
    @extend .page-header;
    .admin & {
        text-shadow: 1px 1px 0 rgba($text-shadow, 0.5);
        color: $gray-500;
        border-bottom-color: $list-group-border-color;
    }

    .page-header & {
        border-bottom:0;
    }
}

#notifications-page-header {
    @extend .page-header;
    clear: both;
}

// Add padding if there is no navigation
.header + .container h1 {
    padding-top: 10px;
}

// Page or collections page header title
.pageheader {
    h1 {
        margin: 40px 0 10px 0;
        padding: 0;
        border-bottom: 0;
        font-size: 36px;
        @include media-breakpoint-down(md) {
            font-size: 30px;
            margin-top: 20px;
        }
    }
}

.page-header {
    padding-bottom: $line-height-computed * 0.4525;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-200;
    ~ .with-heading {
        margin-top: -16px;
        @include media-breakpoint-down(sm) {
            margin-top: 0;
        }
    }
    ~ form.with-heading,
    ~ form .with-heading,
    ~ .form.with-heading {
        @include border-bottom-radius(3px);
        background-color: scale-color($gray-100, $lightness: 35%);
        padding: 20px 10px 10px 10px;
        margin-top: -20px;
        border-bottom: 1px solid $gray-100;
        &.invite-friend,
        &#addmember {
            @include border-radius(0);
            padding: 0;
            margin-top: 10px;
            border-bottom: 0;
            background: none;

            .input-group-append {
                margin-left: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            margin-top: -20px;
        }
        @include media-breakpoint-down(xs) {
            margin-top: 5px;
        }
        @include media-breakpoint-down(md) {
            padding: 10px;
        }
        .admin & {
            background-color: scale-color($gray-100, $lightness: -2.4%);

            border-color: $list-group-border-color;
            border-left: 1px solid $gray-100;
            border-right: 1px solid $gray-100;
        }
        ~ form.with-heading {
            padding-top: 0;
            margin-top: -1px;
            max-width: 100%;
        }
        .form-group {
            .select2 {
                max-width: 100%;
            }
        }
    }
    ~ div.with-heading {
        padding-bottom: 10px;
        margin-bottom: 10px;
        @include media-breakpoint-down(sm) {
            border-bottom: 1px solid $gray-100;
        }
        a {
            margin-right: 5px;
        }
        .tags a {
            margin-right: 0;
        }
    }
}

.page-header,
h1, h2 {
    margin-top:0;
}

h4 {
    margin-bottom: 5px;
}

h2 {

    font-weight:300;
}

h2, h3, h4, h5, legend {
    &.card-header {
        margin: 0;
        font-size: 16px;
    }
    &.no-margin {
        margin: 0;
    }
}

.subsection-heading +  .section-heading {
    color: $section-heading-color;
}

strong i {
    font-style: normal; // #tasteful
}

a {
    &.link-block {
        display: block;
    }
    &:focus,
    &:hover {
        text-decoration-color: $link-hover-color;
        outline-color: $input-focus-border-color;
        .text-orange {
            color: $link-color;
        }
    }
}

.list-unstyled:not(.list-group) {
    li {
        padding-bottom: 5px;
    }
}

.link-unstyled {
    color: $gray-700;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

// Styles for links at the bottom of blocktype
// ie. add comment link and artefact detail link
.link-blocktype {
    .col-width-100 &,
    .col-width-50 & {
        padding: 5px 8px;
        @include media-breakpoint-up(md) {
            padding: 5px 20px;
        }
    }
    font-size: $font-size-base * 0.9285;
    float: left;
    margin: 10px 0;
    padding: 5px 7px;
    &:hover {
        background-color: $btn-secondary-bg;
        text-decoration: none;
    }
    .icon {
        display: none;
        @include media-breakpoint-up(sm) {
            display: inline-block;
        }
    }
    &.js-peerassessment-modal {
        float: none;
    }
}

img {
    max-width: 100%;
    height: auto;
    &.artefact-img {
        margin-right: 10px;
    }
    &.file-icon {
        margin-right: 5px;
    }
}

hr {
    margin-top: $line-height-base / 2;
}

ul {
    &.unstyled.unstyled { //increase the importance
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

blockquote {
    margin-top: 20px;
    margin-bottom: 30px;
    &.small {
        font-size: $font-size-base;
    }
    .text-small &{
        font-size: $font-size-base;
    }
}

.lead,
.lead p {
    font-size: ($font-size-base * 1.10);
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
        font-size: ($font-size-base * 1.2);
    }

    &.text-small {
        font-size: $font-size-base;
    }
    &.link {
        margin-bottom: 0;
    }
}

label.lead {
    margin-bottom: 0;
}

.content-text,
.postcontent {
    margin: 10px 0;
}


.metadata {
    font-family: $font-family-sans-serif;
    font-size: 0.8em;
    color: $gray-500;
    .title & {
        margin-left: 5px;
    }
}

.license {
    margin: 10px 0;
    .license-icon {
        padding-right: 10px;
    }
}

.licenseicon {
    padding: 0 10px 5px 0;
}

pre {
    padding: 10px;
    margin: 0 0 10.5px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $pre-bg;
    border: $border-width solid $card-border-color;
    border-radius: $border-radius-sm;
    span.wsname {
        font-weight: bold;
    }
    span.wsdescription {
        color: #2A33A6;
        padding-right: 10px;

        .wsrequired {
            font-weight: bold;
            color: theme-color("danger");
        }
        .wsoptional {
            font-weight: bold;
        }
        .wsdescriptiontext {
            font-style: italic;
        }
    }
}

.h2, .h3, h2, h3 {
    margin-top: 21px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10.5px;
}

/* headings in html entered by user neutralised */
.myblogs,
.content-text,
.card-body,
#resumefieldform_coverletterdisplay_container,
#resumefieldform_interestdisplay_container,
.note-name div,
.view-description,
.forum-post .postedits,
.mce-content-body {
  h1, h2, h3, h4, h5, h6  {
    font-family: $font-family-base;
    font-weight: bold;
    color: $theme-text-color;

    /* but not some titles */
    &.list-group-item-heading,
    &.title {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      color: $headings-color;
    }
  }

  /* remove border bottom, padding and margin for h1 */
  h1 {
    border-bottom: 0;
    padding: 0 !important;
    margin-bottom: 10px;
  }
}

// Matrix header, move small text under H1 back to original
.matrixheader {
    h1.page-header ~ div.with-heading {
        margin-top: 0;
    }
}

// Add margin to TinyMCE blocks
body#tinymce {
    margin: 8px;
}
