/*
 * Brand colours should be defined here, and (ideally) used only in the global variables file (bootstrap-variables)
 */

$mahara-green:      #335804;
$mahara-green-light: #5C8727;
$mahara-green-lime:  #B9CB2E;
$mahara-green-bright: darken(#93be42, 5%);

$mahara-blue:       darken(#22C49C, 5%);
$mahara-dark-grey:  #333;
$mahara-dark-brown:  #211c00;

// custom color variables for theme based on $brand-primary (#20738F)
$brand-primary-dark:        #629db0;        // $brand-primary 70%
$brand-primary-mid:         #93becc;        // $brand-primary 50%
$brand-primary-light:       #bed8e1;        // $brand-primary 30%
$brand-primary-faint:       #e9f2f5;        // $brand-primary 10%