/*
 * Brand colours should be defined here, and (ideally) used only in the global variables file (bootstrap-variables)
 */

$theme-primary-color: #20738F;
$theme-primary-dark: #629db0;
$theme-text-color: #333;
$theme-text-midtone-color: #666;
$theme-text-lighttone-color: #888;

$theme-accent-color: #bed8e1;
