/*
 * Brand colours should be defined here, and (ideally) used only in the global variables file (bootstrap-variables)
 */

$mahara-green:      #5c8727;
$mahara-green-light: lighten(#5C8727, 5%);
$mahara-green-lime:  #B9CB2E;
$mahara-green-bright: darken(#93be42, 5%);

$mahara-blue:       #5b8fc8;
$mahara-dark-grey:  #231f20;
$mahara-dark-brown:  #474220;

