// Custom component variables (non-bootstrap components)

//Arrow compoanent variables
$arrow-color: lighten(#bc9f54, 25%);
$arrow-text-color: #333333;
$arrow-link-color: #423017;
$arrow-link-hover-color: #423017;
$arrow-link-active-color: #333333;

// color for the secondary title in sections (cf. groups)
$section-heading-color: #999;
$admin-title-color: $brand-primary;
$admin-title-bg: $brand-primary;

$dashboard-widget-bg: $brand-primary;
$dashboard-widget-color: #FFFFFF;

$help-icon-color: #5b8fc8;
$rss-icon-color: #FE6500;

$theme-primary-color-light: #799152;
