/*
 * Theme colours should be defined here, and (ideally) used only in the global variables file (bootstrap-variables)
 */

$theme-primary-color: #556d32;
$theme-primary-color-dark: #2e3a1c;
$theme-text-color:  #333333;
$theme-accent-color:  #6e5e31;

$theme-text-lighttone-color: #767676;
$theme-text-midtone-color: #666666;
