/*
 * Theme colours should be defined here, and (ideally) used only in the global variables file (bootstrap-variables)
 */

$theme-primary-color:      #5c8727;
$theme-primary-color-light: darken(#93be42, 5%);
$theme-text-color:  #231f20;
$theme-accent-color:  #474220;
