.panel {

    background-color: #fbfaf5;
    border: 0;
    border-radius: 0;

    form {
        margin:0;
    }
    table,
    table thead {
        font-size: 12px;
    }
    small {
        margin-top:5px;
        line-height: 1.5em;
        font-size: 11px;
        color: $gray;
        display: block;
    }

    dl {
        dt {
            font-weight:normal;
            clear: both;
            margin-right:10px;
        }
        dd, dt {
            display:inline-block;
            float:left;
        }

        dd {
            color: $gray;
            line-height: 1.5em;
            font-size: 11px;
        }
    }
    .nav-pills {
        margin: 0;
    }
}

.panel-default > .panel-heading {
    background-color: #f9f7ef;
    border: 0;
}
