$font-path: '../fonts';

$light: 300, normal;
$lightItalic: 300, italic;
$regular: normal, normal;
$italic: normal, italic;
$bold: 700, normal;

$raleway: (
    raleway-light: $light,
    raleway-lightitalic: $lightItalic,
    raleway-regular: $regular,
    raleway-italic: $italic,
    raleway-bold: $bold
);

@each $fontname, $style in $raleway {
    @font-face {
        font-family: 'Raleway';
        src: url('#{$font-path}/raleway/#{$fontname}.eot');
        src: url('#{$font-path}/raleway/#{$fontname}.eot?#iefix') format('embedded-opentype'),
             url('#{$font-path}/raleway/#{$fontname}.svg##{$fontname}') format('svg'),
             url('#{$font-path}/raleway/#{$fontname}.otf') format('opentype'),
             url('#{$font-path}/raleway/#{$fontname}.ttf') format('truetype'),
             url('#{$font-path}/raleway/#{$fontname}.woff2') format('woff2'),
             url('#{$font-path}/raleway/#{$fontname}.woff') format('woff');
        font-weight: nth($style, 1);
        font-style:  nth($style, 2);
    }
}
