.nav-toggle-area {
    position: relative;
    .user-icon {
        position: inherit;
        margin: inherit;
        z-index: inherit;
        left: inherit;
        display: inherit;
        @include media-breakpoint-up(md) {
            left: inherit;
        }
    }
}


.navbar-toggle {

    &.user-toggle {
        padding-left: 0;
    }
    
    &.search-toggle {
        &:hover,
        &:focus {
            .icon {
                color: $navbar-toggle-hover-color;
            }
        }
    }

    &.user-icon-wrap-toggle {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        min-width: 4rem; // 64px;

        .user-icon {
            display: inline-block;
            position: relative;
            margin: 0.25rem; // 4px
            z-index: 3;
            float: left;

            &:hover,
            &:focus {
                color: $navbar-toggle-hover-color;
                background-color: $navbar-toggle-hover-bg;
            }
        }
        .user-toggle {
            display: block;
            margin: 0;
            border-radius: $navbar-toggler-border-radius;
            min-width: 2.625rem; // 42px;
            color: $navbar-toggle-color;
            padding: $navbar-toggler-padding-y $navbar-toggler-padding-x $navbar-toggler-padding-y 2.5rem; // 40px;
            position: absolute;
            border: 0;
            cursor: pointer;
            background-color: $navbar-toggle-bg;

            &:hover,
            &:focus {
                color: $navbar-toggle-hover-color;
                background-color: $navbar-toggle-hover-bg;
            }
        }
    }
}
