// home logged out
body.loggedouthome {
  .container {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
  }
  .container.main-content  {
      background-color: $theme-accent-color;

      .main {
          background-image: url('../../pcnz/images/dashboard-pict.jpeg');
          background-size: cover;
          padding-top: 400px;
          @include media-breakpoint-down(lg) {
              padding-top: 300px;
          }
          @include media-breakpoint-down(sm) {
              padding-top: 150px;
          }

          h1, h2, h3, h4, h5, h6 {
              background-color: $white;
              padding: $spacing-base $spacing-lg;
              border-bottom: 0;
              margin: 0;
              display: inline-block;
          }
          h4 {
              font-size: 2.5rem;
          }

          ul, ol {
              background-color: $white;
              margin: 0;
          }

          p {
              background-color: $white;
              padding: $spacing-base $spacing-lg;
              margin: 0;
          }
      }
      .sidebar {
          background-color: $theme-primary-color;
      }
  }
}

@include media-breakpoint-up(lg) {
    .dashboard-editable {
        border-top: 1px solid $border-color;
    }
}
