/**
 * Stylesheet for views for the default theme
 */

/** When viewing an artefact */
#view .filedata-icon {
    margin: 0 .5em;
}
#view table.filedata {
    margin-top: 1em;
    border: none;
}
#view table.filedata th {
    width: 8em;
    padding: 5px 0 0 0;
}

#category-list li a:hover {
    background-color: #f2f5e6;
    text-decoration: none;
}

#layout-link {
	background: url(../images/icon-change.gif) no-repeat;
	padding-left: 1.5em;
	font-weight: bold;
}
#layout-link.disabled {
    color: #aaa;
}
#btn-displaymyview {
	background: url(../images/icon-display.gif) no-repeat;
	padding-left: 1.5em;
	font-weight: bold;
}

/* This rule is incredibly annoying, as it enforces the widths on a whole bunch of tables that don't need to be forced - like the blog attachments table and any tables the user generates by the wysiwyg editor. Can it be made more specific? */
/*.blockinstance-content table {
	width: 100%;
	* width: 99%;
}*/





/* todo: test this */
.column-content .add-button {
    margin: 5px 0;
}
.add-button .newblockhere {
    background: url(../images/btn_addblock.gif) repeat-x;
    font-weight: normal;
    height: 18px;
    padding: 1px 5px 2px 5px;
    color: #FFF;
    width: 100%;
    margin: 0;
}
/* this rule compresses and centers the buttons better in konqueror and safari */
body:last-child:not(:root:root) .newblockhere {
    color: #547C22;
}


/* VIEWS */
#feedbacktable .details {
	margin-top: 10px;
	color: #9e9e9e;
}
#feedbacktable .icon {
	float: left;
	margin-right: 5px;
}
#feedbacktable p {
    margin: 0 0 .25em;
}

#view #publicfeedback {
	padding: 1em .5em .5em .5em;
	border-top: 2px dotted #D2D2D2;
}
#viewmenu a {
	margin: 0 .5em;
}
#view .blockinstance-content .postdetails {
	text-align: right;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

#view .blockinstance-content .attachments {
    border: 0;
    background-color: #fff;
}
#view .blockinstance-content .attachments td {
    font-size: .9em;
    margin: 0;
    padding: 0 .5em;
    background-color: #fff;
}

form#wallpost {
	margin: 0 0 1em 0;
}
form#wallpost .description {
	padding: 0;
}
form#wallpost input.submit {
	font-size: 1em;
	margin: 0;
}
#wall .private {
    background: url(../images/privatebg.gif) repeat top left;
}
.wallpost {
    border-bottom: 1px dotted #ddd;
	background: #eee;
    padding: .5em .5em 0 .5em;
}
.wallpost .text p {
    margin: .25em;
}
.wallpost .userinfo img {
	float: left;
	padding-right: .5em;
}
.wallpost .userinforight {
	padding: .25em;
}
.wallpost .postedon {
    color: #888;
	font-style: italic;
}

