<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>Layout_add</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Layout_add</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Portfolio</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Pages</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=createview_submit</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=editview_title</td>
	<td>Layout test</td>
</tr>
<tr>
	<td>type</td>
	<td>id=editview_tags</td>
	<td>layouttag</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=editview_submit</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Edit layout</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Advanced options</td>
	<td></td>
</tr>
<tr>
	<td>check</td>
	<td>//input[@name='advancedlayoutselect'][@value='19']</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=viewlayout_submit</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Edit layout</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Advanced options</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Create custom layout</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>id=selectnumcolsrow_1</td>
	<td>value=1</td>
</tr>
<tr>
	<td>click</td>
	<td>id=addrow</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>id=selectnumcolsrow_2</td>
	<td>value=2</td>
</tr>
<tr>
	<td>click</td>
	<td>id=addrow</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>id=selectnumcolsrow_3</td>
	<td>value=3</td>
</tr>
<tr>
	<td>click</td>
	<td>id=addrow</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>id=selectnumcolsrow_4</td>
	<td>value=4</td>
</tr>
<tr>
	<td>click</td>
	<td>id=addrow</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>id=selectnumcolsrow_5</td>
	<td>value=5</td>
</tr>
<tr>
	<td>click</td>
	<td>id=addrow</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>class=removecustomrow_6</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=addlayout</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>//div[@id='viewlayout_advancedlayoutselect_row5']</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=viewlayout_submit</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>id=row_5_column_3</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Portfolio</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=layouttag</td>
	<td></td>
</tr>
</tbody></table>
</body>
</html>
