<table id="test_template">
    <tbody>
        <tr>
            <th>Title</th>
            <td>{{block type="title" id="tpl_title"}}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{block type="author" id="tpl_author"}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{block type="description" id="tpl_description"}}</td>
        </tr>
        <tr>
            <th>Label</th>
            <td>{{block type="label" id="tpl_label"}}</td>
        </tr>
        <tr>
            <th>Two Labels, side by side (using spans)</th>
            <td>
                {{block type="label" id="tpl_label1" tagtype="span"}}
                {{block type="label" id="tpl_label2" tagtype="span"}}
            </td>
        </tr>
        <tr>
            <th>Generic artefact block</th>
            <td>{{block type="artefact" id="tpl_generic"}}</td>
        </tr>
        <tr>
            <th>Artefact constrained to and defaulting to an email address</th>
            <td>{{block type="artefact" id="tpl_email" artefacttype="email" defaultartefacttype="email" format="renderfull"}}</td>
        </tr>
        <tr>
            <th>Artefact that MUST be a folder, and will be a listing of it's contents</th>
            <td>{{block type="artefact" id="tpl_folder" artefacttype="folder" format="listchildren"}}</td>
        </tr>
        <tr>
            <th>Two profile-constrained artefacts as spans side by side (default to firstname and lastname).</th>
            <td>
                {{block type="artefact" tagtype="span" id="tpl_firstname" defaultartefacttype="firstname" format="renderfull" plugintype="internal"}}
                {{block type="artefact" tagtype="span" id="tpl_lastname"  defaultartefacttype="lastname"  format="renderfull" plugintype="internal"}}
            </td>
        </tr>
        <tr>
            <th>Artefact that must be an image, is renderered full, and sized at 320x200</th>
            <td>{{block type="artefact" id="tpl_image" width="320" height="200" format="renderfull" artefacttype="image"}}
        </tr>
    </tbody>
</table>
