//
// Extenstion to input groups so we can use them in pieforms
// --------------------------------------------------

.pieform .input-group {
    max-width:100%;
    .pieform-fieldset > .form-group {
        border: none;
        padding: 0;
        box-shadow: none;
        float: left;
        .form-control {
            @include border-left-radius($border-radius-base);
            @include border-right-radius(0);
            max-width: 100%;
        }
        ~ .form-group {
            .form-control {
                @include border-left-radius(0);
                border-left:0;
            }
            &:last-child {
                .form-control {
                    @include border-right-radius($border-radius-base);
                }
            }
        }
    }
    label {
        display: block;
    }
    // if one item in an input group has a label, push others down
    .no-label {
        margin-top: 21px;
    }

    .form-group,
    .form-control {
        display: inline-block;
        width: auto;
    }
}
.pieform .input-group-btn {
    font-size: inherit;
    width: inherit;
    float:left;
    &.form-group {
        display: block;
    }
}
