/*
 * Primary navigation menu
 */
.main-nav {
    border-bottom: 1px solid #dcdcdc;

    @media (max-width: $screen-sm-min) {
        border-bottom: 0;
    }

    &.dropdown-adminnav {
        background: none;

        .nav > li > a {
            padding: 10px 15px;
        }
    }

    

    .navbar-brand {
        padding: 10px 15px;
        border-bottom: 0;
        font-style: italic;
        font-size: $font-size-base;

        a {
            color: $theme-primary-color !important;
        }
    }

    
    // Only shown on mobile, or when dropdowns are turned on
    .child-nav {
        padding: 0;

        li {
            a { //styles that need to override bootstrap specificity
                padding: 10px 20px;
                &:hover, &:focus {
                    background-color: $theme-primary-color;
                    color: #FFFFFF;
                }
            }
        }

       // If this link is the current page or section
        .active > a {
            background-color: $theme-primary-color;
            color: #FFFFFF;

            @media (min-width: $screen-sm-min) {
                background-color: $theme-primary-color;
                &:hover {
                    color: #FFFFFF;
                }
            }

            &:hover, &:focus {
                background-color: darken($theme-primary-color, 5%);
            }
        }
    }

    .has-dropdown {
        @media (min-width: $screen-sm-min) {
            padding: 0;

            // Links within the dropdown menu
            > li a {
                padding: 9px 15px;
                color: $dropdown-link-color;
            }
            .dropdown-tertiary {
                font-size: $font-size-base - 1;

                > li a {
                    padding: 6px 15px 6px 25px;
                }
            }
        }
    }
}