/*
 * Primary navigation menu
 */
.main-nav {
    background-color: #f1f6eb;

    @media (max-width: $screen-sm-min - 1) {
      background-color: $theme-primary-color;
    }

    .nav > li > a {
        padding: 15px 20px;

        @media (max-width: $screen-sm-min - 1) {
          border: 0;
          background-color: $theme-primary-color;
          color: #FFFFFF;
          padding: 10px 20px;
        }
    }

    // making the admin nav a little different looking
    &.dropdown-adminnav,
    &.adminnav {
        margin-bottom: 0;

        .nav {
            > li > a {
                padding: 15px 10px;
                font-weight: 700;

                &:hover, &:focus {
                    color: #ffffff;
                }

                @media (max-width: $screen-sm-min) {
                    padding: 10px 20px;
                }
            }

            > li.active > a {
                &:hover,
                &:focus {
                    background-color: $navbar-default-link-hover-bg;
                    color: $navbar-default-link-hover-color;
                }
            }
        }
    }

    // Only shown on mobile, or when dropdowns are turned on
    .child-nav {
        padding: 0;
        background-color: $theme-primary-color;

        li {
            a {
                padding: 10px 30px;
                font-weight: 400;
                color: #FFFFFF;

                &:hover, &:focus {
                    background-color: #2e3a1c;
                    font-weight: 400;
                }
            }
        }

       // If this link is the current page or section
        .active > a {
            background-color: #2e3a1c;
            color: #FFFFFF;
            font-weight: 700;

            &:hover, &:focus {
                color: #FFFFFF;
                background-color: #2e3a1c;
                font-weight: 700;
            }
        }
    }

    .has-dropdown {
        @media (min-width: $screen-sm-min) {
            padding: 0;

            // Links within the dropdown menu
            > li a {
                padding: 9px 15px;
                color: #FFFFFF;
            }
            .dropdown-tertiary {
                font-size: $font-size-base - 1;

                > li a {
                    padding: 6px 15px 6px 25px;
                }
            }
        }
    }
}
