/*
 * Primary navigation menu
 */
.main-nav {
    @media (max-width: $screen-sm-min) {
        background-color: #eef3e9;
        border-bottom: 2px solid #ddd;
    }

    .nav > li > a {
        padding: 10px 20px;
    }

    // making the admin nav a little different looking
    &.dropdown-adminnav,
    &.adminnav {
        background: none;
        margin-bottom: 0;

        @media (max-width: $screen-sm-min) {
            background-color: #f1f1f1;
        }
        .nav {
            > li > a {
                padding: 10px 10px;
                font-family: $font-family-serif;
                font-size: 16px;
                font-weight: 300;

                &:hover {
                    color: #ffffff;
                }

                @media (max-width: $screen-sm-min) {
                    padding: 10px 20px;
                }
            }

            > li.active > a {
                &:hover,
                &:focus {
                    color: $navbar-default-link-color;
                }
            }
        }
    }

    // Only shown on mobile, or when dropdowns are turned on
    .child-nav {
        padding: 0;
        @media (max-width: $screen-sm-min) {
            background-color: #ececec;
        }

        li {
            a {
                padding: 10px 20px;
                font-weight: 300;
                color: $theme-primary-color;

                &:hover, &:focus {
                    background-color: #eff6eb;
                    font-weight: 300;
                }
            }
        }

       // If this link is the current page or section
        .active > a {
            background-color: $theme-primary-color;
            color: #FFFFFF;
            font-weight: 700;

            &:hover, &:focus {
                color: #FFFFFF;
                background-color: darken($theme-primary-color, 5%);
                font-weight: 700;
            }
        }
    }

    .has-dropdown {
        @media (min-width: $screen-sm-min) {
            padding: 0;

            // Links within the dropdown menu
            > li a {
                padding: 9px 15px;
                color: $dropdown-link-color;
            }
            .dropdown-tertiary {
                font-size: $font-size-base - 1;

                > li a {
                    padding: 6px 15px 6px 25px;
                }
            }
        }
    }
}