.navbar-main {
    border: 0;

    .navbar-collapse {
        border: 0;
    }

    .navbar-nav {
        > li > a {
            color: #FFFFFF;
            background-color: $theme-primary-color;
            border-color: $link-hover-color;
            &:hover,
            &:focus {
                color: #FFFFFF;
                background-color: #637e3a;
            }
            @include media-breakpoint-up(md) {
                border-color: $link-hover-color;
            }
        }
        .navbar-toggle {
            color: #FFFFFF;
            background-color: $link-hover-color;

            &:hover,
            &:focus {
              background-color: $link-hover-color;
              color: #FFFFFF;
            }

            &.collapsed {
                background-color: transparent;
                &:hover,
                &:focus {
                    background-color: $link-hover-color;
                    color: #FFFFFF;
                }
            }

        }

        .active {
            > a {
              font-weight: bold;
              background-color: #3a4a22;
              color: #ffffff;
              &:hover,
              &:focus {
                  color: #FFFFFF;
              }
            }
            .navbar-toggle {
                .icon {
                    color: #ffffff;
                }
            }
        }

        .child-nav {
            li > a {
                color: #ffffff;
                background-color: #637e3a;
                &:hover,
                &:focus {
                    background-color: #709042;
                }
            }
        }
    }
}
