.minor-nav {
    background-color: #FFFFFF;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    margin-top: 0;

    .nav {
        margin: 0px 15px 0px 5px;
        >li {
            margin: 0 5px 0 0;
            > a {
                padding: 5px;
            }
            &.active {
                > a {
                    font-weight: 700;
                }
            }
        }
    }
}
