.minor-nav {
    background-color: #FFFFFF;
    border-left: 0;
    border-right: 0;
    min-height: 26px;

    .nav {
        margin: 3px 15px 3px 5px;
        >li {
            margin: 0 5px 0 0;
        }
    }
}
