.nav-tabs {
    border-bottom: 2px solid $theme-primary-color;
    &.nav {
        li > a {
            border: 0;
                border-bottom: 1px solid $theme-primary-color;
            &:focus,
            &:hover {
                border: 0;
                border-bottom: 1px solid $theme-primary-color;
            }
        }
        .active > a {
            background-color: $theme-primary-color;
            color: #FFFFFF;
            border: 0;
                border-bottom: 1px solid $theme-primary-color;
            &:focus,
            &:hover {
                background-color: lighten($theme-primary-color, 5%);
                color: #FFFFFF;
                border: 0;
                border-bottom: 1px solid $theme-primary-color;
            }
        }
    }
}
.tab-content {
    padding: 20px;
    background-color: lighten(#f1f6eb, 2%);
}