.nav-tabs {
    border-bottom: 2px solid $theme-accent-color;

    &.nav {
        li > a {
            font-weight: 400;
            border: 0;
            border-bottom: 1px solid $theme-accent-color;
            color: $theme-text-color;

            &:focus,
            &:hover {
                border-bottom-color: $theme-accent-color;
                background-color: scale-color($theme-accent-color, $lightness: 70%);
                color: $theme-text-color;
            }

            &.inactive {
                color: $theme-text-lighttone-color;
                &:hover,
                &:focus {
                    color: $theme-text-lighttone-color;
                    background: transparent;
                    border-bottom-color: transparent;
                }
            }

            &.active {
                background-color: scale-color($theme-accent-color, $lightness: 60%);
                color: $theme-text-color;
                border-bottom-color: $theme-accent-color;

                &:focus,
                &:hover {
                    background-color: scale-color($theme-accent-color, $lightness: 70%);
                    color: $theme-text-color;
                    border-bottom-color: $theme-accent-color;
                }
            }
        }
    }
}
