.nav-tabs {

    &.nav {
        li > a {
            font-weight: 400;
            color: $theme-text-color;

            &:focus,
            &:hover {
                border-bottom-color: $theme-accent-color;
                background-color: scale-color($theme-accent-color, $lightness: 70%);
                color: $theme-text-color;
            }

            &.active {
                background-color: scale-color($theme-accent-color, $lightness: 60%);
                color: $theme-text-color;
                border-bottom-color: $theme-accent-color;

                &:focus,
                &:hover {
                    background-color: scale-color($theme-accent-color, $lightness: 70%);
                    color: $theme-text-color;
                    border-bottom-color: $theme-accent-color;
                }
            }
        }
    }
}
