.navbar {
    margin-bottom: 0;
    min-height: auto;
}

.navbar-fixed-top {
    position:relative;
    border: 0;

    @media (min-width: $screen-sm-min) {
        position:fixed;
    }
}

.navbar-inverse {

    .navbar-nav {
        > li {
            > a {
                font-weight: 700;
            }
            > a:hover,
            > a:focus {
                background-color: $navbar-default-link-hover-bg;
                color: $navbar-default-link-hover-color;


                @media (max-width: $screen-sm-min - 1) {
                  background-color: #2e3a1c;
                }
            }
        }

        >.active {
            > a {
                background-color: #FFFFFF;
                color: $navbar-default-link-active-color;
            }
            > a:hover,
            > a:focus {
                background-color: $navbar-default-link-hover-bg;
                color: $navbar-default-link-hover-color;

                @media (max-width: $screen-sm-min - 1) {
                  background-color: #2e3a1c;
                }
            }
        }
    }

    .navbar-toggle {
        background-color: $theme-primary-color;
        color: #FFFFFF;
        height: 35px;
        top: 3px;

        &.collapsed {
            background-color: #799152;
            top: 5px;
        }

        &:hover, &:focus {
          background-color: $theme-primary-color;
          color: #FFFFFF;
        }

        .icon {
          color: #FFFFFF;
        }
    }

}

.main-nav {
  .navbar-showchildren {
      background-color: #799152;
      color: #FFFFFF;
      height: 34px;
      top: 6px;
      border-radius: 3px 3px 0 0;

      &:focus {
        background-color: #799152;
        color: #FFFFFF;
      }

      &:hover {
        background-color: #799152;
        color: #FFFFFF;
      }

      &.collapsed {
          background-color: transparent;
          top: 3px;
          border-radius: 3px;

          &:focus {
            background-color: transparent;
            color: #FFFFFF;
          }
          
          &:hover {
            background-color: #799152;
            color: #FFFFFF;
          }
      }

      .icon {
        color: #FFFFFF;
      }
  }
}

.navbar-text {
    margin-top: 15px;
    font-size: 13px;
    @media (max-width: $screen-sm-min - 1) {
        padding: 10px 15px;
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        background-color: $theme-primary-color;
        color: #FFFFFF;
    }
}
.navbar-default .navbar-link {
    @media (max-width: $screen-sm-min - 1) {
        color: #FFFFFF;
    }
    &:focus,
    &:hover {
        color: $link-hover-color;

        @media (max-width: $screen-sm-min - 1) {
            color: #FFFFFF;
        }
    }
}

.navbar-form {
  border: 0;
  box-shadow: none;
  padding-bottom: 0;
}
