.navbar {
    margin-bottom: 0;
}

.navbar.header {
    padding: 0;
    border-bottom: 0;
}

.navbar-form {
    clear: right;
    margin-top: 0;
    border: 0;

    @media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
        clear: none;
        margin-top: 8px;
    }

    @media (max-width: $screen-sm-min - 1) {
        width:100%;
        margin:0;
        padding: 10px 0;
        
        .container > & {
            margin: 0 auto;
        }
    }
}

.navbar-inverse {
    background-image: url(../images/main-nav-bkgd.png);
    background-repeat: repeat;
    background-position: left top;
    
    .navbar-nav {
        
        > li {
            > a {
                font-family: $font-family-serif;
                font-size: 16px;
            }
            > a:hover,
            > a:focus {
                background-color: $navbar-default-link-hover-bg;
                color: $navbar-default-link-hover-color;
            }
        }
        
        >.active {
            > a,
            > a:hover,
            > a:focus {
                background-color: $navbar-default-link-active-bg;
                color: $navbar-default-link-active-color;
                
                @media (max-width: $screen-sm-min - 1) {
                    border-top-color: rgba(darken($navbar-inverse-bg, 7%), 0.5);
                    color: $navbar-inverse-link-hover-color;
                    background-color: $navbar-inverse-link-hover-bg;
                }
            }
        }
    }
}

.navbar-default {
    .navbar-link {
        color: $link-color;
        margin-top: 11px;
        margin-bottom: 0;
        font-style: italic;
        &:focus,
        &:hover {
            color: $link-hover-color;   
        }
        @media (max-width: $screen-sm-min) {
            padding: 10px 15px;
            display: block;
            margin-top: 0;
        }
    }
}


// hidding the search next to the top nav until its required for mobile, and vice versa for the search box next to the main-nav
.navbar {
    .header-search-form {
        display: none;
        @media (max-width: $screen-md-min) {
            display: inline-block;
            margin-top: 6px;
        }
    }
}
.main-nav {
    .mainnav-search {
        margin-top: 2px;
        margin-bottom: 0;
    }
    .header-search-form {
        display: inline-block;
        @media (max-width: $screen-md-min) {
            display: none;
        }
    }
}