.top-nav.navbar-nav {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 13px;
    text-align: right;

    @media (max-width: $screen-md-min) {
        position: inherit;
        right: auto;
        background-color: transparent;
        border-radius: 0;
        margin: 10px 10px;
        font-size: 14px;
    }

    .login-link + .language-form {
        float: none;
        @media (min-width: $screen-xs-min) {
            float: left;
        }
        form {
            padding-top: 0;
        }
    }

    .language-form form {
        padding-top: 0;
    }

    > li {
        > a {
            padding: 10px;

            @media (max-width: $screen-md-min) {
                padding: 10px 5px;
            }
            &:focus,
            &:hover {
                color: lighten($theme-primary-color, 8%);
                background-color: transparent;
            }
        }
        &:last-child {
            > a {
                padding-right: 0;
            }
        }
        .form-group-inline {
            label {
                min-width: 0;
            }
            .btn {
                margin-left: 5px;
            }
        }
        .div {
            @media (max-width: $screen-md-min) {
                  display: inline-block;
            }
        }
    }

    .backto-be-admin {
        @media (min-width: $screen-sm-min) {
            display: none;
        }
        a {
            @media (max-width: $screen-sm-min) {
                color: darken($theme-primary-color, 10%);
                background-color: transparent;
            }
        }
    }
}


// when logged out and language options are available
.loggedout {
    .top-nav {
        margin-right: 0;
        > li {
            form {
                margin-top: 5px;

                @media (max-width: $screen-sm-min) {
                    display: inline-block;

                    label {
                        display: none;
                    }
                    div {
                        display: inline-block;
                    }
                    .picker {
                        width: 125px;
                    }
                }
            }
        }
    }
}