.top-nav.navbar-nav {
    margin: 10px 0 0 0;
    font-size: 13px;
    
    @media (max-width: $screen-md-min) {
        position: inherit;
        right: auto;
        background-color: transparent;
        border-radius: 0;
    }

    > li {
        > a {
            &:hover {
                color: lighten($theme-primary-color, 8%);
            }
        }
        &:last-child {
            > a {
                padding-right: 0;
            }
        }
        .form-group-inline {
            label {
                min-width: 0;
            }
            .btn {
                margin-left: 5px;
            }
        }
    }
}