.footer {
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 5px solid $brand-default;

    .footer-nav {
        font-size: $font-size-base;
    }
}

.admin {
    .footer {
        background-color: transparent;
        border-top: 0;
    }
}