.header {
    top: 30px;
    border: 0;
    
    @media (max-width: $screen-sm-min) {
        top: 0;;
    }
    .site-logo{
        padding-top: 3px;
        float: left;
        padding-left: 5px;
        top: 0;
        
        a {
            float:left
        }
        img {
            max-height: 45px;
        }
    }

    .admin-title {
        display:none;
        position: absolute;
        top: 0;
        clear: none;
        margin-left: 13px;
        padding: 16px 15px 5px 0;
            
        @media (min-width: 768px) {
            display: inline-block;
        }
        
        a {
            color: #9ad2ef;
            font-family: 'Dekko', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 22px;
            
            &:focus,
            &:hover {
                color: lighten(#9ad2ef, 5%);
                text-decoration: none;
            }
        }
    }

    + .container {
        // if container is directly after header, then it will need a margin
        margin-top: 30px;
        
        @media (max-width: $screen-sm-min ) {
            margin-top: 0;
        }
    }
}
