.header {
    background-color: $brand-primary;
    top: 0;

   .logo {
        margin-top: 2px;
    }

    .admin-title {
        margin: 4px 10px 10px 0;

        @media (max-width: $screen-sm-min) {
            display: none;
        }

        a {
            color: #9ad2ef;
            font-family: 'GoodDog', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 24px;

            &:focus,
            &:hover {
                color: lighten(#9ad2ef, 5%);
                text-decoration: none;
            }
        }
    }

    + .container {
        // resets margin if there are no site-messages
        margin-top: 0;

        @media (max-width: $screen-sm-min) {
            // resets margin as site-messages are hidden
            margin-top: 0 !important;
        }
    }
}
