.header {
    border: 0;
    top: 0;
    .site-logo{
        margin-top: 0;
        top: 0;
    }

    .admin-title {
        height: auto;
        margin-left: 13px;
        background-color: transparent;
        padding: 23px 15px 5px 0;
        
        a {
            color: #9ad2ef;
            font-family: 'GoodDog', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 24px;
            
            &:focus,
            &:hover {
                color: lighten(#9ad2ef, 5%);
                text-decoration: none;
            }
        }
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }

    + .container {
        // if container is directly after header, then it will need a margin
        margin-top: 30px;
        
        @media (max-width: $screen-sm-min ) {
            margin-top: 0;
        }
    }
}
