/*
 * Base structure
 */
body {
    max-width:100%;
    overflow-x:hidden;
    @media (min-width: 768px) {
        padding-top: 65px; // Move down content because we have a fixed navbar on desktop/tablet that is 50px tall
    }
    &.admin {
        background-color: lighten($brand-default, 2%);
    }
    .main {
        margin: 0px 0 20px;
        padding-top: 40px;
        padding-bottom: 0;
        @media (min-width: $screen-sm-min) {
            padding-bottom: 50px;
        }
    }
}

.main {
    max-width: 100%;
}

.content-main {
    @media (min-width: 768px) {
        margin-left: 250px;
    }
}

.sidebar {
    padding-top: 0;
    @media (min-width: $screen-sm-min) {
        padding-top: 50px;
    }
}

// Expose a section of the page
.expose {
    background-color: $brand-default;
    margin-bottom: 40px;
    margin-top: -109px;
    padding: 40px 0px 20px;
}

.subpage {
    clear:both;
}

.wallpost:first-child {
    margin-top: 20px;
}

.columns3,
.columns4,
.columns5 {
    .wallpost .panel-heading {
        font-size: 12px;
        padding-right:40px;
        h4 {
            font-size: 12px;
        }
    }
}

.viewfooter {
    clear: both;
}


// Needed to clear the float when dropzone is visible
.blocktype {
  &.ui-draggable:before {
    display: none;
  }
}

.blockinstance {
  clear: both;
  .list-group{
    margin-bottom: 0;
  }
}
