/*
 * Base structure
 */
body {
    padding-top: 65px;

    @media (max-width: $screen-sm-min) {
        padding-top: 0;
    }

    .main-content {
        margin-top: 0;
        padding-top: 20px;
        .main {
            padding-top: 20px;
        }
    }

    &.admin {
        .container {
            margin-top: 0px;
        }
        .main-nav {
            .container {
                margin-top: 0px;
            }
        }
        .main-content {
            margin-top: 0;
            padding-top: 20px;
        }
    }
    .sidebar {
        padding-top: 0px;
    }
}