.collection-nav {
    background-color: #f3f8fa;
    border-top: 0;
    border-radius: 0;

    h2 {
        clear: none;
    }
    .prevpage {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
        
        &:focus,
        &:hover {
            background-color: lighten($btn-primary-bg, 5%);
        }
        
        &:before {
            font-family: 'FontAwesome';
            content: $fa-var-arrow-circle-left;
            margin-right: 5px;
        }
    }
    .nextpage {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
        
        &:focus,
        &:hover {
            background-color: lighten($btn-primary-bg, 5%);
        }
        
        &:after {
            font-family: 'FontAwesome';
            content: $fa-var-arrow-circle-right;
            margin-left: 5px;
        }
    }
}
