$logged-in-height: 220px;
$logged-in-height-tablet: 200px;
$logged-in-height-phone: 120px;


.dashboard-widget-container {

    .remove-widgets {
        font-size: $font-size-small - 1;
    }

    .thumbnail-widget {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 0;
        vertical-align: top;

        @media (min-width: $screen-sm-min ) {
            float:left;
            width: 10 / 4 * 10%;
            padding: 0;
        }

        @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
            width: 10 / 3.7 * 10%;
            border-left: 0;
        }

        @media (max-width: $screen-sm-min ) {
            width: 10 / 3.1 * 10%;
            border-left: 0;
        }

        .widget {
            background-color: #f29907;
            border-left: 10px solid #FFFFFF;
            height: $logged-in-height;

            @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                height: $logged-in-height-tablet;
            }

            @media (max-width: $screen-sm-min ) {
                height: $logged-in-height-phone;
            }

            .puzzle {
                background-color: #ca0238;
                border: 10px solid #FFFFFF;
                border-left: 0;
                width: 50px;
                height: 80px;
                -moz-border-radius: 30px 120px 120px 30px;
                -webkit-border-radius: 30px 120px 120px 30px;
                border-radius: 30px 120px 120px 30px;
                display: block;
                position: relative;
                left: -10px;
                top: 30%;

                @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                    width: 40px;
                    height: 60px;
                    -moz-border-radius: 20px 100px 100px 20px;
                    -webkit-border-radius: 20px 100px 100px 20px;
                    border-radius: 20px 100px 100px 20px;
                }

                @media (max-width: $screen-sm-min ) {
                    display: none;
                }
            }
        }

        &.first {
            .widget {
                background-color: #ca0238;

                .puzzle {
                    background-color: #FFFFFF;
                    border: 10px solid #FFFFFF;
                    border-left: 0;
                }
            }
        }

        &.last {
            .widget {
                background-color: #799323;

                .puzzle {
                    background-color: #f29907;
                    border: 10px solid #FFFFFF;
                    border-left: 0;
                }
            }
        }
    }

    .penciltip {
        position: relative;
        display: inline-block;
        height: $logged-in-height;
        border-top: 90px solid transparent;
        border-left: 100px solid #fcdcb9;
        border-bottom: 90px solid transparent;
        vertical-align: top;
        margin-bottom: 10px;
        width: 125px;

        @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
            height: $logged-in-height-tablet;
            width: 100px;
        }

        @media (max-width: $screen-sm-min ) {
            display: none;
        }

        .puzzlewrap {
            border-left: 10px solid #FFFFFF;
            position: relative;
            height: $logged-in-height;
            width: 90px;
            left: -100px;
            top: -90px;

            @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                height: $logged-in-height-tablet;
            }
        }

        .puzzle {
            background-color: #799323;
            border: 10px solid #FFFFFF;
            border-left: 0;
            width: 50px;
            height: 80px;
            -moz-border-radius: 30px 120px 120px 30px;
            -webkit-border-radius: 30px 120px 120px 30px;
            border-radius: 30px 120px 120px 30px;
            display: inline-block;
            position: relative;
            top: 30%;
            left: -10px;

            @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                width: 40px;
                height: 60px;
                -moz-border-radius: 20px 100px 100px 20px;
                -webkit-border-radius: 20px 100px 100px 20px;
                border-radius: 20px 100px 100px 20px;
            }

            .pencillead {
                background-color: #333333;
                width: 25px;
                height: 40px;
                -moz-border-radius: 0 50px 50px 0;
                -webkit-border-radius: 0 50px 50px 0;
                border-radius: 0 50px 50px 0;
                display: inline-block;
                position: relative;
                left: 100px;
                top: 14px;

                @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                    left: 90px;
                    top: 12px;
                    width: 20px;
                    height: 35px;
                }
            }
        }
    }

    .widget-heading {
        padding: 10px 15px;
        height: $logged-in-height;
        border-top: 0;
        background-color: transparent;

        position: relative;
        top: -80px;
        text-align: center;

        @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
            height: $logged-in-height-tablet;
            top: -60px;
            padding: 10px 15px;
        }

        @media (max-width: $screen-sm-min ) {
            height: $logged-in-height-phone;
            top: 0;
            padding: 10px;
        }

        h2 {
            font-family: 'GoodDog', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0 0 5px 0;
            font-weight: normal;
            font-size: 42px;
            color: #FFFFFF;

            @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                font-size: 32px;
                margin: 0;
            }

            @media (max-width: $screen-xs-min) {
                font-size: 26px;
                margin: 0;
            }
        }

        .pict {
            margin: 5px 0 5px 25px;
            text-align: center;

            @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                margin: 5px 0 5px 25px;
            }

            img {
                max-width: 100%;

                @media (max-width: $screen-sm-min ) {
                    display: none;
                }
            }
        }

        p {
            margin: 0;
            font-size: $font-size-small;
            color: #FFFFFF;

            @media (max-width: $screen-sm-min ) {
                margin: 0;
                line-height: 1.1em;
            }
        }

        a {
            color: #FFFFFF;
        }
    }

    .widget-detail {
        padding: 10px 15px;
        position: relative;
        top: -80px;
        border: 0;

        @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
            top: -60px;
        }

        @media (max-width: $screen-sm-min ) {
            display: none
        }

        p {
            margin-bottom: 0;
            color: $text-color;

            @media (max-width: $screen-sm-min ) {
                font-size: $font-size-small;
            }
        }
    }


    .logged-in {
        text-decoration: none;
        height: $logged-in-height;
        overflow:hidden;

        @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
            height: $logged-in-height-tablet;
        }

        @media (max-width: $screen-sm-min ) {
            height: auto;
            overflow: visible;
        }

        .widget-heading {
            @include clearfix;
            border-radius: 0;

            @media (max-width: $screen-sm-min) {
                border-radius: 0;
            }

            h2 {
                margin: 0 0 5px 0;
                font-weight: normal;

                @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                    font-size: 32px;
                    margin: 0;
                }

                @media (max-width: $screen-xs-min) {
                    font-size: 26px;
                }
            }

            p {
                font-size: $font-size-small;
                color: #FFFFFF;
            }
        }

        .widget-detail {
            @include transition(0.03s);
            border-radius: 0;
            opacity:0;
            margin-top: -$logged-in-height * 2;
            border: none;
            font-weight: bold;
            display: inline-block;
            z-index: 2;
            background-color: $brand-primary;
            height: $logged-in-height;
            margin-right: 0;
            vertical-align: top;
            width:100%;

            @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                margin-top: -$logged-in-height-tablet * 2;
                height: $logged-in-height-tablet;
            }

            @media (max-width: $screen-sm-min) {
                display: none;
            }

            p {
                color: #fff;
            }
        }
    }

    .logged-in:hover {
        .widget-heading {
            background-color: $brand-primary;
        }

        .widget-detail {
            @include transition(0.3s);
            opacity: 1;
            margin-top: -$logged-in-height;

            @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
                margin-top: -$logged-in-height-tablet;
            }

            @media (max-width: $screen-sm-min) {
                display: none;
            }
        }
    }
}

.dashboard-editable {
    border-top: 1px solid #cccccc;
}

.loggedout .dashboard-widget-container {
    min-height: 350px;
    @media (min-width: $screen-sm-min ) and (max-width: $screen-lg-min ) {
        min-height: 320px;
    }
    @media (max-width: $screen-sm-min) {
        min-height: 0;
    }
}
