.forum-post {
    border-left: 1px solid $brand-default;
    padding-left: 0;

    margin-top: 0;
    padding-top: 15px;
    border-top: 1px solid $brand-default;
    border-right: 1px solid $brand-default;

    .forumpostleft {
        padding-left: 10px;
        .media-object {
            border-radius: 50%;
        }
    }
    .media-body {
        padding-right: 10px;
    }
}
.forum-post-btns {
    background-color: $brand-default;
    padding: 5px;
    a {
        color: $btn-default-color;

        background-color: $btn-default-bg;
        border: 1px solid $btn-default-border;
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        font-size: $font-size-small;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 0;
        padding: 6px 9px;
        text-align: center;
        white-space: nowrap;
        margin-left: 5px !important;
        &:focus,
        &:hover {
            text-decoration: none;
            background-color: #FFFFFF;
        }
    }
}