/* ADMIN HOME */
/* Administration Home styles */
#register-site,
#runupgrade {
    background-color: #1A292F;
    border: 0;
}
#register-site fieldset table table th,
#upgradestable th {
    background-color: #10171A;
    border-bottom: 1px dotted #BEE3F1;
}
#register-site fieldset table table td,
#upgradestable td {
    background-color: #10171A;
}

#suspenddelete #suspend {
	background: #1A292F;
	border: 0;
}

#register-site-full {
	width: auto;
}

/* delete suspend boxes */
#close-site,
#suspendinstitution,
#suspenddelete #delete {
	color: #333;
	background: #eccccc;
}
.site-stats-table div {
	background: none;
	border-bottom: 1px dotted #BEE3F1;
}
#suspendinstitution .description {
	color: #333;
}

/* CONFIGURE SITE > LINKS AND RESOURCES MENU */

#institutionusers, 
#staffusers, 
#adminusers {
	background: #1b3b46;
	border: 0;
}

/* add user */
#adduser td.step1 {
	background-color: #1b3b46;
	border: 0;
}
#adduser td.step2 {
	background-color: #1b3b46;
	border: 0;
}
#adduser td.step3 {
	background-color: #254e5c;
	border: 0;
}
#adduser #or {
	color: #FFFFFF;
}

#groupadminsform {
	background:#10171A;
	border: 1px solid #0C2839;
}

#profilepict {
	background: #000000;
	border: 0;
}
