/*  Views  */
/********************** Top pane of Edit View *************************/
#top-pane,
#middle-pane,
#page #bottom-pane,
#blocksinstruction {
    background: #1C3740;
}
/* The tabs that allow you to select a blocktype category */
#category-list {
  margin-left:10px;
}
#category-list li {
  margin: 0 3px 0 0 !important;
  float: left;
  height: 25px;
  background: none;
  line-height: 25px;
}
#category-list li a,
#category-list li a:link,
#category-list li a:visited,
#category-list li a:active {
  color: #FFF;
  font-weight: normal;
  padding: 5px 10px 6px 10px;
  background: #1C3740 url(../images/mainnav-bg.gif) repeat-x center;
}
#category-list li a:hover {
  color: #FFF;
  background: #1C3740 url(../images/mainnav-bg.gif) repeat-x center;
  text-decoration: underline;
}
#category-list li.current a,
#category-list li.current a:link,
#category-list li.current a:visited,
#category-list li.current a:active {
  color: #FFF;
  font-weight: bold;
  padding: 5px 10px 6px 10px;
  background: #00AEF1 url(../images/subnav-bg.gif) repeat-x center;
}

/* The panel that contains the blocktype icons */
#blocktype-list {
    border: 1px solid #28353b;
    background-color: #10171A;
    color: #1C3740 !important;
}
.blocktype div {
	color: #BEE3F1;
}
#column-container {
	background: #080D0F;
}


/********************** Bottom pane of Edit View *************************/
#page #bottom-pane {
	border-color: #1C3740 !important;
}
#blocksinstruction {
    background: #1C3740;
    color: #BEE3F1;
}


/********************** Blockinstance ************************************/
.blockinstance.configure {
  border: 4px solid #1C3740;
  background: #10171A;
}

/* header*/
.blockinstance-header h4 {
	border-bottom: 1px dotted #E0E8EE;
}
.blockinstance-header h4 a,
.blockinstance-header h4 a:link,
.blockinstance-header h4 a:visited,
.blockinstance-header h4 a:active {
    text-decoration: none;
}

/* content */
.blockinstance-content {
	padding: 0;
}

/* Wall */
.wallpost {
    border-bottom: 1px solid #080D0F;
	background: #1C3740;
}
#wall .private {
    background: #274f5c;
}


/* tabs for the artefact chooser */
ul.artefactchooser-tabs {
  border-bottom: 1px solid #1C3740;
}
ul.artefactchooser-tabs li {
	margin: 0 3px 0 0 !important;
}
ul.artefactchooser-tabs li a,
ul.artefactchooser-tabs li a:link,
ul.artefactchooser-tabs li a:visited,
ul.artefactchooser-tabs li a:active {
  background: #1C3740;
  color: #BEE3F1;
}
ul.artefactchooser-tabs li.current a,
ul.artefactchooser-tabs li.current a:link,
ul.artefactchooser-tabs li.current a:visited
ul.artefactchooser-tabs li.current a:active {
  background: #00AEF1;
  color: #FFF;
  font-weight: bold;
}
ul.artefactchooser-subtabs {
  border-bottom: 1px solid #1C3740;
}
ul.artefactchooser-subtabs li {
	border-right: 0;
}
ul.artefactchooser-subtabs li a,
ul.artefactchooser-subtabs li a:link,
ul.artefactchooser-subtabs li a:visited,
ul.artefactchooser-subtabs li a:active {
  color: #BEE3F1;
  padding: 5px 10px;
}
ul.artefactchooser-subtabs li.current a,
ul.artefactchooser-subtabs li.current a:link,
ul.artefactchooser-subtabs li.current a:visited,
ul.artefactchooser-subtabs li.current a:active {
  background: #1C3740;
  color: #BEE3F1;
  font-weight: bold;
}


#artefactchooser-body {
    border: 1px solid #1C3740;
}
.upload_browse #artefactchooser-body {
    border: 1px solid #1C3740;
}


/* attachments */
.attachments {
	background-color: #10171A;
}
#view .blockinstance-content .attachments,
#view .blockinstance-content .attachments td {
    background-color: #10171A;
}

/** When viewing an artefact */
#view .filedata-icon.fr {
	background: #0C2839;
}

#copyview .searchquery {
	background: #0C2839;
	border: 1px solid #1C3740;
}


/* View Page footer menu */
#view .viewfooter {
	border: 1px solid #10171A;
}
#view #feedbacktable {
	border: 1px solid #10171A;
	clear: both;
}

/* Collection navigation */
ul.colnav li a {
	background: #10171A;
}
ul.colnav li.selected a {
    color: #FFF;
	background: #080D0F;
}

.submissionform {
	background: #10171A;
}

table tr.plan_incomplete {
	color: #FFF;
	background: #b0172c;
	border-bottom: 1px solid #080D0F;
}
