body {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	padding: 5px !important;
	color: #000000;
}
td {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	padding: 5px !important;
	color: #000000;
}
pre {
    font: 12px monospace !important;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    color: #3B6065 !important;
    text-decoration: none !important;
}

h1 {
    color: #8E1901;
    font-size: 34px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
h2 {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
    color: #8E1901;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
h3 {
    font-family:Georgia, "Times New Roman", Times, serif;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    margin: 20px 0 5px 0;
}
h4 {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    margin: 15px 0 0;
}
h5 {
    color: #8E1901;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0 0;
}
h6 {
    font-size: 12px;
    color: #3B6065;
    font-weight: bold;
    margin: 10px 0 0 0;
}

ul {
    padding: 0 !important;
    margin: 0 0 0 17px !important;
}
