// panel-secondary is the style used for the user-editable panels used across Mahara

.panel-secondary {
    @include box-shadow(none);
    background-color: transparent;

    &.panel-warning {
         > .panel-heading, .panel-heading-nested {
            border-left: 0;
        }
    }

    .blockinstance-controls .btn-group-top {
        @media (max-width: $screen-md-min) {
            margin: 0;
        }
    }

    // removing left/right padding in panel headings
    .panel-heading-nested,
    > .panel-heading {
        padding-left: 0;
        padding-right: 0;
        border-bottom-color: #9db577;
    }

    > .panel-heading {
      font-family: $font-family-sans-serif;
    }

    // removing left/right padding in panel body
    > .panel-body {
         padding: 15px 0;
    }
    .block {
         > .panel-body {
             padding: 15px 0;
         }
    }
}
