.collapsible legend h4,
.collapsible legend h3,
.panel-heading {
    a:not(.secondary-link) {
        color: $theme-primary-color;
        &.collapsed {
            background-color: transparent;
            color: $theme-primary-color;
        }
        &:hover, &:focus {
            background-color: none;
        }
    }
}


// sidebar panel headings
.sidebar .panel-default > .panel-heading {
    @include border-top-radius(0);
    border-bottom: 0;
    background-color: $theme-primary-color;
    color: #FFFFFF;

    .help a .icon {
        color: $theme-primary-color-light;
    }

    a {
        color: #FFFFFF;
    }

    .text-midtone {
        color: #eef3e9;
        font-size: 11px;
        margin-top: 5px;
    }
}


.panel.collapsible {
    .panel-heading-nested,
    .panel-heading {
        > a.outer-link {
            border-color: #ddd;
        }
    }
}
