.panel {
    border-radius: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border: 0;

    small {
        font-size: 11px;
    }

    dl {

        dd {
            font-size: 11px;
        }
    }
}
