.panel {
    border-radius: 0;
    border: 0;
    box-shadow: none;

    &.panel-quarter {
      .panel-stack {
        border: 1px solid #ddd;
      }
    }

    small {
        font-size: 11px;
    }

    dl {

        dd {
            font-size: 11px;
        }
    }
}

.sidebar {
  .panel {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
}

.panel-quarter .panel-heading a {
  font-family: $font-family-sans-serif;
  font-weight: 300;
}
