
.collapsible legend h4,
.collapsible legend h3,
.panel-heading {
    position: relative;
    display: block;
    font-family: $font-family-sans-serif;
    p {
        margin:0;
    }

    &.has-link {
        padding: 0;
        h4 {
            padding: 0;
            margin: 0;
        }
    }
    .icon {
        color: $link-color;
    }
    // by default links in headings get display: block and padding.
    // Use .secondary-link if you don't want this behaviour
    a:not(.secondary-link) {
        display: block;
        color: inherit;
        padding: 10px 15px;

        .panel-secondary > & {
            padding: 10px 8px;
        }

        &.collapsed {
            color: $mahara-green;
            padding: 10px 15px;
            .panel-secondary > & {
                padding: 10px 8px;
            }
        }
        &:hover, &:focus {
            background-color: none;
            text-decoration: none;
        }
        .pieform > .collapsible-group:first-child &,
        .panel.first & {
            @include border-top-radius(3px);
        }
    }
    .help a { //fix css on contextual help icons
        padding: 0;
        &:hover {
            background: none;
        }
    }
}

.panel-heading {
    @include border-top-radius(0);

    .metadata {
        color: #eef3e9;
        font-size: 11px;
        margin-top: 5px;
    }
}

.panel-small .panel-heading {
    font-size: 12px;
    padding-right:40px;
    h4 {
        font-size: 12px;
    }
}

.panel-heading .btn-link {
    &:hover{
        .icon {
            color: $link-color;
        }
    }
}

.panel-default > .panel-heading {
    border-bottom: 0;
    background-color: $mahara-green;
    color: #FFFFFF;

    .help a .icon {
        color: $mahara-green-lime;
    }

    a {
        color: #FFFFFF;
    }
}
