body{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	padding: 5px !important;
	color: #3C083F;
}
td {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	padding: 5px !important;
	color: #3C083F;
}
pre {
    font: 12px monospace !important;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    color: #580754 !important;
    text-decoration: none !important;
}

h1 {
    color: #3C083F !important;
    font-size: 30px !important;
    font-weight: normal !important;
    margin: 0 0 5px 0 !important;
    padding: 0 !important;
}
h2 {
    font-size: 24px !important;
    color: #3C083F !important;
    font-family:Georgia, "Times New Roman", Times, serif !important;
    font-weight: normal !important;
    margin: 0 0 5px 0 !important;
    padding: 0 !important;
}

h3 {
    font-family:Georgia, "Times New Roman", Times, serif !important;
    color: #3C083F !important;
    font-weight: normal !important;
    font-size: 17px !important;
    margin: 20px 0 0 !important;
}
h4 {
    font-size: 15px !important;
    color: #000000 !important;
    font-weight: bold !important;
    margin: 15px 0 0 !important;
}

h5 {
    color: #3C083F !important;
    font-weight: bold !important;
    font-size: 14px !important;
    margin: 5px 0 0 !important;
}
h6 {
    font-size: 13px !important;
    color: #580754 !important;
    font-weight: bold !important;
    margin: 5px 0 !important;
}

ul {
    padding: 0 !important;
    margin: 0 0 0 17px !important;
}
