/*  Views  */
/********************** Top pane of Edit View *************************/
/* The tabs that allow you to select a blocktype category */
#category-list li {
	margin: 0 5px 0 0;
}
#category-list li a,
#category-list li a:link,
#category-list li a:visited,
#category-list li a:active {
  color: #ffffff;
  font-weight: normal;
  background-color: #5c0758;
  padding: 4px 10px;
}
#category-list li a:hover {
  color: #ffffff;
  background-color: #5c0758;
  text-decoration: underline;
}
#category-list li.current a,
#category-list li.current a:link,
#category-list li.current a:visited,
#category-list li.current a:active {
  color: #ffffff;
  font-weight: bold;
  background-color: #841c7f;
}

/* The panel that contains the blocktype icons */
#blocktype-list {
	border: 2px solid #5C0758 !important;
	background: #fbebfc;
}


/********************** Bottom pane of Edit View *************************/
#page #bottom-pane {
	border-color: #5C0758 !important;
}

/**************** Blockinstance **********************/
.upload_browse #artefactchooser-body {
    border: 1px solid #1C3740;
}

/* pagination */
#feedback_pagination {
	border-top: 1px dotted #360435;
}

#collection {
	color: #FFF;
}
ul.colnav li a {
	background: #5A0757 url(../images/mainnav-bg.gif) repeat-x top center;
}
