.card {
    &.bg-success {
        border-color: scale-color($state-success-bg, $lightness: -15%);
        background-color: $card-bg !important;
        .card-header {
            background-color: $state-success-bg;
            color: $state-success-text;
        }
        .card-body {
            background-color: $card-bg;
        }
        .card-footer {
            background-color: $card-header-bg;
            &:hover,
            &:focus {
                background-color: scale-color($card-header-bg, $lightness: -3.22);

            }
        }
        .card-footer,
        .card-body,
        .card-header a {
            border-color: scale-color($state-success-bg, $lightness: -15%);
        }
        .card-header a,
        .card-body:not(.no-footer) {
            border-bottom-width:0;
        }
    }

    &.bg-info {
        border-color: scale-color($state-info-bg, $lightness: -15%);
        background-color: $card-bg !important;
        .card-header {
            background-color: $state-info-bg;
            color: $state-info-text;
        }
        .card-body,
        table {
            background-color: $card-bg;
            &.table {
                table-layout: fixed;
                tr:not(:first-of-type) {
                    td,
                    th {
                        border-top: $table-border-width solid $table-border-color;
                    }
                }
            }
        }
        .card-footer {
            background-color: $card-header-bg;
            &:hover,
            &:focus {
                background-color: scale-color($card-header-bg, $lightness: -3.22);
            }
        }
        .card-footer,
        .card-body,
        .card-header a {
            border-color: scale-color($state-info-bg, $lightness: -15%);
        }
        .card-header a,
        .card-body:not(.no-footer) {
            border-bottom-width:0;
        }
    }

    &.bg-warning {
        border-color: scale-color($state-warning-bg, $lightness: -15%);
        background-color: $card-bg !important;
        .card-header {
            background-color: $state-warning-bg;
            color: $state-warning-text;
        }
        .card-body {
            background-color: $white;
        }
        .card-footer {
            background-color: scale-color($card-header-bg, $lightness: -3.22);

        }
        .card-footer,
        .card-body,
        .card-header a {
            border-color: scale-color($state-warning-bg, $lightness: -15%);
        }
        .card-header a,
        .card-body:not(.no-footer) {
            border-bottom-width:0;
        }
    }

    &.bg-danger {
        border-color: scale-color($state-danger-bg, $lightness: -15%);
        // background-color: $card-bg;
        .card-header {
            background-color: $state-danger-bg;
            color: $state-danger-text;
        }
        .card-body {
            background-color: $card-bg;
        }
        .card-footer {
            background-color: $card-header-bg;
            &:hover,
            &:focus {
                background-color: scale-color($card-header-bg, $lightness: -3.22);
            }
        }
        .card-footer,
        .card-body,
        .card-header a {
            border-color: scale-color($state-danger-bg, $lightness: -15%);
        }
        .card-header a,
        .card-body:not(.no-footer) {
            border-bottom-width:0;
        }
    }
}
