.card-half {
    width: 48%;
    float: left;
    margin-left: 4%;
    &.first {
        margin-left:0;
    }
    @include media-breakpoint-down(lg) {
        width: 100%;
        margin-left:0;
    }
}
