// Display objects in cards differently
.card-body {
    ul:not(.profile-info) {
        font-size: $font-size-base * 0.85715;
        &:not(.list-unstyled):not(.unstyled):not(.select2-selection__rendered) {
            padding-left: 20px;
            margin: 0 0 20px;
            &.select2-choices {
                margin-bottom: 0;
            }
        }
    }
    .sidebar & .form-group,
    .login-card & .form-group {
        padding: 8px 0 8px 0;
    }
    .form-group.login{
        padding: 0;
        .form-group {
            padding: 0;
        }
    }
    > .card-footer,
    form .card-footer {
        clear:both;
        margin: 15px -15px -15px; //alter padding for card footers inside card-body (needed for some forms) c.f. login form
    }
    &.flush {
        padding: 15px 0 0 0;
    }
}
