// card is the style used for the user-editable cards used across Mahara

.card.card-secondary {
    @include box-shadow(none);
    border-color: transparent;
    .admin & {
        border-color: $card-border-color;
    }
    .admin .user-page-content & {
        border-color: transparent;
    }
    &.blockinstance {
        background-color: transparent;
        .card-header {
            background-color: $card-header-bg;

            > .blockinstance-header {
                display: block;
                padding-left: 10px;
                padding-right: 80px;
                word-break: normal;
            }
        }
    }
    > .card-header, .card-header-nested {
        padding: 10px 8px 10px 0px;
        background: transparent;
        font-family: $headings-font-family;
        font-size: $h4-font-size;
        font-weight: $headings-font-weight;
        border-bottom: $card-secondary-border-width solid $card-secondary-border-color;
        margin-top: 0;

        // In page builder we can choose to not have a heading,
        // but we still need a dragable object.
        // Use a placeholder for visual help
        // will appear with the no-heading class in view mode
        &.card-header-placeholder {
            border: $card-border-width dashed $card-border-color;
            background-color: $card-bg;
            .blockinstance-header {
                opacity:0.6;
            }
        }
        &.drag-handle {
            padding-left: 8px;
        }
    }
    &.card-warning {
         > .card-header, .card-header-nested {
            border-left: ($card-secondary-border-width * 2) solid $card-secondary-border-color;
            background-color: $state-warning-bg;
            border-bottom: $card-border-width solid $state-warning-border;
        }
        .card-body {
            background-color: $state-warning-bg;
        }
    }
    .card-header-plain {
        border: $card-border-width solid $card-border-color;
    }
    .list-group .list-group-item {
        border-left: 0;
        border-right: 0;
    }
    > .card-body,
    > .block > .card-body {
        padding: 15px 0px;
        &.flush {
            padding: 15px 0 0 0;
            clear: both;
        }
    }
    // If there is no heading we don't want padding on the card-body
    > .no-heading {
        > .card-body {
            padding: 0;
        }
        .has-attachment {
            margin: 0;
        }
    }

    // Plan blocks
    .list-group .task-item {
        .plan-task-icon {
            vertical-align: top;
            padding-top: 4px;
            z-index: 3;
            position: relative;
            cursor: pointer;
        }
        .plan-task-heading {
            margin-top: -1.3rem;
            margin-left: 25px;
        }
        .plan-task-detail {
            margin-left: 22px;
            margin-top: 10px;
            .tags {
                margin-bottom: 0;
            }
        }
    }
}

// Gallery thumbnails
// override bootstrap thumbnails styling
.thumbnails {
    padding-top: 20px;
    .thumb {
        margin: 5px 0px 10px 5px;
    }
}
.thumbnail {
    margin: 0 15px 0 0;
    .card-body & {
        margin-bottom: 10px;
    }
}
.bt-gallery,
.bt-gallery-editor {
    img.frame {
        padding: $thumbnail-padding;
        margin: 0;
        border: $thumbnail-border-width solid $thumbnail-border-color;
        background: $thumbnail-bg;
        box-shadow: $thumbnail-box-shadow;
        border-radius: $thumbnail-border-radius;
    }
    &.card.card-secondary > .block > .card-body {
        overflow: hidden;
        padding: 15px 20px;
    }
}


// giving top margin to blog description only when it exists
.bt-blog #blogdescription > * {
    margin-top: 10px;
}

// tagged post title needs padding bottom
.bt-taggedposts .taggedpost-title {
    padding: 10px 0;
}
