.card-form {
    background-color: scale-color($card-bg, $lightness: -1.18);
    border-bottom: $card-border-width solid $card-border-color;
    padding: $spacing-lg $spacing-lg 0 $spacing-lg;
    margin-bottom: $spacing-xl;
}
