// Display objects in cards differently
.card-body {
    ul:not(.profile-info) {
        font-size: $font-size-sm;
        &:not(.list-unstyled):not(.unstyled):not(.select2-selection__rendered) {
            padding-left: $spacing-xl;
            margin: 0 0 $spacing-xl;
            &.select2-choices {
                margin-bottom: 0;
            }
        }
        &.fieldslist {
          font-size: $font-size-base;
        }
    }
    .sidebar & .form-group,
    .login-card & .form-group {
        padding: $spacing-base 0;
    }
    .form-group.login{
        padding: 0;
        .form-group {
            padding: 0;
        }
    }
    > .card-footer,
    form .card-footer {
        clear: both;
        margin-top: $spacing-lg;
        margin-right: -$spacing-lg;
        margin-bottom: -$spacing-lg;
        margin-left: -$spacing-lg;
    }
    &.flush {
        padding: $spacing-lg 0 0 0;
    }
}
