
.collapsible legend h4,
.collapsible legend h3,
.card-header {
    position: relative;
    display: block;
    font-family: $font-family-sans-serif;
    p {
        margin: 0;
    }

    &.has-link {
        padding: 0;
        h4 {
            padding: 0;
            margin: 0;
        }
    }

    .secondary-link {
        color: $link-color;
    }
    // by default links in headings get display: block and padding.
    // Use .secondary-link if you don't want this behaviour
    a:not(.secondary-link) {
        display: block;
        color: inherit;
        padding: 10px 15px;

        .card-block > & {
            padding: 10px 8px;
        }

        &.collapsed {
            background-color: $card-heading-bg;
            color: $theme-text-color;
            padding: 10px 15px;
            &.outer-link {
                background: none;
            }
            .card-block > & {
                padding: 10px 8px;
            }
        }
        &:hover, &:focus {
            background: rgba($theme-text-color, 0.03);
            text-decoration: none;
        }
        .pieform > .collapsible-group:first-child &,
        .card.first & {
            @include border-top-radius(3px);
        }
    }
    .help a { //fix css on contextual help icons
        padding: 0;
        &:hover {
            background:none;
        }
    }
}


.card-small .card-header {
    font-size: 12px;
    padding-right:40px;
    h4 {
        font-size: 12px;
    }
}

.card-header .btn-link {
    &:hover{
        .icon {
            color: $link-color;
        }
    }
}

h2.card-header {
    font-size: $font-size-lg;
}

.card {
    &.collapsible:not(.card-block) {
        .card-header {
            border: 0;
            a {
                border: $card-border-width solid $card-border;
                border-bottom-width: 0;
            }
        }
        &.last {
            .card-header {
                a.collapsed {
                    border-bottom-width: $card-border-width;
                }
            }
        }
        &.has-attachment {
            .card-header {
                a {
                    border-width: 0;
                }
            }
        }
    }
}
h3.card-header {
  font-size: 16px;
}
