// Styles for the new page/collection layout

.card-collection,
.card-view {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    height: 200px;
    @include media-breakpoint-up(sm) {
        width: 50%;
    }
    @include media-breakpoint-up(md) {
        width: 25%;
    }

    .site-template {
        background: repeating-linear-gradient(
            -45deg,
            $gray-100,
            $gray-100 10px,
            scale-color($gray-100, $lightness: 30%) 10px,
            scale-color($gray-100, $lightness: 30%) 20px
            ) !important;
    }

    .card {
        position: relative;
        height: 100%;
        border: $card-border-width solid $card-border-color;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        .card-header {
            background-color: transparent;
            border: none;
            a:hover,
            a:focus {
                background-color: $card-cap-bg;
            }
        }
    }

    .card-header {
        background-color: transparent;
        border-bottom-color: transparent;
        .title-link {
            padding: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: $headings-font-family;
        }
    }

    .card .card-body {
        padding: 5px;
    }

    .card-footer {
        width: 100%;
        padding: 0;
        border-top: 0;
        position: absolute;
        bottom: 0;

        .dropdown-toggle {
            min-width: 35px;
            min-width: 40px;
            text-decoration: none;
            color: $theme-text-color;
            .open-indicator {
                display: none;
            }
            &[aria-expanded="true"] {
                .open-indicator {
                    display: inline-block;
                }
                .page-count,
                .icon-stack,
                .close-indicator {
                    display: none;
                }
            }
        }
        .dropdown-toggle:focus {
            outline: medium solid $input-focus-border-color;
        }

        .dropdown-menu {
            top: 100%;
            max-height: 200px;
            overflow: auto;
            padding: 0;
            margin: 0;
            min-width: auto;
            @include media-breakpoint-up(md) {
              width: 200%; // to allow it to expand to almost 2 card blocks wide but only for md and up
            }
            a {
                white-space: normal;
                background-color: $dropdown-bg;
                padding: $dropdown-item-padding-y $dropdown-item-padding-x;

                &:hover,
                &:focus {
                    background-color: $dropdown-link-hover-bg;
                }
            }
            .icon {
                position: absolute;
                padding-top: $dropdown-item-padding-y;
            }
            .link-text {
                display: inline-block;
                padding-left: 20px;
                position: relative;
            }
            .seperator {
                border-bottom: $dropdown-border-width solid $dropdown-border-color;
            }
        }
    }

    .page-controls {
        float: right;
        .dropdown-menu {
            width: auto;
            max-height: none;
            > li > a {
                padding: $dropdown-item-padding-y $dropdown-item-padding-x;
            }
            .view-details {
                padding: $dropdown-item-padding-y $dropdown-item-padding-x;
                font-size: $font-size-sm;
                border-top: $dropdown-border-width solid $dropdown-border-color;

                &:hover,
                &:focus {
                  background: transparent;
                }
            }
        }
    }
    .page-access {
        float: left;
        .dropdown-menu {
            .view-details {
                padding: $dropdown-item-padding-y $dropdown-item-padding-x;
                background-color: $state-danger-bg;
            }
        }
    }
    .collection-list {
        float: right;

        .dropdown-toggle {
            position: relative;
        }
        .icon-file {
            position: relative;
        }
        .collection-indicator {
            position: absolute;
            border-right: 1px solid $theme-text-color;
            border-bottom: 1px solid $theme-text-color;
            width: 12px;
            height: 12px;

            &.few {
                top: 4px;
                left: 1px;
            }

            &.many {
                top: 6px;
                left: 4px;
            }
        }
    }

    .card-warning {
        background-color: $state-warning-bg;
        color: $state-warning-text;
        border-color: $state-warning-border;
    }
    .card-danger {
        background-color: $state-danger-bg;
        color: $state-danger-text;
        border-color: $state-danger-border;
    }
}

.card-collection {
    position: relative;
    .card.bg-warning {
        .card-body {
            background-color: $state-warning-bg;
        }
    }
    .collection-stack.bg-warning {
        &:before,
        &:after {
            background-color: $state-warning-bg;
        }
    }
    .collection-stack {
        &:before,
        &:after {
            content: "";
            display: block;
            height: 200px;
            width: calc(100% - 30px);
            margin: 15px;
            position: absolute;
            border-radius: $card-border-radius;
            border: $card-border-width solid $card-border-color;
        }
        &:before {
            top: -13px;
            left: 3px;
            z-index: -1;
        }
        &:after {
            top: -11px;
            left: 6px;
            z-index: -2;
            box-shadow: 4px 4px 3px rgba(0,0,0,.25);
        }
    }
}

.card-option {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    height: 60px;
    @include media-breakpoint-up(md) {
        width: 25%;
    }
    .card.placeholder {
        padding: 10px;
        cursor: pointer;
        width: 100%;
        div {
            text-align: center;
            &.icon {
                padding-bottom: 5px;
            }
        }
    }
}

// Make collection list dropdown align right on the right most card
.card-quarter {
    &:nth-child(even) .collection-list .dropdown-menu,
    &:nth-child(even) .page-access .dropdown-menu {
        right: 0;
        left: auto;
        @include media-breakpoint-up(md) {
            left: 0;
            right: auto;
        }
    }
    &:nth-child(4n) .collection-list .dropdown-menu,
    &:nth-child(4n) .page-access .dropdown-menu {
        @include media-breakpoint-up(md) {
            right: 0;
            left: auto;
        }
    }
}
