.card {
    margin-bottom: $line-height-computed;
    border: 1px solid $card-border-color;
    border-radius: $card-border-radius;
    form {
        margin:0;
    }
    table {
        font-size: $font-size-sm;
        margin-bottom: 0;
    }
    small {
        margin-top:5px;
        line-height: 1.5em;
        color: $gray-500;
        display: block;
    }

    .list-group-item small {
        @extend .text-midtone;
        font-size: $font-size-base * 0.85715;
    }

    dl {
        dt {
            font-weight:normal;
            clear: both;
            margin-right:10px;
        }
        dd, dt {
            display:inline-block;
            float:left;
        }

        dd {
            color: $gray-500;
            line-height: 1.5em;
            font-size: $font-size-base * 0.85715;
        }
    }
    .nav-pills {
        margin: 0;
    }
    > .list-group:last-child {
        .list-group-item:last-child {
            border-bottom: 0;
        }
    }
    //don't want border around the message
    &.wallpost {
    }

    .has-attachment {
        border-radius: $border-radius-sm;
        border-width: 1px;
    }
    .activegrouplabels {
        padding: $card-spacer-y $card-spacer-x;

        + .list-group {
            .list-group-item:first-child {
                @include border-top-radius(0);
            }
        }
    }
}

.view-pane .card {
    border-width: 0;
}


// Login card
.login-externallink {
    display: inline-block;
    a.btn {
        margin: 0 5px 5px 0;
    }
}

.login-related-links {
  .register-link{
    padding-right: 2px;
  }
  .forgotpass-link {
    padding-left: 5px;
  }
}

// cover image card
.card-body.coverimage {
    overflow: hidden;
    img {
        object-fit: cover;
        height: 187px;
    }
}
