.collection-nav {
    background-color: $card-header-bg;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 3px;
    position: relative;

    h2 {
        font-weight: bold;
        font-size: 30px;
        margin-top: 0;

        @include media-breakpoint-up(lg) {
          margin-right: 300px;
          margin-bottom: 0;
        }
    }
    .collection-nav-btns {
      display: inline-block;

      @include media-breakpoint-up(lg) {
        position: absolute;
        right: 10px;
        bottom: 12px;
      }
    }
    .prevpage {
        background-color: $body-bg;
    }
    .nextpage {
        background-color: $body-bg;
    }
    nav.custom-dropdown {
        margin: 0 auto;
        display: inline-block;
        min-width: 200px;
    }
}
