$logged-in-height: 100px;
$logged-in-height-mobile: 110px;


.dashboard-widget-container {
    @include clearfix;
    margin-top: 2rem;

    .remove-widgets {
        font-size: $font-size-sm;
    }
    .hide-info {
        clear: both;
    }

    .thumbnail-widget {
        position: relative;
        display: block;
        margin-bottom: 10px;
        @include media-breakpoint-up(md) {
            float:left;
            width: 10 / 3 * 10%;
            padding-left: 2%;
            &.first {
                padding-left: 0;
            }
        }

        .widget-heading {
            @include clearfix;
            padding: 10px;
            height: $logged-in-height;
            border-top: 3px solid $dashboard-widget-circle-bg;
            background-color: $dashboard-widget-bg;

            @include media-breakpoint-between(md, lg) {
                height: $logged-in-height-mobile;
            }

            .circle-bg {
                margin-right: 10px;
                border-radius: 50%;
                position: relative;
                float: left;
                background-color: $dashboard-widget-circle-bg;
                width: 60px;
                height: 60px;
                text-align:center;

                .icon {
                    color: $dashboard-widget-cirlce-icon-color;
                    padding-top:16px;
                    font-size: $font-size-base * 2.15;
                }
            }

            h2 {
                margin: 5px 0 3px;
                font-weight: $font-weight-bold;
                color: $dashboard-widget-title-color;
            }

            p {
                margin: 0;
                font-size: $font-size-sm;
                color: $dashboard-widget-title-color;
            }
        }

        .widget-detail {
            padding: 10px;
            border: $border-width solid $border-color;

            p {
                margin-bottom: 0;
                color: $theme-text-color;
            }
        }

        &.logged-in {
            text-decoration: none;
            overflow:hidden;

            @include media-breakpoint-down(sm) {
                height: auto;
            }

            .widget-heading {
                @include clearfix;
                border-radius: $border-radius;

                @include media-breakpoint-down(sm) {
                    border-radius: $border-radius $border-radius 0 0;
                }
            }

            .widget-detail {
                @include transition(0.03s);
                border-radius: $border-radius;
                opacity:0;
                margin-top: -$logged-in-height * 2;
                border: none;
                position: relative;
                display: inline-block;
                z-index: 2;
                background-color: $dashboard-widget-circle-bg;
                height: $logged-in-height;
                vertical-align: top;
                width:100%;
                @include media-breakpoint-between(md, lg) {
                    margin-top: -$logged-in-height-mobile * 2;
                    height: $logged-in-height-mobile;
                }
                @include media-breakpoint-down(sm) {
                    border-radius: 0 0 $border-radius $border-radius;
                    margin-top: 0;
                    border: $border-width solid $border-color;
                    background-color: $body-bg;
                    opacity: 1;
                    height: auto;
                }
                p {
                    color: $white;

                    @include media-breakpoint-down(sm) {
                        color:$theme-text-color;
                    }
                }
            }

            &:hover {
                .widget-heading {
                    @include media-breakpoint-down(sm) {
                        background: scale-color($dashboard-widget-bg, $lightness: -5%);
                    }
                }
                .widget-detail {
                    @include transition(0.3s);
                    opacity: 1;
                    margin-top: -$logged-in-height;
                    @include media-breakpoint-between(md, lg) {
                        margin-top: -$logged-in-height-mobile;
                    }
                    @include media-breakpoint-down(sm) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.dashboard-editable {
    margin-top: 2rem;
    border-top: $border-width solid $border-color;

    #editdashboard {
        margin-top: 0;
    }
}
