.fileupload {
    padding: 20px;
    border: 1px solid $gray-lighter;
    background-color: $body-bg;
    .intro {
        font-weight: bold;
    }
    .description {
        color: $gray-light;
        font-size: $font-size-base - 1;
    }
    .title {
        padding: 0;
        margin: 0 0 15px 0;
    }
}

.panel-fake {
    margin-bottom: 15px;
    .title {
        padding: 0;
        margin: 15 0 15px 0;
    }
}

.resize-image {
    .help,
    label {
        display: table-cell;
    }
    .help {
        float: none;
        margin-top: 0;
    }
}

// reset margin and padding for upload file forms
.filelist.table,
.fileuploadlicense {
    .form-group {
        padding: 10px 0 !important;
        border-bottom-width: 0 !important;
    }
}

.uploadform + .fileuploadlicense {
    margin-top: 15px;
}

.fileuploadlicense {
    input, .picker {
        max-width: 200px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
        label {
            min-width: 100%;
        }
    }
}

// reset padding and margin inside collapsible
.filelist.table,
.filelist-wrapper.panel,
.filebrowser.form-group {
    margin-bottom: 0;
    padding: 0 !important // override form-group padding;
}

.uploadform.userfile {
    margin-bottom: 20px;
    .fileupload-container.col-md-12 & {
        width: 50%;
        float: left;
        margin-bottom: 20px;
    }
}

.filelist {
    .file-move-list {
        list-style-type: none;
        margin-top: 10px;
        padding-left: 15px;

        li .icon {
            color: $theme-primary-color-dark;
        }
    }
}

.fileedittablewrap {
    background-color: $panel-default-heading-bg;
}

// file browser inside modal screen
.modal-filebrowser {
    margin-top: 50px;
    padding: 10px 20px 20px;

    .close {
        width: 100%;
        text-align: right;
        float: none;
        margin-bottom: 10px;
    }
}

.folderhover td{
    background-color: $state-warning-bg;
}

.filedownload-item {
    .list-group-item-heading {
        display: inline-block;
        max-width: 80%;
    }
    .file-icon {
        width: 20px;
    }
    a {
        word-break: break-all;
    }
    .file-description {
        padding-left: 30px;
    }
}

.filelist-wrapper {
    .panel-heading {
        padding: 10px 0 10px 20px;
        margin-bottom: 10px;
    }
}

.file-wrapper {
    margin-bottom: 8px;
}

.filedata-icon {
    float: left;
    margin-right: 60px;
    padding-bottom: 30px;
}

.icon-drag:hover {
    cursor: move;
}

table.filelist .filename {
    word-break: break-all;
}
