.forum-post-container {
    padding: $spacing-base 0;
}

.forum-post {
    border-left: 5px solid $secondary;
    padding-left: $spacing-lg;
    .forumpostleft {
        max-width: 7.5rem; // 120px;
        padding-right: $spacing-xl;

        .poster {
            word-wrap: break-word;
        }
    }
    .forumsubject {
        a {
            text-decoration: $link-decoration;
            &:hover,
            &:focus {
                text-decoration: $link-hover-decoration;
            }
        }
    }
    .media-body {
        padding-bottom: $spacing-base;
    }
    .title {
        margin: 0;
    }
    .editstopost {
        padding-top: $spacing-base;
    }
    &.alert-warning .list-group-item {
        background-color: transparent;
    }
}

.forum-post-btns {
    a {
        color: $theme-text-color;
    }
}

// Report as objectionable forum post
.reportedaction {
    margin-top: $spacing-base;

    &.text-danger {
      font-weight: $font-weight-light;
    }

    .form-group.submit {
        padding: 0 0 $spacing-base 0;
    }
    .form-group {
        padding: 0 0 $spacing-base 0;
        color: $theme-text-color;
    }
    // Overriding normal hover and focus
    // background colour as the collapsible
    // is inside alert box
    .collapsible legend a:not(.secondary-link) {
        font-size: 1rem;
        color: $theme-text-color;
        &:focus,
        &:hover {
            background: scale-color($card-bg, $lightness: -1.40%) !important;
        }
    }
    .pieform-fieldset.collapsible legend {
      border-radius: $card-border-radius;
      button {
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }
}

.deletedpost {
    margin-top: 0;
    font-style: italic;
    padding: $spacing-sm $spacing-base;
    color: $theme-text-midtone-color;
    background: $accent-bg;
    border-radius: $border-radius-lg;
}
