.forum-post-container {
    padding: $spacing-base 0;
}

.forum-post {
    border-left: 5px solid theme-color("secondary");
    padding-left: $spacing-lg;
    .forumpostleft {
        min-width: 7.5rem; // 120px;
        padding-right: $spacing-xl;
    }
    .title {
        margin: 0;
    }
    .editstopost {
        padding-top: $spacing-base;
    }
    &.alert-warning .list-group-item {
        background-color: transparent;
    }
}

.forum-post-btns {
    a {
        color: $theme-text-color;
    }
}

// Report as objectionable forum post
.reportedaction {
    margin-top: $spacing-base;
    .form-group.submit {
        padding: 0 0 $spacing-base 0;
    }
    // Overriding normal hover and focus
    // background colour as the collapsible
    // is inside alert box
    .collapsible a {
        &:focus,
        &:hover {
            background: scale-color($card-bg, $lightness: -1.40%) !important;
        }
    }
}

.deletedpost {
    margin-top: 0;
    font-style: italic;
    padding: $spacing-sm $spacing-base;
    color: $theme-text-midtone-color;
    background: $accent-bg;
    border-radius: $border-radius-lg;
}
