.message-preview {
    .metadata {
        display: none;
        @include media-breakpoint-up(sm) {
            display: inline-block;
        }
    }
    .content-preview {
        overflow:hidden;
        visibility: hidden;
        opacity:0;
        height:0;
        line-height:0;
        color: $theme-text-midtone-color;
        font-size: $font-size-sm;
        .content {
            margin-bottom: 0;
            line-height: 0;
            text-overflow: ellipsis;
            width: auto;
            white-space: nowrap;
            overflow: hidden;
            @include media-breakpoint-up(sm) {
                width: 70%;
            }
        }
    }
    .collapsed {
        .content-preview {
            line-height:1.3em;
            height:auto;
            visibility: visible;
        }   opacity:1;
        .content {
            line-height: 1.3;
        }
    }
}

.message-content {
    width: 100%;
    padding-left: 4.0625rem; // 65px;
    .date,
    .recipients {
        margin-bottom: 0;
    }
    .subject {
        padding-bottom: $card-spacer-y;
        margin-bottom: 1.3125rem; // 21px;
        border-bottom: $card-border-width solid $card-border-color;
    }
    .date,
    .recipients,
    .subject {
        color: $theme-text-midtone-color;
        font-size: $font-size-sm;
    }
}
