.option-alt {
    border-top: $card-border-width solid $card-border-color;
    position: relative;
    &.card-body {
        padding: $spacing-xxl $card-spacer-x;
    }
}

.option-alt-divider {
    color: $theme-text-lighttone-color;
    background: $card-bg;
    text-transform: uppercase;
    font-size: $font-size-base * 1.25;
    position: absolute;
    top: -0.9375rem; // -15px;
    left: 43%;
    text-align: center;
    padding: 0 $spacing-base;
}
