.option-alt {
    border-top: 1px solid $panel-default-border;
    position: relative;
    &.panel-body {
        padding: 30px 15px;
    }
}

.option-alt-divider {
    color: $theme-text-lighttone-color;
    background: $panel-bg;
    text-transform: uppercase;
    font-size: 1.2em;
    position: absolute;
    top: -15px;
    left: 43%;
    text-align: center;
    padding: 0 10px;
}
