.btn-secondary {
    border-color: $gray-400;
    &:hover,
    &focus {
        border-color: $gray-500;
    }
}

.form-group {
    &.submitcancel {
        border-bottom: none;
        .cancel {
            background-color: transparent;
            border: none;
            text-decoration: underline;
            color: $link-color;
            &:hover {
                color: $link-hover-color;
                cursor: pointer;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .btn-group-top {
        .btn {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0;
        }
        &.btn-top-right {
            float: right;
        }
    }
}
