// Generic custom css (anything longer than a screen view should have its own component file)

#exportgeneration {
    text-align: center;
}
#export .radio {
    padding-bottom: 5px;
    label {
        padding-top: 3px;
    }
    .description {
        padding-top: 0;
    }
}

#preview_submit {
    width: auto;
}

.no-results {
    @extend .lead;
    clear: both;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.no-results-small {
    @extend .no-results;
    padding: 15px 0;
}

.toolbar-affix.affix {
    position: fixed;
    top: 30px;
    z-index: 1;
}

.blocktype-radio {
    display: none;
}

// see emaillist.tpl
.email-list {
    margin-top: 20px;
    display: block;
    .description:not(.html) {
        padding: 4px 0 0 18px
    }
    .stacked-label {
        width: auto;
        margin-right: 10px;
        vertical-align: super;
    }
    .unvalidated, .unsent, .validated {
        margin-top: 20px;
        &:last-of-type {
            margin-bottom: 20px;
        }
        + .input-group {
            margin: 20px 0;
        }
    }
    @include media-breakpoint-up(md) {
        display: inline-block;
        min-width: 400px;
    }
    @include media-breakpoint-up(xl) {
        min-width: 500px;
    }
}

// Style label institution selection
.institutionselector {
    .select {
        margin-bottom: 15px;
    }
    span.pseudolabel,
    label {
        display: table-cell;
        font-weight: $font-weight-bold;
    }
    @include media-breakpoint-up(md) {
        float: right;
        width: 50%;
        .form-group {
            float: right;
        }
        label {
            display: table-cell;
            width: auto;
        }
        .picker {
            width: auto;
            display: table-cell;
        }
    }
    > form {
        justify-content: flex-end;
    }
}

// Reset checkout boxes inside col in portfolio export page
.portfolio-export {
    .heading {
        margin-top: 15px;
    }
    .heading-exportable-pages {
        margin-top: 0;
        float: left;
    }
    .btn-group {
        float: right;
    }
}
.exportable-artefacts {
    .row {
        :first-child {
            clear: both;
        }
        border-bottom: $list-group-border-width solid $list-group-border-color;
    }
    .checkbox input[type=checkbox] {
        margin-left: 0;
    }
    label {
        margin-bottom: 10px;
    }
}
.exportable-artefact-container {
    padding: 15px 15px 0;
    background-color: $accent-bg;
}

// Admin user search page (advanced options)
// limit the size of dynamic to match select box above
.userserach-filter {
    margin-bottom: 15px;
    .loggedindate-container {
        margin-top: 10px;
        max-width: 250px;
    }
    .duplicateemail-filter {
        margin-top: 10px;
        justify-content: flex-start;
    }
}

// Puts the date picker in form-condensed fields on the next line
.form-condensed {
    .picker {
        &.first {
            margin-left: 270px;
        }
    }
}

//Google apps
.google-app {
    font-style: normal;
    img {
        height: 20px;
    }
    a {
        color: #245dc1;
    }
}

// Choose skin
.skin {
    float: left;
    margin: 0 10px 10px 0;
    img.card {
        margin-bottom: 0;
    }
    .skin-footer {
        text-align:center;
        color: $link-color;
        display: block;
        background-color: $card-footer-bg;
        padding: 6px;
        border: $card-border-width solid $card-border-color;
        width: 180px; /* to match the img width */
    }
}

.objectionable-message {
    padding: 0 0 10px 0;
}

// Other social media input
#editprofileform_profiletype_other {
    @extend .form-control;
    width: 250px !important;
    margin-top: 10px;
    @include media-breakpoint-up(sm) {
        margin-left: 10px;
    }
    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}

// Editgroup membership modal
// see editgroupmemship.tpl
.editgroup-container {
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:last-child {
        border-bottom-width: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .heading {
        margin: 0;
    }
    .checkbox {
        display: inline-block;
    }
}

// Used to make the forum settings look like it should
@include media-breakpoint-up(md) {
    #edit_interaction_weight_container {
        padding-left: 265px;
        label, span.description {
            margin-left: -265px;
        }
    }
}

.containobjectionable {
    background-color: $state-danger-bg;
}

.permissions-table {
    display: inline-block;
    .editpermissions.table {
        width: auto;
        background-color: rgba(255,255,255,0);
        thead tr th {
            font-weight: $font-weight-normal;
            font-size: $font-size-base * 0.85715;
            padding: 2px 8px 8px;
        }
        thead tr,
        tbody td {
            min-width: 50px;
        }
    }
}

#needprotocolspro {
    padding-left: 10px;
}

#needprotocolsreq {
    padding-left: 10px;
}

.secreturls .list-group-item {
    .secret-url {
        word-wrap: break-word;
    }
}
.iframesources .buttonscell a {
    font-size: $font-size-base * 0.85715;
}

// Remove the link colour from a comment that has an attachement
@include media-breakpoint-up(lg) {
    .viewfooter .comment-item .comment-attachment .card.collapsible h4 a.collapsed {
        color: $theme-text-color;
    }
}

// Preview image in popup modal
.modal-body .previewimg {
    display: block;
    margin: 0 auto;
}

// Edit/add skin page
// See templates/skin/index.tpl
.row.skins {
    .skin {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        float: none;
        @include media-breakpoint-up(sm) {
            float: left;
            width: 50%;
        }
        @include media-breakpoint-up(md) {
            width: 33.333333%;
        }
    }
}
.manage-skins-btn {
  margin-top: 10px;
  margin-bottom: 20px;
}

.defaultskin {
    margin-top: 10px;
    margin-bottom: 20px;
}

.authInstance .authitem {
    padding:5px;
    &.inactive {
        background: $state-warning-bg;
        color: $state-warning-text;
    }
}

.emptybtnspace {
    display: inline-block;
    width: 30px;
}

// Make the other license text box align correctly on files page
.fileuploadlicense input[type=text].secondary-textbox,
.fileedittable input[type=text].secondary-textbox {
    @include media-breakpoint-up(xl) {
        margin-left: 100px;
    }
}

// fix responsive layout for pages and collections grid where sidebar overlaps
.grouppageswrap.view-container:after {
  clear: both;
  content: "";
  display: table;
}

.accessurl-button {
    margin-bottom: 15px;
}

#reportconfigform {
    fieldset {
        margin-top: 10px;
    }
    .checkbox.form-group {
        padding: 10px 0;
        label {
            padding-left: 28px;
            display: block;
        }
        input[type=checkbox] {
            position: absolute;
            top: 9px;
        }
    }
}

.reportsettings {
    margin-top: -5px;
}

.statinfoblock {
    width: 360px;
    float: left;
    margin-right: 15px;

    h3 {
        margin-top: 0;
    }
    h4 {
        padding: 0 1rem;
        margin: 0;
        font-size: $font-size-base;
    }

    table {
        padding: 10px;
    }
    .card-header {
      background-color: white;
    }
}

.ownersubtab {
    padding: 4px 0;
}

.deletion-message {
    float: right;
    position: relative;
    padding: 5px;
    clear: right;
}

// Used to remove the second border around the legal information
#agreetoprivacy .card {
    border: 0;
}

.image-rotator {
    height: 110px;
    line-height: 75px;

    .image-rotator-inner {
        display: inline-block;
        text-align: center;
        width: 110px;
    }
}

#searchviews_matchalltags_container {
    width: 100%;
    margin-top: 5px;
    label {
        margin-left: 28px;
    }
    input {
        margin-left: 3px;
        margin-top: -18px;
        float: left;
        width: auto;
        height: auto;
    }
    div {
        margin-left: 3px;
        padding-top: 0;
        span {
            padding-top: 0;
        }
    }
}

div.toolbarhtml {
    margin-top: 5px;
    clear: both;
    float: right;
    div {
        text-align: right;
    }
}

#viewinstructions,
.peerinstructions,
.blockinstructions {
    &.with-toolbar {
        margin-right: 20px;
    }
    div.fieldset-body {
        background-color: $accent-bg !important;
    }
}
.viewinstruction-export {
    border: $card-border-width solid $card-border-color;
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: -$card-border-width; //remove double border
    background-color: $accent-bg !important;
}
.releaseviewform {
    position: relative;
    top: 15px;
}

#pendinglist {
    margin-bottom: 0;
}

// Used when you really only need flex on an item
.flexbox {
    display: flex;
}

// Add space when there are 2 selects next to each other
.select {
    + .select {
        margin-left: 5px;
    }
    + .submit:not(.input-group-append) {
        margin-left: 5px;
    }
    #bulkexport & {
        + .select {
            margin-left: 0;
        }
    }
}

// Removes weird text node between buttons on admin/users/suspended.php
.pieform-fieldset.btn-group {
    font-size: 0;
}

.elasticsearch-filters {
    border-bottom: $card-border-width solid $card-border-color;
    background-color: $card-header-bg;
}

// Mostly used to make the table matrix popups work
.d-none.popover {
    display: none !important;
}

// Backup for libraries that still need hidden class instead of bootstrap 4s new .d-none
.hidden {
    display: none;
}
//used for Smart Evidence json-editor
#editor_holder .bg-light {
    background-color: $white !important;
}

// Forum select wrap too close to text
.forumselectwrap {
    margin: 0 0 10px 10px;
}

.consentbutton div,
.consentbutton span.description {
    padding: 0px !important;
}

// reduce size of uploaded logos appearing instituion settings page
#institution_logohtml_container img {
    max-height: $navbar-height;
}
#institution_logoxshtml_container img {
    height: 48px;
}
#institution_logohtml_container,
#institution_deletelogo_container,
#institution_logoxshtml_container,
#institution_deletelogoxs_container {
    padding-left: 275px;
    @include media-breakpoint-down(sm) {
        padding-left: 0;
    }
}

// shared view filter in smaller screens too close to top element
@include media-breakpoint-down(lg) {
  #search_inputgroupsort_container {
    margin-top: 10px;
  }
}

#login_login_container fieldset {
    border-bottom: $card-border-width solid $card-border-color;
    h4 a {
        font-size: 80%;
        font-weight: $font-weight-normal;
    }
}

.validfiletypes {
    margin: 15px 15px 0 15px;
    padding: $card-spacer-y $card-spacer-x;
    background-color: $accent-bg;
    border-radius: $border-radius;
    font-size: $font-size-sm;

    span {
        padding-right: 3px;
        display: inline-block;
        &.label {
            font-weight: $font-weight-bold;
        }
    }
}

#migrateinstitution_authinstance {
    max-width: 420px;
}

.activegrouplabels {
    background-color: $form-bg;

    form .form-group {
        border-bottom: 0;
        padding: 0;
    }

    &.noresults form .form-group {
        padding: $card-spacer-y $card-spacer-x;
        border-bottom: $input-border-width solid $input-border-color;
    }
}

#webservices_function_groups_add {
    input.text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    input.submit {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
