.panel-form {
    background-color: scale-color($panel-default-heading-bg, $lightness: 50%);
    border-bottom: 1px solid $panel-default-border;
    padding: 15px 15px 0 15px;
    margin-bottom:20px;
}
