a.panel-footer {
    text-align:center;
    color: $gray;
    display: block;
    &:hover {
        color: $gray-darker;
        background: $gray-lighter;
        text-decoration: none;
        .icon {
            color: $gray-light;
        }
        .icon.pull-right { //only apply link colorto right aligned icons
            color: $link-color;
        }
    }
    .icon.pull-right {
        margin-top: 3px;
    }
}

.has-attachment {
    position: relative;
    z-index: 1;
    background-color: $panel-bg;
}

.panel-footer {
    p {
        margin:0;
    }
    &.has-form {
        @include clearfix;
        .control {
            display: inline-block;
        }
    }
    &.has-link {
        a {
            display: block;
        }
    }

    .expand-add-button {
        .show-form {
            display: none;
        }
        .hide-form {
            display: inline-block;
        }
        &.collapsed {
            .show-form {
                display: inline-block;
            }
            .hide-form {
                display: none;
            }
        }
    }
    a:not(.btn) {
        color: $gray-dark;
    }
}

.fieldset-body .panel-footer {
    margin: 20px -15px -10px;
}
