
.collapsible legend h4,
.collapsible legend h3,
.panel-heading {
    position: relative;
    display: block;
    font-family: $font-family-sans-serif;
    p {
        margin: 0;
    }

    &.has-link {
        padding: 0;
        h4 {
            padding: 0;
            margin: 0;
        }
    }

    .secondary-link {
        color: $link-color;
    }
    // by default links in headings get display: block and padding.
    // Use .secondary-link if you don't want this behaviour
    a:not(.secondary-link) {
        display: block;
        color: inherit;
        padding: 10px 15px;

        .panel-secondary > & {
            padding: 10px 8px;
        }

        &.collapsed {
            background-color: $panel-default-heading-bg;
            color: $theme-text-color;
            padding: 10px 15px;
            &.outer-link {
                background: none;
            }
            .panel-secondary > & {
                padding: 10px 8px;
            }
        }
        &:hover, &:focus {
            background: rgba($theme-text-color, 0.03);
            text-decoration: none;
        }
        .pieform > .collapsible-group:first-child &,
        .panel.first & {
            @include border-top-radius(3px);
        }
    }
    .help a { //fix css on contextual help icons
        padding: 0;
        &:hover {
            background:none;
        }
    }
}


.panel-small .panel-heading {
    font-size: 12px;
    padding-right:40px;
    h4 {
        font-size: 12px;
    }
}

.panel-heading .btn-link {
    &:hover{
        .icon {
            color: $link-color;
        }
    }
}
