#forumtopicstable th {
	border-bottom: 1px solid #8E1901;
}
.forumpost {
	background-color: #f4f7f9;
	border-top: 1px dotted #8E1901;
	border-bottom: 1px dotted #8E1901;
}
.stickytopic {
  background-color: #f7be23;
}
.forumpostleft h5 {
	color: #8e1901;
}
.posttime {
    color: #8e1901;
}
