/*
 * Brand colours should be defined here, and (ideally) used only in the global variables file (bootstrap-variables)
 */

$theme-primary-color: #321020; // maroon
$theme-secondary-color: #9db576; // light green
$theme-text-color: #333333; // black
$theme-text-midtone-color: #444444; // mid gray
$theme-text-lighttone-color: #555555; // light gray (still passes contrast standards on white)

$theme-accent-color: #622c46; // lighter maroon
$theme-accent-color-two: #BA9C53; // light brown
$theme-accent-color-three: #423017; // dark brown
