.form-group {    
    //advanced collapsible toggle in form groups
    &.collapsible-group {
        legend {
            top: 0;
            right: 10px;
            h4 a {
                padding: 10px 15px !important;
                .icon {
                    margin-top: 0 !important;
                    margin-left: 3px;
                }
            }
        }
        .advanced {
            .fieldset-body {
                margin-left: 5px;
            }
        }
    }
}
