.site-messages {
    ~ .header {
        top: 33px;    //for one message

        + .main-nav {
            margin-top: 32px;    //for one message
        }
    }
}


//adjust header and fixed elements for sitemessages
@for $i from 1 through 5 {
    .header.message-count-#{$i} {
        top: 33px * $i;

        @media (max-width: $screen-sm-min) {
            top: 0;
        }

        + .main-nav {
            margin-top: $i * 32px;

            @media (max-width: $screen-sm-min) {
                margin-top: 0;
            }
        }

        ~ .container {
            .toolbar-affix.affix {
                margin-top: $i * 33px;
            }
        }

        + .container {
            // if container is directly after header, then it will need a margin
            margin-top: $i * 33px;
        }
    }
}