/*
 * Primary navigation menu
 */
.main-nav {
    padding-top: 30px;
    @media (max-width: $screen-sm-min) {
        padding-top: 0;
    }
    .container {
        @media (max-width: $screen-sm-min) {
            padding:0;
        }
    }
    ul {
        min-width: 0;
        margin:0;
    }
    .navbar-header{
        margin:0;
    }
    li {
        margin: 0;
        a {
            color: $text-color;
        }
    }

    .navbar-brand {
        padding: 8px 25px;
        width: 100%;
        height: auto;
        font-size: $font-size-base;
        background-color: darken(#0162a7, 2%);
        
        @media (min-width: $screen-sm-min) {
            width: auto;
            padding: 8px;
            margin-right: 5px;
            background-color: transparent;
        }
        
       &:focus,
       &:hover {
           background-color: rgba(#FFFFFF, 0.2);
           border-radius: 3px;
           color: #FFFFFF;
       }
       .icon {
            top:3px;
       }
    }

    .nav > li > a {
        padding: 10px 29px;
        line-height: 20px;
        font-weight:normal;
        @media (min-width: $screen-sm-min) {
            border:none;
            padding: 10px 20px;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
            padding: 10px 10px;
        }
        &:hover, &:focus {
            text-decoration:none;
        }
    }
    // Only shown on mobile, or when dropdowns are turned on
    .child-nav {
        min-width: 200px;
        max-width: 100%;
        overflow: hidden;
        padding: 0px;
        font-size: $font-size-base;

        li {
            display: block;
            a { //styles that need to override bootstrap specificity
                padding: 10px 29px 10px 50px;
                font-weight: normal;
                color: #FFFFFF;
                
                &:hover, &:focus {
                    text-decoration:none;
                    background-color: rgba(#FFFFFF, 0.2);
                }
            }
        }

       // If this link is the current page or section
        .active > a {
            font-weight: bold;
            background-color: rgba(#FFFFFF, 0.8) !important;
            color: #000;
            
            @media (min-width: $screen-sm-min) {
                background-color: $brand-default;
                
                &:focus,
                &:hover {
                    color: $text-color;
                }
            }
        }

        a  { // styles that don't need to override bootstrap specificity
            display:block;
            width:100%;
            @include text-overflow;
            @media (min-width: $screen-sm-min) {
                border:0;
                max-width: 300px;
                color:$link-color;
            }
        }
    }


    // on hover, if dropdown. show
    @media (min-width: $screen-sm-min) {
        ul.nav > li:hover > ul.has-dropdown.child-nav {
            display: block;
            visibility: visible;
        }
    }

    .has-dropdown {
        @media (min-width: $screen-sm-min) {
            max-width: 350px;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: $zindex-dropdown;
            display: none; // none by default, but block on "open" of the menu
            float: left;
            padding: 0;
            margin: 0; // override default ul
            list-style: none;
            font-size: $font-size-base;
            text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
            background-color: $dropdown-bg;
            border:0;
            @include box-shadow(0 6px 12px rgba(0,0,0,.175));
            background-clip: padding-box;

            // Links within the dropdown menu
            > li a {
                padding: 4px 20px;
                clear: both;
                font-weight: normal;
                line-height: $line-height-base;
                white-space: nowrap; // prevent links from randomly breaking onto new lines
                color: $dropdown-link-color;
            }
            .dropdown-tertiary {
                padding:0;
                margin: 0;
                font-size: $font-size-base - 2;
            }
        }
    }
}

.dropdown-menu .btn-link:not(.btn-link-danger) {
    color: $text-color;
}

.adminnav {
    .nav {
        > li {
            > a {
                font-size: $font-size-base;
                
                &:focus,
                &:hover {
                    background-color: rgba(#FFFFFF, 0.2);
                }
            }
            &.active {
                > a {
                    &:focus,
                    &:hover {
                        color: #000000;
                    }
                }
            }
            .child-nav {
                font-size: $font-size-base;
            }
            
            .navbar-toggle {
                background-color: darken(#0162a7, 2%);
            }
        }
    }
}

