/*
 * Primary navigation menu
 */
.main-nav {
    margin-bottom: 0;

    ul {
        @media (min-width: $screen-md-min) {
            margin:0;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
            margin:0;
        }
    }
    .navbar-header{
        @media (min-width: $screen-sm-min) {
            margin:0;
        }
    }

    .navbar-link {
        padding: 8px 25px;
        margin: 0;
        border-bottom: 0;
        color: #FFFFFF;
        height: auto;
        font-size: $font-size-base;
        background-color: darken($brand-primary, 2%);

        @media (min-width: $screen-sm-min) {
            padding: 8px;
            margin-right: 5px;
            background-color: transparent;
        }

        @media (max-width: $screen-sm-min) {
            display: block;
            background-color: transparent;
        }

       &:focus,
       &:hover {
           background-color: rgba(#FFFFFF, 0.2);
           border-radius: 3px;
           color: #FFFFFF;
           text-decoration: none;
       }

       .icon {
            top:3px;
       }
    }

    .nav > li > a {
        border-top: 0;
        border-bottom: 0;

        @media (min-width: $screen-sm-min) {
            padding: 10px 20px;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
            padding: 10px 10px;
        }
    }
    // Only shown on mobile, or when dropdowns are turned on
    .child-nav {
        background-color: transparent;
        padding: 0px;

        font-size: $font-size-base;

        li {
            background-color: transparent;
            a { //styles that need to override bootstrap specificity
                padding: 10px 29px 10px 50px;
                color: #FFFFFF;
                background-color: darken($brand-primary, 2%);

                &:hover, &:focus {
                    color: #FFFFFF;
                    background-color: rgba(#FFFFFF, 0.2);
                }
            }
            &.active {
                background-color: transparent;
            }
        }

       // If this link is the current page or section
        .active > a {
            font-weight: bold;
            background-color: rgba(#FFFFFF, 0.8);
            color: #000;

            &:hover, &:focus {
                color: #FFFFFF;
            }
            @media (min-width: $screen-sm-min) {
                &:focus,
                &:hover {
                    color: $text-color;
                }
            }
        }
    }

    .has-dropdown {
        @media (min-width: $screen-sm-min) {
            padding: 0;
            margin: 0; // override default ul
            background-color: $dropdown-bg;
            border:0;

            // Links within the dropdown menu
            > li a {
                padding: 4px 20px;
            }
        }
    }

    // when a container is at the same level as main-nav (but isn't for admin), add padding
    &:not(.adminnav)~ .container {
        padding-top: 25px;
    }
}


// admin menu with static second nav
.adminnav {
    .nav {
        > li {
            > a {
                font-size: $font-size-base;

                &:focus,
                &:hover {
                    background-color: rgba(#FFFFFF, 0.2);
                }
            }
            &.active {
                > a {
                    &:focus,
                    &:hover {
                        color: $brand-primary;
                        background-color: #FFFFFF;
                    }
                }
            }
            .child-nav {
                font-size: $font-size-base;
            }

            .navbar-toggle {
                background-color: darken($brand-primary, 2%);
                margin-top: 0;
            }
        }
    }
}


// admin menu with dropdown
.dropdown-adminnav {
    .navbar-nav {
        > li {
            > a {
                font-size: $font-size-base;

                &:focus,
                &:hover {
                    background-color: rgba(#FFFFFF, 0.2);
                }
            }
            &.active {
                > a {
                    &:focus,
                    &:hover {
                        color: #000000;
                    }
                }
            }
            .child-nav {
                font-size: $font-size-base;
                > li {
                    a:focus,
                    a:hover {
                        color: #FFFFFF;
                        background-color: $brand-primary;
                    }
                    &.active {
                        a:focus,
                        a:hover {
                            color: #FFFFFF;
                        }
                    }
                }
            }

            .navbar-toggle {
                background-color: darken($brand-primary, 2%);
            }
        }
    }
}


//custom main nav
.main-nav .navbar-nav {
     > li > a {
        font-weight: bold;
        color: #FFFFFF;

        &:before {
            font-family: 'FontAwesome';
            font-weight: normal;
            padding-right: 5px;
            font-size: 19px;
        }
        &:focus,
        &:hover {
            color: #FFFFFF;
        }
    }
    > .home {
        > a {
            background-color: #0591ce;
            &:before {
                content: $fa-var-tachometer;
                color: #FFFFFF;
            }
            &:focus,
            &:hover {
                background-color: lighten(#0591ce, 5%);
            }
        }
        &.active {
            background-color: #FFFFFF;
            > a {
                color: #333333;
                &:before {
                    color: #0591ce;
                }
                &:focus,
                &:hover {
                    background-color: lighten(#0591ce, 5%);
                    color: #FFFFFF;
                    &:before {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    > .content {
        > a {
            background-color: #ca0238;
            &:before {
                content: $fa-var-pencil-square;
            }
            &:focus,
            &:hover {
                background-color: lighten(#ca0238, 2%);
            }
        }
        &.active {
            background-color: #FFFFFF;

            > a {
                @media (max-width: $screen-sm-min - 1) {
                    color: #333333;
                    &:focus,
                    &:hover {
                        color: #333333;
                    }
                }
                &:before {
                    color: #ca0238;
                    &:focus,
                    &:hover {
                        color: #FFFFFF;
                    }
                }
                &:focus,
                &:hover {
                    background-color: #FFFFFF;
                }
            }
        }
        .navbar-toggle {
            background-color: #ca0238;
            &:focus,
            &:hover {
                background-color: darken(#ca0238, 2%);
            }
        }
        .child-nav {
            li {
                a {
                    color: #FFFFFF;
                    background-color: darken(#ca0238, 2%);
                    &:focus,
                    &:hover {
                        background-color:#ca0238; 
                    }
                }
                &.active a {
                    color: #FFFFFF;
                    background-color: lighten(#ca0238, 4%);
                }
            }
        }
    }
    > .myportfolio {
        > a {
            background-color: #f29907;
            &:before {
                content: $fa-var-file;
            }
            &:focus,
            &:hover {
                background-color: lighten(#f29907, 2%);
            }
        }
        &.active {
            > a {
                @media (max-width: $screen-sm-min - 1) {
                    color: #333333;  
                    &:focus,
                    &:hover {
                        color: #333333;
                    }  
                }
                &:before {
                    color: #f29907;
                    &:focus,
                    &:hover {
                        color: #FFFFFF;
                    }
                }
                &:focus,
                &:hover {
                    background-color: #FFFFFF;
                }
            }
        }
        .navbar-toggle {
            background-color: #f29907;
            &:focus,
            &:hover {
                background-color: darken(#f29907, 2%);
            }
        }
        .child-nav {
            li {
                a {
                    color: #FFFFFF;
                    background-color: darken(#f29907, 2%);
                    &:focus,
                    &:hover {
                        background-color:#f29907; 
                    }
                }
                &.active a {
                    color: #FFFFFF;
                    background-color: lighten(#f29907, 4%);
                }
            }
        }
    }
    > .groups {
        > a {
            background-color: #799323;
            &:before {
                content: $fa-var-users;
            }
            &:focus,
            &:hover {
                background-color: lighten(#799323, 2%);
            }
        }
        &.active {
            > a {
                @media (max-width: $screen-sm-min - 1) {
                    color: #333333;  
                    &:focus,
                    &:hover {
                        color: #333333;
                    }  
                }
                &:before {
                    color: #799323;
                    &:focus,
                    &:hover {
                        color: #FFFFFF;
                    }
                }
                &:focus,
                &:hover {
                    background-color: #FFFFFF;
                }
            }
        }
        .navbar-toggle {
            background-color: #799323;
            &:focus,
            &:hover {
                background-color: darken(#799323, 2%);
            }
        }
        .child-nav {
            li {
                a {
                    color: #FFFFFF;
                    background-color: darken(#799323, 2%);
                    &:focus,
                    &:hover {
                        background-color:#799323; 
                    }
                }
                &.active a {
                    color: #FFFFFF;
                    background-color: lighten(#799323, 4%);
                }
            }
        }
    }
    > .instituteadmin,
    > .siteadmin {
        > a {
            background-color: #773f97;
            &:before {
                content: $fa-var-cog;
            }
            &:focus,
            &:hover {
                background-color: lighten(#773f97, 2%);
            }
        }
        &.active > a:before {
            color: #773f97;
        }
    }
    > .active > a {
        background-color: #FFFFFF;
    }
}
