/*
 * Primary navigation menu
 */
.navbar-default {
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.navbar-main .navbar-nav > li > a {
    border-color: transparent;
}

// User menu styles.
// Note: Admin menu and user setting menu use styles inherited from Raw with
// color values specified in Primary theme bootstrap-variable.scss

// To change section color, simply change color value.
$home-color: #0591ce;
$content-color: #ca0238;
$myportfolio-color: #f29907;
$groups-color: #799323;

// Menue section variable array
// 1) Section name
// 2) Section icon
// 3) Main color (see colour value above)
// 4) Lighter shade (can be specified in hex,rgba value)
// 5) Darker shade (can be specified in hex,rgba value)
$menu-styles: (
  ("home", $fa-var-tachometer, $home-color, lighten($home-color, 5%), darken($home-color, 5%)),
  ("content", $fa-var-pencil-square, $content-color, lighten($content-color, 5%), darken($content-color, 5%)),
  ("myportfolio", $fa-var-file, $myportfolio-color, lighten($myportfolio-color, 5%), darken($myportfolio-color, 5%)),
  ("groups", $fa-var-users, $groups-color, lighten($groups-color, 5%), darken($groups-color, 5%))
);

.nav-main .navbar-nav {
    // Override basic style color specified in Bootstrap variables
    > li {
        > a {
            font-weight: bold;
            color: #FFFFFF;
            border-color: transparent;
            &:before {
                font-family: 'FontAwesome';
                font-weight: normal;
                padding-right: 5px;
                font-size: 19px;
                color: #FFFFFF;
            }
            &:focus,
            &:hover {
                color: #FFFFFF;
            }
        }
        &.active > a {
            background-color: #FFFFFF;
        }
        .navbar-showchildren{
            top: 7px;
        }
        .child-nav > li {
            a {
                color: #FFFFFF;
            }
            &.active a {
                color: #FFFFFF;
            }
        }
    }
    @each $section in $menu-styles {
        > .#{nth($section, 1)} {
            > a {
                background-color: #{nth($section, 3)};
                &:before {
                    content: "#{nth($section, 2)}";
                }
                &:focus,
                &:hover {
                    background-color: #{nth($section, 4)};
                }
            }
            &.active > a {
                &:before {
                    color: #{nth($section, 3)};
                    &:focus,
                    &:hover {
                        background-color: #{nth($section, 4)};
                        color: #FFFFFF;
                    }
                }
                &:focus,
                &:hover {
                    background-color: #FFFFFF;
                }
            }
            .navbar-showchildren,
            &.active .navbar-showchildren {
                background-color: #{nth($section, 3)};
                &:focus,
                &:hover {
                    background-color: #{nth($section, 5)};
                }
            }
            .child-nav li {
                a {
                    background-color: #{nth($section, 5)};
                    &:focus,
                    &:hover {
                        background-color: #{nth($section, 3)};
                    }
                }
                &.active a {
                    background-color: #{nth($section, 4)};
                }
            }
        }
    }
}
