.nav-tabs {
    border-bottom: 2px solid $brand-primary;
    &.nav {
        li > a {
            font-weight: 300;
            border-bottom: 3px solid transparent;
            padding: 8px 10px;
            font-size: $font-size-base + 1;
            &:hover,
            &:focus {
                color: $nav-tabs-active-link-hover-color;
                border: 1px solid transparent;
                border-bottom: 3px solid $nav-tabs-link-hover-border-color;
                background: #f7f7f7;
            }
        }
    }
}

// hide unwanted elements
.nav-tabs + .submit,
.tab-content legend {
    display: none;
}

.nav-tabs>li.active>a {
    border: 0;
    &:hover,
    &:focus {
        border: 1px solid transparent;
        border-bottom: 3px solid $nav-tabs-link-hover-border-color;
    }
}
