/*
 * Modification to bootstraps default navbar components
 */
// Login link and language form
.topright-menu {

    .login-link a {
        color: $navbar-default-link-color;

        &:focus,
        &:hover {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
    }
}

.navbar-default {
    background-color: $navbar-default-bg;
    border-color: $navbar-default-border;
}

// Header messagebox form
.navbar-messages {
    &:hover,
    &:focus {
        color: $navbar-default-link-hover-color;
        text-decoration: none;
    }

    .navbar-messages-count {
      background-color: $navbar-messages-count-bg;
      color: $navbar-messages-count-color;
    }
}
