/*
 * Modificatiosn to bootstraps default navbar components
 */

.navbar.header {
    border-bottom: 0;
    padding: 7px 0 8px 0;
}

.navbar-form {
    box-shadow: none;
}

.navbar-inverse {
    background-color: $brand-primary;
    border: 0;

    .navbar-nav {
        >.active {
            > a {
                @media (max-width: $screen-sm-min - 1) {
                    border: 0;
                    color: $brand-primary;
                    background-color: #FFFFFF;
                }
            }
            > a:hover,
            > a:focus {
                @media (max-width: $screen-sm-min - 1) {
                    border: 0;
                    color: $brand-primary;
                    background-color: transparent;
                }
            }
        }
    }
}

.navbar-default {

    .navbar-toggle {
        &:focus,
        &:hover {
            background-color: #0591ce;
        }
        .icon-bar {
            background-color: #FFFFFF;
        }
    }

    .active .navbar-toggle {
        background-color: $brand-primary;
    }
}