.top-nav.navbar-nav {
    font-size: $font-size-base - 1;
    float: right;
    position: relative;
    top: 0;
    right: 0;
    margin: 7px 0 0 10px;
    background-color: transparent;
    border-radius: 0;
    padding:0;
    
    clear:none;
    
    @media (min-width: $screen-sm-min) {
        position: relative;
        clear:none;
        float: right;
        margin: 7px 0 0 10px;
        background-color: transparent;
        padding-right:0;
    }

    >li {
        display: inline-block;
        float: left;
        
        color: #FFFFFF;
        
        > a {
            padding: 0;
            
            margin: 7px 5px;
            
            @media (min-width: $screen-md-min) {
                padding: 0;
                
                margin: 7px 15px;
            }
            
            &:focus,
            &:hover {
                background: transparent;
            }
        }
    }
    
    form {
        label {
            min-width: 0;
            color: #FFFFFF;
        }
        select {
            border-radius: 0;
        }
        .btn {
            margin-left: 5px;
            font-size: 13px;
            background-color: #0591ce;
            
            &:focus,
            &:hover {
                background-color: lighten(#0591ce, 5%);
                color: #FFFFFF;
            }
        }
    }
}
