.top-nav.navbar-nav {
    font-size: $font-size-base - 1;
    float: right;
    position: relative;
    top: 0;
    right: 0;
    margin: 7px 0 0 10px;
    background-color: transparent;
    border-radius: 0;
    padding:0;

    clear:none;

    @media (min-width: $screen-sm-min) {
        position: relative;
        clear:none;
        float: right;
        margin: 7px 0 0 10px;
        background-color: transparent;
        padding-right:0;
    }

    &.with-languageform {
        @media (max-width: $screen-xs-min) {
            float: none;
        }
    }

    .login-link + .language-form {
        @media (max-width: $screen-xs-min) {
            margin-top: 15px;
        }

        form {
            padding-top: 0;
        }
    }

    .language-form form {
         @media (max-width: $screen-xs-min) {
            padding-top: 10px;
        }
    }

    >li {
        display: inline-block;
        float: left;

        color: #FFFFFF;

        > a {
            padding: 0;
            margin: 7px 5px;
            color: #FFFFFF;

            @media (min-width: $screen-md-min) {
                padding: 0;
                margin: 7px 15px;
            }

            &:focus,
            &:hover {
                background: transparent;
                color: #b2e8ff;
            }
        }
    }

    form {
        label {
            min-width: 0;
            color: #FFFFFF;
        }
        select {
            border-radius: 0;
        }
        .btn {
            margin-left: 5px;
            font-size: 13px;
        }
    }

    .login-link {
        a {
            margin: 0;
            padding: 0;
        }
    }

    .backto-be-admin {
        a {
            @media (max-width: $screen-sm-min) {
                background-color: transparent;
                color: #f29907;
            }
        }
    }
}
