// using bootstrap popover to style the help content
span.help {
    font-size: $font-size-base + 5;
    vertical-align: top;
    padding-left:10px;
    display: inline-block;

    .icon {
        color: $help-icon-color;
        font-size: 20px;
        opacity: 0.8;
    }
    &:hover {
        .icon {
            opacity:1;
        }
    }
    .table & {
        margin-top:-6px;
        .icon {
            font-size: 0.9em;
        }
    }
}

.contextualHelp {
    position: absolute;
    z-index: $zindex-popover;
    width: 300px;
    padding: 1px;
    // Reset font and text propertes given new insertion method
    font-family: $font-family-base;
    font-size: $font-size-base;
    text-transform: none;
    font-weight: normal;
    line-height: $line-height-base;
    text-align: left;
    background-color: $popover-bg;
    background-clip: padding-box;
    border: 1px solid $popover-fallback-border-color;
    border: 1px solid $popover-border-color;
    border-radius: $border-radius-large;
    padding: 0 14px 8px;
    font-size: $font-size-base - 1;
    @include box-shadow(0 5px 10px rgba(0,0,0,.2));

    // Overrides for proper insertion
    white-space: normal;

    .help-dismiss {
        font-size: 16px;
        color: $gray;
    }

    h3 {
        margin: 0 -14px 20px;
        font-size: $font-size-base;
        padding:8px 14px;
        background-color: $popover-title-bg;
        border-bottom: 1px solid darken($popover-title-bg, 5%);
        border-radius: ($border-radius-large - 1) ($border-radius-large - 1) 0 0;
        font-weight: $headings-font-weight;
    }
}
// Needed to be more specific
table.table td .contextualHelp h3{
    margin: 0 -14px 20px;
    font-size: $font-size-base;
}

.form-select-filter .contextualHelp {
  //  top: 0 !important; //fixes a bug where the contextualhelp displays outside the top of the page. Overrides inline styles
    width: 500px !important;
    max-width:100%;
}

.input-group.with-help {
    position: relative;
    padding-right:40px;
    select:not(:first-child),
    input:not(:first-child) {
        @include border-right-radius(3px);
    }
}
