.move-indicator {
    @extend .text-muted;
    font-size: $font-size-base - 3;
    vertical-align: middle;
    margin-left: -4px;
    opacity: 0.7;

    a:hover &,
    .panel-heading:hover & {
        opacity: 1;
    }
    .panel-secondary & {
        float: left;
        margin-top: 5px;
        margin-left: 0;
        margin-right: 4px;
    }
}

//dash
.collapse-indicator {
    color: $navbar-default-link-color;
    font-size: 13px;
    display: block;
    transition-duration: 0.3s;
    &.pull-right {
        margin: 2px 0 0;
    }
    &.text-small {
        font-size: 11px;
    }
    .collapsed & {
        color: $navbar-default-link-color;
    }
    a:hover &,
    a:focus & {
        color: $navbar-default-link-hover-color;
    }
    .collapsed ~ & {
        transform: rotate(180deg);
        transition-duration: 0.3s;
        margin-top: 5px;
    }
}

a[data-toggle="collapse"] {
    &:hover .collapse-indicator,
    &:focus .collapse-indicator{
        color: $navbar-default-link-hover-color;
    }
    .collapse-indicator {
        transform: rotate(-180deg);
        transition-duration: 0.3s;
        color: $navbar-default-link-color;
        margin-top: 5px;
        line-height: 13px;
        height: auto;
    }
    &.collapsed .collapse-indicator {
        transform: rotate(0deg);
        transition-duration: 0.3s;
        margin-top: 2px;
    }
}

.expand-indicator {
    @extend .text-muted;
    font-size: 12px;
    padding-right: 5px;
    + .icon {
        color: $text-color;
        &:hover, &:focus {
            color: lighten($text-color, 10%);
        }
    }
}

// syntax change if link is an outer-link
[data-toggle="collapse"].outer-link {
    &.collapsed {
        ~ .collapse-indicator {
            color: $navbar-default-link-color;
        }
    }
    &:hover,
    &:focus {
        ~ .collapse-indicator {
            color: $navbar-default-link-hover-color;
        }
    }
}
