.label {
    display: inline-block;
    margin-right: 5px;
    &.label-default {
        color: #333;
    }
}

a.label.label-default,
.label.label-default a {
    &:hover,
    &:focus {
        background-color:$theme-primary-color;
    }
}