$logged-in-height: 200px;
$logged-in-height-mobile: 125px;


.dashboard-widget-container {
    @include clearfix;
    margin-top: $grid-gutter-width;
    text-align: center;

    .remove-widgets {
        font-size: $font-size-sm - 1;
    }
    .hide-info{
        clear: both;
    }

    .widget-heading {
        @include clearfix;
        padding: 0;
        background-color: $dashboard-widget-bg;
        border-radius: 50%;
        height: $logged-in-height;
        width: $logged-in-height;
        border-top: 0;

        @include media-breakpoint-down(md ) {
            height: $logged-in-height-mobile;
            width: $logged-in-height-mobile;
            display: inline-block;
        }

        h2 {
            margin: 5px 0 3px;
            text-align: center;
            color: #FFFFFF;
            font-weight: 700;

            @include media-breakpoint-down(md ) {
                font-size: 18px;
                margin-top: 0;
            }
        }

        p {
            margin: 0 16px;
            font-size: 13px;
            text-align: center;
            color: #FFFFFF;

            @include media-breakpoint-down(md ) {
                display: none;
            }
        }

        a {
            color: #FFFFFF;
        }
    }

    .circle-bg {
        text-align:center;
        padding-top: 10px;
        margin-right: 0 !important;
        float: none;
        background-color: transparent;
        border-radius: 0;
        width: auto;
        height: auto;

        @include media-breakpoint-down(md ) {
            margin-top: 5px;
        }

        .icon {
            color: scale-color($theme-primary-color, $lightness: 60%);
            padding-top:16px;
            font-size: 72px;

            @include media-breakpoint-down(md ) {
                font-size: 60px;
            }

            &.icon-user {
                padding-left:0; // the only one that is actually centered by default
            }

        }
    }

    .widget-detail {
        padding: 0 10px;
        vertical-align: middle;
        display: block;
        border: 0;

        @include media-breakpoint-down(md ) {
            width: 180px;
            display: inline-block;
            vertical-align: inherit;
        }

        p {
            margin-top: 10px;
            margin-bottom: 0;
            color: #333333;

            @include media-breakpoint-down(md ) {
                font-size: 12px;
                padding: 0;
                margin-top: 0;
            }
        }
    }

    .thumbnail-widget {
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-bottom: 10px;
        border-radius: 50%;
        text-align: center;
        margin-right: 20px;
        width: $logged-in-height;
        padding: 0;
        float: none;

        @include media-breakpoint-down(md ) {
            width: auto;
            display: block;
            margin-right: 0;
        }

        &.last {
            margin-right: 0;
        }

        .widget {
            text-align: center;
        }
    }

    .logged-in {
        text-decoration: none;
        height: $logged-in-height;
        overflow:hidden;

        @include media-breakpoint-down(md) {
            height: $logged-in-height-mobile;
            width: $logged-in-height-mobile;
            display: inline-block;
            margin: 0 5px 10px 5px;
         }

        .widget-heading {
            h2 {
                margin: 5px 0 3px;
                text-align: center;
                color: #FFFFFF;
                font-weight: 700;

                @include media-breakpoint-down(md ) {
                    font-size: 18px;
                    margin-top: 0;
                }
            }
            p {
                color: #FFFFFF;
                margin: 0 16px;
            }
        }

        .widget-detail {
            @include transition(0.03s);
            opacity:0;
            margin-top: -$logged-in-height * 2;
            position: relative;
            vertical-align: middle;
            display: block;
            z-index: 2;
            background-color: #333333;
            height: $logged-in-height;
            width: $logged-in-height;
            border-radius: 50%;
            border: 0;

            @include media-breakpoint-down(md) {
                margin-top: -$logged-in-height-mobile * 2;
                height: $logged-in-height-mobile;
                width: $logged-in-height-mobile;
                padding: 0;
            }

            p {
                margin-top: 0;
                color: #FFFFFF;
                display: table-cell;
                vertical-align: middle;
                height: $logged-in-height;

                @include media-breakpoint-down(md) {
                    height: $logged-in-height-mobile;
                    font-size: 11px;
                    padding-left: 10px;
                    padding-right: 10px;
                    display: block;
                }
            }
        }
    }

    .logged-in:hover {
        .widget-heading {
            @include media-breakpoint-down(md) {
                background: $dashboard-widget-bg;
            }
        }
        .widget-detail {
            @include transition(0.3s);
            opacity: 1;
            margin-top: -$logged-in-height;
            border: 0;

            @include media-breakpoint-down(md) {
                margin-top: -$logged-in-height-mobile;
            }
            p {
                margin-top: 0;
                color: #FFFFFF;
                display: table-cell;
                vertical-align: middle;
                height: $logged-in-height;

                @include media-breakpoint-down(md) {
                    height: $logged-in-height-mobile;
                    font-size: 11px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}
