/*
 * Theme colours should be defined here, and (ideally) used only in the global variables files (bootstrap-variables, custom-variables)
 */

$theme-primary-color: #0591ce;
$theme-primary-color-dark: #417005;
$theme-text-color:  #333;
$theme-accent-color:  #211c00; // note this currently isn't used anywhere in raw

$theme-text-lighttone-color: #888;
$theme-text-midtone-color: #888;
