// Primary Nav
// overriding/additional styles for theme
.main-nav {
    > .container {
        background-color: $brand-primary-light;

        @media (min-width: $screen-sm-min) {
            background-color: $brand-primary-mid;
            padding-left: 0;
            padding-right: 0;
            @include border-top-radius(8px);
        }
        @media (min-width: $screen-desktop) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .navbar-text {
        @include border-top-radius(8px);

        @media (max-width: $screen-sm-min) {
            padding: 10px 15px;
            display: block;
            margin: 0;
        }
    }

    .nav > li > a {
        @media (max-width: $screen-xs-max) {
            border-top: 1px solid #fff;
            border-bottom: 0;
        }
        @media (min-width: $screen-sm-min) {
            @include border-top-radius(8px);
        }
    }

    // Only shown on mobile, or when dropdowns are turned on
    @media (max-width: $screen-xs-max) {
        .child-nav {
            background-color: $brand-primary-faint;
            padding-top: 2px;
            padding-bottom: 0;
            li {
                a {
                    padding-left: 40px;
                    background-color: $brand-primary-faint;
                    &:before {
                        content: "-";
                        display: block;
                        position: absolute;
                        left: 29px;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: #fff;
                    }
                }
            }

           // If this link is the current page or section
            .active > a {
                color: $gray-dark;
                border-color: #fff;
                background-color: #fff;
                &:hover,
                &:focus,
                &:active {
                    border-color: #fff;
                    background-color: #fff;
                }
            }
        }
    }
}


.navbar-default {
    &.dropdown-adminnav {
        margin-bottom: 0;

        .navbar-nav {
            > li {
                > a {
                    color: #333333;
                    &:focus,
                    &:hover {
                        background-color: $brand-primary-light;
                        color: #333333;
                    }
                }
            }
        }
    }
}