// overriding/additional styles for theme
.navbar.header {
    border: 0;
}

.top-nav.navbar-nav {
    background-color: transparent;
}

@media (max-width: $screen-xs-max) {
    .navbar-inverse .navbar-nav {
        > li > a {
            &:hover,
            &:focus,
            &:active {
                background-color: $brand-primary-faint;
            }
        }
        >.active > a {
            color: $gray-dark;
            border-color: #fff;
            background-color: #fff;
            &:hover,
            &:focus,
            &:active {
                border-color: #fff;
                background-color: #fff;
            }
        }
    }
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav:not(.top-nav) > li > a:focus {
    color: $brand-primary;
}

.navbar-form {
    border: 0;
}

body {
    &.admin {
        .navbar-default {
            .navbar-text {
                color: #333333;
            }
        }
    }
}

.main-nav .has-dropdown .dropdown-tertiary > li > a {
    padding: 3px 20px 3px 30px;
}
