.top-nav.navbar-nav {
    >li {
        >a {
            color: #FFFFFF;
        }
        label {
            color: #FFFFFF;
        }
    }
    .backto-be-admin {
        a {
            @media (max-width: $screen-sm-min) {
                background-color: transparent;
                color: $brand-primary-light;
            }
        }
    }
}
