.header {
    top: 0;

    .admin-title {
        .admin-site {
            color: #FFFFFF;
            font-family: $font-family-serif;
            font-size: 18px;
            &:focus,
            &:hover {
                color: $brand-primary-light;
            }
        }
    }

    + .container {
        margin-top: 0;
        @media (min-width: $screen-sm-min) {
            margin-top: 50px;
        }
    }
}
