// overriding/additional styles for theme
body {
    > .container {
        background-color: #fff;
    }
    @media (min-width: $screen-sm-min) {
        &:before {
            content:"";
            @include gradient-vertical($start-color: $brand-primary, $end-color: #fff, $start-percent: 10%, $end-percent: 100%);
            display: block;
            width: 100%;
            height: 550px;
            position: absolute;
            z-index: -1;
        }
    }
}