// overriding/additional styles for theme
body {
    background-color: $brand-primary;
    > .container {
        background-color: #fff;
    }
}

.footer {
    background-color: transparent;
    .footer-inner {
        background-color: #ffffff;
        .admin & {
            border-radius: 0;
            border-color: #ffffff;
        }
    }
}
