body.loggedout .dashboard-widget-container {
    display: none;
}
.dashboard-widget-container {

    .thumbnail-widget {
        text-decoration: none;

        @include media-breakpoint-up(md) {
            padding-left: 0;
            width: 10 / 2 * 10%;
        }

        &.first {
            .widget-heading {
                background-color: $theme-primary-color;
            }
            &:hover,
            &:focus {
                .widget-heading {
                    background-color: scale-color($theme-primary-color, $lightness: 20%);
                }
            }
        }

        .widget-heading {
            text-align: center;

            .circle-bg {
                @include media-breakpoint-up(md) {
                    margin: $spacing-xl 0;
                    float: none;
                    border-radius: 0;
                    width: auto;
                    height: auto;
                }

                .icon {
                    @include media-breakpoint-up(md) {
                        font-size: $font-size-base * 3; //48px
                    }
                }
            }

            h2 {
                font-weight: $font-weight-bolder;
            }

            p {
                @include media-breakpoint-up(md) {
                    margin: $spacing-xl 0;
                }
            }
        }
    }
}
