/* Changes for datepicker - original css is part of jquery-ui */

.ui-datepicker {
  font-size: 0.7em;
  z-index: 6 !important;
  .ui-datepicker-prev-year, .ui-datepicker-next-year {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
  }
  .ui-datepicker-prev-year {
    left: 2px;
  }
  .ui-datepicker-next-year {
    right: 2px;
  }
  .ui-datepicker-prev-year span, .ui-datepicker-next-year span {
    display: block;
    left: 50%;
    margin-left: -7px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
  }
  .ui-datepicker-prev-year-hover, .ui-datepicker-next-year-hover {
    top: 1px;
  }
  .ui-datepicker-prev-year-hover span, .ui-datepicker-next-year-hover span {
    margin-left: -8px;
  }
  .ui-datepicker-next-year span {
    margin-left: -9px;
  }
  .ui-datepicker-next-year-hover span {
    margin-left: -8px;
  }
  .ui-datepicker-prev span, .ui-datepicker-next span {
    margin-left: -7px;
  }
  .ui-datepicker-prev-hover span, .ui-datepicker-next-hover span {
    margin-left: -8px;
  }
  .ui-datepicker-prev {
    left: 23px;
  }
  .ui-datepicker-next {
    right: 23px;
    span {
      margin-left: -9px;
    }
  }
  .ui-datepicker-next-hover span {
    margin-left: -8px;
  }
  button.ui-priority-secondary {
    opacity: 1;
    font-weight: 700;
  }
}
.ui-datepicker.in-modal {
  z-index: 1041 !important;
}

/* Styles for the new year prev/next css */

/* Styles changes to get prev/next to work with year prev/next css */

.ui-icon-circle-triangle-wy {
  background-position: -144px -192px;
}

.ui-icon-circle-triangle-ey {
  background-position: -112px -192px;
}

/* Changes for timepicker */

.ui-timepicker-div {
  .ui-widget-header {
    margin-bottom: 8px;
  }
  dl {
    text-align: left;
    dt {
      float: left;
      clear: left;
      padding: 0 0 0 5px;
    }
    dd {
      margin: 0 10px 10px 40%;
    }
  }
  td {
    font-size: 90%;
  }
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-timepicker-rtl {
  direction: rtl;
  dl {
    text-align: right;
    padding: 0 5px 0 0;
    dt {
      float: right;
      clear: right;
    }
    dd {
      margin: 0 40% 10px 10px;
    }
  }
}
