Source: mahara
Section: web
Priority: optional
Maintainer: Francois Marier <francois@debian.org>
Build-Depends: debhelper (>= 5), po-debconf
Standards-Version: 3.7.2
Homepage: http://www.mahara.org
Vcs-Git: http://git.catalyst.net.nz/mahara.git
Vcs-Browser: http://git.catalyst.net.nz/gw?p=mahara.git

Package: mahara
Architecture: all
Depends: ${misc:Depends}, php5-pgsql | php5-mysql, php5-cli, php5-gd, file, cron, perl, ttf-freefont
Recommends: mahara-apache2 | mahara-apache, postgresql | postgresql-8.2 | postgresql-8.1 | mysql-server | mysql-server-5.0, clamav, clamav-daemon, php5-curl, php5-openssl, php5-xmlrpc, php5-imagick, libfile-slurp-perl, libtext-diff-perl
Description: Electronic portfolio, weblog, and resume builder
 Mahara is a fully featured electronic portfolio, weblog, resume builder and
 social networking system, connecting users and  creating online communities.
 .
 Mahara is designed to provide users with the tools to create a personal and
 professional learning and development environment.
 .
 This is the core Mahara package, it does not include any of the web server
 configuration.

Package: mahara-apache
Architecture: all
Depends: ${misc:Depends}, mahara, apache, libapache-mod-php5
Conflicts: mahara-apache2
Description: Electronic portfolio, weblog, and resume builder
 Mahara is a fully featured electronic portfolio, weblog, resume builder and
 social networking system, connecting users and  creating online communities.
 .
 Mahara is designed to provide users with the tools to create a personal and
 professional learning and development environment.
 .
 This package configures Mahara for the Apache 1.x web server.

Package: mahara-apache2
Architecture: all
Depends: ${misc:Depends}, mahara, apache2, libapache2-mod-php5
Conflicts: mahara-apache
Description: Electronic portfolio, weblog, and resume builder
 Mahara is a fully featured electronic portfolio, weblog, resume builder and
 social networking system, connecting users and  creating online communities.
 .
 Mahara is designed to provide users with the tools to create a personal and
 professional learning and development environment.
 .
 This package configures Mahara for the Apache 2.x web server.
