#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp

install: configure-stamp
	dh_testdir
	dh_testroot
	dh_installdirs

	# Main Mahara files
	cp -r $(CURDIR)/htdocs/* $(CURDIR)/debian/mahara/usr/share/mahara
	cp $(CURDIR)/htdocs/.htaccess $(CURDIR)/debian/mahara/usr/share/mahara

	# Exclude common files
	find $(CURDIR)/debian/mahara/usr/share/mahara/ -name "readme.txt" -exec rm {} \;
	find $(CURDIR)/debian/mahara/usr/share/mahara/ -name "license.txt" -exec rm {} \;
	find $(CURDIR)/debian/mahara/usr/share/mahara/ -name "COPYING*" -exec rm {} \;
	find $(CURDIR)/debian/mahara/usr/share/mahara/ -name "README" -exec rm {} \;
	find $(CURDIR)/debian/mahara/usr/share/mahara/ -name "LICENSE*" -exec rm {} \;

	# Exclude specific files/directories
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/phpmailer/ChangeLog.txt
	rm -rf $(CURDIR)/debian/mahara/usr/share/mahara/lib/adodb/docs/
	rm -rf $(CURDIR)/debian/mahara/usr/share/mahara/lib/adodb/tests/
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/adodb/pear/readme.Auth.txt
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/snoopy/configure.in
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/snoopy/INSTALL
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/snoopy/ChangeLog
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/snoopy/FAQ
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/snoopy/AUTHORS
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/snoopy/Makefile.am
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/snoopy/autogen.sh
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/snoopy/TODO
	rm -f $(CURDIR)/debian/mahara/usr/share/mahara/lib/snoopy/NEWS

	# Config file (common package)
	cp $(CURDIR)/debian/config.php $(CURDIR)/debian/mahara/etc/mahara/

	# Config file (-apache)
	cp $(CURDIR)/debian/apache.conf.template $(CURDIR)/debian/mahara-apache/etc/mahara/apache.conf
	perl -i -p -e "s|__APACHELOGDIR__|/var/log/apache|" $(CURDIR)/debian/mahara-apache/etc/mahara/apache.conf

	# Config file (-apache2)
	cp $(CURDIR)/debian/apache.conf.template $(CURDIR)/debian/mahara-apache2/etc/mahara/apache.conf
	perl -i -p -e "s|__APACHELOGDIR__|/var/log/apache2|" $(CURDIR)/debian/mahara-apache2/etc/mahara/apache.conf

clean:
	dh_testdir
	dh_testroot
	rm -f configure-stamp
	dh_clean 
	debconf-updatepo

binary: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installdebconf
	dh_installcron
	dh_installlogrotate
	dh_compress 
	dh_fixperms

	cat $(CURDIR)/debian/commonfunctions.sh >> $(CURDIR)/debian/mahara-apache2.postinst.debhelper
	cat $(CURDIR)/debian/commonfunctions.sh >> $(CURDIR)/debian/mahara-apache2.postrm.debhelper
	cat $(CURDIR)/debian/commonfunctions.sh >> $(CURDIR)/debian/mahara-apache.postinst.debhelper
	cat $(CURDIR)/debian/commonfunctions.sh >> $(CURDIR)/debian/mahara-apache.postrm.debhelper
	dh_installdeb

	dh_link

	dh_gencontrol
	dh_md5sums

	dh_builddeb

.PHONY: build clean binary install configure
