<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>Create a New View</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Create a New View</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=My Portfolio</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>createview_submit</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[@id='main-column-container']/h1</td>
	<td>Create View Step One: Layout</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Blogs (3)</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=External feeds (1)</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Files, images and video (6)</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=General (1)</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Profile (2)</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Resumé (2)</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>//input[@value='Next']</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[@id='main-column-container']/h1</td>
	<td>Create View Step Two: Details</td>
</tr>
<tr>
	<td>type</td>
	<td>editview_title</td>
	<td>Test view</td>
</tr>
<tr>
	<td>chooseCancelOnNextConfirmation</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>cancel_editview_submit</td>
	<td></td>
</tr>
<tr>
	<td>assertConfirmation</td>
	<td>This View has not been completed. Do you really want to cancel?</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>//input[@value='Back']</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>//input[@value='Next']</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>editview_submit</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='potentialpresetitems']/div[1]/button[@type='button']</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>startdate_0</td>
	<td>1/1/2001</td>
</tr>
<tr>
	<td>type</td>
	<td>stopdate_0</td>
	<td>12/31/2001</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='potentialpresetitems']/div[2]/button[@type='button']</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>startdate_1</td>
	<td>1/1/2002</td>
</tr>
<tr>
	<td>type</td>
	<td>stopdate_1</td>
	<td>12/31/2021</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='potentialpresetitems']/div[3]/button[@type='button']</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>startdate_2</td>
	<td>1/1/2003</td>
</tr>
<tr>
	<td>type</td>
	<td>stopdate_2</td>
	<td>12/31/2023</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='potentialpresetitems']/div[4]/button[@type='button']</td>
	<td></td>
</tr>
<!--wait for _3 elements.  without the wait (or a pause or setSpeed), the elements are sometimes not yet available.-->
<tr>
	<td>waitForElementPresent</td>
	<td>startdate_3</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>stopdate_3</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>startdate_3</td>
	<td>1/1/2004</td>
</tr>
<tr>
	<td>type</td>
	<td>stopdate_3</td>
	<td>12/31/2024</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>editaccess_submit</td>
	<td></td>
</tr>
<tr>
	<td>assertConfirmation</td>
	<td>exact:Your View contains no blocks.&nbsp;&nbsp;Do you really want to give these users access to the View?</td>
	<td></td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>View created successfully</td>
	<td></td>
</tr>

</tbody></table>
</body>
</html>
