<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>Create_New_View_1</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Create_New_View_1</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=My Portfolio</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>createview_submit</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[@id='main-column-container']/h1</td>
	<td>Edit Content and Layout</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Blogs</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=External feeds</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Files, images and video</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=General</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='category-list']/*/*/a[text()='Profile']</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Résumé</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>//input[@value='Next: Edit Title and Description']</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[@id='main-column-container']/h1</td>
	<td>Edit Title and Description</td>
</tr>
<tr>
	<td>type</td>
	<td>editview_title</td>
	<td>Test view</td>
</tr>
<tr>
	<td>chooseCancelOnNextConfirmation</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>cancel_editview_submit</td>
	<td></td>
</tr>
<tr>
	<td>assertConfirmation</td>
	<td>This View has not been completed. Do you really want to cancel?</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>//input[@value='Back']</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>//input[@value='Next: Edit Access']</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>editview_submit</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>editaccess_submit</td>
	<td></td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>View created successfully</td>
	<td></td>
</tr>

</tbody></table>
</body>
</html>
