<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
        <title>Mahara Views Testing</title>
    </head>
    <body>
        <table cellpadding="1" cellspacing="1" border="1">
            <tbody>
                <tr><td><strong>Mahara Views Testing</strong></td></tr>
                <tr><td><a href="../shared/Login_Admin.html">Log in as Administrator</a></td></tr>
                <tr><td><a href="./Create_New_View_1.html">Create a New View</a></td></tr>
                <tr><td><a href="./Delete_View.html">Delete View</a></td></tr>
                <tr><td><a href="../shared/Logout_User.html">Log Administrator Out</a></td></tr>
            </tbody>
        </table>
    </body>
</html>
