.header {
    .logo {
        padding: 1.9375rem 0.375rem 1.9375rem 0; // 31px 6px 31px 0
    }

    .logoxs {
        margin: 1.25rem 0; // 20px 0;
        height: 5rem; // 80px
    }
}

.pageheader {
    span.help .icon {
        color: $theme-text-midtone-color;
    }
}
