// card-secondary is the style used for the user-editable cards used across Mahara

.card-secondary {
    @include box-shadow(none);
    background-color: transparent;

    &.card-warning {
         > .card-header, .card-header-nested {
            border-left: 0;
        }
    }

    &.card {
        &.blockinstance.card {
            .card-header {
                background-color: $card-header-bg;
            }
        }
    }

    .blockinstance-controls .btn-group-top {
        @include media-breakpoint-down(lg) {
            margin: 0;
        }
    }

    // removing left/right padding in card headings
    .card-header-nested,
    > .card-header {
        padding-left: 0;
        padding-right: 0;
        border-bottom-color: #9db577;
    }

    > .card-header {
      font-family: $font-family-sans-serif;
    }

    // removing left/right padding in card body
    > .card-body {
         padding: 15px 0;
    }
    .block {
         > .card-body {
             padding: 15px 0;
         }
    }
}
