.card {
    border-radius: 0;
    box-shadow: none;
}

.sidebar {
  .card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border: 0;
  }
}

.card-collection,
.card-view {
  .card-header {
    .title-link {
      font-family: $font-family-sans-serif;
    }
  }
}
