.collapsible legend h4,
.collapsible legend h3,
.card-header {
    a:not(.secondary-link) {
        color: $link-color;
        &.collapsed {
            background-color: transparent;
            color: $link-hover-color;
        }
    }
}

// sidebar card headings
.sidebar .card > .card-header {
    @include border-top-radius(0);
    border-bottom: 0;
    background-color: $theme-primary-color;
    color: $white;

    .help a .icon {
        color: $white;
    }

    a {
        color: $white;
    }

    .text-midtone {
        color: $white;
    }
}
