a.card-footer {
    color: $link-color;
    background-color: $card-footer-bg;
    &:focus,
    &:hover {
        background-color: #f1f6eb;
        color: $link-hover-color;
    }
}
.card,
.card.bg-warning { // Use to change the footer color of cards that have a yellow background
    .card-footer {
        background-color: $card-footer-bg;
    }
}
