// card-secondary is the style used for the user-editable cards used across Mahara

.card-secondary {
    @include box-shadow(none);
    background-color: transparent;

    &.card-warning {
         > .card-header, .card-header-nested {
            border-left: 0;
        }
    }

    &.card {
        .card-header {
            border-color: $card-secondary-border;
            font-family: $font-family-sans-serif;
        }
        // removing left/right padding in card body
        .block {
             > .card-body {
                 padding: 15px 0;
             }
        }
    }

    .blockinstance-controls .btn-group-top {
        @include media-breakpoint-down(lg) {
            margin: 0;
        }
    }
}
