a.card-footer {
    color: $link-color;
    background-color: $card-footer-bg;
    &:focus,
    &:hover {
        background-color: #f1f6eb;
        color: $link-hover-color;
    }
}
.card {
    &.bg-warning .card-footer,
    &.bg-success .card-footer,
    &.bg-info .card-footer,
    .card-footer { // Use to change the footer color of cards that have a yellow background
        background-color: $card-footer-bg;
    }
}
