// sidebar card headings
.sidebar .card > .card-header {
    @include border-top-radius(0);
    border-bottom: 0;
    background-color: $theme-primary-color;
    color: $white !important;

    .help a .icon {
        color: $white;
        font-size: 1.25rem; // 20px
    }

    a {
        color: $white;
    }

    .text-midtone {
        color: $white;
    }
}
