.openbadgedisplayer {
    padding: 10px;
}

.openbadgedisplayer img {
    cursor: pointer;
    margin: 0 10px 10px 0;
    width: 90px;
    height: 90px;
}

.badge-template {
    display: none;
}

.badge-container .badge-image {
    width: 90px;
    height: 90px;
    float: left;
}

.badge-container .openbadge-details {
    margin-left: 120px;
}