.sidebar {
    .panel-heading{
        background-color: $accent-color;
        border-color: $accent-color;
        color: #FFF;

        .text-midtone {
          color: desaturate(lighten($accent-color, 30), 10);
        }
    }
}