// panel-secondary is the style used for the user-editable panels used across Mahara

.panel-secondary {
    > .panel-heading {
        font-family: $font-family-sans-serif;
        //background-color: #FFFFFF;
        border-left: 0 solid transparent;
        //padding-left: 0;
        border-bottom: 2px solid ;
    }

    .list-group-item-heading {
      font-family: $font-family-sans-serif;
    }
}
