.sidebar {
    .panel-heading{
        background-color: $brand-secondary;
        border-color: $brand-secondary;
        color: #FFF;

        .text-midtone {
          color: desaturate(lighten($theme-secondary-color, 30), 10);
        }
    }
}