input.submit.btn-subscribe {
    color: #1F97D5 !important;
}
#forumslist {
	list-style: none;
	border-bottom: 1px solid #14436F;
}
#forumslist th {
	padding: 2px 10px;
	border-bottom: 1px solid #14436F;
}
#forumslist h4 {
	margin: 0;
}
#forumslist table {
	margin: 0;
	border: none;
}
#forumslist table th {
	border: none;
}
#forumslist table td {
	padding: 0;
}
#forumslist table td input {
	margin: 0;
}
#viewforum {
	margin-bottom: 5px;
}
#viewforum #forumdescription {
	margin-top: 10px;
	background-color: #ececec;
	padding: 10px 10px;
    width: 100%;
	* width: 98%;
	border: 1px solid #d7d7d7;
}
#viewforum #subscribe_forum {
    display: inline;
}
#viewforum #subscribe_forum div {
    display: inline;
    margin-right: 2em; /* makes up for margin on input button, else button is pushed right */
}
#viewforum #subscribe_forum input {
    margin: 0 0 0 2em;
}
#forumtopicstable {
	border-bottom: 1px solid #14436F;
}
#forumtopicstable th {
	text-align: left;
	border-bottom: 1px solid #14436F;
	padding: 2px 0;
}
.subscribetoforum {
	margin-top: 5px;
}
#forumtopicbtnwrap {
	width: 100%;
	* width: 98%;
	margin-bottom: 0;
}
.lastpost {
	font-size: 11px;
}
#forumkeylist {
	margin: 5px 0;
}
#forumkeylist li {
	margin: 0 20px 0 0;
}
.stickytopic {
	background-color: #ceeafe;
}
.forumtopicdescription {
	font-size: 11px;
}
.forumposter {
	font-size: 11px;
}
.postscount {
	text-align: center !important;
}
table.forumpost {
	background-color: #f4f7f9;
	width: 100%;
	* width: 98%;
	border-top: 1px solid #14436F;
	border-bottom: 1px solid #14436F;
	margin-bottom: 0;
}
.forumpost .forumsubject h3 {
    padding: 0;
    margin: 0;
}
.forumpostleft {
	background-color: #FFF;
	font-size: 11px;
}
.forumpostleft h5 {
	color: #888888;
	font-size: 11px;
}
.posttime {
	font-size: 11px;
}
.postbtns {
	padding-right: 10px;
    border-bottom: none;
}
.postedits {
    padding-top: 1.5em;
    padding-left: .5em;
}
.postreply {
	list-style: none;
	background-color: #f4f7f9;
}
