#forumslist th,
#forumtopicstable th {
	border-bottom: 1px solid #14436F;
}
#forumtopicstable td {
}
.stickytopic td {
	background-color: #ceeafe;
}
.forumpost {
	background-color: #f4f7f9;
}
.forumsubject {
}
.forumpostleft {
}
.forumpostleft h5 {
}
.posttime {
}
.postbtns {
}
.postbtns a {
}
.forumpostleft .author p.poster {
}
.deletedpost {
}