/* uninspected */
/* check these can stay em
.fl {
	padding-right: 10px;
}
.fr {
	padding-left: 10px;
}
.s {
    font-size: 11px;
}
*/


#loading_box {
    top: 0;
    left: 0;
    background-color: #fff8cf;
	padding: 5px 10px;
}


.description {
    font-size: 12px;
    color: #838383;
    padding-bottom: 5px;
}
td.description {
	font-size: 12px;
}
acronym {
    color: #14336F;
    border-bottom: 1px dotted #d4d1c0;
}
pre {
	margin-left: 15px;
}
.errmsg {
    font-size: 9px;
}
.maincontent ul {
	margin: 0;
}
.maincontent ul li {
	margin: 0 0 0 17px;

}

/* TITLES */
/* links that should show as big light buttons */





span.addicon {
    margin-top: -16px;
}
.addicon input.submit {
  height: 20px;
}
.addicon a {
	background-color: #1D499F;
	padding: 2px 10px;
	border-color: #D9DFEA #b2b2b2 #b2b2b2 #D9DFEA !important;
	border-style: solid;
	border-width: 1px;
	font-size: 11px;
	color: #FFF !important;
	white-space: nowrap;
}
.addicon a:hover {
	color: #FFF;
}
/* links that should show as big dark buttons */
.viewicon a {
	background-color: #14436F;
	padding: 3px 10px;
	border-color: #D9DFEA #b2b2b2 #b2b2b2 #D9DFEA !important;
	border-style: solid;
	border-width: 1px;
	font-size: 11px;
	color: #FFF;
	margin-left: 5px;
}

/* FORM ELEMENTS */
form {
   margin: 0;
}
input.text, input.password, textarea, input {
    border: 1px solid #b2b2b2;
    padding: 1px 2px 1px 2px;
}
* html input {
    border: 0;
}
* html input.file {
    border: 1px solid #b2b2b2;
}


/* CALENDAR */
a.pieform-calendar-toggle img {
    border: none;
}


/* PAGINATION */
.pagination a, .pagination .disabled {
    border: 1px solid #14436F;
    padding: 1px 5px;
    margin: 0 .5em;
}
.pagination a:hover {
    background-color: #E7E7E7;
}
.pagination .prev {
    margin-right: .5em;
    font-weight: bold;
}
.pagination .next {
    margin-left: .5em;
    font-weight: bold;
}
.pagination .disabled {
    background-color: #e0e0e0;
    color: #888;
    font-weight: normal;
}
.pagination .selected {
    padding: 0 3px;
}
.pagination .results {
    color: #888;
    margin-top: 0;
}


/* STUFF THAT I'VE YET TO WORK OUT WHERE THEY COME FROM */
table.tablerenderer th.asc { 
	background: transparent url(../images/down.gif) no-repeat right;
	padding-right: 20px;
}
table.tablerenderer th.desc { 
    background: transparent url(../images/up.gif) no-repeat right;
	padding-right: 20px;
}
#installer th {
    border-bottom: 1px solid #1F97D5;
}

/* AJAX LOGIN */
#ajax-login-form {
    border: 5px solid #D9DFEA;
}


/* Default light buttons to the big ones */
input.submit,
input.button, button {
    background-color: #1D499F;
	border-color: #D9DFEA #b2b2b2 #b2b2b2 #D9DFEA !important;
	border-style: solid;
	border-width: 1px;
    height: 24px;
    margin: 5px 2px 0 0;
    padding: 0 10px;
    color: #FFF;
    font-size: 11px;
}
/* Default dark buttons to the big ones */
input.submitcancel, 
input.cancelbackcreate,
#settings_delete {
    background-color: #14436F;
	border-color: #D9DFEA #b2b2b2 #b2b2b2 #D9DFEA !important;
	border-style: solid;
	border-width: 1px;
    height: 24px;
    margin: 5px 2px 0 0;
    padding: 0 10px;
    color: #FFF;
    font-size: 11px;
}
/* Ones inside tables should be smaller... */
.maincontent table input.button, 
.maincontent table input.submit, 
.maincontent table input.submitcancel, 
.maincontent table button {
	font-size: 11px;
	background-color: #1D499F;
	height: 20px;
	padding: 0 5px;
	margin: 0 2px 3px 2px;
}
/* Unless shouldn't */
.maincontent .pieform table input.submit,
.maincontent .pieform table button {
    background-color: #1D499F;
    height: 20px;
    margin: 5px 2px 0 0;
    padding: 0 5px;
	font-size: 11px;
}
/* And buttons in forms that can't get the dark colour all by itself and requires jigging */
#register #register_submit_container input,
#profileform_topsubmit_container input,
#profileform_submit_container input,
#editview #editview_submit_container input,
#viewcolumns #viewcolumns_submit_container input,
#newblog #newblog_submit_container input,
#editblog #editblog_submit_container input,
#creategroup input,
#requestjoingroup #requestjoingroup_submit_container input,
#editgroup input,
#addtopic input,
#editpost #editpost_submit_container input,
#edit_interaction #edit_interaction_submit_container input,
#edittopic #edittopic_submit_container input,
#institution #institution_submit_container input,
#auth_config #auth_config_submit_container input,
#employmenthistory #employmenthistory_submit_container input,
#educationhistory #educationhistory_submit_container input,
#certification #certification_submit_container input,
#book #book_submit_container input,
#membership #membership_submit_container input,
#removefriend #removefriend_submit_container input  {
	margin: 0;
}
input#cancel_profileform_topsubmit,
input#cancel_profileform_submit,
#register #register_submit_container input#cancel_register_submit,
#sendmessage input#cancel_sendmessage_submit,
#invitetogroup input#cancel_invitetogroup_submit,
#editview input#cancel_editview_submit,
#viewcolumns #viewcolumns_submit_container input#cancel_viewcolumns_submit,
#newblog #newblog_submit_container input#cancel_newblog_submit,
#editblog #editblog_submit_container input#cancel_editblog_submit,
#creategroup input#cancel_creategroup_submit,#requestjoingroup #requestjoingroup_submit_container input#cancel_requestjoingroup_submit,
#editgroup input#cancel_editgroup_submit,
#addtopic input#cancel_addtopic_submit,
#editpost #editpost_submit_container input#cancel_editpost_submit,
#edit_interaction #edit_interaction_submit_container input#cancel_edit_interaction_submit,
#edittopic #edittopic_submit_container input#cancel_edittopic_submit,
#institution #institution_submit_container input#cancel_institution_submit,
#auth_config #auth_config_submit_container input#cancel_auth_config_submit,
#employmenthistory #employmenthistory_submit_container input#cancel_employmenthistory_submit,
#educationhistory #educationhistory_submit_container input#cancel_educationhistory_submit,
#certification #certification_submit_container input#cancel_certification_submit,
#book #book_submit_container input#cancel_book_submit,
#membership #membership_submit_container input#cancel_membership_submit,
#removefriend #removefriend_submit_container input#cancel_removefriend_submit {
	background-color: #14436F !important;
	padding: 2px 10px !important;
	height: 24px !important;
	font-size: 11px;
} 

select {
    border: 1px solid #b2b2b2;
    padding: 0;
}
.mceToolbarTop {
	padding: 2px;
}
.mceContentBody {
	padding: 5px 10px !important;
}
div.grippie {
    border-color: #b2b2b2;
    border-width: 0pt 1px 1px;
}
/* td for grippie to work */
.maincontent #profileform #profileform_address_container td,
.maincontent #contactus #contactus_message_container td {
    padding: 0 0 0 10px;
    margin: 0;
}


/* labels that ended up with required colour but needs to be normal */
.emaillist .validated label {
	color: #14336F;
}


.maincontent {
    line-height: 18px;
    padding: 10px 25px 25px 25px;
    border-right:1px solid #DDD !important;
	background: transparent;
}
.maincontent.group {
    line-height: 18px;
    padding: 10px 15px 25px 15px;
	background: url(../images/dot-vert.gif) repeat-y top right;
}

.advancedsearch {
    font-size: 9px;
    padding: 0 148px 0 0;
}

.unreadmessagecount {
    background: url(../images/email.gif) no-repeat;
    padding: 2px 0 0 18px;
    margin: 0 0 0 2px;
    height: 14px;
	color: #3986c3 !important;
}
.unreadmessages {
	color: #3986c3 !important;
}
#lastminutes {
    margin-top: 2px;
}

/* Side Friends control */
#friendscontrol #friendscontrol_friendscontrol_container td {
	padding: 0;
}
#friendscontrol #friendscontrol_friendscontrol_container label {
	font-size: 11px;
	color: #14336F;
	margin-bottom: 5px;
}
#friendscontrol_submit_container td {
	text-align: center;
}
#friendscontrol_submit_container input {
	height: 22px;
	font-weight: normal;
}
/* side login */
#login label {
    color: #3986c3;
}
#column-right #login_submit_container {
    font-size: 9px;
    float: left;
    margin: 0 0 5px 0;
    padding: 0;
    display: inline;
}
#column-right #login_login_username_container input,
#column-right #login_login_password_container input {
    border: 1px solid #b1b1b1;
	background-color: #FFFFFF;
    padding: 2px 3px;
    width: 215px;
}
#column-right #login a,
#column-right #login a:link,
#column-right #login a:active,
#column-right #login a:visited {
    font-size: 9px;
	padding-top: 3px;
    margin: 0 5px;
}
#column-right .sidebarforgotpassword a,
#column-right .sidebarforgotpassword a:link,
#column-right .sidebarforgotpassword a:active,
#column-right .sidebarforgotpassword a:visited {
    background: url(../images/icon_question.gif) no-repeat left;
    padding-left: 20px;
    text-decoration: none;
}
#column-right #login_submit {
    margin: 0 2px 0 0;
}
/* Side search */
.sidebar #selfsearch button,
#search_submit_container #search_submit {
	background: url(../images/btn_search_off.png) no-repeat;
	border: none;
	margin-left: 3px;
	padding-left: 25px;
}
.sidebar #selfsearch input {
	width: 140px;
	background-color: #FFFFFF;
}


/* MAIN CONTENT */
/* Message */
.message {
	margin-top: 15px;
    padding: 10px;
    background-color: #f4f7f9;
    border: 1px solid #e0e8ee;
    font-weight: bold;
}
.message a {
    color: #1F97D5;
}
/* system messages between nav and main content */
#messages {
    margin: 10px 0;
}
#messages .ok {
    color: #2da000;
	border:1px solid #FFF;
    background: #F4F7F9 no-repeat 10px 5px;
    padding: 5px 5px 4px 30px;
}
#messages .error {
	border:1px solid #FF3F5D;
    background: #FFFFFF no-repeat 10px 5px;
    padding: 5px 5px 4px 30px;
}
#messages .info {
    background: #d2ebff no-repeat 10px 4px;
    padding: 5px 5px 4px 30px;
}
/* system messages in main content */
.maincontent #messagediv {
    padding: 10px 3px 10px 3px;
}
/* Help Popup */
.contextualHelp {
    padding: 5px 10px;
	font-size: 11px;
}
.contextualHelp h3 {
    margin-top: 5px;
}
/* Login */
.maincontent #loginform_container th {
    margin: 0;
    padding: 2px 5px 0 0;
}
.maincontent #loginform_container td {
    margin: 0;
    padding: 2px 0 0 0;
}
.maincontent #login_submit_container {
    font-size: 9px;
    display: inline;
}
.maincontent #login_submit_container td {
    background-color: white;
}
.maincontent #login_submit {
    margin: 5px 0 0 0;
}
/* Tables that need top and bottom margin adjustment */
fieldset table,
#employmenthistorylist,
#educationhistorylist,
#booklist,
#membershiplist,
#coverletter table,
#coverletter td,
#interests table,
#interests td,
#contactinformation table,
#contactinformation td,
#personalinformation table,
#personalinformation td,
#certificationlist,
#userview table,
#upgradestable,
#searchresults {
	margin: 0 !important;
	padding: 0;
}
/* Tables that need to be 100% width */
#profileicons,
#educationhistorylist,
#booklist,
#membershiplist,
#employmenthistorylist,
#certificationlist,
#myviewstable,
#friendslist,
#friendslistcontainer .friendinfo,
#filelist,
#bloglist,
#postlist,
#filebrowser,
#mygroupstable,
#findgroups,
#activitylist,
#userviewstable,
#usergroupstable,
#userfriendstable,
#upgradestable,
#forumslist {
	width: 100%;
	* width: 98%;
}
/* Tables that are inside MCE Editors */


#coverletter fieldset,
#interests fieldset,
#contactinformation fieldset,
#personalinformation fieldset
{
    border: 0;
}

.tags {
    font-size: 11px;
}



/* REGISTER */
#register_tandc_container th {
    /* special case rule required because pieforms outputs labels for each of
       the radio options rather than the header itself */
    color: #333333;
}
#register td label {
	color: #14336F; /* Yes & No need to be normal colour */
}


/* CONTACT US */



/* PROFILE */
#userview .user-icon {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 11px;
}
input#addfriend_add,
input#myfriends_addfriend_add {
    color: #3092ce;
    font-weight: bold;
}
#userview .user-icon #invite,
#userview .user-icon #addmember {
	margin-top: 10px;
}
#userview .user-icon select {
	font-size: 11px;
}
#userview .user-icon input#invite_submit {
	color: #1F97D5;
}
#userview #btn-delete {
	background: transparent url(../images/icon-delete.gif) no-repeat left;
	padding: 4px 12px;
}
#userview #addmember_submit {
	background: transparent;
	color: #1F97D5;
	height: 16px;
}
.btn-request {
	background: transparent;
	padding: 4px 12px;
}
#userview #user-info {
	margin-top: 10px;
	list-style: none;
	line-height: 22px;
}
#userview div h3 {
	clear: both;
}
#userviewstable,
#usergroupstable,
#userfriendstable {
	border-top: 1px solid #14436F;
	border-bottom: 1px solid #14436F;
}
#userviewstable td,
#usergroupstable td,
#userfriendstable td {
	padding: 6px;
	font-size: 11px;
}
#userfriendstable td {
	text-align: center;
    vertical-align: bottom;
}
#userfriendstable a {
    display: block;
}
#usergroupstable h4 {
    margin-top: 0;
}
#sendmessage input,
#invitetogroup #invitetogroup_submit_container input {
	margin: 0;
}


/* PROFILE > EDIT PROFILE */
#email_list a {
	background: url(../images/icon-delete.gif) no-repeat 3px !important;
	color: #FFF;
}
#profileform_email_container td a {
	font-size: 11px;
	background: url(../images/icon-add.gif) no-repeat 5px 3px;
	padding-left: 18px;
}
#profileform_email_container td .help a {
	background: none;
	padding-left: 5px;
}
#profileform_topsubmit_container th,
#profileform_submit_container th {
	padding: 0;
}
#profileform {
	padding-top: 15px;
}
.profile-fieldsets {
    clear: left;
	padding: 0;
	margin: 0;
}
.profile-fieldsets fieldset {
	margin-top: 2px;
}
fieldset.safe-hidden .mceEditor {
	display: none;
}
.profile-fieldsets .resizable-textarea {
   width:450px !important;
}


/* PROFILE > PROFILE ICONS */
#profileicons th {
	text-align: center;
}
#profileicons tfoot td {
	text-align: center;
}


/* PROFILE > MY RESUME */
#addemploymenthistorybutton,
#addeducationhistorybutton,
#addcertificationbutton,
#addbookbutton,
#addmembershipbutton {
	font-size: 11px;
	background-color: #1D499F;
	height: 22px;
	padding: 2px 10px;
	margin: 0;
}
/* Form background when add button is pressed */
#addemploymenthistory,
#addeducationhistory,
#addcertification,
#addbook,
#addmembership {
	background-color: #F0F0F0;
	border-top: 1px solid #ced7df;
	border-bottom: 1px solid #14436F;
}
#contactinformation_contactinformation_container table {
	margin: 0;
}
#contactinformation_contactinformation_container table th {
	padding: 2px 10px 2px 0;
}
#contactinformation_contactinformation_container table td {
	padding: 2px 0;
}
#personalinformation_dateofbirth_container td,
#personalinformation_placeofbirth_container td,
#personalinformation_citizenship_container td,
#personalinformation_visastatus_container td,
#personalinformation_gender_container td,
#personalinformation_maritalstatus_container td,
#personalinformation_save_container td {
	padding: 2px 10px;
}


/* MY PORTFOLIO > MY VIEWS */
#btn-edit {
	padding-left: 12px;
	font-size: 11px;
}
#btn-reply {
	padding-left: 12px;
	font-size: 11px;
}
#btn-deletethisview {
	margin-left: 10px;
	padding-left: 12px;
	font-size: 13px;
    font-weight: bold;
}
#btn-deletethisview:hover {
	text-decoration: none;
}
#editview td a {
	font-size: 11px;
}
#editaccess table {
	width: 100%;
	* width: 98%;
}
#viewacl_lhs #results {
	border-bottom: 1px solid #14436F;
}
#viewacl_lhs #results .button {
    margin-top: 0;
    height: 20px;
	border: 0;
	background: url(../images/icon-add.gif) no-repeat left 7px;
	padding-left: 10px;
	color: #1F97D5;
	font-weight: bold;
}
#potentialpresetitems button {
	border: 0;
	background: url(../images/icon-add.gif) no-repeat left 7px;
	padding-left: 10px;
	color: #1F97D5;
	font-weight: bold;
}
button#dosearch {
	background: url(../images/btn_search_off.png) no-repeat;
	padding-left: 20px;
	border: 0;
}

#viewacl_lhs {
    float: left;
    border-right: 1px solid #14436F;
    padding-right: 1em;
    margin-right: 1em;
}
.ai-container {
    border-right: 1px solid #14436F;
}

#editaccess #results {
	width: auto;
	margin-top: 5px;
}
#editaccess #results th {
	text-align: left;
	padding: 2px 10px;
}
#editaccess #results td {
	white-space: nowrap;
	padding: 2px 10px;
}
#editaccess #results td button {
	border: 0;
	background: url(../images/icon-add.gif) no-repeat left 10px;
	padding-left: 10px;
	font-weight: bold;
	color: #1F97D5;
}

#editaccess_accesslist_container h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}
#accesslistitems table {
	width: auto;
	margin: 0 10px 10px 0;
	float: left;
}
#accesslistitems table table {
	margin: 0 0 10px 0;
	width: auto;
}
#accesslistitems table th {
	text-align: left;
	padding: 2px 0;
}
#accesslistitems table table th {
	color: #555555;
	font-size: 11px;
}
#accesslistitems table td,
#accesslistitems table table td{
	padding: 2px 5px;
}
#accesslistitems table td button {
	border: none;
	color: #1F97D5;
	background: url(../images/icon-delete.gif) no-repeat left;
	padding: 0 0 0 10px;
	margin: 0;
	height: 16px;
}
#editaccess_overrides_container fieldset {
	padding: 10px;
}
#editaccess_overrides_container fieldset div {
	margin: 5px;
}
#editaccess_submit_container input#editaccess_submit {
	background-color: #1D499F !important;
}

#copyview {
  padding: 0;
  margin: 0;
}
#copyview .searchlist {
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
}
#copyview .searchlist h3,
#copyview .searchlist h4 {
  margin-top: 0;
}
#copyview .templateresults {
  width: 100%;
  margin-top: 5px;
}
#copyview form.searchquery {
  text-align: center;
  margin-top: 10px;
}
#copyview #templatesearch td img {
  vertical-align: bottom;
}
#viewpreviewinner {
  padding: 5px;
}
#viewpreviewclose {
  padding-bottom: 5px;
}
#viewpreviewcontent {
  margin-top: 5px;
}

/* MY PORTFOLIO > MY FILES */
#uploader {
	display: inline;
}
#uploadform {
    background-color: #f4f8e7;
	padding: 2px 15px;
}
#uploadform table th {
	text-align: left;
	padding: 3px 10px 3px 0;
}
#uploadform table td {
	font-size: 11px;
	padding: 3px 0;
}
#uploadform table th label {
	color: #646464;
}
#uploadform table input.button {
	height: 22px;
	padding: 2px 10px;
	float: right;
}
#uploadform table td table.help-wrapper {
	padding: 0;
}
#createfolderform {
    background-color: #e3ecc2;
	margin-top: 15px;
	padding: 2px 15px;
}
#createfolderform table th {
	text-align: left;
	padding: 3px 10px 3px 0;
}
#createfolderform table td {
	font-size: 11px;
	padding: 3px 0;
}
#createfolderform table th label {
	color: #646464;
}
#createfolderform table input.button {
	height: 22px;
	padding: 2px 10px;
	float: right;
}
#createfolderform table td table.help-wrapper {
	padding: 0;
}
#foldernav {
    font-weight: bold;
    margin: 15px 0 0 3px;
    padding: 3px 0 3px 25px;
    font-size: 18px;
    background: url(../images/foldernav.gif) no-repeat left 2px;
}
.directory-item.folder a {
	font-weight: bold;
}
#filelist tr.folderhover.directory-item td {
        background-color: #ffc !important;
}
#filelist tr.folderhover.directory-item a {
        color: #000;
        text-decoration: none;
}
#filelist {
	border-bottom: 1px solid #14436F;
}
#filelist tr.r0.folder td,
#filelist tr.r1.folder td {
    background-color: #e0e4e8 !important;
}
#filelist tr.r0 td {
    background-color: #e0e8ee !important;
	border-top: none;
	border-bottom: none;
	line-height: 2em;
}
#filelist tr.r1 td {
    background-color: #f4f7f9 !important;
	border-top: none;
	border-bottom: none;
	line-height: 2em;
}
#filelist tr td {
	background-color: #f9f9f9;
	border-top: 1px solid #b8c8d5;
	border-bottom: 1px solid #b8c8d5;
}
#filelist table td {
	border-top: none;
	border-bottom: none;
	padding: 3px 0;
	font-size: 11px;
}
#filelist table th {
	text-align: left;
	padding: 3px 10px 3px 55px;
}
#filelist table th label {
	color: #646464;
}
#filelist table td input.button {
	height: 22px;
	padding: 2px 10px;
	float: right;
}
#filelist tr.highlight-file td {
    background: #fffcd8 url(../images/highlight-bg.gif) repeat left top !important;
    font-weight: bold;
    color: #1F97D5;
}
#filelist table table.editpermissions {
	text-align: left;
}
#filelist table table.editpermissions th {
	padding: 3px 10px 3px 0;
}
#filelist table table.editpermissions td {
	font-size: 11px;
	padding: 3px 0;
}
#filelist table table.editpermissions th label {
	color: #646464;
}


/* MY PORTFOLIO > MY BLOGS */
#bloglist {
	border-bottom: 1px solid #14436F;
}
#bloglist td,
#postlist td {
  padding-top:10px;
}
#myblogs .blogsettingscontainer {
	margin-top: 10px;
}
#myblogs #postlist p img {
	padding: 10px 20px;
}
#postlist {
	border-collapse: separate;
}
#postlist th {
	border-bottom: 1px solid #888888 !important;
	padding: 2px 10px;
	text-align: left;
}
#postlist input.button,
#postlist input.submit {
	margin: 0 5px;
	font-size: 9px !important;
}
.settingsicon a {
	background-color: #14436F;
	padding: 3px 10px;
	border-color: #D9DFEA #b2b2b2 #b2b2b2 #D9DFEA !important;
	border-style: solid;
	border-width: 1px;
	font-size: 11px;
	color: #FFF;
	margin-left: 5px;
}
.settingsicon a:hover {
	color: #FFF !important;
}
.blogpost-attachments {
	width: 100%;
	* width: 98%;
	border: 1px solid #14436F;
	background-color: #888888;
    padding: 0 !important;
	margin-bottom: 0 !important;
}
.blogpost-attachments tbody th {
	color: #FFF;
	font-weight: bold;
    text-align: left;
}
.blogpost-attachments tr.r0 td,
.blogpost-attachments tr.r1 td {
	color: #14336F;
	font-weight: normal;
}
#editpost th {
	padding: 2px 0;
}
#editpost td {
	padding: 2px 10px;
}
#browsebutton {
	background-color: #14436F;
}
#browsemyfiles {
	margin-top: 15px;
    background-color: #e3e3e3;
	padding: 10px 15px;
}
#browsemyfiles h3 {
	margin-top: 0;
}
#draftpost table {
	margin: 5px 0;
}
#draftpost table th {
	text-align: left;
	padding: 2px 10px;
}
#draftpost table td {
	padding: 2px 0;
}
span.viewicon {
	float: right;
}
#editblog table th {
	text-align: right;
	padding: 2px 10px;
}
#editblog table td {
	padding: 2px 0;
	font-size: 11px;
}
.postdetails {
	font-size: 11px;
	color: #a3a3a3;
	text-align: left;
	padding-top: 0 !important;
	padding-bottom: 15px !important;
}
#myblogs input.edit {
	border: none;
	background: url(../images/icon-edit.gif) no-repeat left 5px;
	font-size: 9px !important;
	color: #1F97D5;
	padding-left: 6px;
	height: 16px;
}
#myblogs input.publish {
	border: none;
	background: url(../images/icon-publish.gif) no-repeat left 5px;
	font-size: 9px !important;
	color: #1F97D5;
	padding-left: 8px;
	height: 16px;
}
#myblogs input.delete {
	border: none;
	background: url(../images/icon-delete.gif) no-repeat left 5px;
	font-size: 9px !important;
	color: #1F97D5;
	padding-left: 6px;
	height: 16px;
}
#filebrowser {
	border-bottom: 1px solid #14436F;
}	


/* VIEWS */
#feedbacktable {
	border-bottom: 1px solid #14436F;
}
#feedbacktable thead th {
	font-size: 12px;
}
#feedbacktable tbody td {
	font-size: 11px;
	padding: 10px;
}
#feedbacktable .details {
	margin-top: 10px;
	color: #9e9e9e;
}
#feedbacktable .icon {
	float: left;
	margin-right: 5px;
}
#viewmenu a {
	margin: 0 15px;
	font-size: 11px;
}
#view #publicfeedback {
	padding: 10px 15px;
	border-top: 2px dotted #D2D2D2;
	font-size: 11px;
}
#view .blockinstance-content {
	padding-bottom: 15px;
}
#view .blockinstance-content .blogpost-attachments th,
#view .blockinstance-content .blogpost-attachments td {
	padding: 2px 5px;
}
#view .blockinstance-content .postdetails {
	text-align: right;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.blockinstance-content .maharatable th {
	text-align: left !important;
}
#blockconfig-header {
  font-weight: bold;
  padding: 5px 5px 0;
}
#feedback th,
#objection th {
	padding: 2px 10px;
	text-align: left;
}
#wallpost {
    border-bottom: 1px solid #ccc;
    padding: 0 0 .75em;
}
.wallpost {
    border-bottom: 1px solid #ccc;
    padding: 0 .5em;
}
.wallpost .userinfo {
    padding-top: .75em;
}
.wallpost .userinfo div {
    padding-top: .5em;
}
.wallpost .userinfo img {
    float: left;
    margin-right: .5em;
}
.wallpost .text {
    clear: left;
}
.wallpost .text p {
    margin-top: 5px;
}

.wallpost .postedon {
    color: #888;
}
#wall .private {
    background-color: #ffc;
}


/* GROUPS */
#userview h4 {
	margin-top: 0;
}
#joinrequest {
	padding-left: 12px;
}

/* GROUPS > VIEWING A GROUP */
#grouppage-tabs {
  padding: 0;
  height: 35px;
  margin-top: 12px;
  font-size: 12px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#grouppage-tabs ul {
  height: 25px;
  padding: 0;
  background: url(../images/submenu-bg.gif) repeat-x;
}
#grouppage-tabs ul li {
  float: left;
  height: 25px;
  margin: 0 0 0 0;
  padding: 5px 13px 5px 8px;
  background: url(../images/submenu-divider.gif) no-repeat top right;
}
#grouppage-tabs ul li.selected {
  background: url(../images/submenu-over-bg.gif) repeat-x top right;
}
#grouppage-tabs li a {
  color: #14336F;
  text-decoration: none;
}
#grouppage-tabs li.selected a {
  color: #1A428F;
}

#grouppage-container {
  padding: .5em;
  clear: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#grouppage-container h3 {
    margin-top: 0;
}

#group-info li {
  margin-right: 8px;
}
#group-controls li {
  margin-left: 0;
  margin-right: 8px;
  float: left;
}
#membersearchresults {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
	border-top: 1px solid #14436F;
	border-bottom: 1px solid #14436F;
}
#membersearchresults h4 {
    margin: 0;
}
#membersearchresults p {
    margin: .1em 0 0 65px;
}
#membersearchresults td {
  width: 50%;
}
#membersearchresults .removeform {
    padding: 0;
}
#membersearchresults .removeform form,
#membersearchresults .removeform form div {
    display: inline;
    padding: 0;
    margin: 0;
}
#membersearchresults .removeform input {
    /* todo check how to just override the 3px here (and elsewhere) */
	background: url(../images/icon-delete.gif) no-repeat left 3px;
	padding-left: 10px;
	font-size: 11px;
    color: #1F97D5;
    margin: 0 0 0 20px;
    height: auto;
}
.group-info-para {
    margin: 15px 0;
}

/* GROUPS > GROUP VIEWS */
#groupviewoptions li.current a {
    color: #1A428F;
}
#groupviewoptions li a {
    color: #14336F;
}

#filter input.submit {
	height: 22px;
	margin-left: 5px;
}


/* GROUPS > FIND GROUPS */
#findgroups {
	border-top: 1px solid #14436F;
	border-bottom: 1px solid #14436F;
}
#findgroups h3 {
	margin-top: 5px;
}
#findgroups h3 a {
	color: #1e6297;
}
#findgroups td {
	font-size: 11px;
}
#findgroups ul {
	margin-top: 5px;
}
#findgroups ul li {
	display: inline;
	margin-right: 20px;
	margin-left: 0;
}
#btn-requests {
    /* todo override 4px here */
	background: url(../images/icon-add.gif) no-repeat left 4px;
	padding-left: 12px;
}
#search_filter_container {
	margin: 0 5px;
}
#search_search {
	background: url(../images/btn_search_off.png) no-repeat;
	border: none;
	padding-left: 25px;
	height: 24px;
	color: #fff;
}


/* GROUPS > MY FRIENDS */
#friendslist {
	border-top: 1px solid #14436F;
	border-bottom: 1px solid #14436F;
}
#friendslist td.viewlist ul li {
	display: list-item;
	margin-left: 15px;
}
#friendslist .friendinfo td p {
	margin-top: 0;
}
#friendslist td.viewlist {
	padding-top: 25px;
    width: 200px;
}
#friendslist td.viewlist h3 {
	font-size: 14px;
}


/* GROUPS > FIND FRIENDS */
#friendslist .friendinfo .fr a#btn-request {
	background-color: #1D499F;
	border-color: #D9DFEA #b2b2b2 #b2b2b2 #D9DFEA !important;
	border-style: solid;
	border-width: 1px;
	padding: 3px 5px 2px 5px;
	color: #FFF;
	font-size: 11px;
	height: 20px;
	font-weight: normal;
}
#friendslist .friendinfo .fr a#btn-request:hover {
	text-decoration: none;
}
.friendinfo h3 {
	text-align: left;
	margin-top: 0;
}
.friendinfo {
	padding: 0;
	font-size: 11px;
	margin: 0 !important;
}
.friendinfo ul {
	margin: 0;
}
.friendinfo ul li {
	display: inline;
	margin: 0 20px 0 0;
}
#friendslist .friendinfo td div ul {
	margin-top: 5px;
}
#btn-sendmessage {
    /* seriously, 4px in raw, 3px here?! */
	background: url(../images/icon-mail.gif) no-repeat left 3px;
	padding-left: 12px;
	font-size: 11px;
}
#btn-delete {
	padding-left: 12px;
	font-size: 11px;
}
#friendslist .friendinfo div.submit input.submit {
	height: 20px;
	font-size: 11px;
}
#group_viewlist,
#memberlist {
	border-bottom: 1px solid #14436F;
}


.nowrap {
	white-space: nowrap;
}
.btn-editdk {
	margin-right: 5px;
	background-color: #1D499F;
	border-color: #D9DFEA #b2b2b2 #b2b2b2 #D9DFEA !important;
	border-style: solid;
	border-width: 1px;
    height: 24px;
	color: #FFF !important;
	padding: 2px 10px;
	font-size: 11px;
}
.btn-deletedk {
	margin-right: 5px;
	background-color: #14436F;
	border-color: #D9DFEA #b2b2b2 #b2b2b2 #D9DFEA !important;
	border-style: solid;
	border-width: 1px;
    height: 24px;
	color: #FFF !important;
	padding: 2px 10px;
	font-size: 11px;
}


/**
 * These are generic interaction plugin styles,
 * so I'm leaving them here instead of moving to interaction/forum stylesheet
 * - penny 20090530
 */
#edit_interaction table {
	margin:0;
}
#edit_interaction_moderator_container table {
	margin: 0;
	padding: 0;
}
#edit_interaction_moderator_container table td {
	margin: 0;
	padding: 0 5px;
}
#edit_interaction_moderator_container table th {
	text-align: left;
	padding: 2px 5px;
	color: #555555;
}
#edit_interaction_moderator_container table td label {
	padding-right: 5px;
}
#edit_interaction_moderator_container table td button {
	height: 20px;
	background-color: #1D499F;
}
#edit_interaction_moderator_container button#moderator_search_btn {
	background: url(../images/btn_search_off.png) no-repeat !important;
	border: none;
	padding-left: 25px;
	height: 24px;
	color: #fff;
}





/* SETTINGS > NOTIFICATIONS */
#activitylist th a {
	font-size: 9px;
}
#activitylist td div {
	font-size: 11px;
	padding: 2px 5px;
}
#activitylist td.markasreadtd {
	text-align: right;
}
#activitylist td.markasreadtd .markasread input.submit {
	height: 24px;
	padding: 2px 10px;
}
#activitylist td.markasreadtd .markasread input.btn-delete {
	background-color: #14436F !important;
}


/* SETTINGS > INSTITUTION MENBERSHIP */
#requestmembership_institution_container {
	margin: 10px 0;
}
#requestmembership_studentid_container {
	margin: 10px 5px 0 10px;
}
#requestmembership_submit {
	height: 22px;
}
#cancelrequest label {
	display: block;
}


/* ADMIN HOME */
/* Administration Home styles */
#adminhome ul {
    margin: 0;
    list-style: none;
}
#adminhome ul ul li {
    margin: 0 0 0 25px;
	list-style-type:disc;
}
#runupgrade {
    padding: 10px;
    background-color: #e0e8ee;
    border: 1px solid #14436F;
}
#runupgrade h4 {
    margin-top: 0;
    padding-bottom: .5em;
}
#upgradestable {
    border: none;
	font-size: 11px;
}
#upgradestable th {
    padding: 3px 15px;
    border-bottom: 1px solid #14436F;
    background-color: #e0e8ee;
	color: #888888;
	text-align: left;
}
#upgradestable td {
    padding: 3px 15px;
	background-color: #f4f7f9;
}
.upgradeicon a {
    color: #FFF;
    height: 24px;
	background-color: #1D499F;
	padding: 3px 10px;
	border-color: #D9DFEA #b2b2b2 #b2b2b2 #D9DFEA !important;
	border-style: solid;
	border-width: 1px;
	font-size: 11px;
}
#adminhome ul h3 {
	font-size: 14px;
}
#adminhome ul ul li {
	font-size: 12px;
}
#register-site h3 {
    text-align: center;
    margin: .25em;
}
#register-site p {
    margin: 10px 0 0;
}
#register-site div {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
}
#register-site form table {
    margin: 0 auto;
    text-align: left;
}
#register-site th {
    text-align: left;
}

/* CONFIGURE SITE > SITE OPTIONS */
#siteoptions td,
#siteoptions th {
	padding: 2px 5px;
}


/* MANAGE USERS > USER SEARCH */
table#initials {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}
table#initials .initial-label {
    text-align: right;
	padding-right: 5px;
	color: #1e6297;
	font-weight: bold;
}
table#initials .initial-letters {
    font-size: 13px;
}
#initials .initial-letters span {
    padding-left: 2px;
    padding-right: 2px;
}
#initials .initial-letters span.selected a {
    color: #000 !important;
    text-decoration: none;
    font-weight: bold;
}
.query-button,
#query-button {
	background: url(../images/btn_search_off.png) no-repeat;
	border: none;
	padding-left: 25px;
	height: 24px;
	color: #fff;
}



/* CONFIGURE SITE > NETWORKING */
#networkingform td,
#networkingform th {
	padding: 2px 5px;
}


/* MANAGE USER > ADMIN NOTIFICATIONS */



/* CONFIGURE SITE > LINKS AND RESOURCES MENU */
#menuitemlist table td {
	background-color: #f4f7f9;
}
#menuitemlist table th {
	border-bottom: 1px solid #14436F;
	text-align: left;
}
#menuitemlist #rownew td {
	border-top: 1px solid #e0e8ee;
	border-bottom: 1px solid #14436F;
	line-height: 20px;
	padding: 5px;
	background-color: #FFF;
	vertical-align: middle;
}
#menuitemlist #rownew td input.button {
	height: 22px;
	padding: 2px 10px;
	margin: 0;
}


/* CONFIGURE SITE > NETWORKING */



/* MANAGE USERS > USER SEARCH */
#results div{
	padding: 10px 15px;
}
#results #searchresults td div {
	padding: 0;
}

/* MANAGE USERS > EDIT USER */
#edituser hr {
    height: 1px;
    border: 1px solid #aaa;
    border-width: 1px 0 0 0;
}
#edituser .message h4 {
    margin: 0;
}
#edituser .message div#suspendreason {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}
#edituser table#suspenddelete {
    width: 90%;
    margin: 0 auto;
}
#edituser table#suspenddelete td#delete {
    width: 50%;
    text-align: center;
}
#edituser table#suspenddelete h4 {
    margin-top: 0;
}


/* MANAGE USERS > SUSPENDED USERS */
#suspendedlist {
	border-bottom: 1px solid #14436F;
}


/* MANAGE USERS > SITE STAFF */
#staffusers table {
	margin:0;
}
#staffusers_users_container table {
	margin: 0;
	padding: 0;
}
#staffusers_users_container table td {
	margin: 0;
	padding: 0 5px;
}
#staffusers_users_container table th {
	text-align: left;
	padding: 2px 5px;
	color: #555555;
}
#staffusers_users_container table td label {
	padding-right: 5px;
}
#staffusers_users_container table td button {
	height: 20px;
	background-color: #14436F;
}
#staffusers_users_container table td #users_search_btn {
	background: url(../images/btn_search_off.png) no-repeat;
	border: 0;
	padding-left: 20px;
	height: 24px;
}


/* MANAGE USERS > SITE ADMINS */
#adminusers {
	margin: 0;
}
#adminusers #adminusers_users_container table {
	margin: 0;
	padding: 0;
}
#adminusers #adminusers_users_container table td {
	margin: 0;
	padding: 0 5px;
}
#adminusers #adminusers_users_container table th {
	text-align: left;
	padding: 0 5px;
	color: #555555;
}
#adminusers #adminusers_users_container table td label {
	padding-right: 5px;
}
#adminusers #adminusers_users_container table td button {
	height: 20px;
	background-color: #14436F;
}
#adminusers #adminusers_users_container table td #users_search_btn {
	background: url(../images/btn_search_off.png) no-repeat;
	border: 0;
	padding-left: 20px;
	height: 24px;
}



/* MANAGE USERS > ADMIN NOTIFICATIONS */
#notificationstable {
	border-bottom: 1px solid #14436F;
}
#notificationstable th {
	text-align: left;
	border-bottom: 1px solid #14436F;
	padding: 3px 10px;
}


/* MANAGE USERS > ADD USER */



/* MANAGE USERS > ADD USERS BY CSV */



/* MANAGE INSTITUTIONS > INSTITUTIONS */
#adminstitutionslist {
	border-bottom: 1px solid #14436F;
}
#institution fieldset table tr {
	display: inline;
}
#institution fieldset table th {
	width: 180px;
	padding: 2px;
}
#institution fieldset table td {
	padding: 2px;
	width: 8px;
}
.institutioneditbuttons form,
.institutionedituserbuttons {
	display: inline;
}
.institutionedituserbuttons input {
	background-color: #14436F;
}
#institution #instanceList .authLabel {
	float: none;
}
#institution #instanceList .authIcons {
	float: none;
}
#institution label {
	padding: 5px;
}


/* MANAGE INSTITUTIONS > INSTITUTION MEMBERS */
#usertypeselect {
	margin-bottom: 0;
}
#usertypeselect th {
	text-align: left;
}
#institutionusers {
	margin: 0;
}
#institutionusers td table {
	margin: 0;
}
#institutionusers td table th,
#institutionusers td table td {
	padding: 0 5px;
}
#institutionusers td table th {
	color: #555555;
	padding-top: 3px;
	text-align: left;
}
#institutionusers #institutionusers_users_container td button {
	background-color: #14436F;
	height: 20px;
}
#institutionusers #institutionusers_users_container table td label {
	padding-right: 5px;
	color: #555555;
}
#institutionusers #institutionusers_users_container button#users_search_btn {
	background: url(../images/btn_search_off.png) no-repeat;
	padding-left: 20px;
	border: 0;
	height: 24px;
}


/* MANAGE INSTITUTIONS > INSTITUTION STAFF */
#institutionselect table {
	margin-bottom: 0;
}


/* MANAGE INSTITUTIONS > INSTITUTION ADMINISTRATORS */
#adminusers {
	margin: 0;
}


/* ADMINISTER EXTENSIONS */
#adminplugin ul.adminpluginstypes {
	list-style: none;
}
#adminplugin ul.adminpluginstypes ul {
	margin-left: 17px;
}


/* FOOTER */

/* Other */


/*  Calendar  */

.calendar .nav,
.calendar td.time,
.headrow td.button,
.calendar .combo .active,
.calendar tbody td.selected {
   background-color: #1D499F
}
.calendar tbody td.selected {
  color:#FFFFFF !important;
}
.calendar thead .hilite,
.calendar tbody td.hilite {
  background-color: #2F60BF;
}

