/*  Views  */
#views-loading {
}
/********************** Top pane of Edit View *************************/
#top-pane {
    background: #1D499F;
}
/* The tabs that allow you to select a blocktype category */
#category-list ul {
    height: 25px;
    padding-left: 1em;
}
#category-list li {
    margin: 0;
    float: left;
    color: #1E6297;
}
#category-list li a,
#category-list li a:link,
#category-list li a:visited,
#category-list li a:active {
    background: none;
	color: #FFF;
	line-height: 25px;
    padding: 5px 10px 7px 10px;
    * padding: 7px 10px 7px 10px;
}
#category-list li a:hover {
	text-decoration: underline;
}
#category-list li.current a,
#category-list li.current a:link,
#category-list li.current a:visited,
#category-list li.current a:active {
    background-color: #f4f7f9;
	color: #1e6297;
}
#category-list li.current a:hover {
}

/* The panel that contains the blocktype icons */
#blocktype-list {
  color: #1D499F !important;
  background-color: #f4f7f9;
  border-top: 0;
}
.blocktype div {
}
#noblocks {
}


/********************** Between Panes **************************************/
#layout-link {
}
#layout-link.disabled {
}
#btn-displaymyview {
}


/********************** Bottom pane of Edit View *************************/
#page #bottom-pane {
	border-color: #1D499F !important;
}
#blocksinstruction {
    background: #1D499F;
    color: #FFFFFF;
}

#column-container .column-header input[disabled="disabled"] {
}

.column-content .add-button input {
}

#block-placeholder {
}

/********************** Blockinstance ***********************************/
.blockinstance {
}
.blockinstance.configure {
}
/* header*/
.blockinstance-header h4 {
    border-bottom: 2px solid #d2d2d2;
}
.blockinstance-header h4 a,
.blockinstance-header h4 a:link,
.blockinstance-header h4 a:visited,
.blockinstance-header h4 a:active {
    text-decoration: none;
}
.blockinstance-header h4 a:hover {
}

/* content */
.blockinstance-content {
}
.blockinstance-content h3 {
}
.blockinstance-content h4 {
}

/* Wall */
.wallpost {
    background-color: #F4F7F9;
}
#wall .private {
}

/* tabs for the artefact chooser */
ul.artefactchooser-tabs {
    line-height: 25px;
    font-weight: bold;
    font-size: 12px !important;
    height: 25px;
    padding-left: 1em !important;
    background: none;
}
ul.artefactchooser-tabs li {
    line-height: 25px;
    margin: 0 3px 0 0 !important;
    float: left;
    color: #FFF !important;
}
ul.artefactchooser-tabs li a,
ul.artefactchooser-tabs li a:link,
ul.artefactchooser-tabs li a:visited,
ul.artefactchooser-tabs li a:active {
    color: #FFF !important;
    padding: 5px 12px 6px 10px;
    height: 25px;
    background: #1D499F;
}
ul.artefactchooser-tabs li a:hover {
}
ul.artefactchooser-tabs li.current a,
ul.artefactchooser-tabs li.current a:link,
ul.artefactchooser-tabs li.current a:visited
ul.artefactchooser-tabs li.current a:active {
    color: #000 !important;
    background: #F5F9FC;
	border-left: 1px solid #d1d1d1;
	border-top: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	border-bottom: 0;
}
ul.artefactchooser-tabs li.current a:hover {
}
ul.artefactchooser-subtabs {
  margin: 0 !important;
  padding: 0 !important;
}
ul.artefactchooser-subtabs li {
  padding: 0;
  margin: 0 3px 0 0 !important;
  border-right: 0;
}
ul.artefactchooser-subtabs li a,
ul.artefactchooser-subtabs li a:link,
ul.artefactchooser-subtabs li a:visited,
ul.artefactchooser-subtabs li a:active {
  text-decoration: none;
  padding: .25em .5em;
  background: #FFF;
}
ul.artefactchooser-subtabs li a:hover {
	text-decoration: none;
}
ul.artefactchooser-subtabs li.current a,
ul.artefactchooser-subtabs li.current a:link,
ul.artefactchooser-subtabs li.current a:visited,
ul.artefactchooser-subtabs li.current a:active {
  color: #333;
  font-weight: bold;
  background: #DDD;
}
ul.artefactchooser-subtabs li.current a:hover {
	text-decoration: none;
}

#artefactchooser-body {
    background: #F5F9FC;
}
.upload_browse #artefactchooser-body {
}

/* pagination */
.ac-pagination .results {
}

/* attachments */
.attachments {
}
#view .blockinstance-content .attachments,
#view .blockinstance-content .attachments td {
}

/** When viewing an artefact */
#view .filedata-icon.fr {
}

#copyview .searchquery {
}


/* table */
.maharatable thead th {
    color: #186194;
}
.maharatable tbody th {
}
#artefactchooser-body th label {
	color: #14336F;
}
.maharatable td label {
	color: #14336F;
}


/* View Page footer menu */
#view .viewfooter {
}
#view #feedbacktable {
}
#viewmenu a {
    padding-left: 12px;
}