.site-messages {
    ~ .header {
        top: 33px;    //for one message
        + .main-nav {
            margin-top: 32px;    //for one message
        }
    }
}

//adjust header and fixed elements for sitemessages
@for $i from 1 through 5 {
    .header.message-count-#{$i} {
        top: 33px * $i;

        @media (max-width: $screen-sm-min) {
            top: 0;
        }

        + .main-nav {
            margin-top: $i * 32px;
            @media (max-width: $screen-sm-min) {
                margin-top: 0;
            }
        }

        ~ .container {
            .toolbar-affix.affix {
                margin-top: $i * 33px;

                @media (max-width: $screen-sm-min) {
                    margin-top: 0;
                }
            }
        }

        + .middle-container-wrap {
            // if container is directly after header, then it will need a margin
            margin-top: ($i * 33px);

            @media (max-width: $screen-sm-min) {
                margin-top: 0;
            }
        }
    }
}

// when there is a static second level nav
.static-nav {
    padding-top: 138px;
    @media (max-width: $screen-sm-min) {
        padding-top: 0;
    }
    .header {
        height: 138px;
        @media (max-width: $screen-sm-min) {
            height: 65px;
        }
    }
}

// when there is a dropdown second level nav
.dropdown-nav {
    padding-top: 105px;
    @media (max-width: $screen-sm-min) {
        padding-top: 0;
    }
    .header {
        height: 105px;
        @media (max-width: $screen-sm-min) {
            height: 65px;
        }
    }
}

// when there is no nav
.no-nav {
    padding-top: 65px;
    @media (max-width: $screen-sm-min) {
        padding-top: 0;
    }
    .header {
        height: 65px;
    }
}
.loggedout  {
    padding-top: 65px;
    @media (max-width: $screen-sm-min) {
        padding-top: 0;
    }
}
