.form-control:focus {
    box-shadow: inset 0 0px 0px rgba(0,0,0,1);
    background-color: lighten($accent-color, 65%);
}

form#filter {
    background-colour: lighten($brand-primary, 80%);
}



// fix for set width on labels
#languageselect_lang_container {
  label {
    text-align: right;
    color: #FFF;
  }
  .picker {
    margin-right: 4px;
    border-radius: 4px;
  }
}
