.pagination-wrapper {
    .results {
        font-weight: 300;
        font-size: $font-size-small;
    }
    .pagination {
        margin: 0 0 10px 0;
        padding-left: 0;
        @media (max-width: $screen-sm-min) {
            padding-top: 10px;
            .hidden-xs {
                display: none;
            }
        }
        @media (max-width: $screen-md-min) {
            max-width: 500px;
        }
    }
    .form-pagination {
        font-size: $font-size-small;
        label {
            min-width: inherit;
        }
    }
}

// Small
.pagination-xs {
  @include pagination-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $border-radius-small);
}