/*
 * Theme colours should be defined here, and (ideally) used only in the global variables files (bootstrap-variables, custom-variables)
 */

$theme-primary-color: #556d32;
$theme-primary-color-dark: #2e3a1c;
$theme-text-color:  #333;
$theme-text-midtone-color: #666;
$theme-text-lighttone-color: #767676;

$theme-accent-color:  #423017; // note this currently isn't used anywhere in raw
