/*
 * Theme colours should be defined here, and (ideally) used only in the global variables files (bootstrap-variables, custom-variables)
 */

$theme-primary-color: #629600;
$theme-primary-color-dark: #335804;
$theme-text-color:  #333;
$theme-text-midtone-color: #666;
$theme-text-lighttone-color: #888;

$theme-accent-color:  #211c00; // note this currently isn't used anywhere in raw
