/*
 * Some themes may have more variables than is listed here. Copy and paste the variables from your parent theme into here and replace the values with your own.
 */

$theme-primary-color: #556d32; // mid green
$theme-secondary-color: #2e3a1c; // dark green
$theme-text-color: #333; // black
$theme-text-midtone-color: #444; // dark grey
$theme-text-lighttone-color: #555; // mid grey
