.modal .cell-radios > .form-group.radio > div.radio {
    display: none;
}


.cell-chooser {
    .cell-row {
        min-width: 0;
        width: 150px;
        overflow: hidden;
        .cell {
            min-width: 0;
            float: left;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            margin: 2% 2% 0 0;
            &.active {
                background-color: darken(#f2f2f2, 10%);
            }
            input {
                display: inline;
                position: absolute !important;
                clip: rect(1px, 1px, 1px, 1px);
                overflow: hidden;
                min-width: 0;
            }
        }
        .pseudolabel {
            @extend .sr-only;
        }

    }
}
