.collection-nav {
    background-color: $panel-default-heading-bg;
    padding: 10px;
    margin-bottom: 20px;
    border-top: 1px solid $btn-default-border;
    @include border-bottom-radius(3px);
    text-align: center;

    h2 {
        clear: both;

        @media (min-width: $screen-md-min) {
            clear: none;
        }
    }
    .prevpage {
        float: left;
        background-color: $body-bg;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .nextpage {
        float: right;
        background-color: $body-bg;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    p.navlabel {
        display: inline-block;
        margin-right: 10px;
    }
    nav.custom-dropdown {
        margin: 0 auto;
        display: inline-block;
        min-width: 200px;
    }

    @media (min-width: $screen-md-min) {
        h2 {
            clear: none;
        }
    }
}
