.comment-item {
    @include clearfix;
    &.list-group-item {
        margin-bottom: 0;
        border-top-width: 0;
    }
    &.list-group-item:first-child {
        border-top-width: 1px;
    }

    .col-width-100 .bt-comment &,
    .viewfooter &,
    .modal-docked.active & {
        @media (min-width: $screen-md-min) {
            .comment-text {
                float: left;
                width: 65%;
            }

            .comment-text::after {
                content: "\00A0";
            }

            .comment-attachment {
                padding-left: 15px;
                margin-left: 15px;
                border-left: 1px solid $brand-default;
                margin-top: -50px;
                float: left;
                width: 32%;

                .panel {
                    @include panel-as-link();
                    width: 100%;
                }
                .collapsed {
                    font-size: $font-size-base;
                    pointer-events: none;
                }
                // no need to collapse
                .collapse-indicator{
                    display: none;
                }
                .collapse {
                    opacity: 1;
                    display: block;
                    visibility: visible;
                }
                .list-group-item {
                    font-size: $font-size-base - 2;
                    background-color: transparent;
                }
                .attachmessage {
                    display: block;
                    padding-top: 15px;
                }
            }
        }
    }
    // Set opacity and visibility comment attachment inside modal docked
    .modal-docked & {
        @media (min-width: $screen-md-min) {
            .comment-attachment {
                .collapse {
                    transition: opacity 0s 0.2s;
                    opacity: 0;
                    display: block;
                    visibility: hidden;
                }
            }
        }
    }
    .collapse & {
        &:first-child {
            // To override panel listgroup no top border on first-child
            border-top: 1px solid $list-group-border !important;
            border-bottom: 0;
        }
    }

    // Indetation for nested comments
    @for $i from 1 through 5 {
        &.indent-#{$i} {
            $width: 100 - percentage(($i * 2)/100);
            width: $width;
            margin-left: auto;
            margin-right: 0;
            .user-icon {
                max-width: 35px;
                display: block;
            }
            h5 {
                margin-top: 3px;
            }
        }
    }

    // Nested comments
    // Hide reply to comment button for 15.10
    .modal-body & {
        .commentreplyto {
            display: none;
        }
    }

    .commentreplyview & {
        border-top-width: 1px;
        width: 100%;
    }
}
