.forum-post-container {
    padding: 10px 0;
}

.forum-post {
    border-left: 5px solid $brand-default;
    padding-left: 15px;
    .forumpostleft {
        min-width: 120px;
    }
    .title {
        margin: 0;

    }
    .editstopost {
        padding-top: 10px;
    }
}

.forum-post-btns {
    a {
        color: $theme-text-color;
        margin-left: 20px;
    }
}

// Report as objectionable forum post
.reportedaction {
    margin-top: 10px;
    .form-group.submit {
        padding: 0 0 10px 0;
    }
    // Overriding normal hover and focus
    // background colour as the collapsible
    // is inside alert box
    .collapsible a {
        &:focus,
        &:hover {
            background: darken($panel-default-heading-bg, 1%) !important;
        }
    }
}

.deletedpost {
    margin-top: 0;
    font-style: italic;
    padding: 5px 10px;
    color: $theme-text-midtone-color;
    background: $gray-lighter;
    border-radius: 5px;
}
