// User content in portfolio pages is within panels which need some unstyling first.
// Users also have access to a full WYSIWYG editor so some content for that needs styles.
// This styling is scoped to user-page-content which appears on the edit and display page pages.

.user-page-content,
#tinymce,
#view-description {

    // Unstyle panel elements
    .panel .panel-body table,
    .panel .panel-body table thead,
    .panel-body ul {
        color: $theme-text-color;
        font-size: $font-size-base;
    }

    .panel-body small {
        color: $theme-text-color;
    }

    .panel-body ul:not(.list-unstyled):not(.unstyled):not(.select2-selection__rendered) {
        padding-left: 40px;
    }

    pre {
        background-color: transparent;
        border: 0px none;
        color: $theme-text-color;
        font-size: $font-size-base;
        padding: 0;
    }

    h1 {
        border-bottom: 0px none;
        padding: 0;
    }

    h4.feedtitle {
        font-size: $font-size-h2;
    }

    blockquote {
        border-left-color: $theme-text-color;
        font-size: $font-size-base;
    }

    // Add styling for tinymce or external feed created elements

    .feedcontent .wp-smiley {
        width: 18px;
    }

    .feedcontent h1,
    .feedcontent h2,
    .feedcontent h3,
    .feedcontent h4,
    .feedcontent h5,
    .feedcontent h6 {
        font-size: $font-size-h3;
    }

    table {
        border-spacing: 0;
        border-color: $table-border-color;
        border-width: 1px;
    }

    table,
    table td {
        border-style: solid;
    }

    table td {
        padding:2px 5px;
    }
}
