php_flag register_globals off
php_flag magic_quotes_runtime off
php_flag magic_quotes_sybase off
php_flag magic_quotes_gpc off
php_flag log_errors on
<Files config.php>
    Order deny,allow
    deny from all
</Files>
<Files .htaccess>
    Order deny,allow
    deny from all
</Files>
<Files lib.php>
    Order deny,allow
    deny from all
</Files>
