php_flag register_globals off
php_flag magic_quotes_runtime off
php_flag magic_quotes_sybase off
php_flag magic_quotes_gpc off
php_flag log_errors on
php_flag allow_call_time_pass_reference off
php_value upload_max_filesize 50M
php_value post_max_size 50M
<Files config.php>
    Order deny,allow
    deny from all
</Files>
<Files .htaccess>
    Order deny,allow
    deny from all
</Files>
<Files lib.php>
    Order deny,allow
    deny from all
</Files>

<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None
