/**
 * CSS rules that only apply to the JS version of the views interface
 */

.blocktype, .blocktype-clone {
    cursor: move;
}

.blockinstance-header h4 {
    cursor: move;
}

/* This will be hidden until loading is finished */
#bottom-pane {
    display: none;
}
