.arrow-bar {
    border-radius: $border-radius-base;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: $grid-gutter-width;
    line-height: 46px;
    color: #fff;
    display: block;
    width: 100%;
    background-color: lighten($arrow-color, 5%);

    .right-text,
    .arrow {
      padding: 5px 15px;
      position: relative;
      display: block;
    }

    .nav-inpage.nav > li {
         > a, > button {
            color: $arrow-link-color;
            &:hover,
            &:focus {
                color: $arrow-link-hover-color;
            }
        }
        &.active {
            a, > button  {
                color: $arrow-link-active-color;
            }
        }
    }

    .arrow {
        float: left;
        position: relative;
        display: block;
        background-color: $arrow-color;
        width: auto;
        @media (max-width: $screen-md-min) {
            width: auto;
        }
        &:after {
            border-bottom: 29px solid transparent;
            border-left: 14px solid $arrow-color;
            border-top: 30px solid transparent;
            content: "";
            height: 40px;
            position: absolute;
            right: -40px;
            top: -2px;
            width: 40px;
        }
        .text {
            @include ellipsis(true);
            display: block;
            color: $arrow-text-color;
            font-weight: 700;
        }
    }

    .right-text {
        float: right;
        text-align: right;
    }
}


.nav-inpage {
    &.nav > li {
        > a, button {
            @include transition-duration(0.3s);
            border-radius: $border-radius-base;
            padding: 0 8px;
            line-height: 2em;
            margin-top: 9px;
            margin-bottom: 9px;
            &:hover,
            &:focus {
                @include transition-duration(0.3s);
                background: #fff;
                color: $link-color;
            }
        }
        &.active > a,
        &.active > button,  {
            color: $text-color;
            background: #fff;
            &:hover,
            &:focus {
                color: $link-color;
            }
        }
    }
}
