.artefactchooser-item {
    input {
        display: inline-block;
    }
    label {
        min-width: auto;
        display: inline-block;
        margin-bottom: 5px;
    }
    .detail {
        margin-left: 17px;
    }
}

.artefactchooser-tabs {
    margin-bottom: 20px;
}

.artefactchooser-search {
    padding: 10px 0;
}