//
// Extenstion to Button groups so we can use forms as buttons
// --------------------------------------------------

.btn-group {
    font-family: $btn-font-family;
}

.btn-group .form-as-button {
    .btn {
        @include border-right-radius(0);
    }
    &:last-of-type {
        .btn {
            @include border-right-radius($btn-border-radius);
            border-right-width: $btn-border-width;
        }
    }
    ~ .form-as-button {
        .btn {
            @include border-left-radius(0);
        }
    }

    div:first-child {
        display: inline-block;
    }
    div.first {
        .btn {
            display: inline-block;
            border-bottom-right-radius: $btn-border-radius;
            border-top-right-radius: 0;
        }
    }
    div.last {
        display: inline-block;
        margin: 0;
        padding: 0;

        .btn {
            border-left: 0;
            display: inline-block;
            border-top-right-radius: 0;
            border-bottom-right-radius: $btn-border-radius;
        }
    }
}

// Btn-group works when there are multiple elements eg a, form, button
.group-item:not(:first-child),
.btn-group-item:not(:first-child) {
    margin-left: -$btn-border-width;
}

.form-as-button.btn-first {
    margin-right: -$btn-border-width;
}

.group-item,
.btn-group-item {
    &.btn,
    .btn {
        border-right-width: $btn-border-width !important; // Overriding standard styling above
        padding-top: $spacing-xs !important; // 3px Override standard btn padding
    }
    &:only-of-type .btn {
        border-radius: $btn-border-radius;
    }
}

.btn-group.only-button .btn {
    border-bottom-right-radius: $btn-border-radius !important;
    border-right-width: $btn-border-width !important;
}

.btn-group.only-button-top .btn {
    border-top-right-radius: $btn-border-radius !important;
}

// If there are not-button siblings of group button elements
.btn-group > .no-delete-btn {
    margin-right: 1.625rem; // 26px;
}

.btn-group > .btn.btn-group-first {
    border-top-left-radius: $btn-border-radius !important;
    border-bottom-left-radius: $btn-border-radius !important;
}
.btn-group > .btn-group-first:not(.btn-group-last) {
    display: inline-block;
    .btn {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.btn-group > .btn.btn-group-last {
    border-top-right-radius: $btn-border-radius !important;
    border-bottom-right-radius: $btn-border-radius !important;
}
.btn-group > .btn-group-last:not(.btn-group-first) {
    display: inline-block;
    margin-left: -0.25rem; // -4px;
    .btn {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

.btn-group > .btn-group-first.btn-group-last {
    display: inline-block;
    margin-left: -0.25rem; // -4px;
    &.webservices {
        margin-left: 0;
    }
}

.btn-group {
    z-index: 3;
}
// except add pages to collections need no margin-left
.pagesavailable .btn-group {
    margin-left: 0;
}

// Chrome bug - flex container doesn't work on fieldset tag
fieldset.btn-group {
  display: block;
}

.btn-group-top .form-as-button:only-of-type .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

// Used to stop dropdown being covered by the button
.controls .btn-group {
    z-index: 1;
}

// Removes weird text node between buttons on admin/users/suspended.php
.pieform-fieldset.btn-group {
    font-size: 0;
}

.extensions .card-header .btn-group-top {
    margin-top: -$spacing-base;
    margin-bottom: 0;
}

// annotation modal
.feedback.modal {
    .btn-group-top.comment-item-buttons {
        margin-top: -0.8125rem; // -13px;
    }
}
