//
// Extenstion to Button groups so we can use forms as buttons
// --------------------------------------------------

.btn-group .form-as-button:first-child:not(.last) {
    .btn {
        @include border-right-radius(0);
        border-right-width: 0;
    }
}

.btn-group .form-as-button ~ .form-as-button {
    .btn {
        @include border-left-radius(0);
    }
}

.btn-group .form-as-button div.last {
    display: inline-block;
    margin: 0;
    padding: 0;
    .btn {
        border-left:0;
        display: inline-block;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

// Btn-group works when there are multiple elements eg a, form, button
.btn-group-item:not(:first-child) {
    margin-left: -1px;
}
.btn-group-item {
    &.btn,
    .btn {
        border-right-width: 1px !important; // Overriding standard styling above
        padding-top: 3px !important; // Override standard btn padding
    }
}

.btn-group.only-button .btn {
    border-bottom-right-radius: 3px !important;
    border-right-width: 1px !important;
}
