// Modifications and extra use cases for bootstrap  buttons

.btn-secondary {
    color: $btn-secondary-color;
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-border;
    box-shadow: none;
    &:hover,
    &:focus {
        color: $btn-secondary-color;
        background-color: scale-color($btn-secondary-bg, $lightness: -10%);
        border-color: scale-color($btn-secondary-border, $lightness: -10%);
    }
    &.disabled {
        color: $btn-disabled-color;
        border-color: $btn-disabled-border;
        background: $btn-disabled-bg;
        &:hover,
        &:focus {
            color: $btn-disabled-color;
            border-color: $btn-disabled-border;
            background: $btn-disabled-bg;
        }
    }
}

.btn-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
    box-shadow: none;
    &:hover,
    &:focus {
        color: $btn-primary-color;
        background-color: scale-color($btn-primary-bg, $lightness: -10%);
        border-color: scale-color($btn-primary-border, $lightness: -10%);
    }
    &.btn-sm {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
        &:hover,
        &:focus {
            color: $btn-primary-color;
            background-color: scale-color($btn-primary-bg, $lightness: -10%);
            border-color: scale-color($btn-primary-border, $lightness: -10%);
        }
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: inherit;
    border-color: $btn-secondary-border;
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: $theme-text-color;
    background-color: scale-color($btn-secondary-bg, $lightness: -15%);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.text-left {
    text-align:left;
}

.btn.text-right {
    text-align:right;
}

.btn label {
    min-width: 0;
}

.btn.btn-link {
    display: block;
    width: 100%;
    &:hover,
    &:focus {
      background: $dropdown-link-hover-bg;
      text-decoration: none;
    }
}

.btn-link-danger {
    color: theme-color("danger");
    &:hover,
    &:focus {
      color: scale-color(theme-color("danger"), $lightness: -10%);
    }
}

.btn-text {
    color: inherit;
    padding:0;
    background: none;
    border: 0;
    box-shadow: none;
    &:hover,
    &:focus {
        background: none;
        border: 0;
        box-shadow: none;
    }
}

.btn {
    vertical-align: baseline;

    input {
        margin-top: 0;
    }
    &.checkbox input.checkbox {
        width: auto;
        display: inline-block;
        float: right;
    }
    &.focus,
    &:focus {
        outline: medium solid $input-focus-border-color;
    }
}

h1 + div > .btn-top-left,
.page-header + div.btn-top-left {
    float: none;
    margin-bottom: 0;
    @include media-breakpoint-up(sm) {
        margin-top: -53px;
        .page-header + & {
            margin-top: -43px;
        }
    }
    form {
        margin: 0 !important;
        display: inline-block;
        .form-group-inline {
            padding: 0;
        }
    }
}

h1 ~ div > .btn-group-top,
h2 ~ div > .btn-group-top,
h3 ~ div > .btn-group-top,
h4 ~ div > .btn-group-top,
h5 ~ div > .btn-group-top,
h6 ~ div > .btn-group-top,
p ~ div > .btn-group-top,
.page-header ~ div.btn-group-top,
.page-header + .btn-action-list .btn-group-top,
.nav-tabs +  div.btn-group-top {
    margin-top: -1.25rem; // -20px;
    margin-left: -100%;
    @include media-breakpoint-down(md) {
        margin: 0 0 $spacing-base 0;
        width: 100%;
        float: none;
        .btn-group .btn,
        .form-as-button,
        .btn {
            margin-bottom: $spacing-xs;
            margin-left: $btn-border-width;
            margin-right: $btn-border-width;
            width: 100%;
            border-top: $btn-border-width solid $btn-secondary-border;
            border-right-width: $btn-border-width;
            border-radius: $btn-border-radius !important;
            .btn {
                margin-bottom: 0;
            }
        }
        .form-as-button:first-child:not(.last) {
            .btn {
                border-right-width: $btn-border-width;
            }
        }
    }
}

.btn-group-top {
    position: relative;
    z-index: 4;
    @include media-breakpoint-up(md) {
        float: right;
        .btn {
            @include border-top-radius(0);
            border-top: 0;
        }
        .btn-group-top {
            margin: 0;
        }
    }
}

.nav-tabs +  div.btn-group-top{
    margin-top: 0;
}

td.btn-group {
    min-width: 18.75rem; // 300px;
}

// Often the same template is used to render buttons at the top of the page and
// in a list group. cf. groups table/groups
.list-group,
.card-header {
    .btn-group-top {
        @include clearfix;
        @include media-breakpoint-up(md) {
            margin-top: -0.75rem; // -12px;
            text-align: right;
            float: right;
        }
        @include media-breakpoint-down(md) {
            margin-top: -0.8125rem; // -13px;
            text-align: right;
            float: right;
        }
        .btn {
            font-size: $font-size-sm;
            border: $btn-border-width solid $btn-secondary-border;
            padding: $btn-padding-y-sm $btn-padding-x-sm;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0;
        }
        .btn-top-right {
            margin: 0; // negate nested margin
        }
    }
    // Groups page has something different
    .btn-action-list {
        .btn-group-top {
            text-align: left;
            float: none;
            display: inline-flex;
            @include media-breakpoint-up(sm) {
                text-align: right;
                float: right;
            }
            @include media-breakpoint-down(md) {
                margin-top: -0.75rem; // -12px;
            }
            @include media-breakpoint-down(sm) {
                margin-top: $spacing-sm;
                float: none;
            }
            .btn {
                @include media-breakpoint-down(sm) {
                    border-top: $btn-border-width solid $btn-secondary-border;
                    &:first-child {
                      border-top-left-radius: $btn-border-radius;
                    }
                    &:last-child {
                      border-top-right-radius: $btn-border-radius;
                    }
                }
            }
        }
    }
    &.wall {
      .btn-group-top {
        @include media-breakpoint-down(md) {
            margin-top: -0.75rem; // -12px;
        }
      }
    }
    &.plan-list-group {
      .btn-group-top {
        margin-top: -0.8125rem; // -13px;
      }
    }
}
// Edit page configure buttons
.card-secondary .card-header .blockinstance-controls .btn-group-top {
    position: absolute;
    top: 0.6875rem; // 11px;
    right: $spacing-base;
    margin-top: 0px;
    .btn {
        border-radius: $btn-border-radius;
        border-color: transparent;
        background: scale-color($btn-secondary-bg, $lightness: 20%);
        &:hover,
        &:focus {
            background: $btn-secondary-bg;
        }
        &:first-child {
            border-radius: $btn-border-radius 0 0 $btn-border-radius;
        }
        &:last-child {
            border-radius: 0 $btn-border-radius $btn-border-radius 0;
        }
        .icon:before {
          font-size: 1.25em;
        }
    }
}

// Page editor column + and - controls
.btn-header {
    width:100%;

    &.btn-two .btn {
        width: 25%;
        &:first-child {
            width:75%
        }
    }
    &.btn-three .btn {
        width: 50%;
        &:first-child,
        &:last-child {
            width:25%;
        }
    }
}

//page builder collapsible
.btn-accordion.ui-accordion {
    &.btn-help {
        padding-left: 1.6875rem; // 27px;
    }
}
.btn-accordion.ui-accordion .ui-accordion-content {
    @include box-sizing(border-box);
    border-radius: 0;
    margin-top: $spacing-base;
    margin-bottom: $spacing-lg;
    padding: 0;
    max-width: 100%;
    border: 0;
    .btn-group-vertical {
        @include box-sizing(border-box);
        max-width: 100%;
        width: 100%;
        // take away the edges on inner accordion buttons
        .btn {
            border-radius: 0;
            display:block;
            margin: 0;
            &:not(:last-child) {
                border-bottom: 0;

                &:hover {
                    +.btn {
                        border-top-color: scale-color($btn-secondary-border, $lightness: -15%);
                    }
                }
            }
        }
    }
}

// Hack to fix the inline script tags that keep getting in places they don't belong
.btn-group .form-as-button.last + script + .btn {
    margin-left: -0.0625rem; // -1px;
}

.btn {
    .icon-chevron-down {
        opacity: 0.5;
    }
    &:hover {
        .icon-chevron-down {
            opacity: 1;
        }
    }
}

.btn:disabled {
    .icon {
        opacity:0.3;
    }
}

.collapsible-group + .button {
    margin-top: $spacing-xxl;
}

.socialbtn {
    margin-bottom: $spacing-base;
}

// edit page btn-group
.btn-toolbar .btn-title {
    padding-left: $spacing-sm;
    @include media-breakpoint-between(sm, md) {
        @include sr-only;
    }
}

// For groupcategories.php
#rownew .add {
    vertical-align: bottom;
}

// For site menu
#rownew td .radio {
    margin-top: 0;
}

.reportsettings .btn.filter {
    line-height: 1;
    padding: 0.0625rem 0.25rem; // 1px 4px;
}

// Tinymce primary button
.mce-container,
.mce-widget,
.mce-reset {
    .mce-primary {
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
        font-family: $btn-font-family;
        color: $btn-primary-color;

        &:hover,
        &:focus {
            background-color: scale-color($btn-primary-bg, $lightness: -32%);
            border-color: scale-color($btn-primary-border, $lightness: -32%);
            color: $btn-primary-color;
        }

        .mce-txt {
            color: $btn-primary-color;
        }
    }
}

.modal-tinymce {
    .pieform {
        button.submit {
            background-color: $btn-primary-bg;
            border-color: $btn-primary-border;
            font-family: $btn-font-family;
            color: $btn-primary-color;

            &:hover,
            &:focus {
                background-color: scale-color($btn-primary-bg, $lightness: -32%);
                border-color: scale-color($btn-primary-border, $lightness: -32%);
                color: $btn-primary-color;
            }
        }
    }
}

.btn-sm,
.btn-group .btn.btn-sm {
    font-size: $font-size-sm;
    border: $btn-border-width solid $btn-secondary-border;
    padding: $btn-padding-y-sm $btn-padding-x-sm;
}

.card.first .card-header {
    a.btn-sm {
        border-radius: $btn-border-radius-sm;

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

// Page/Collections pageactions btns
.pageactions {
    margin-right: -$btn-border-width;

    .content-toolbar {
        width: 100%;
        .btn {
            width: 100%;
        }
    }

    .btn-group-vertical .btn {
        &:last-child {
            border-bottom-right-radius: 0;
        }
        &:first-child {
            border-top-right-radius: 0;
        }

        &.dropdown-toggle {
            border-bottom-right-radius: 0;
        }
        &.addaction {
            border-top-left-radius: 0;
            margin-top: -0.0625rem; // -1px;
        }
        .icon {
          font-size: 1.33em;
        }
    }
}

// Profile page accept friends form
.pendingfriendscard {
    .acceptfriendbutton {
        form {
            display: inline-block;
            font-size: $btn-font-size-sm;

            button {
                padding: 0;
                border: 0;
                font-size: $btn-font-size-sm;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

// Admin
#close_site_submit {
    &.btn {
        border-color: $danger;
        color: $white;
        background-color: $danger;
        &:hover,
        &:focus {
          color: $white;
          background-color: scale-color($danger, $lightness: -10%);
          border-color: scale-color($danger, $lightness: -10%);
        }
    }
}

// Networking delete btn
.secondary #networkingform_submit {
    background-color: $state-danger-bg;
    color: $state-danger-text;
    border-color: $state-danger-border;
    margin-left: 0.5rem; // 8px;
    &:hover,
    &:focus {
      background-color: scale-color($state-danger-bg, $lightness: -5%);
      border-color: scale-color($state-danger-border, $lightness: -5%);
    }
}

// Web services add service groups btn
#webservices_function_groups_add_submit,
#webservices_token_generate_submit {
    width: auto;
}

#forums-list .button {
    white-space: nowrap;
}

// Manage collections
.collection-pages {
    button.btn-sm {
        border: 0;
    }
}

// Find people results approve request alignment
.approvefriend .pieform {
    display: inline-block;
    margin-left: $spacing-xs;
    button {
        font-size: $font-size-sm;
    }
}

// Stop btn links displaying as buttons
[type="button"].btn-link,
a[type="submit"],
.card-header a[type="button"] {
    -webkit-appearance: none;
}

.json-editor-btn-add {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
}

.assessment-item-buttons {
    .assessbtn + .assessbtn {
        button {
            @include border-left-radius(0);
        }
    }
}

.btn-search.btn.btn-primary.admin-groups.button.btn {
    margin-left: -0.8125rem; // -13px;
    margin-top: 0.125rem; // 2px;
    vertical-align: text-top;
}

.connections button {
    margin-top: $spacing-base;
}

// left/right vertical buttons
.lrbuttons .btn-group-vertical {
  > .btn:not(:last-child):not(.dropdown-toggle).rightarrow {
    border-top-right-radius: $btn-border-radius;
  }
  > .btn:not(:first-child).leftarrow {
    border-bottom-left-radius: $btn-border-radius;
    margin-left: 0;
  }
}

// admin people search button alignment
.form-inline .admin-user-search .form-group.no-label {
  vertical-align: text-bottom;
  top: -$spacing-sm;
}

// comments block btn-group-top alignment
@include media-breakpoint-up(lg) {
  .feedbacktable .list-group {
    .btn-group-top {
      .delete-comment {
        margin-top: -$btn-border-width;
      }
    }
  }
}

// order sorting arrows
.authIcons {
  .order-sort-control {
      border: 0;
  }
  .order-sort-control.arrow-down + .btn-sm {
      margin-left: 2rem; // 32px;
  }
  .order-sort-control.arrow-up:first-child {
      padding-left: 2.8125rem; // 45px;
  }
}
