//
// Extenstion to Button groups so we can use forms as buttons
// --------------------------------------------------

.btn-group {
    font-family: $font-family-sans-serif;
}

.btn-group .form-as-button {
    .btn {
        @include border-right-radius(0);
    }
}

.btn-group .form-as-button:last-of-type {
    .btn {
        @include border-right-radius($border-radius);
        border-right-width: $border-width;
    }
}

.btn-group .form-as-button ~ .form-as-button {
    .btn {
        @include border-left-radius(0);
    }
}

.btn-group .form-as-button {
    div:first-child {
        display: inline-block;
    }
    div.first {
        .btn {
            display: inline-block;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
    div.last {
        display: inline-block;
        margin: 0;
        padding: 0;
        .action-list-copy & {
            margin-left: -4px;
        }
        .btn {
            border-left: 0;
            display: inline-block;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
        }
    }
}

// Btn-group works when there are multiple elements eg a, form, button
.group-item:not(:first-child),
.btn-group-item:not(:first-child) {
    margin-left: -1px;
}

.form-as-button.btn-first {
    margin-right: -1px;
}

.group-item,
.btn-group-item {
    &.btn,
    .btn {
        border-right-width: 1px !important; // Overriding standard styling above
        padding-top: 3px !important; // Override standard btn padding
    }
    &:only-of-type .btn {
        border-radius: $border-radius;
    }
}

.btn-group.only-button .btn {
    border-bottom-right-radius: 3px !important;
    border-right-width: 1px !important;
}

.btn-group.only-button-top .btn {
    border-top-right-radius: 3px !important;
}

// If there are not-button siblings of group button elements
.btn-group > .no-delete-btn {
    margin-right: 28px;
}

.btn-group > .btn.btn-group-first {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}
.btn-group > .btn-group-first:not(.btn-group-last) {
    display: inline-block;
    .btn {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.btn-group > .btn.btn-group-last {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
.btn-group > .btn-group-last:not(.btn-group-first) {
    display: inline-block;
    margin-left: -4px;
    .btn {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

.btn-group > .btn-group-first.btn-group-last {
    display: inline-block;
    margin-left: -4px;
    &.webservices {
        margin-left: 0;
    }
}

.btn-group {
    z-index: 3;
    margin-left: 5px;
}
// except add pages to collections need no margin-left
.pagesavailable .btn-group {
    margin-left: 0;
}

// Chrome bug - flex container doesn't work on fieldset tag
fieldset.btn-group {
  display: block;
}

.btn-group-top .form-as-button:only-of-type .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
