.carousel {
    .item {
        display: block;
    }

    &.carousel-ready {
        .item {
            display: none;
            &.active,
            &.next {
                display: block;
            }
        }
    }
    // Overriding bootstrap carousel styles
    .carousel-caption {
        text-align: left;
        background-color:rgba(0,0,0,0.6);
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
    }
    .carousel-control {
        color: #000;
        top: 50%;
        bottom: 50%;
        ~ .icon {
            vertical-align: middle;
        }
    }
}
