.modal .cell-radios > .form-group.radio > div.radio {
    display: none;
}

#addblock_blocklegend_container {
    border: 0;
    padding: 0;
    .pieform-fieldset legend {
        @extend body;
        padding-top: 0;
    }
}

#addblock_cellchooser_container {
    padding-top: 0;
}

.cell-chooser {

    .cell-row {
        min-width: 0;
        width: auto;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;

        .cell {
            min-width: 0;
            float: left;
            background-color: $gray-100;
            border: 1px solid scale-color($gray-100, $lightness: -5.5%);
            margin: 2% 2% 0 0;
            &.active {
                background-color: scale-color($gray-100, $lightness: -10.5%);
            }
            input {
                display: inline;
                position: absolute !important;
                clip: rect(1px, 1px, 1px, 1px);
                overflow: hidden;
                min-width: 0;
            }
            &:last-of-type {
              margin-right: 0;
            }
        }

        .pseudolabel {
            @extend .sr-only;
        }
    }
}
