// using bootstrap popover to style the help content
span.help {
    font-size: $font-size-lg;
    vertical-align: top;
    padding-left:10px;
    display: inline-block;

    .icon {
        color: $help-icon-color;
        font-size: $font-size-lg;
        opacity: 0.8;
    }
    &:hover {
        .icon {
            opacity:1;
        }
    }
    .table & {
        margin-top:-6px;
        .icon {
            font-size: $font-size-sm;
        }
    }
    a {
        border-width: 0;
    }
}

// Used for the sign-off block in verifyform.tpl
div.help {
    .icon {
        color: $help-icon-color;
        opacity: 0.8;
    }
    &:hover {
        .icon {
            opacity:1;
        }
    }
}

.contextualHelp {
    position: absolute;
    z-index: $zindex-popover;
    width: 300px;
    padding: 1px;
    // Reset font and text propertes given new insertion method
    font-family: $font-family-base;
    font-size: $font-size-base;
    text-transform: none;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    text-align: left;
    background-color: $popover-bg;
    background-clip: padding-box;
    border: $popover-border-width solid $popover-border-color;
    border-radius: $popover-border-radius;
    padding: 0 14px 8px;
    @include box-shadow(0 5px 10px rgba(0,0,0,.2));
    color: $theme-text-color;

    // Overrides for proper insertion
    white-space: normal;

    .help-dismiss {
        font-size: $font-size-base * 1.14285;
        color: $theme-text-midtone-color;

        .icon-times {
          margin-top: 9px;
        }
    }

    h3 {
        margin: 0 -14px 20px;
        font-size: $font-size-base;
        padding: 8px 14px;
        background-color: $popover-header-bg;
        border-bottom: $popover-border-width solid scale-color($popover-header-bg, $lightness: -5%);
        border-radius: $popover-border-radius $popover-border-radius 0 0;
        font-weight: $headings-font-weight;
    }
}
// Needed to be more specific
table.table td .contextualHelp h3 {
    margin: 0 -14px 20px;
    font-size: $font-size-base;
}
.pieform-fieldset.collapsible .contextualHelp h3 {
    margin: 0 -14px 20px;
    padding: 8px 14px;
    font-family: $headings-font-family;
    font-size: $font-size-base;
}

.form-select-filter .contextualHelp {
  //  top: 0 !important; //fixes a bug where the contextualhelp displays outside the top of the page. Overrides inline styles
    width: 500px !important;
    max-width:100%;
}

.input-group.with-help {
    position: relative;
    padding-right:40px;
    select:not(:first-child),
    input:not(:first-child) {
        @include border-right-radius(3px);
    }
}
