.tablematrix {
    tr.standard {
        background: darken($table-bg-accent, 2%) !important;
    }
    tr.sub {
        background: lighten($table-bg-accent, 1%) !important;
    }

    th.viewtab {
        text-align: center;
        max-width: 70px;
    }

    td {
        &.mid {
            text-align: center;
            vertical-align: middle;

            span {
                cursor: pointer;
                &.begun {
                    color: #5b9aa9;
                }
                &.incomplete {
                    color: $brand-danger;
                }
                &.partial {
                    color: $brand-warning;
                }
                &.completed {
                    color: $brand-success;
                }
                &.dot {
                    padding: 5px 10px;
                    &.disabled {
                        cursor: not-allowed;
                    }
                }
            }
        }

        &.code {
            width: 20%;
        }

        &.special {
            border-top: 0;
        }

        .next {
            float: right;
        }

        .matrixtooltip {
            z-index:2;
            background-color: #fff;
            border: 1px solid #999;
            display: inline-block;
            padding: 0 5px;
            position: absolute;
        }
    }
}

.listing {
    .buttonscell {
        &.framework {
            width: 125px;
        }
    }
}