.tablematrix {
    position: relative;
    z-index: 1;

    tr {
        &.standard {
            background: scale-color($table-accent-bg, $lightness: -2%) !important;

            cursor: pointer;
        }
    }

    tr.table-pager,
    tr.pages {
        background-color: $body-bg;
    }
    th.viewtab {
        text-align: center;
        max-width: 70px;
    }

    td {
        &.mid {
            text-align: center;
            vertical-align: middle;
            .icon {
                display: block;
                font-size: $font-size-base * 1.215;
                cursor: pointer;
                &.begun {
                    color: $assessment-begun-color;
                }
                &.incomplete {
                    color: $assessment-incomplete-color;
                }
                &.partial {
                    color: $assessment-partial-color;
                }
                &.completed {
                    color: $assessment-completed-color;
                }
                &.dot {
                    font-size: $font-size-base * 0.785;
                    color: scale-color($gray-300, $lightness: 28%);
                }
                &.dot.disabled {
                    font-size: $font-size-base;
                    color: scale-color($gray-300, $lightness: 28%);
                    cursor: $cursor-disabled;
                    // Override dot icon with minus icon
                    &:before {
                        content: "\f068";
                    }
                }
            }
        }

        &.code {
            width: 20%;
        }

        &.special {
            border-top: 0;
        }

        .btn.next {
            float: right;
        }
    }

    // Additional styles extending popover
    .matrixtooltip {
        @extend .text-small;
        display: inline-block !important;
        min-width: 180px;
        left: auto;
        top: auto;
        .popover-title {
            font-size: $font-size-sm;
            margin: 0;
            padding: 8px 14px;
            background-color: $card-header-bg;
            border-bottom: $border-width solid scale-color($border-color, $lightness: -3.78);
            border-radius: $border-radius $border-radius 0 0;
        }
        .popover-content {
            padding: 8px 14px;
            ol,
            ul {
                padding-left: 15px;
            }
        }
    }

    // Styles for cell hover crosshair
    // Make tbody display table to clip the crosshair
    // Set tablematrix postition relative so that tooltip does not get cropped.
    tbody {
        overflow: hidden;
        display: table;
        align-content: stretch;
        width: 100%;
        .mid {
            position: relative;

            &:hover .dot {
                color: $theme-text-midtone-color;
            }

            &:hover:before,
            &:hover:after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: -1;
                background-color: rgba(0,0,0,.05);
            }

            &:hover:before {
                top: -99999px;
                left: 0;
            }

            &:hover:after {
                top: 0;
                left: -99999px;
            }
        }
    }
    .matrixindent {
        display: inline-block;
    }
    $matrix-slug: matrixlevel !default
    @for $i from 1 through 5 {
        .#{$matrix-slug}#{$i} .matrixindent {
            padding-left: 5px * $i
        }
    }

}
.assessment {
    color: $theme-text-color;

    .assessmentfeedback {
        &.begun {
            color: $assessment-begun-color;
        }
        &.incomplete {
            color: $assessment-incomplete-color;
        }
        &.partial {
            color: $assessment-partial-color;
        }
        &.completed {
            color: $assessment-completed-color;
        }
    }
}

.shortname-container {
    cursor: pointer;
}

td.completedcount {
    vertical-align: middle !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
}

th.statusheader {
    vertical-align: middle !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
}

div.statusheader{
    .icon {
        padding-left: 8px;
        padding-right: 8px;
    }
}

div.statusheader,
th.statusheader,
div.toolbarhtml {
    .icon {
        font-size: $font-size-base * 1.215;
        &.begun {
            color: $assessment-begun-color;
        }
        &.incomplete {
            color: $assessment-incomplete-color;
        }
        &.partial {
            color: $assessment-partial-color;
        }
        &.completed {
            color: $assessment-completed-color;
        }
        &.dot {
            font-size: $font-size-base * 0.785;
            color: scale-color($gray-300, $lightness: 28%);
        }
        &.dot.disabled {
            font-size: $font-size-base;
            color: scale-color($gray-300, $lightness: 28%);
            cursor: $cursor-disabled;
            // Override dot icon with minus icon
            &:before {
                content: "\f068";
            }
        }
    }
}

th.smartevidencedash, td.smartevidencedash {
    padding: 0 !important;
    vertical-align: middle !important;
}

.statusheader,
.completedcount {
  // Pick the screen size you want it might be $screen-md-min.
  @include media-breakpoint-up(md) {
    // addjust pixel value
    max-width: 14px;
  }
}
.smartevidencedash {
  // Pick the screen size you want it might be $screen-md-min.
  // might not need media query because you might want to force the dash cell to be all the same.
  @include media-breakpoint-up(md) {
    // addjust pixel value
    max-width: 3px;
  }
}

div.pseudolabel {
    @include media-breakpoint-up(md) {
        min-width: 265px !important;
    }
}
