.move-indicator {
    @extend .text-muted;
    font-size: $font-size-base * .786;
    vertical-align: middle;
    margin-left: -4px;
    opacity: 0.7;

    a:hover &,
    .card-header:hover & {
        opacity: 1;
    }
    .card-secondary & {
        float: left;
        margin-top: 5px;
        margin-left: 0;
        margin-right: 4px;
    }
}

//dash
.collapse-indicator {
    color: scale-color($gray-500, $lightness: 37.5%);
    font-size: 13px;
    display: block;
    transition-duration: 0.3s;
    &.float-right {
        margin: 2px 0 0;
    }
    &.text-small {
        font-size: 11px;
    }
    .collapsed & {
        color: scale-color($gray-500, $lightness: 37.5%);
    }
    a:hover &,
    a:focus & {
        color: $gray-500;
    }
    .collapsed ~ & {
        transform: rotate(180deg);
        transition-duration: 0.3s;
        margin-top: 5px;
    }
}

tr[data-toggle="collapse"],
a[data-toggle="collapse"] {
    &:hover .collapse-indicator,
    &:focus .collapse-indicator{
        color: $gray-500;
    }
    .collapse-indicator {
        transform: rotate(-180deg);
        transition-duration: 0.3s;
        color: scale-color($gray-500, $lightness: 37.5%);
        margin-top: 5px;
        line-height: 13px;
        height: auto;
    }
    &.collapsed .collapse-indicator {
        transform: rotate(0deg);
        transition-duration: 0.3s;
    }
}

.expand-indicator {
    @extend .text-muted;
    font-size: 12px;
    padding-right: 5px;
    + .icon {
        color: $theme-text-color;
        &:hover, &:focus {
            color: scale-color($theme-text-color, $lightness: 12.5%);
        }
    }
}

// syntax change if link is an outer-link
[data-toggle="collapse"].outer-link {
    &.collapsed {
        ~ .collapse-indicator {
            color: scale-color($gray-500, $lightness: 37.5%);
        }
    }
    &:hover,
    &:focus {
        ~ .collapse-indicator {
            color:$gray-500;
        }
    }
}

// Align text and chevron across multiple layouts
.collapse-inline {
    display: inline-block;
    width: 90%;
}

.columns5 .collapse-inline {
    width: 80%;
}

@include media-breakpoint-up(md) {
    .columns3.col-width-15 .collapse-inline {
        width: 70%;
    }
}

// Align in edit mode
.editing {
    .icon-chevron-down {
        padding-right: 5px;
    }
    .columns1,
    .columns2,
    .columns3,
    .columns4,
    .columns5 {
        .collapse-inline {
            width: 65%;
        }
    }
    @include media-breakpoint-up(md) {
        .columns1 .collapse-inline {
            width: 85%;
        }
        .columns2.col-width-33,
        .columns3.col-width-33 {
            .collapse-inline {
                width: 50%;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .columns4.col-width-25,
        .columns3.col-width-25 {
            .collapse-inline {
                width: 50%;
            }
        }
    }
    @include media-breakpoint-up(xl) {
        .columns3.col-width-25 {
            width: 60%;
        }
        .columns1,
        .columns2.col-width-33,
        .columns3.col-width-33,
        .columns4 {
            .collapse-inline {
                width: 70%;
            }
        }
        .columns5 {
            .collapse-inline {
                width: 50%;
            }
        }
    }
}
