.label {
    display: inline-block;
    margin-right: $spacing-sm;
    &.label-default {
        color: $theme-text-color;
    }
}

a.label.label-default,
.label.label-default a {
    &:hover,
    &:focus {
        background-color:$theme-primary-color;
    }
}

.badge {
    margin-right: $spacing-sm;
    padding: $badge-padding-y $badge-padding-x;
    @include border-radius($badge-border-radius);
    &.bg-warning {
        @extend .text-white;
    }

    &.bg-primary {
        text-decoration: none;
        color: $component-active-color;
    }

    @at-root a#{&} {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.field-label-bold {
    label {
        font-weight: $font-weight-bold;
    }
}

.notification-parent .bulk-actions {
  label.btn-secondary {
      padding-bottom: $spacing-xs;
      border-top-left-radius: $input-border-radius;
      border-bottom-left-radius: $input-border-radius;
  }
  .dropdown-toggle {
      border-top-right-radius: $input-border-radius;
      border-bottom-right-radius: $input-border-radius;
  }
}

.forassessment label {
    display: inline-block !important;
    margin-top: -1.5625rem; // -25px;
}
