.label {
    display: inline-block;
    margin-right: $spacing-sm;
    &.label-default {
        color: $theme-text-color;
    }
}

a.label.label-default,
.label.label-default a {
    &:hover,
    &:focus {
        background-color:$theme-primary-color;
    }
}

.badge {
    margin-right: $spacing-sm;
    padding: $badge-padding-y $badge-padding-x;
    @include border-radius($badge-border-radius);
    &.badge-warning {
        @extend .text-white;
    }
}

.field-label-bold {
    label {
        font-weight: $font-weight-bold;
    }
}

.notification-parent .bulk-actions label.btn-secondary {
    padding-bottom: $spacing-xs;
}

.forassessment label {
    display: inline-block !important;
    margin-top: -1.5625rem; // -25px;
}
