.link-thumb {
    text-align: center;
    min-width: 62px;
    position: relative;
    display: block;
    padding: 7px 15px 15px;
    font-size: 20px;
    margin-bottom: 4px;
    background-color: lighten($thumbnail-border, 7%);
    &.thumbnail {
        &:hover,
        &.focus,
        &.active {
            background-color: lighten($thumbnail-border, 5%);
            color: $text-color;
            text-decoration: none;
            border-color: $thumbnail-border;
        }
    }
    .metadata {
        font-size: 10px;
        position: absolute;
        bottom: 3px;
        right: 3px;
    }
}

.list-inline .list-tile {
    padding: 0;
}
