// modifications for list elements such a list of pages, collections

.list-group {
    a {
        &.text-success {
            @extend .text-success;
        }
        &.text-link {
            @extend .text-link;
        }
    }
    .user-card & {
        max-height: 400px;
        overflow-y: auto;
    }
    .list-nested {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -$list-group-item-padding-x;
        margin-right: -$list-group-item-padding-x;
        > li > a {
            padding: ($list-group-item-padding-y / 2) $list-group-item-padding-x;
            display: block;
            line-height: 1;
        }
        small {
            @extend .text-midtone;
        }
    }
    &.list-group-unbordered {
        border: 0;
        > .list-group-item {
            border: 0;
            padding: ($list-group-item-padding-y / 2) 0; // 5px 0
        }
        li {
            border:0;
            padding: ($list-group-item-padding-y / 2) ($list-group-item-padding-x / 2); // 5px 7.5px
        }
        .small {
            padding: 0;
            a {
                padding: ($list-group-item-padding-y / 2) 0; // 5px 0
            }
        }
    }
    &.list-group-lite .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    // removes list-group-item first child's border-top when list-item includes block editing header links
    .block-header:first-child + .list-group-item {
        border-top-width: 0;
    }

    // removes card-footer border-top if it comes straight after list-group
    ~ .card-footer {
        border-top-width: 0;
    }

    // adds the first child border-top back
    &.list-group-top-border {
        &.clearboth {
            clear: both;
        }
        .list-group-item {
            border-top-width: $list-group-border-width;
        }
    }
}

.list-group-item-heading {
    margin-top: 0;
    font-size: $h4-font-size; // 24px

    .text-small {
        font-family: $font-family-base;
    }

    .notes {
        color: $theme-text-lighttone-color;
    }

    .icon {
      line-height: $headings-line-height;
    }
}

.card-secondary .list-group-item-heading {
    font-family: $font-family-base;
    margin-top: 0;
    margin-bottom: 0;
    font-size: $font-size-lg; // 18px
    font-weight: $font-weight-normal;
}

.list-group-item.draft,
.list-group-item-warning {
    background-color: $state-warning-bg;
    .list-group-item-heading {
        color: $state-warning-text;
    }
}
.list-group-item-danger {
    background: scale-color($danger, $lightness: 90%);
    color: $theme-text-color;
    .notes {
        color: $theme-text-color;
        background-color: $list-group-disabled-bg;
        border: $list-group-border-width solid $list-group-border-color;
        padding: $list-group-item-padding-y $list-group-item-padding-x;
        font-size: $font-size-sm;
        border-radius: $list-group-border-radius;
    }
}
.list-group-item-private {
    background-color: $list-group-disabled-bg;
    .text-midtone {
        color: $theme-text-color;
    }
}

.list-group-item-link {
    padding: 0;
    a {
        display: block;
        &:hover,
        &:focus {
            background: $list-group-hover-bg;
            text-decoration: none;
        }

        // online users sidebar
        &.online-user {
            padding: $list-group-item-padding-y $list-group-item-padding-x;
        }
    }
}

// list-group-item with btn-group
.list-group-item {
    border-left-width: 0;
    border-right-width: 0;

    // default list-group-item has border-top and last child border-bottom
    // first-child needs to take away border-top
    &:first-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    // last-child needs to take away border-bottom-radius
    &:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.flush {
        padding-left: 0;
        padding-right: 0;
    }

    // for list-group-items that has collapsible indicator on right but need left flushed
    &.flush-collapsible {
        padding-left: 0;
        // for when flushed items has an icon on the left that looks odd when flushed
        .icon.left {
          padding-left: $spacing-sm; // 5px
        }
        .has-attachment {
          margin-right: -$list-group-item-padding-x;
        }
    }

    // blog post buttons
    .list-group-item-controls {
        float: none;
        @include media-breakpoint-up(md) {
            float: right;
        }
    }

    .btn-title {
        padding-left: 0.3125rem; // 5px
        @include media-breakpoint-down(md) {
            @include sr-only;
        }
    }

    .usericon-heading {
        @extend .clearfix;

        .list-group-item-heading {
            &.middle {
                margin: $spacing-base 0; // 10px 0
            }
        }
        .list-group-item-heading + .btn {
            margin-top: $spacing-base; // 10px
        }
    }
}

.details-before-list-group {
    margin: 0;

    p {
        margin: $spacing-base 0; // 10px 0
    }

    ~ .list-group .list-group-item:first-child,
    ~ .list-group .block-header:first-child + .list-group-item {
        border-top-width: $list-group-border-width;
    }
    ~ .folder-card .list-group-item:first-child,
    ~ .folder-card .block-header:first-child + .list-group-item {
        border-top-width: $list-group-border-width;
    }
}

.list-group-item-default {
    background-color: rgba(scale-color($gray-100, $lightness: 62.75), 0.5);
}

.list-group-item-text {
    background-color: transparent;
    color: $theme-text-color;
}

.section-import {
    .list-group-item .list-group,
    .fieldset-body .list-group {
        padding-top: $spacing-base; // 10px
        .list-group-item:last-child {
            border-bottom: 0;
        }
    }
    .list-group-item {
        .list-group-item-heading {
            float: none;
        }
    }
}

.column-list {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    @include media-breakpoint-down(md) {
        -moz-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 20px;
    }
    @include media-breakpoint-down(md) {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}

.column-list li {
    list-style-position: inside;
    span.help {
        font-size: inherit;
        .icon {
            font-size: $font-size-base * 1.25; // 20px
        }
    }
}

.showmore {
    text-align: center;
    clear: both;
    width: 100%;
}

// wall block list-group-item-heading
.wall .list-group-item-heading {
    font-size: $font-size-base;
}

// file folder list-group
.filedownload-item {
    .file-icon-link {
      vertical-align: top;
      width: 2.125rem;
      display: inline-block;
      text-align: center;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      .icon.left,
      .file-icon {
        margin: 0;
        padding: 0;
      }
    }
    .list-group-item-heading {
        font-size: $font-size-base;
        font-family: $font-family-base;
        font-weight: $font-weight-normal;
        margin-bottom: 0;
        display: inline-block;
        width: 80%;
        margin-right: 0;
    }
    a {
        word-break: break-all;
        vertical-align: top;
        &:hover,
        &:focus {
          text-decoration: none;
          &.inner-link {
            text-decoration: $link-hover-decoration;
          }
        }
    }
    .file-description {
        margin-left: 2.375rem; // 38px
    }
    .icon-download {
      position: relative;
      top: $spacing-xs;
    }
}

// attachment files list-group
.has-attachment .list-group {
    .card-header {
      font-size: $font-size-base;
      padding: 0;
      line-height: 1;
    }

    // when opened first child needs border-top
    .block-header:first-child + .list-group-item,
    .list-group-item:first-child {
        border-top: $list-group-border-width solid $list-group-border-color;
    }

    // last-child needs to take away border-bottom but bring back border-radius
    .list-group-item:last-child {
        border-bottom-width: 0;
        border-bottom-left-radius: $list-group-border-radius;
        border-bottom-right-radius: $list-group-border-radius;
    }

    .list-group-item {
      .modal_link {
        vertical-align: top;
      }
      .file-icon-link {
        vertical-align: top;
        width: 2.125rem;
        display: inline-block;
        text-align: center;
        &:hover,
        &:focus {
          text-decoration: none;
        }
        .icon.left,
        .file-icon {
          margin: 0;
          padding: 0;
        }
      }
      .title {
          font-size: $font-size-sm;
          margin-top: 0;
          max-width: calc(100% - (2.25rem * 2));
          display: inline-block;
          margin-right: 0;
      }
      .icon-download {
        position: relative;
        top: $spacing-xs;
      }
      .file-description {
          margin-left: 2.375rem; // 38px
      }
    }
}

// comments attachment list flush needs padding
@include media-breakpoint-down(md) {
    .list-group-item.flush {
        padding: $list-group-item-padding-y $list-group-item-padding-x;
    }
}

// Resume entire block
.resume-content {
    padding: 0 0 1rem 0;

    h5.title {
        font-size: $h5-font-size;
        margin-top: 2em;
    }
}

// Entire resume blocks need to have all list-group-item borders removed but not child list-group ones
.bt-entireresume,
.bt-entireresume-editor {
    .list-group-item.flush {
        border-width: 0;
    }
}

// Resume field blocks need first-child border-top removed
.bt-resumefield,
.bt-resumefield-editor {
    .list-group-item:first-child {
        border-top-width: 0;
    }
}

// Plugins list-group
.plugins-list-group {
    h3.list-group-item-heading {
        margin-bottom: 0;
    }
    div.list-group-item-heading {
        font-size: $font-size-base;
    }
}

// lists with .user-icon-40 on the left like onlineuser/groupmembers
.list-group-with-user-icon-left {
    .list-group-item {
        .list-group-item-heading {
            margin-bottom: 0;
        }
        .detail {
            margin-left: 3.5rem; // 56px
            .collapse-indicator {
                margin-right: $spacing-xs;
            }
        }
    }
}

// lists with .user-icon-30 on the left like comments/wall
.usericon-heading {
    ~ .detail,
    ~ .wallpost-text,
    ~ .content-text,
    ~ .has-attachment {
        margin-left: 2.875rem; // 46px
    }
    .list-group-item-heading {
        margin-left: 2.875rem; // 46px
        &.text-inline {
          margin-left: 0;
        }
    }
}

// Blog post details
.post,
.post-heading {
    .metadata {
        margin: $spacing-sm 0; // 5px 0
    }
}

// Inbox subject to not wrap responsively
.inboxblock {
    .subject {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 85%;
        white-space: nowrap;
        vertical-align: bottom;
    }
}

// fonts
#fontlist ul.actionlist {
  .list-group-item {
    &:last-child {
      border-bottom: 0;
    }
  }
}

// filedown icon need to be accessible
.list-group {
  .download-link {
    display: block;
    float: right;
  }
}
