.loading-inner {
    margin: 15px 10px 5px 0;
    @include media-breakpoint-down(md) {
        margin-top: 10px;
    }
}
.loading-message {
    margin-left: 5px;
}
.applying-box {
    font-size: 1.2em;
    left: calc(50% - 150px);
    top: 50%;
    width: 300px;
    position: absolute;
    text-align: center;
    padding: 10px 0;
}
