.loading-inner {
    margin: 20px 10px 5px 0;
    color: $navbar-toggle-color;
}
.loading-message {
    margin-left: 5px;

    @include media-breakpoint-down(md) {
        display: none;
    }
}
.applying-box {
    font-size: 1.2em;
    left: calc(50% - 150px);
    top: 50%;
    width: 300px;
    position: absolute;
    text-align: center;
    padding: 10px 0;
}
