.loading-inner {
    margin: $spacing-lg $spacing-base $spacing-sm 0;
    color: $navbar-toggle-color;
}
.loading-message {
    margin-left: $spacing-sm;

    @include media-breakpoint-down(md) {
        display: none;
    }
}
.applying-box {
    font-size: $font-size-lg;
    left: calc(50% - 9.375rem); // calc(50% - 150px)
    top: 50%;
    width: 18.75rem; // 300px;
    position: absolute;
    text-align: center;
    padding: $spacing-base 0;
}
