$width: 60%;
$width-sm: 90%;


//tinymce modal
.blockinstance-as-modal {
    background: #fff;
    padding: 20px;
    border: 1px solid $modal-header-border-color;
}


.modal-loading {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    @extend .icon;
    @extend .icon-spinner;
    @extend .icon-3x;
    @extend .text-watermark;
    &::before {
        @extend .icon-pulse;
    }
}

.modal-tinymce {
    z-index: 2000;
}

.modal-tinymce,
.modal-docked {
    background: rgba(0,0,0,0.09);
    display: block;
    .modal-content {
        height: 90%;
    }
}
.modal-docked,
.page-modal {
    .modal-content {
        max-height: 100%;
    }
    .modal-body {
        @include border-bottom-radius(3px);
        max-height: 90%;
        height: 90%;
        overflow-y: auto;
        overflow-x: hidden;
        &.flush {
            padding: 0;
        }
        .list-group.flush {
            margin: -15px;
        }
        .matrix {
            .list-group {
                margin: 0 -15px;
            }
        }
        &.blockinstance-content {
            padding: 0 15px;
        }
        .file-icon-render-in-modal {
            margin-left: 10px;
        }
    }
    .modal-dialog {
        height: 100%;
    }
}
.page-modal {
    .modal-content {
        overflow: hidden;
        max-height: 90%;
    }
}

.modal-content {
    border-radius: $border-radius;
    h5 {
        margin: 0;
    }
    .btn.submit {
        margin-top: 15px;
        &.unselect {
            margin-top: 0;
        }
    }
    .artefactchooser-search {
        .btn.submit {
            margin-top: 0;
        }
    }
}

.modal-header,
.mce-panel .mce-window-head {
    background: $card-header-bg;
    padding: 10px 15px;
    h4, .mce-title {
        font-family: $font-family-base;
        font-weight: 300;
        font-size: 16px;
    }
    .close,
    .mce-close {
        order: 1;
        opacity: 1;
        padding: 0;
        margin: 0;
        &:hover,
        &:focus {
            .times {
                opacity: 1;
            }
        }
        .times {
            opacity: 0.8;
            font-size: 25px;
        }
    }
}

.modal-docked {
    @include transition(visibility 0s 0.3s);
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    .mce-tinymce {
        display:none;
    }

    &.active,
    &.in {
        @include transition(visibility 0s 0.01s);
        visibility: visible;
        .modal-dialog {
            @include transition(right 0.3s ease-in-out);
            right: 0;
        }
        .mce-tinymce {
            display: block;
        }
        .collapse.in {
            backface-visibility: hidden;
        }
    }
    &.closed {
        .modal-dialog {
            @include transition(right 0.5s ease-in-out);
            right: -($width + 5);
            @include media-breakpoint-down(md) {
                right: -($width-sm + 5);
            }
        }
    }

    .modal-dialog {
        width: $width;
        margin: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        @include media-breakpoint-down(md) {
            width: ($width-sm + 5);
        }
    }

    .modal-header {
        background:  theme-color("primary");
        padding: 10px 15px;
        color: $modal-header-color;
        border-radius: 0;
         h4, a {
            color: $modal-header-color;
        }
        &.modal-section {
            margin: 0 0 10px 0;
        }
        .close {
           @include box-shadow(-2px 0 2px rgba(0,0,0,0.3));
            border-radius: $border-radius 0 0 $border-radius;
            opacity: 1;
            position: absolute;
            top: 1px;
            left: -26px;
            padding: 8px 7px 14px;
            background: $modal-header-color;
            border: 0;
            .times {
                color: $theme-text-midtone-color;
                opacity:0.4;
            }
            &:hover,
            &:focus,
            &:active {
                outline: none;
                opacity: 1;
                .times {
                    opacity:0.8;
                }
            }

        }
    }
    .modal-content {
        border-radius: 0;
        border-top: 0;
        border-bottom: 0;
        height: 100% !important; //js bug gives a height (@todo track down)
    }

}

.modal .tags {
    input {
        max-width:250px;
    }
}

.modal-title {
    margin-top: 0;
}
