.card.outcomeoverview {
    width: 45%;
}

@media (max-width: 992px) {
    .card.outcomeoverview {
        width: 100%;
    }
}

a.outcome-state {
    padding: 0 !important;
    color: $green !important;
    border: none !important;
    & .icon.disabled {
        cursor: not-allowed;
        &.dot:before {
            content: "\f068";
        }
    }
    &:focus {
        outline: 0 !important;
    }
}

form.outcome-progress-form {
    label {
        margin-bottom: 10px;
    }
    div.textarea-section {
        min-width: 500px;
        display: inline-block;
        max-width: 70%;
    }
    textarea {
        height: 88px;
        margin-bottom: 10px;
    }
}

// need to update with type colors
div.outcome-type {
    display: inline-block;
    span {
        border: solid black 0.5px;
        border-radius: 3px;
        padding: 4px 8px;
    }
}

span.help {
    float: none !important;
    margin: 0 !important;
}
