$transition: 0.1s ease-in 0s;
$height: 28px;


.switchbox.form-group {
    > label {
        vertical-align: bottom;
        line-height: $height;
    }
}


.form-switch {
    display: inline-block;
    .switch {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        width: 60px; //overridden with inline styles
        input {
            @extend .sr-only;

            &:focus {
                + .switch-label {
                   @include tab-focus;
                   outline-color: #66afe9;
                   .switch-inner:before,
                   .switch-inner:after {
                        background-color: darken($brand-default, 5%);
                   }
                }
            }
        }
    }

    .switch-label {
        border-radius: 3px;
        display: block;
        overflow: hidden;
        cursor: pointer;
        padding: 0;
        min-width: 0;
        margin: 0;

        &:hover {
            .switch-inner:before,
            .switch-inner:after {
                background-color: darken($brand-default, 5%);
           }
        }
    }

    input:disabled + .switch-label {
        opacity: 0.6;
        cursor: default;

        &:hover {
            .switch-inner:before,
            .switch-inner:after {
                background-color: $brand-default;
           }
        }
    }

    .switch-inner {
        @include transition(margin $transition);
        display: block;
        width: 200%;
        margin-left: -100%;

        &:before,
        &:after {
            @include box-sizing(border-box);
            @include box-shadow(none);
            background-color: $brand-default;
            border: 1px solid $btn-default-border;
            display: block;
            float: left;
            width: 50%;
            height: $height;
            padding: 0;
            line-height: 26px;
            font-size: 14px;
            text-transform: capitalize;
        }

        &:before {
            content:'';
            padding-left: 10px;
            color: $text-color;
        }

        &:after {
            content:'';
            padding-right: 10px;
            color: $text-color;
            text-align: right;
        }
    }

    input:checked + .switch-label .switch-inner {
        margin-left: 0;
    }

    .switch-indicator {
        @include transition(all $transition);
        border-radius: 20px;
        display: block;
        width: 10px;
        height:10px;
        margin: 6px 7px;
        background: rgba($brand-danger, 0.8);
        border: 1px solid rgba(darken($brand-danger, 5%), 0.8);
        position: absolute;
        top: 3px;
        right: 3.5rem;
    }

    input:checked + .switch-label .switch-indicator {
        right: 0px;
        background-color: rgba($brand-success, 0.8);
        border: 1px solid rgba(darken($brand-success, 5%), 0.8);

        ~ .off {
            text-indent: 55%;
        }

        ~ .on {
            text-indent: -0;
        }
    }


    .state-label {
        @include transition(all $transition);
        display: block;
        float: left;
        height: $height;
        padding:3px 10px;
        margin-top:-$height;

        &.off {
            padding-left: 45%;
            text-indent: 0;
        }

        &.on {
            text-indent: -55%;
        }
    }
}
