// Display tags styles

.tags {
    a,
    a.tag {
        color: $link-color;
    }
}

.card-body, .card {
    .tags {
        margin-bottom: 10px;
    }
}

// Tag result page
.mytags {
    margin-top: 25px;
    .tagfreq.badge {
        color: inherit;
        border: 1px solid theme-color("primary");
        background-color: transparent;
    }
    .tag {
        margin-right: 10px;
    }
}
.mytags .selected,
.tag-results .selected {
    font-weight: bold;
    color: $gray-500;
    .badge {
        border: 1px solid transparent;
        color: #fff;
        background-color: $gray-500;
    }
}
.tag-results .btn-top-right {
    margin-right: -1px;
    margin-top: -42px;
    height: 40px;
    margin-left: 70%;

    @include media-breakpoint-down(xs) {
        margin: 0;
        height: auto;
    }
}
.tag-filters {
    @extend .clearfix;
    background: scale-color($card-bg, $lightness: -1.5%);
    padding: 10px 15px;
    border-bottom: 1px solid $list-group-border-color;
}

//Edit tag page
.tag-action-description {
    color: $theme-text-lighttone-color;
    font-style: italic;
    font-size: $font-size-base - 1;
    max-width: 90%;
    display: block;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.moretags {
    .icon-ellipsis-h {
        vertical-align: -3px;
        padding-left: 2px;
    }
}
