// Navigation toggle styles
.nav-toggle-area {
    position: relative;
    .user-icon {
        padding: 0;
        position: absolute;
        margin: 4px 0 5px 9px;
        z-index: 3;
        left: 45px;
        display: block;
        @media (min-width: $screen-sm-min) {
            left: 0;
        }
    }
}

.navbar-toggle {
    display: block;
    margin: 0;
    border-color: $navbar-default-toggle-border-color;
    border-left-width: 0;
    border-radius: 3px;
    min-width: 45px;
    color: $navbar-default-toggle-icon-bar-bg;
    padding: 6px 10px;
    background-color: $navbar-default-toggle-hover-bg;

    &:hover,
    &:focus {
        background-color: $navbar-default-toggle-hover-bg;
    }

    &.collapsed {
        background-color: transparent;
        &:hover,
        &:focus {
            background-color: $navbar-default-toggle-hover-bg;
        }
    }

    &.search-toggle {
        @media (min-width: $screen-sm-min) {
            display: none;
        }
        .icon {
            color: $navbar-default-link-color;
        }
    }

    &.user-toggle {
        padding-left: 40px;
        background-color: transparent;
        @media (min-width: $screen-sm-min) {
            border-left-width: 1px;
        }
    }

    &:last-of-type {
        border-left-width: 1px;
    }
}

.navbar-showchildren {
    color: $navbar-inverse-toggle-icon-bar-bg;
    border-radius: 0;
    border: 0;
    position: absolute;
    right: 10px;
    top: 5px;
    height: 37px;
    width:42px;
    margin: 0;
    transition-duration: 0.3s;
    &:hover,
    &:focus {
        background-color: $navbar-inverse-toggle-hover-bg;
        .icon {
            color: $navbar-inverse-link-hover-color;
        }
    }
    .icon {
        transform: rotate(-180deg);
        transition-duration: 0.3s;
    }
    &.collapsed {
        .icon {
            transform: rotate(0deg);
            transition-duration: 0.3s;
        }
    }
    .active & {
        background-color: $navbar-inverse-toggle-hover-bg;
        .icon {
            color: $navbar-inverse-link-hover-color;
        }
    }
}
