// Navigation toggle styles
.nav-toggle-area {
    position: relative;
    .user-icon {
        padding: 0;
        position: absolute;
        margin: 4px 0 4px 7px;
        z-index: 3;
        left: 135px;
        display: block;
        width: 27px;
        height: 27px;
        @include media-breakpoint-up(md) {
            left: 90px;
        }
        &:hover,
        &:focus {
            color: $navbar-toggle-hover-color;
            background-color: $navbar-toggle-hover-bg;
        }
    }
}

.navbar-toggle {
    display: block;
    margin: 0;
    border-color: transparent;
    border-left-width: 0;
    border-radius: $border-radius;
    min-width: 45px;
    color: $navbar-toggle-color;
    padding: 6px 10px;
    background-color: $navbar-toggle-bg;
    position: relative;
    float: right;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $navbar-toggle-hover-color;
        background-color: $navbar-toggle-hover-bg;
    }

    &.collapsed {
        background-color: transparent;
        &:hover,
        &:focus {
            color: $navbar-toggle-hover-color;
            background-color: $navbar-toggle-hover-bg;
        }
    }

    &.search-toggle {
        @include media-breakpoint-up(md) {
            display: none;
        }
        .icon {
            color: $navbar-toggle-color;
        }
    }

    &.user-toggle {
        padding-left: 40px;
        color: $navbar-toggle-color;
        background-color: $navbar-toggle-bg;
        @include media-breakpoint-up(md) {
            border-left-width: 1px;
        }
        &:hover,
        &:focus {
            color: $navbar-toggle-hover-color;
            background-color: $navbar-toggle-hover-bg;
        }
    }

    &:last-of-type {
        border-left-width: 1px;
    }
}

// navbar menu children toggles
.nav {
    .navbar-showchildren {
        color: $navbar-inverse-toggle-color;
        background: $navbar-inverse-toggle-bg;
        border-radius: 0;
        border: 0;
        position: absolute;
        right: 10px;
        top: 5px;
        height: 37px;
        width:42px;
        margin: 0;
        transition-duration: 0.3s;
        cursor: pointer;

        &:hover,
        &:focus {
            background: $navbar-inverse-toggle-hover-bg;
            .icon {
                color: $navbar-inverse-toggle-hover-color;
            }
        }
        .icon {
            transform: rotate(-180deg);
            transition-duration: 0.3s;
        }
        &.collapsed {
            .icon {
                transform: rotate(0deg);
                transition-duration: 0.3s;
            }
        }
        .active & {
            background-color: $navbar-inverse-toggle-active-bg;
            .icon {
                color: $navbar-inverse-toggle-active-color;
            }
        }
    }
}
