.user-icon {
    border-radius: 3px;
    background-color: $card-bg;
    padding: 5px;
    display: table;
    border: 1px solid $thumbnail-border-color;
    overflow: hidden;
    position: relative;


    &.left {
        position:absolute;
        left: 5px;
        top: 5px;
        display: block;
        z-index: 5;
        width: 45px;
        height: 45px;
        &.small-icon {
            width: 35px;
            height: 35px;
        }
    }

    &.position-bottom {
        position:absolute;
        bottom:17%;
    }

    &.user-icon-larger{
        width: 85px;
        height: 85px;
    }

    .list-group-item &, &.small-icon {
        padding: 3px;
    }
    .list-group-item & {
        float: left;
        margin-top: -5px;
        margin-left: -5px;
        margin-right: 5px;
        max-width: 20%;
    }
    img {
        border-radius: 3px;
        margin: 0;
        opacity: 0.9;
        position: relative;
    }
    p {
        margin-top: 3px;
        margin-bottom: 0;
    }

    // Style for blocktype forum post
    .forumposts & {
        margin-top: 10px;
    }

    .page-header & {
        margin: -20px 10px;
    }
}

.user-icon-alt {
    border-radius: 3px;
    .label &{
        margin: 1px 4px 0 -3px;
    }
}

.label .user-icon {
    display: inline-block;
}

.with-user-icon {
    padding-left: 53px;
}

.card-header {
    a.has-user-icon , a.has-user-icon.collapsed {
        padding-left:65px; //make room for user image
    }
}

.card-body {
    .with-user-icon-lg {
        padding-right: 67px;
    }
}

a.user-icon, a .user-icon {
    &:hover,
    &:focus {
        opacity:1;
        background-color: scale-color($thumbnail-border-color, $lightness: 75%);

        img {
            opacity: 1;
        }

        &:after {
            @include transition(opacity 0.5s);
            opacity:1;
            visiblity: visible;
        }
    }
}

.item.user-icon img {
    margin-bottom: 5px;
}
