$font-path: '../fonts';

$thin: 100, normal;
$light: 300, normal;
$lightItalic: 300, italic;
$regular: normal, normal;
$italic: normal, italic;
$bold: 700, bold;

$opensans: (
    OpenSansLight: $light,
    OpenSansLightItalic: $lightItalic,
    OpenSansRegular: $regular,
    OpenSansItalic: $italic,
    OpenSansBold: $bold
);

@each $fontname, $style in $opensans {
    @font-face {
        font-family: 'Open Sans';
        src: url('#{$font-path}/opensans/#{$fontname}.eot');
        src: url('#{$font-path}/opensans/#{$fontname}.eot') format('embedded-opentype'),
             url('#{$font-path}/opensans/#{$fontname}.woff2') format('woff2'),
             url('#{$font-path}/opensans/#{$fontname}.woff') format('woff'),
             url('#{$font-path}/opensans/#{$fontname}.ttf') format('truetype'),
             url('#{$font-path}/opensans/#{$fontname}.svg##{$fontname}') format('svg');
        font-weight: nth($style, 1);
        font-style:  nth($style, 2);
    }
}


@font-face {
    font-family: 'Pacifico';
    src: url('#{$font-path}/pacifico/pacifico-webfont.eot');
    src: url('#{$font-path}/pacifico/pacifico-webfont.eot') format('embedded-opentype'),
         url('#{$font-path}/pacifico/pacifico-webfont.woff2') format('woff2'),
         url('#{$font-path}/pacifico/pacifico-webfont.woff') format('woff'),
         url('#{$font-path}/pacifico/pacifico-webfont.ttf') format('truetype'),
         url('#{$font-path}/pacifico/pacifico-webfont.svg#pacifico-webfont') format('svg');
    font-weight: normal;
    font-style:  normal;
}


@font-face {
    font-family: 'Dekko';
    src: url('#{$font-path}/dekko/dekko-regular-webfont.eot');
    src: url('#{$font-path}/dekko/dekko-regular-webfont.eot') format('embedded-opentype'),
         url('#{$font-path}/dekko/dekko-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/dekko/dekko-regular-webfont.woff') format('woff'),
         url('#{$font-path}/dekko/dekko-regular-webfont.ttf') format('truetype'),
         url('#{$font-path}/dekko/dekko-regular-webfont.svg#dekko-regular-webfont') format('svg');
    font-weight: normal;
    font-style:  normal;
}

