.metadata {
    font-size: 12px;
}

h1 {
    @media (max-width: $screen-sm-min ) {
        font-size: 26px;
    }
}

// tinymce heading font 
.mce-content-body {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: #000000;
        font-family: $font-family-sans-serif;
    }
    h1 {
        border-bottom: 0;
        padding-bottom: 0;
        font-size: 28px;
    }
}
