.text-right .alert {
    text-align: left;
    float: left;
}
.alert {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 14px;
        color: inherit;
    }
    ul {
        padding-left: 20px;
    }
    .table {
        margin-top:10px;
        color: inherit;
        background-color: rgba($body-bg, 0.75);
        >thead{
            color: inherit;
        }
        >thead>tr>th {
            color: inherit;
            vertical-align: bottom;
            border-bottom: 1px solid rgba($gray-300, 0.05);
        }
        >thead>tr>th,
        >thead>tr>td,
        >tbody>tr>th,
        >tbody>tr>td,
        >tfoot>tr>th,
        >tfoot>tr>td {
            border-top: 1px solid $state-info-border;
            &:first-child {
                padding-left:0;
            }
        }
    }
    a {
        font-weight: bold;
    }
}

.alert-default {
    background-color: rgba($body-bg, 0.4);
    border: 1px solid scale-color($gray-400, $lightness: 8%);
    color: $gray-500;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem .75rem 3rem;

    &:before {
      @include fonttype(solid);
      position: absolute;
      left: 20px;
      top: 15px;
      font-size: 1.33333em;
      line-height: .75em;
    }
}

// overrides bootstrap calculations so this is same as states
.alert-success {
    color: scale-color($success, $lightness: -30%);
    background-color: scale-color($success, $lightness: 70%);
    border-color: scale-color($success, $lightness: 50%);
    &:before {
      content: fa-content($fa-var-check);
      color: scale-color($success, $lightness: -30%);
    }
}
.alert-info {
    color: scale-color($info, $lightness: -30%);
    background-color: scale-color($info, $lightness: 70%);
    border-color: scale-color($info, $lightness: 50%);
    &:before {
      content: fa-content($fa-var-info-circle);
      color: scale-color($info, $lightness: -30%);
    }
}
.alert-warning {
    color: scale-color($warning, $lightness: -40%);
    background-color: scale-color($warning, $lightness: 85%);
    border-color: scale-color($warning, $lightness: 50%);
    &:before {
      content: fa-content($fa-var-exclamation-triangle);
      color: scale-color($warning, $lightness: -40%);
    }
}
.alert-danger {
    color: scale-color($danger, $lightness: -30%);
    background-color: scale-color($danger, $lightness: 70%);
    border-color: scale-color($danger, $lightness: 50%);
    &:before {
      content: fa-content($fa-var-times);
      color: scale-color($danger, $lightness: -30%);
    }
}
.alert-submitted {
    background-color: $state-submitted-bg;
    border: 1px solid $state-submitted-border;
    color: $state-submitted-text;
}
