.pieform,
.dropdown {
    .picker {
        position: relative;
        background: #fff;
        display: inline-block;
        min-width: 20px;
        max-width: 100%;
        &.input-short {
            //width: 100px;
            max-width: 170px;
            .select2 {
                width: auto !important; // js is doing some weird calculations and getting the width wrong. Override inline js
                min-width:150px;
                display:block;
            }
            .select2-selection {
                border-color: $input-border;
            }
            .select2-selection:focus {
                border-color: $input-border-focus;
                outline: none;
            }
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            display:none;
        }
        &:before {
            content: "\25BE";
            font-family: "FontAwesome";
            margin-top: 9px;
            position: absolute;
            right: 0%;
            top: 0;
            z-index: 0;
            height: 17px;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 16px;
            z-index: 2;
        }
        select.form-control {
            @include appearance(none);
            position: relative;
            padding-right: 30px;
            background: transparent;
            height: $input-height-base;
            left: 0;
            margin: 0;
            outline: none;
            cursor: pointer;
            top: 0;
            width: 100%;
            max-width: 100%;
            z-index: 5;
            &:disabled {
                background: rgba(0,0,0,0.03);
            }
        }
        &.date {
            margin-left: 4px !important;
        }
    }

    &.theme-dropdown {
        margin-top: 30px;
    }

    &.form-condensed {
        .picker {
            max-width: 67%;
        }
    }

    .input-sm {
        &.picker {
            padding: 0;
        }
        &.picker,
        .picker {
            &:before {
                margin-top: 6px;
            }
            select.form-control {
                height: $input-height-small;
                line-height: $input-height-small / 2 + 2;
            }
        }
    }

    .input-lg {
        &:before {
            margin-top: 12px;
        }
        &.picker select.form-control,
        .picker select.form-control {
            padding-top: 5px;
            padding-bottom: 5px;
            height: $input-height-large;
            line-height: $input-height-large / 2 + 3;
        }
    }

    .select-group  {
        .input-group-addon {
            display: inline-block;
            float: left;
            height: $input-height-base;
            line-height: $input-height-base / 2;
        }
    }
}

.dropdown-single-option {
    .picker {
        select.form-control:disabled {
            cursor: default;
            background: #fff;
            border: 0;
            box-shadow: none;
            color: $theme-text-midtone-color;
            padding-right: 0;
        }
        &.input-short {
            margin-top: 5px;
        }
    }
}
