
.dropdown-group {
  position: relative;

    .form-inline & {
        margin-top: -3px;
    }

    &.form-group {
        margin-left: 11px;
        
        .with-heading & {
            margin-left: 15px;
        }
    }
    .with-dropdown {
        position: absolute;
        top: 0;
        left: -5px;
        padding: 0 5px;
        width: 210px;
        z-index: 2;
        float: left;
        height: $input-height-base;
        input {
            @include border-right-radius(0);
            margin-top: 24px;
        }
        label {
            margin-left: -10px;
            width: auto;
            min-width: 0;
        }
    }

    .picker {
        height: $input-height-base;
        overflow: hidden;
        width: 230px;

        .form-condensed.pieform & {
            max-width: 100%;
        }
    }

    .dropdown-connect {
        height: $input-height-base;
        position: relative;
        margin-top: 24px;
        float: left;
        z-index: 1;
        background: rgba(#fff, 0.8);
        &:before {
            content: "\25BE";
            font-family: "FontAwesome";
            margin-top: 9px;
            position: absolute;
            right: 0%;
            top: 0;
            z-index: 0;
            height: 17px;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 16px;
            z-index: 2;
        }
        select {
            @include appearance(none);
            background: transparent;
            height: $input-height-base;
            left: 0;
            margin: 0;
            outline: none;
            padding-right: 50px;
            cursor: pointer;
            position: absolute;
            top: 0;
            width: 230px;
            z-index: 5;

        }
        label {
            @include sr-only;
        }
    }
    ~ .btn {
        margin-top: 16px;
    }

}
