legend {
    border-bottom: 0;
    margin-bottom: 0;
}

input + label {
    font-weight: normal;
}

input[type=text],
input[type=password],
textarea,
select {
    @extend .form-control;
    .modal & {
        width: auto;
        max-width: 100%;
    }
}

.password-progress {
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0 !important;

    .step2 & {
        width: 100% !important;
    }
}

label,
.pseudolabel {
    // .col-form-label is adding too much padding to <label> commenting out
    // @extend .col-form-label;
    max-width: 100%;
    padding-right: 10px;
    font-weight: normal;
    .form-condensed & {
        min-width: 100px;
        &.pseudolabel {
            min-width: 265px;
        }
    }
    &.input-inline {
        display: inline;
    }
    &.sr-only {
        min-width: 0;
        width:0;
    }
    .topic & {
        font-weight: 300;
    }
    .form-inline & {
        min-width: 0;
    }
    &.btn,
    .col-md-2 {
        min-width: 0;
    }

    .column-layout &,
    .column &{
        min-width: 0;
    }

    @include media-breakpoint-up(md) {
        min-width: 265px;
    }

    .with-label-widthauto & {
        min-width: auto;
    }
}

.pseudolabel {
    vertical-align: top;
    padding-right: 10px;
    display: inline-block;
}

.checkbox .with-label {
    padding-left: 17px;
}

.stacked-label {
    display: inline-block;
    @include media-breakpoint-up(md) {
        width:200px;
    }
}

.pieform-fieldset {
    .html {
        &:not(tr) {
            @include clearfix;
        }
    }
}

.as-card form {
    margin-top:0;
}

.main table form {
    margin:0;
}

.wysiwyg label,
.textarea label {
    vertical-align: top;
}

// BS3 code - begin
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  input.checkboxes,
  input.radio {
      z-index: 3;
  }

  label {
    min-height: $line-height-computed; // Ensure the input doesn't jump when there is no text
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}
// BS3 code - end

.radio-aligned {
    display: inline-block;
}
.no-radio {
    margin-left: 16px;
}

// for multiselect buttons
.select-col {
    width : 100px;
}

.align-with-input {
    display: inline-block;
    margin-left: 0;
    @include media-breakpoint-up(md) {
        margin-left: 265px;
    }
    &.file {
        margin-top: -30px;
    }
    .option-alt & {
        margin: 0;
        display: block;
    }
}

.align-with-input-desc {
    display: inline-block;
    margin-left: 0;
}
.form-group.file label {
    vertical-align: top;
}

textarea {
    resize: none;
}

textarea.resizable {
    resize: vertical;
}

.form-inline {
    position: relative;
    label {
        display: block;
    }
    .form-group {
        padding: 0;
        border-bottom: 0 none;
        align-items: flex-start;
        display: inline-block;

        input.checkbox {
            width: auto;
            margin-top: -6px;
        }
    }
    @include media-breakpoint-down(md) {
        > .form-group {
            width: 100%;
        }
    }
    &.form-inline-align-bottom .form-group{
        vertical-align: bottom;
        align-self: flex-end;
    }
    &.form-short {
        select, input:not(.submit) {
            max-width:100%;
        }
        .form-group:not(.submit) {
            width: 60%;
        }
    }
}

.form-inline-align-bottom a {
    vertical-align: bottom;
    align-self: flex-end;
}

.form-control.file {
    padding: 0;
    box-shadow: none;
    border: none;
    background-color: transparent;
}

.form-control:disabled {
    color: #aaa;
}

.form-message-inline  {
    vertical-align: top;
}

.hasDatepickerwrapper input[type="text"],
.hasDatepickerwrapperacl input[type="text"] {
    position: relative;
    padding-right: 28px;
}
.hasDatepicker {
    padding-right: 20px;
}
.hasDatepickerwrapper:after {
    font-family: "FontAwesome";
    font-size: 16px;
    content: "\f073";
    color: scale-color($theme-text-color, $lightness: 25%);
    position:relative;
    right: 25px;
}
.hasDatepickerwrapperacl:after {
    font-family: "FontAwesome";
    font-size: 16px;
    content: "\f073";
    color: scale-color($theme-text-color, $lightness: 25%);
    right: 10px;
    position: absolute;
    font-size: 16px;
    top: 5px;
}
.date-picker {
    position: relative;
    input.form-control {
        width: 100%;
        max-width:100%;
        z-index: 1;
        position:relative;
        &:not(:disabled) {
            background-color: transparent;
        }
        &:disabled {
            opacity: 0.5;
        }
    }
}

.progress {
    background: repeating-linear-gradient(45deg, #f5f5f5, #f5f5f5 10px, #eeeeee 10px, #eeeeee 20px);
    .progress-bar.small-progress {
        span {
            color: #666666;
        }
    }
}

input:disabled[type="text"] {
    color: $black;
}
