//
// Extenstion to input groups so we can use them in pieforms
// --------------------------------------------------
.form-inline  {
    // if one item in an input group has a label, push others down
    .no-label {
        margin-top: 17px;
    }
}
.pieform .input-group {
    max-width:100%;

    .pieform-fieldset > .form-group {
        border: none;
        padding: 0;
        box-shadow: none;
        float: left;
        .form-control {
            border-top-left-radius: $border-radius-base;
            border-bottom-left-radius: $border-radius-base;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            max-width: 100%;
        }
        ~ .form-group {
            .form-control {
                @include border-left-radius(0);
                margin-left: -1px;
                @media (min-width: $screen-xs-min) {
                    border-left:0;
                }
            }
            &:last-child {
                .form-control {
                    @include border-right-radius($border-radius-base);
                }
            }
        }
    }
    label {
        display: block;
    }
    // if one item in an input group has a label, push others down
    .no-label {
        margin-top: 5px;
        // For screen size smaller than xs
        @media (min-width: 321px) {
            margin-top: 13px;
        }
        @media (min-width: $screen-sm-min) {
            margin-top: 10.5px;
        }
    }

    .form-group,
    .form-control {
        display: inline-block;
        width: auto;
    }
}
.pieform .input-group-btn {
    font-size: inherit;
    width: inherit;
    float:left;
    &.form-group {
        display: block;
    }
}
