.site-messages {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    .site-message.alert {
        margin-bottom: 0;
        border-radius: 0;
        padding: 5px 15px;
    }
    @media (max-width: $screen-sm-min - 1) {
        display: none;
    }

    ~ .header {
        top: 33px;    //for one message
        + .main-nav {
            margin-top: 32px;    //for one message
        }
    }
}


//adjust header and fixed elements for sitemessages
@for $i from 1 through 5 {
    .header.message-count-#{$i} {
        top: 33px * $i;

        @media (max-width: $screen-sm-min - 1) {
            top: 0;
        }

        ~ .container {
            .toolbar-affix.affix {
                margin-top: $i * 33px;
            }
        }

        + .main-content {
            @media (min-width: $screen-sm-min) {
                margin-top: $i * 33px;
            }
        }
    }
}


.no-site-messages {
    top: 0;
    padding-top: 0;
}

.errmsg {
    color: $brand-danger;
}

.sidebar,
.login-panel {
    .errmsg {
        margin-left: 0;
    }
}
