.site-messages {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    .site-message.alert {
        margin-bottom: 0;
        border-radius: 0;
        padding: 5px 15px;
    }
    @include media-breakpoint-down(sm) {
        display: none;
    }

    ~ .header {
        top: 33px;    //for one message
        + .main-nav {
            margin-top: 32px;    //for one message
        }
    }
}


//adjust header and fixed elements for sitemessages
@for $i from 1 through 5 {
    .header.message-count-#{$i} {
        top: 33px * $i;

        @include media-breakpoint-down(sm) {
            top: 0;
        }

        ~ .container {
            .toolbar-affix.affix {
                @include media-breakpoint-up(md) {
                    margin-top: $navbar-height + ($i * 33px);
                }
            }
        }

        + .main-content {
            @include media-breakpoint-up(md) {
                margin-top: $navbar-height + ($i * 33px);
            }
        }
    }
}


.no-site-messages {
    top: 0;
    padding-top: 0;

    + .main-content,
    + .main-content .toolbar-affix.affix {
        @include media-breakpoint-up(md) {
            margin-top: $navbar-height;
        }
    }
}

.errmsg {
    color: theme-color("danger");
}

.sidebar,
.login-card {
    .errmsg {
        margin-left: 0;
    }
}
