.minor-nav {
    border-radius: 0;
    margin-top:-1px; //overlay bottom border of main nav
    border-top:0;
    .nav {
        margin:7px 15px 7px 0;
        >li {
            margin: 3px 0 3px 3px;
            >a {
                font-size: 13px;
                padding: 3px 5px;
            }
        }
    }
}
