@import url("font-awesome/font-awesome.css");

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=4.7.0');
  src: url('font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* adding css from Behat2Renderer here */
body {
    margin:0px;
    padding:0px;
    position:relative;
    padding-top:170px;
}
#behat {
    float:left;
    font-family: Georgia, serif;
    font-size:18px;
    line-height:26px;
    width:100%;
}
#behat .statistics {
    float:left;
    width:100%;
    margin-bottom:15px;
}
#behat .statistics p {
    text-align:right;
    padding:5px 15px;
    margin:0px;
    border-right:10px solid #000;
}
#behat .statistics.failed p {
    border-color:#C20000;
}
#behat .statistics.passed p {
    border-color:#3D7700;
}
#behat .suite {
    margin:8px;
}
#behat .feature {
    margin:15px;
}
#behat h2, #behat h3, #behat h4 {
    margin:0px 0px 5px 0px;
    padding:0px;
    font-family:Georgia;
}
#behat h2 .title, #behat h3 .title, #behat h4 .title {
    font-weight:normal;
}
#behat .path {
    font-size:10px;
    font-weight:normal;
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace !important;
    color:#999;
    padding:0px 5px;
    float:right;
}
#behat .path a:link,
#behat .path a:visited {
    color:#999;
}
#behat .path a:hover,
#behat .path a:active {
    background-color:#000;
    color:#fff;
}
#behat h3 .path {
    margin-right:4%;
}
#behat ul.tags {
    font-size:14px;
    font-weight:bold;
    color:#246AC1;
    list-style:none;
    margin:0px;
    padding:0px;
}
#behat ul.tags li {
    display:inline;
}
#behat ul.tags li:after {
    content:' ';
}
#behat ul.tags li:last-child:after {
    content:'';
}
#behat .feature > p {
    margin-top:0px;
    margin-left:20px;
}
#behat .scenario {
    margin-left:20px;
    margin-bottom:20px;
}
#behat .scenario > ol,
#behat .scenario .examples > ol {
    margin:0px;
    list-style:none;
    padding:0px;
}
#behat .scenario > ol {
    margin-left:20px;
}
#behat .scenario > ol:after,
#behat .scenario .examples > ol:after {
    content:'';
    display:block;
    clear:both;
}
#behat .scenario > ol li,
#behat .scenario .examples > ol li {
    float:left;
    width:95%;
    padding-left:5px;
    border-left:5px solid;
    margin-bottom:4px;
}
#behat .scenario > ol li .argument,
#behat .scenario .examples > ol li .argument {
    margin:10px 20px;
    font-size:16px;
    overflow:hidden;
}
#behat .scenario > ol li table.argument,
#behat .scenario .examples > ol li table.argument {
    border:1px solid #d2d2d2;
}
#behat .scenario > ol li table.argument thead td,
#behat .scenario .examples > ol li table.argument thead td {
    font-weight: bold;
}
#behat .scenario > ol li table.argument td,
#behat .scenario .examples > ol li table.argument td {
    padding:5px 10px;
    background:#f3f3f3;
}
#behat .scenario > ol li .keyword,
#behat .scenario .examples > ol li .keyword {
    font-weight:bold;
}
#behat .scenario > ol li .path,
#behat .scenario .examples > ol li .path {
    float:right;
}
#behat .scenario .examples {
    margin-top:20px;
    margin-left:40px;
}
#behat .scenario .examples h4 span {
    font-weight:normal;
    background:#f3f3f3;
    color:#999;
    padding:0 5px;
    margin-left:10px;
}
#behat .scenario .examples table {
    margin-left:20px;
}
#behat .scenario .examples table thead td {
    font-weight:bold;
    text-align:center;
}
#behat .scenario .examples table td {
    padding:2px 10px;
    font-size:16px;
}
#behat .scenario .examples table .failed.exception td {
    border-left:5px solid #000;
    border-color:#C20000 !important;
    padding-left:0px;
}
pre {
    font-family:monospace;
}
.snippet {
    font-size:14px;
    color:#000;
    margin-left:20px;
}
.backtrace {
    font-size:12px;
    line-height:18px;
    color:#000;
    overflow:hidden;
    margin-left:20px;
    padding:15px;
    border-left:2px solid #C20000;
    background: #fff;
    margin-right:15px;
}
#behat .passed {
    background:#DBFFB4;
    border-color:#65C400 !important;
    color:#3D7700;
}
#behat .failed {
    background:#FFFBD3;
    border-color:#C20000 !important;
    color:#C20000;
}
#behat .undefined, #behat .pending {
    border-color:#FAF834 !important;
    background:#FCFB98;
    color:#000;
}
#behat .skipped {
    background:lightCyan;
    border-color:cyan !important;
    color:#000;
}
#behat .summary {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
#behat .summary .counters {
    padding: 10px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 5px;
    border-style: solid;
    height: 70px;
    overflow: hidden;
}
#behat .summary .switchers {
    position: absolute;
    right: 15px;
    top: 25px;
}
#behat .summary .switcher {
    text-decoration: underline;
    cursor: pointer;
}
#behat .summary .switchers a {
    margin-left: 10px;
    color: #000;
}
#behat .summary .switchers a:hover {
    text-decoration:none;
}
#behat .summary p {
    margin:0px;
}

#behat .featureResult > span {
    font-size: 14px;
}

#behat .jq-toggle > .scenario,
#behat .jq-toggle > ol,
#behat .jq-toggle > .examples {
    display:none;
}
#behat .jq-toggle-opened > .scenario,
#behat .jq-toggle-opened > ol,
#behat .jq-toggle-opened > .examples {
    display:block;
}
#behat .jq-toggle > h2,
#behat .jq-toggle > h3 {
    cursor:pointer;
}
#behat .jq-toggle > h2:after,
#behat .jq-toggle > h3:after {
    content:' |+';
    font-weight:bold;
}
#behat .jq-toggle-opened > h2:after,
#behat .jq-toggle-opened > h3:after {
    content:' |-';
    font-weight:bold;
}

/*start of original catalyst.css*/
#behat,
#behat h1,
#behat h2,
#behat h3,
#behat h4 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.navbar-inverse {
    background-color: #fff;
    background-image: none;
    border-image: url(../img/header-bkgd.png) 1 round;
    border-bottom: 5px solid #2e391c;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    padding-left: 0;
    color: #000;
}

#behat .failed,
#behat .skipped,
#behat .pending,
#behat .passed {
    background-color: transparent;
    color: #000;
}

#behat .summary {
    margin-top: 75px;
}

#behat .summary .counters {
    height: auto;
    border: none;
    padding-left: 0;
}

#behat .summary .switchers {
    position: fixed;
    right: 15px;
    top: 7px;
    z-index: 10000;
}

.switchers a,
.btn,
.btn-secondary {
    background-image: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-color: #F9F9F9;
    border-color: #ccc;
}

.switchers a:hover,
.switchers a:focus,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    background-color: #e0e0e0;
    border-color: #adadad;
}

.switchers a:active,
.btn-secondary:active {
    color: #333;
    background-color: #e0e0e0;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-success {
    background-image: none;
    color: #fff;
    background-color: #556d32;
    border-color: #475c2a;
}

.btn-success:hover,
.btn-success:focus {
    color: #fff;
    background-color: #3a4a22;
    border-color: #273217;
}

.btn-success:active {
    color: #fff;
    background-color: #3a4a22;
    border-color: #27321;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn-danger {
    background-image: none;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-danger:active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

#behat .suite {
    margin: 20px;
}

#behat .feature > ul.tags {
    margin-bottom: 15px;
    margin-left: 20px;
}

ul.tags li {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    margin: 2px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #919191;
    border-radius: 10px;
}

#behat li .step .keyword {
    font-weight: bold;
}

#behat li.passed,
#behat li.skipped,
#behat li.pending,
#behat li.failed,
#behat .list-group-item.alert-success,
#behat .list-group-item.alert-info,
#behat .list-group-item.alert-warning,
#behat .list-group-item.alert-danger {
    list-style: none;
    border-left: 5px solid;
    padding-left: 5px;
    background-image: none;
}

#behat li.passed,
#behat .list-group-item.alert-success {
    background-color: #d9e0cc;
    border-color: #c7cdac !important;
    color: #426600;

}

#behat li.skipped,
#behat .list-group-item.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1 !important;
    color: #000;
}

#behat li.pending,
#behat .list-group-item.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc !important;
    color: #8a6d3b;
}

#behat li.failed,
#behat .list-group-item.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1 !important;
    color: #a94442;
}

#behat .path {
    color: #555;
}

.card.failed .header {
    background-color: #a94442;
    padding: 7px;
}

#behat .scenario {
    margin-right: 20px;
}

#behat .scenario,
#behat .feature {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#behat .scenario h3,
#behat .feature h2 {
    padding: 10px 15px;
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
}

#behat .scenario > ol {
    margin-left: 0;
}

#behat .scenario > ol li,
#behat .scenario .examples > ol li {
    width: 100%;
    margin-bottom: 0;
}

#behat .featureResult {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-color: #ddd !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#feature-overview .feature {
    padding: 0;
}

.card.failed,
.card.passed,
.card.skipped {
    margin-bottom: 0;
}

.card.failed .header,
.card.passed .header,
.card.skipped .header {
    background-color: #f5f5f5;
    padding: 7px;
    padding-bottom: 0;
    color: #000;
    border: 1px solid #ddd;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
}

.col-sm-4.feature .card.passed,
.col-sm-4.feature .card.skipped,
.col-sm-4.feature .card.failed {
    min-height: 350px;
}

.col-sm-4.feature .card .info {
    height: auto;
}

.col-sm-4.feature .card .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: transparent;
    border-top: 0;
}

.tags {
    margin-bottom: 5px;
}

.tags .badge {
    background-color: #919191;
}

#behat .progress .progress-bar-red {
    background-color: #a94442 !important;
}

#behat .progress .progress-bar-green {
    background-color: #426600 !important;
}

#behat .feature:not(.col-sm-4),
#behat .suite,
#behat .summary .counters,
#behat > .pending {
    margin-left: auto;
    margin-right: auto;
}

#behat #scenario-overview .feature .details .panel.failed > .panel-heading {
    background-color: #a94442;
}

#behat #scenario-overview .feature .details .panel.passed > .panel-heading {
    background-color: #426600;
}

#behat .jq-toggle > h2:after,
#behat .jq-toggle > h3:after {
    font-family: FontAwesome;
    content: '| \f078';
}

#behat .jq-toggle-opened > h2:after,
#behat .jq-toggle-opened > h3:after {
    font-family: FontAwesome;
    content: '| \f077';
}

@media (max-width: 768px) {
    #behat .suite,
    #behat .summary .counters,
    .navbar-brand,
    #behat > .pending {
        padding-left: 10px;
    }
}

@media (min-width: 768px) {
    #behat .feature:not(.col-sm-4),
    #behat .suite,
    #behat .summary .counters,
    #behat > .pending {
        width: 750px;
    }
    .col-sm-4 {
        width: calc(33.33333333% - 30px);
    }
}

@media (min-width: 992px) {
    #behat .feature:not(.col-sm-4),
    #behat .suite,
    #behat .summary .counters,
    #behat > .pending {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #behat .feature:not(.col-sm-4),
    #behat .suite,
    #behat .summary .counters,
    #behat > .pending {
        width: 1170px;
    }
}
