/*
 * Non-bootstrap column layout. Used by the page builder
 */


$columns: 8; //up to 8

@for $i from 1 through $columns {
    .columns#{$i} {
        width: 100 / $i - 2%;
    }
}

.column-content {
    min-height: 50px;
    word-wrap: break-word;
}

.col-row,
.row-content {
    padding-bottom: 50px;

    .column .post,
    .column-layout .post {
        padding: 0;
    }
}

.column {
    word-wrap: break-word;
    vertical-align: top;
    float: left;
    margin: 0;
    padding: 0 0.9% 10px 0.9%;
    max-width: 98%;
    position: relative;
    &:first-child {
        max-width: 98%;
        padding-left:0;
    }
    &:last-child {
        padding-right:0;
    }

    @media (max-width: $screen-sm-min) {
        padding: 0 0 10px 0;
        &:first-child {
            max-width: 100%;
        }
    }
}


.column-layout {
    max-width: 98%;
    float: left;
    @media (min-width: $screen-sm-min + 1) {
        margin-left: 2%;
    }
    @media (max-width: $screen-sm-min) {
        max-width: 100%;
        width: 100% !important; // override inline style
    }
}

// Target all 3 col layouts with equal width
.column-layout.columns3.col-width-33 {
    width: 31.3% !important; // override inline style with a more accurate width
    @media (max-width: $screen-sm-min) {
        width: 100% !important; // override inline style
    }
}


.row-content {
    clear: both;
    @media (min-width: $screen-sm-min + 1) {
        margin-left: -2%;
    }
}