.footer {
    max-width: 100%;
    .footer-nav {
        font-size: $font-size-small;
    }

    .footer-performance-info {
        font-size: $font-size-small;
    }
    .footer-inner {
        @extend .clearfix;
        margin-bottom: 15px;
        .mahara-logo {
            margin-right: 20px;
        }
        .mahara-version {
            padding-top: 10px;
        }
        .site-performace {
            clear: both;
            padding-top: 10px;
        }
        .admin & {
            border-radius: $border-radius-base;
            padding: 10px;
            background: #FCFCFC;
            border: 1px solid #ddd;
        }
    }
}
