.footer {
    background-color: rgba(255, 255, 255, 0.7);
    .footer-nav {
        font-size: $font-size-small;
    }

    .footer-performance-info {
        font-size: $font-size-small;
    }
    .footer-inner {
        @extend .clearfix;
        padding-top: 15px;
        padding-bottom: 15px;
        .mahara-logo {
            margin-right: 20px;
        }
        .mahara-version {
            padding-top: 10px;
        }
        .site-performace {
            clear: both;
            padding-top: 10px;
        }
        .admin & {
            padding: 10px;
        }
    }
    &.upgrade-footer {
        .mahara-logo {
            @media (min-width: $screen-sm-min) {
                float: left;
            }
        }
        .release-info {
            margin: 10px 0;
            @media (min-width: $screen-sm-min) {
                float: right;
            }
        }
    }
}

.mahara-footer-logo {
    height: 37px;
}
