/*
  Gridstack layout CSS
*/
.grid-stack {
    margin-left: -10px;
    margin-right: -10px;

    // but pages that haven't been converted need to have to reverted background
    > .clearfix {
      margin-left: 10px;
      margin-right: 10px;
    }
}

.gridstackblock.card {
    margin-bottom: unset;
    overflow: hidden;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow: hidden !important;
    touch-action: auto !important;
}

// take away the move cursor when page in display mode
#view .ui-draggable {
    cursor: default;
}
