.header {
    top: 0;
    @include media-breakpoint-up(md) {
        top: 30px;
    }

    .logo-area,
    .logo,
    .logoxs,
    .admin-title,
    .loading-box {
        float: left;
    }

    .logo {
        padding: 6px 15px 6px 0;
        display: inline-block;
        height: $navbar-height;

        // When small logo is uploaded 'change-to-small' class is added.
        &.change-to-small {
          display: none;
          @include media-breakpoint-up(md) {
              display: inline-block;
          }
        }
    }

    .logoxs {
        margin: 6px 15px 6px 0;
        height: 48px;
        @include media-breakpoint-up(md) {
          display: none;
        }
    }

    .logo,
    .logoxs {
        top: 0;
        right: 0;
        position: relative;
        img {
            height: 100%;
            max-width: none;
        }
    }

    .admin-title {
        @extend .sr-only;
        @include media-breakpoint-up(md) {
            position: static;
            width: auto;
            height: auto;
            margin: 18px 10px 5px 0;
        }
    }

    .navbar-main.navbar {
        min-height: auto;
        @include media-breakpoint-up(md) {
            height: $navbar-height;
        }
    }
}
