.header {
    top: 0;
    @media (min-width: $screen-sm-min) {
        top: 30px;
    }

    .logo-area,
    .logo,
    .admin-title,
    .loading-box {
        float: left;
    }
    .logo {
        padding: 6px 0;
        margin-right: 15px;
        // logo restricted to 45px - custom work required for a larger version
        img {
            max-height: 45px;
        }
    }
    .admin-title {
        @extend .sr-only;
        @media (min-width: $screen-sm-min) {
            position: static;
            width: auto;
            height: auto;
            margin: 18px 10px 5px 0;
        }
    }
    // if container is directly after header, then it will need a margin
    + .container {
        @media (min-width: $screen-sm-min) {
            margin-top: 50px;
        }
    }
}
