.header {
    top: 0;
    @media (min-width: $screen-sm-min) {
        top: 30px;
    }

    .logo-area,
    .logo,
    .logoxs,
    .admin-title,
    .loading-box {
        float: left;
    }

    $screen-width-small-logo: 415px;

    .logo {
        margin: 6px 15px 6px 0;
        display: inline-block;
        // logo restricted to 45px - custom work required for a larger version
        height: 45px;

        // When small logo is uploaded 'change-to-small' class is added.
        &.change-to-small {
          display: none;
          @media (min-width: $screen-width-small-logo) {
              display: inline-block;
          }
        }
    }

    .logoxs {
        margin: 6px 15px 6px 0;
        height: 48px;
        @media (min-width: $screen-width-small-logo) {
          display: none;
        }
    }

    .logo,
    .logoxs {
        img {
            height: 100%;
            max-width: none;
        }
    }

    .admin-title {
        @extend .sr-only;
        @media (min-width: $screen-sm-min) {
            position: static;
            width: auto;
            height: auto;
            margin: 18px 10px 5px 0;
        }
    }
    // if container is directly after header, then it will need a margin
    + .container {
        @media (min-width: $screen-sm-min) {
            margin-top: 30px;
        }
    }
}
