/*
 * Base structure
 */
body {
    max-width: 100%;

    .main {
        margin: 0 0 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        @include media-breakpoint-up(lg) {
            padding-bottom:50px;
        }
    }
}

.main {
    max-width: 100%;
}

.content-main {
    @include media-breakpoint-up(md) {
        margin-left: 250px;
    }
}

.sidebar {
    padding-top: 0;
    @include media-breakpoint-up(md) {
        padding-top: 30px;
    }
}

// Expose a section of the page
.expose {
    background-color: theme-color("secondary");
    margin-bottom: 40px;
    margin-top: -109px;
    padding: 40px 0 20px;
}

.subpage {
    clear:both;
}

.wall {
    margin-top: 20px;
    .lead {
        background-color: $gray-100;
        padding: $alert-padding-y $alert-padding-x;
    }
}

.columns3,
.columns4,
.columns5 {
    .wallpost .card-header {
        font-size: $font-size-sm;
        padding-right:40px;
        h4 {
            font-size: $font-size-sm;
        }
    }
}

.viewfooter {
    clear: both;
    margin-top: 2rem;

    #releaseview_submit_container {
      margin-left: 1rem;
    }
}

// Needed to clear the float when dropzone is visible
.blocktype {
  &.ui-draggable:before {
    display: none;
  }
}

.blockinstance {
  clear: both;
  .list-group{
    margin-bottom: 0;
  }
}

iframe {
    &.pdfiframe {
        width: 100%;
        height: 500px;
    }
    &.externalvideoiframe {
        width: 100%;
    }
    border: 0;
}
// Limit the width of external media
// to fit the width of the column
.mediaplayer-container iframe {
    width: 100%;
}

.progress-container {
    padding-top: 20px;
}

.section-import {
    padding-top: 30px;
}

.btn-group-top + .lead,
.btn-action-list + .view-description,
.btn-group-top + .view-description,
.toolbar + .lead {
    clear: both;
    margin-top: 15px;
    @include media-breakpoint-up(md) {
        margin-top: 60px;
    }
}

.btn-action-list + .view-container,
.btn-group-top + .view-container {
    @include media-breakpoint-up(md) {
        margin-top: 60px;
    }
}

.view-container {
    margin-top: 15px;
    clear: both;
}

.view-description {
    margin-bottom: 2rem;
    &.with-toolbar {
        margin-right: 20px;
    }
    &.with-addblock {
        margin-bottom: 2rem;
    }
}

.postlist {
    margin-top: 20px;
}

.forumfooter {
    margin: 15px 0;
}

.dropdown-menu li span.nolink {
    padding: 3px 20px;
    display: block;
    white-space: nowrap;
}

body.presentation-iframe {
    header {
        display: none;
    }

    footer {
        display: none;
    }
}
// Online users

.peoplelistinfo {
    clear: both;
    .profile img {
      margin-right: 10px;
    }
    .leftdiv {
        float: left;
        margin-bottom: 5px;
    }
    .rightdiv {
        margin-left: 60px;
        h3 {
            margin-top: 7px;
            padding-top: 5px;
        }
    }
}

// Pages and collections page header

.pageactions {
    position: absolute;
    top: 0px;

    .btn-group-vertical {
        position: fixed;
        right: -1px;
        margin-top: 30px;
        z-index: $zindex-fixed;
        .btn.first-of-group {
            border-top-left-radius: $border-radius;
        }
        .btn-primary {
          label {
            padding: 0;
          }
        }
    }
}

.pageheader {
    background: $pageheader-bg;
    position: relative;

    .main {
        padding-top: 30px;
        padding-bottom: 50px;

        @include media-breakpoint-down(md) {
            padding-top: 20px;
            padding-bottom: 30px;
        }
    }
}

// push in the right page margin to allow room for floating menu
.pageheader-actions {
    padding-right: 0;

    .pageheader-content {
        @media (max-width: 1270px) {
            padding-right: 50px;
        }
    }
}
form#settings,
.view-instructions {
    @media (max-width: 1270px) {
        padding-right: 50px;
    }
}

// Profile page accept friends form
.pendingfriendscard {
    margin-top: 60px;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
        margin-top: -30px;
    }
}

// make footer colour extend below footer on short pages
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    .main-content {
      flex: 1;
      -ms-flex: 0 0 auto; // IE11 fix
    }
}

// fixes ie11 flex issues making panels go to bottom of page
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .col-lg-3 {
      flex: 1 0 0%;
      max-width: 25%;

      @include media-breakpoint-down(md) {
          flex: 1 0 0%;
          max-width: 100%;
      }
  }
}

.last-updated {
  margin: 1rem 0 0 0;
}
