.profile-block.card-header {
    padding:0;
    .username {
        padding: 10px 90px 10px 15px;
        display: block;
        word-break: break-word;
    }
    .user-icon {
        z-index: 5;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 5px;
        &:hover,
        &:focus {
            background-color: $card-bg;
        }
    }
    a {
        border-width: 0;
        &:after {
            @include transition(opacity 0.5s);
            @include fa-icon();
            border-radius: $border-radius;
            bottom: 0;
            background: $card-header-bg;
            color: $theme-text-midtone-color;
            padding:3px;
            content: "\f040";
            display: block;
            opacity:0;
            position: absolute;
            right: 0;
            visibility: hidden;
        }
    }
    + .list-group {
        min-height: 41px;

        .list-group-item-heading {
            font-size: $font-size-base;
        }
    }
}

// Sidebar notification item styles
.list-group-item-profile-notification {
    word-wrap: normal;
    white-space: normal;
    &:first-child {
        padding-right: 80px;
    }
}

.loginas {
    padding-right: 60px;
}

// account settings user block has overlap of text
body.admin .user-card .profile-block.card-header {
    min-height: 90px;
}
