.profile-block.panel-heading {
    padding:0;
    .username {
        padding: 10px 75px 10px 15px;
        display: block;
        word-break: break-all;
    }
    .user-icon {
        z-index: 5;
        width: 60px;
        height: 60px;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 5px; // override more specific padding

        img {

            display: table-cell;
            vertical-align: middle;

        }
    }
    a {
        &:after {
            @include transition(opacity 0.5s);
            @include fa-icon();
            border-radius: 3px;
            bottom: 0px;
            background: darken(#f5f5f5, 1%);
            color: #333;
            padding:3px;
            content: "\f040";
            display: block;
            opacity:0;
            position: absolute;
            right: 0px;
            visibility: hidden;
        }
    }
}

.loginas {
    padding-right: 60px;
}
