.arrow-bar {

    // to theme the Résumé nav and Groups nav green
    &.resume,
    &.group {
        background-color: #5B6E1C;

        .arrow {
            background-color: $arrow-alt-color;
            &:after {
                border-left-color: $arrow-alt-color;
            }
        }
        .nav-inpage {
            &.nav > li {
                & > a {
                    color: $arrow-text-color;
                }
                &.active > a,
                &.active > button  {
                    color: $arrow-link-active-color;
                    background-color: $arrow-link-background-color;
                }
                & > a:hover {
                    color: $arrow-link-hover-color;
                    background-color: $arrow-link-background-color;
                }
            }
        }
    }

    .nav-inpage {
        &.nav > li {
            & > a {
                color: $arrow-text-color;
            }
            &.active > a,
            &.active > button  {
                color: $arrow-link-active-color;
                background-color: $arrow-link-background-color;
            }
            & > a:hover {
                color: $arrow-link-hover-color;
                background-color:$arrow-link-background-color;
            }
        }
    }
}
