// login box btns for external login
.login-externallink {
    display: inline-block;

    .persona-button,
    .btn {
        border-radius: $border-radius;
        cursor: pointer;
        display: inline-block;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        line-height: $line-height-base;
        margin-bottom: 0;
        padding: $btn-padding-y $btn-padding-x;
        text-align: center;
        white-space: nowrap;
        border: $btn-border-width solid $btn-primary-border;

        color: $btn-primary-color;
        background: $btn-primary-bg;

        &:focus,
        &:hover {
            background: scale-color($btn-primary-bg, $lightness: -10%);
            text-decoration: none;
        }
        span {
            color: $btn-primary-color;
        }
    }
}

// Edit page configure buttons
.card-secondary .card-header .blockinstance-controls .btn-group-top {
  .btn {
    color: $gray-700;
    .text-danger {
        color: $state-danger-text;
    }
    &:hover {
        background-color: $gray-200;
    }
  }
}
