// Often the same template is used to render buttons at the top of the page and
// in a list group. cf. groups table/groups
.list-group,
.card-header {
    .btn-group {
        @include media-breakpoint-down(sm) {
            &.btn-group-top .btn {
                border-top: 0;
            }
        }
    }
}

// login box btns for external login
.login-externallink {
    display: inline-block;

    .persona-button,
    .btn {
        border-radius: $border-radius;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: $font-weight-normal;
        line-height: 1.5;
        margin-bottom: 0;
        padding: 6px 9px;
        text-align: center;
        white-space: nowrap;
        border: 1px solid $btn-primary-border;

        color: $btn-primary-color;
        background: $btn-primary-bg;

        &:focus,
        &:hover {
            background: scale-color($btn-primary-bg, $lightness: -10%);
            text-decoration: none;
        }
        span {
            color: $btn-primary-color;
        }
    }
}


// makes certain buttons primary colour
.col-collapse-offset.col-with-collapse .btn {
    color: $white;
    background-color: $theme-primary-color;
    border-color: scale-color($btn-primary-bg, $lightness: -5%);
    .icon {
        color: $white;
    }
    &:focus,
    &:hover {
        background-color: scale-color($theme-primary-color, $lightness: 5%);
    }
}
.submitcancel .btn {
    color: $white;
    background-color: $theme-primary-color;
    border-color: scale-color($btn-primary-bg, $lightness: -5%);
    .icon {
        color: $white;
    }
    &:focus,
    &:hover {
        background-color: scale-color($theme-primary-color, $lightness: 5%);
    }
}
.btn-with-heading {
    color: $white;
    background-color: $theme-primary-color;
    border-color: scale-color($btn-primary-bg, $lightness: -5%);
    .icon {
        color: $white;
    }
    &:focus,
    &:hover {
        background-color: scale-color($theme-primary-color, $lightness: 5%);
        color: $white;
    }
}

.card-secondary .blockinstance-controls .btn-group-top .btn {
    color: $gray-700;
    .text-danger {
        color: $state-danger-text;
    }
    &:hover {
        background-color: $gray-200;
    }
}

// Tinymce primary button
.mce-container,
.mce-widget,
.mce-reset {
    .mce-primary {
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
        font-family: $font-family-sans-serif;

        &:hover {
            background-color: scale-color($btn-primary-bg, $lightness: 5%);
        }

        .mce-txt {
            color: $btn-primary-color;
        }
    }
}

.modal-tinymce {
    .pieform {
        button.btn-secondary {
            background-color: $btn-primary-bg;
            border-color: $btn-primary-border;
            font-family: $font-family-sans-serif;
            color: $btn-primary-color;

            &:hover {
                background-color: scale-color($btn-primary-bg, $lightness: 5%);
            }
        }
    }
}
