.expand-indicator,
.move-indicator {
    margin-left: -4px;

    .card-secondary & {
        color: #FFF;
    }
}


//dash inner
//messages: inbox, sent
//admin: site options
//journals
.inboxblock .link-block,
.form-notificationlist h4 a,
.pieform-fieldset.collapsible h4 a,
.myblogs h5 a {
    &:hover .collapse-indicator,
    &:focus .collapse-indicator {
        color: scale-color($theme-primary-color, $lightness: 10%);
    }
    .collapse-indicator {
        color: $theme-primary-color;
    }
}

.collapse-indicator,
.collapsed .collapse-indicator {
    color: $theme-primary-color;
}
a:focus .collapse-indicator,
a:hover .collapse-indicator {
    color: scale-color($theme-primary-color, $lightness: 10%);
}


// if indicators are in colour block titles then make it white
.card-secondary {
    .card-header {
        .move-indicator {
            color: #FFFFFF !important;
        }
        .collapse-inline {
            width: auto;
        }
        .collapse-indicator {
            color: #FFFFFF;

            &:hover,
            &:focus {
                color: #FFFFFF;
            }
        }
    }
}

[data-toggle="collapse"].outer-link:focus ~ .collapse-indicator,
[data-toggle="collapse"].outer-link:hover ~ .collapse-indicator {
    color: #FFFFFF;
}
