.expand-indicator,
.move-indicator {
    margin-left: -4px;

    .panel-secondary & {
        color: #FFF;
    }
}


//dash inner
//messages: inbox, sent
//admin: site options
//journals
.inboxblock .link-block,
.form-notificationlist h4 a,
.pieform-fieldset.collapsible h4 a,
.myblogs h5 a {
    &:hover .collapse-indicator,
    &:focus .collapse-indicator {
        color: lighten($brand-primary, 10%);
    }
    .collapse-indicator {
        color: $brand-primary;
    }
}

.collapse-indicator,
.collapsed .collapse-indicator {
    color: $brand-primary;
}
a:focus .collapse-indicator,
a:hover .collapse-indicator {
    color: lighten($brand-primary, 10%);
}


// if indicators are in colour block titles then make it white
.panel-secondary {
    .panel-heading {
        .collapse-indicator, 
        .collapsed .collapse-indicator {
            color: #FFFFFF;
        }
        .outer-link.collapsed[data-toggle="collapse"] ~ .collapse-indicator {
            color: #FFFFFF;
        }
        .outer-link[data-toggle="collapse"]:focus ~ .collapse-indicator,
        .outer-link[data-toggle="collapse"]:hover ~ .collapse-indicator {
            color: #FFFFFF;
        }
    }
}