// // modiufications for list elements such a list of pages, collections

.list-group-item-heading {
    font-family: $font-family-sans-serif;
}

// Attachment list
.list-group-item-link {
    padding: 0;
    a {
        font-size: 14px;
        color: $link-color;
        small {
            color: #666;
        }
    }
}