.blockinstance {
    &.configure {
        .modal-header,
        .mce-panel .mce-window-head {
            .close,
            .mce-close {
                opacity: 1;
                background-color: $brand-primary;
                border-color: $brand-primary;
                left: -29px;

                &:hover,
                &:focus {
                    background-color: lighten($brand-primary, 5%);
                    border-color: lighten($brand-primary, 5%);

                    .times {
                        opacity: 1;
                    }
                }
                .times {
                    opacity: 0.8;
                    font-size: 25px;
                    color: #FFFFFF;
                }
            }
        }
    }
}