.navbar-showchildren {
    .icon {
        color: $navbar-inverse-link-color;
    }
    &:hover,
    &:focus {
        .icon {
            color: $navbar-inverse-link-color;
        }
    }
    .active & {
        .icon {
            color: $navbar-inverse-link-color;
        }
    }
}
