.menu-toggle {
    &:before {
        border-left: 1px solid #FFF;
    }
}

.search-toggle {
    color: #FFFFFF;
}

.navbar-toggle {
    margin-right: 0;
    margin-top: 0;
}

.header {
    .navbar-toggle {
        margin-top: 7px;
    }
}
.navbar-showchildren {
    background-color: transparent;
    border-radius: 3px 3px 0 0;
    color: #FFF;
    height: 37px;
    &:hover,
    &:focus {
        .icon {
            background-color: transparent;
            color: #FFF;
        }
    }
    .icon {
        color: #FFF;
    }
    &.collapsed {
        height: auto;
    }
}

.adminnav {
    .navbar-showchildren {
        height: 35px;
    }
}