.user-icon {
    border-radius: 50%;

    img {
        border-radius: 50%;
    }
}

.user-icon-alt {
    border-radius: 50%;
}


.friends .user-icon {
    border-radius: 3px;
}


// display layout create custom layout thumbnail
.layoutthumb {
    border-radius: 3px;
}
