/*
 * Primary navigation menu
 * with collapsible
 */
.navbar-fixed-top {
    position:relative;
    border: 0;

    @media (min-width: $screen-sm-min) {
        position:fixed;
    }
}

.navbar-main {
    margin-bottom: 0;
    > .container {
        position: relative;
    }

    @media (min-width: $screen-sm-min) {
        max-height: $navbar-height;
    }

    .nav-toggle-area {
        float: right;
        padding: 7px 0;
    }

    .navbar-collapse {
        padding: 0;
        position: static;
        clear: both;
        max-height: none;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            right: 15px;
            top: $navbar-height - 2px;
            max-width: 300px;

            z-index: 5;
            max-height: 88vh;
            overflow-y: auto;
            overflow-x: hidden;
            margin-right: 0;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
        }

        &.collapsing {
            overflow-y: hidden;
        }
    }

    // Top level navigation items use colour variables from "navbar-default"
    .navbar-nav {
        margin: 0;

        @media (min-width: $screen-sm-min) {
            width: 300px;
        }

        li {
            float: none;
            display: block;
        }

        // Styles for all links inside navbar-nav
        a  {
            @include text-overflow;
            display: block;
            width: 100%;
        }

        > li > a {
            color: $navbar-default-color;
            background-color: $navbar-default-bg;
            padding: 10px 15px;
            line-height: 20px;
            font-weight: normal;
            border-top: 1px solid $navbar-default-border;
            border-bottom: 1px solid $navbar-default-border;
            margin-top: -1px;
            &:hover,
            &:focus {
                text-decoration:none;
                color: $navbar-default-link-hover-color;
            }
            @media (min-width: $screen-sm-min) {
                border: 1px solid $navbar-default-border;
            }
        }
    }

    // Child navigation items use colour variables from "navbar-inverse"
    .child-nav {
        border-top:0;
        max-width: 100%;
        overflow: hidden;
        padding: 0;

        li > a {
            color: $navbar-inverse-link-color;
            background-color: $navbar-inverse-bg;
            padding: 9px 29px;
            margin-top: -1px;
            font-weight: normal;
            &:hover,
            &:focus {
                text-decoration: none;
                background-color: $navbar-inverse-link-hover-bg;
                color: $navbar-inverse-link-hover-color;
            }
        }

        .active > a {
            font-weight: bold;
            background-color: $navbar-inverse-link-active-bg;
            color: $navbar-inverse-link-active-color;
            &:hover,
            &:focus {
                background-color: $navbar-inverse-link-hover-bg;
                color: $navbar-inverse-link-hover-color;
            }
        }
    }
}
