/*
 * Primary navigation menu
 */
.main-nav {
    padding-top: 30px;
    @media (max-width: $screen-sm-min) {
        padding-top: 0;
    }
    .container {
        @media (max-width: $screen-sm-min) {
            padding:0;
        }
    }
    ul {
        min-width: 0;
        margin:0;
        @media (min-width: $screen-md-min) {
            margin: 0px -5px 0px -15px;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
            margin: 0px -5px 0px 0px;
        }
    }
    .navbar-header{
        margin:0;
        @media (min-width: $screen-sm-min) {
            margin-left:-15px;
        }
        @media (min-width: $screen-md-min) {
            + ul {
                margin-left:0;
            }
        }
    }
    li {
        margin: 0;
        a {
            color: $text-color;
        }
    }

    .navbar-brand {
        padding: 13px 15px;
        margin-left: -10px;
        border-bottom:1px solid lighten($navbar-inverse-bg, 2%);
        width:100%;
        @media (min-width: $screen-sm-min) {
            width:auto;
            margin-left:0;
            border:0;
        }
       .icon {
            top:3px;
       }
    }

    .nav > li > a {
        border-top:1px solid darken($navbar-inverse-bg, 2%);
        border-bottom:1px solid lighten($navbar-inverse-bg, 2%);
        padding: 10px 29px;
        line-height: 20px;
        font-weight:normal;
        @media (min-width: $screen-sm-min) {
            border:none;
            padding: 15px 29px;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
            padding: 15px 10px;
        }
        &:hover, &:focus {
            text-decoration:none;
            color: $link-color;
        }
    }
    // Only shown on mobile, or when dropdowns are turned on
    .child-nav {
        background-color: darken($navbar-inverse-bg, 10%);
        border-top:0;
        min-width: 200px;
        max-width: 100%;
        overflow: hidden;
        padding: 15px 0px;

        li {
            display: block;
            a { //styles that need to override bootstrap specificity
                padding: 10px 29px;
                font-weight: normal;
                &:hover, &:focus {
                    text-decoration:none;
                    background-color: rgba(darken($navbar-inverse-link-hover-bg, 5%), 0.5);
                }
            }
        }

       // If this link is the current page or section
        .active > a {
            font-weight: bold;
            background-color: rgba(darken($navbar-inverse-link-hover-bg, 5%), 0.8);
            @media (min-width: $screen-sm-min) {
                background-color: $brand-default;
                &:hover {
                    color: $text-color;
                }
            }
        }

        a  { // styles that don't need to override bootstrap specificity
            display:block;
            width:100%;
            @include text-overflow;
            @media (min-width: $screen-sm-min) {
                border:0;
                max-width: 300px;
                color:$link-color;
            }
        }
    }


    // show dropdown on hover or with 'open' class
    @media (min-width: $screen-sm-min) {
        ul.nav > li:hover > ul.has-dropdown.child-nav,
        ul.nav > li > ul.has-dropdown.child-nav.open {
            display: block;
            visibility: visible;
        }
    }

    .has-dropdown {
        @media (min-width: $screen-sm-min) {
            max-width: 350px;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: $zindex-dropdown;
            display: none; // none by default, but block on "open" of the menu
            float: left;
            padding: 5px 0;
            margin: 0 0 0 -1px; // override default ul
            list-style: none;
            font-size: $font-size-base;
            text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
            background-color: $dropdown-bg;
            border: 1px solid $dropdown-fallback-border; // IE8 fallback
            border: 1px solid $dropdown-border;
            border-top:0;
            @include box-shadow(0 6px 12px rgba(0,0,0,.175));
            background-clip: padding-box;

            // Links within the dropdown menu
            > li  a {
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: $line-height-base;
                white-space: nowrap; // prevent links from randomly breaking onto new lines
            }
            > li > a {
                color: $dropdown-link-color;
            }
            .dropdown-tertiary {
                padding:0;
                margin: 0;
                font-size: $font-size-base - 2;
            }
        }
    }

    // when a container is at the same level as main-nav (but isn't for admin), add padding
    &:not(.adminnav)~ .container {
        padding-top: 20px;
    }
}


.dropdown-menu .btn-link:not(.btn-link-danger) {
    color: $text-color;
}
