.nav-tabs {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    &.nav {
        li > a {
            margin-right: 2px;
            display: block;
            font-weight: 300;
            border: 1px solid transparent;
            border-bottom: 3px solid transparent;
            padding: 8px 10px;
            font-size: $font-size-base * 1.07142857;
            text-decoration: none;

            &:hover,
            &:focus {
                color: scale-color($link-color, $lightness: -16%);
                border-bottom-color: $nav-tabs-link-hover-border-color;
                background: scale-color($gray-100, $lightness: 45%);
                text-decoration: none;
            }

            &.inactive {
                color: $theme-text-lighttone-color;
                &:hover,
                &:focus {
                    color: $theme-text-lighttone-color;
                    background: transparent;
                    border-bottom-color: transparent;
                }
            }

            &.active {
                color: $link-color;
                border-bottom-color: $nav-tabs-link-hover-border-color;
                &:hover,
                &:focus {
                    border-bottom-color: $nav-tabs-link-hover-border-color;
                }
            }
        }
    }
    > li {
        margin-bottom: -$nav-tabs-border-width;
    }
}

// hide unwanted elements
.nav-tabs + .submit,
.tab-content legend {
    display: none;
}
