.nav-tabs {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    &.nav {
        li > a {
            margin-right: 2px;
            display: block;
            font-weight: 300;
            border: 1px solid transparent;
            border-bottom: 3px solid transparent;
            padding: 8px 10px;
            font-size: $font-size-base * 1.07142857;
            &.inactive {
                color: $theme-text-lighttone-color;
                &:hover {
                    color: $theme-text-lighttone-color;
                    background: transparent;
                    border-bottom: 3px solid transparent;
                }
            }
            &:hover,
            &:focus {
                color: scale-color($link-color, $lightness: -16%);
                border: 1px solid transparent;
                border-bottom: 3px solid $nav-tabs-link-hover-border-color;
                background: scale-color($gray-100, $lightness: 45%);
                text-decoration: none;
            }
        }
    }
    > li {
        margin-bottom: -$nav-tabs-border-width;
    }
}

// hide unwanted elements
.nav-tabs + .submit,
.tab-content legend {
    display: none;
}

.nav-tabs.nav>li>a.active {
    color: $link-color;
    border: 1px solid transparent;
    border-bottom: 3px solid $nav-tabs-link-hover-border-color;
    &:hover,
    &:focus {
        border: 1px solid transparent;
        border-bottom: 3px solid $nav-tabs-link-hover-border-color;
    }
}
