/*
 * Modification to bootstraps default navbar components
 */
// Login link and language form
.topright-menu {
    float: right;
    padding-top: 10px;

    li {
        display: inline-block;
        float: right;
    }

    .login-link a {
        margin-left: 15px;
        padding: 7px 15px;
        color: $navbar-default-link-color;

        &:focus,
        &:hover {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
    }
}

// Header search form
.navbar-form.navbar-collapse {
    padding: 15px;
    margin-bottom: 0;
    border: 0;
    @media (min-width: $screen-sm-min) {
        position: absolute;
        display: block;
        max-width: none;
        visibility: visible;
        top: 10px;
        right: 163px;
        margin: 0 30px 0 0;
        padding: 0;
        box-shadow: none;
        height: auto !important;
    }

    .header-search-form {
        input[type=text] {
            width: calc(100% - 43px);
            float: left;
            @media (min-width: $screen-sm-min) {
                width: auto;
            }
        }
        .input-group-btn {
            display: block !important;
            float: left;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 1px solid $btn-default-border;
            margin-left: -1px;
            @media (min-width: $screen-sm-min) {
                float: right;
            }
        }
    }
}

.navbar-default {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
