/*
 * Modificatiosn to bootstraps default navbar components
 */

.navbar.header {
    margin-bottom:0;
    padding: 7px 0;
    border-bottom:1px solid $navbar-default-border;
}

.dropdown-adminnav {
    margin-bottom: $grid-gutter-width;
}

body:not(.admin) .navbar.minor-nav {
    margin-bottom: 0;
}

.navbar-fixed-top {
    position:relative;
    border: 0;

    @media (min-width: $screen-sm-min) {
        position:fixed;
    }
}
.navbar-nav {
    font-size:14px;
    margin: 7px -5px;
    @media (min-width: $screen-sm-min) {
        float:none;
        margin: 0px -15px;
    }
}

.navbar-collapse {
    padding:0;
}

.navbar-form {
    padding-right: 0;
    @media (max-width: $screen-sm-min - 1) {

        width:100%;
        margin:0;
        padding: 10px 0;
        .container > & {
            margin: 0 auto;
        }
    }
    @media (min-width: $screen-sm-min) {
        @include transition-duration(0.3s);
    }
    input[type=submit] {
        display: none !important; // temp
    }
}

.nav>li>a {
    padding: 10px 5px;
    @media (min-width: $screen-sm-min) {
        padding: 10px 15px;
    }
}

.navbar-inverse {
    .navbar-nav {
        >.active {
            > a,
            > a:hover,
            > a:focus {
                @media (max-width: $screen-sm-min - 1) {
                    border-top-color: rgba(darken($navbar-inverse-bg, 7%), 0.5);
                    font-weight:bold;
                    color: $navbar-inverse-link-hover-color;
                    background-color: $navbar-inverse-link-hover-bg;
                }
            }
        }
    }
}
