.tab-content {
    padding-top: 20px;
    .admin-edit-users & {
        padding: 20px 0 15px 0;
    }
}

.admin {
    .tab-content {
        padding: 10px;
        background-color: $panel-bg;
        .panel-secondary {
            border: none;
        }
    }
}
