.footer {
    .footer-inner {
        padding: 20px 10px;

        .nav-link {
            font-weight: $font-weight-bold;
        }
    }
    &.upgrade-footer a {
        font-weight: $font-weight-bold;
    }
}

// viewfooter
.viewfooter {
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 10px;
}
