.footer {
    .footer-nav {
      .nav-link {
          font-weight: $font-weight-bold;
      }
    }
    .footer-inner {
        padding: 20px 10px;
    }
    &.upgrade-footer a {
        font-weight: $font-weight-bold;
    }
}

// viewfooter
.viewfooter {
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 10px;
}
