.header {
    background-image: url(../images/header-bkgd.png);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #FFFFFF;
    top: 0;

    .logo-area {
        margin-top: 10px;
        margin-bottom: 10px;

        .logo {
            @media (max-width: $screen-xs-min) {
                width: 23px;
                overflow-x: hidden;
            }
        }
        img {
            @media (max-width: $screen-xs-min) {
                width: 150px;
                max-width: 150px;
            }
        }
    }

    .admin-title {
        font-family: $font-family-serif;
        font-size: $font-size-large;
        margin-top: 8px;

        @media (max-width: $screen-sm-min) {
            display: none;
        }

        a {
            color: $theme-primary-color;
            &:hover {
                text-decoration: none;
                color: darken($theme-primary-color, 5%);
            }
        }
    }

    + .container {
        // resets margin if there are no site-messages
        margin-top: 0;

        @media (max-width: $screen-sm-min) {
            // resets margin as site-messages are hidden
            margin-top: 0 !important;
        }
    }
}
.header-search-form {
    .text {
        border-radius: 3px 0 0 3px;
    }
    .input-group-btn {
        border-radius: 0 3px 3px 0;
        float: right;
    }
}
