.sidebar {
    .profile-block.card-header {
        min-height: 80px;

        .username {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .user-card {
        > .card {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            .card-header {
              background-color: #2e3a1c;
            }
        }
        .card .list-group {
            border: 0;
        }
    }
}
