.sidebar {
    .profile-block.panel-heading {
        min-height: 80px;

        .username {
            &:hover {
                text-decoration: underline;
            }
        }
        a {
        color: #FFFFFF;

            &:after {
                border-radius: 30px;
                bottom: 0px;
            }
        }
    }
}

.user-panel {
    > .panel-default {
        border: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .panel .list-group {
        border: 0;
    }
}