.sidebar {
    .profile-block.panel-heading {
        min-height: 80px;

        .username {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .user-panel {
        > .panel-default {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            .panel-heading {
              background-color: #2e3a1c;
            }
        }
        .panel .list-group {
            border: 0;
        }
    }
}
