.arrow-bar {
    background-color: #0a4f66;

    // to theme the Résumé nav blue
    &.resume {
        .nav-inpage {
            &.nav > li {
                & > a {
                    color: $arrow-text-color;
                }
                &.active > a,
                &.active > button  {
                    color: $arrow-link-active-color;
                    background-color: $arrow-link-background-color;
                }
                & > a:hover {
                    color: $arrow-link-hover-color;
                    background-color: $arrow-link-background-color;
                }
            }
        }
    }


    // to theme the Groups nav blue
    &.group {
        .nav-inpage {
            &.nav > li {
                & > a {
                    color: $arrow-text-color;
                }
                &.active > a,
                &.active > button  {
                    color: $arrow-link-active-color;
                    background-color: $arrow-link-background-color;
                }
                & > a:hover {
                    color: $arrow-link-hover-color;
                    background-color:$arrow-link-background-color;
                }
            }
        }
    }

    .nav-inpage {
        &.nav > li {
            &.active > a,
            &.active > button  {
                color: $arrow-link-active-color;
                background-color: $arrow-link-background-color;
            }
            & > a:hover {
                color: $arrow-link-hover-color;
                background-color:$arrow-link-background-color;
            }
        }
    }
}
