.arrow-bar {
    background-color: $arrow-bar-bg;

    .arrow {
        background-color: $arrow-color;
        &:after {
            border-left: 14px solid $arrow-color;
        }
        .text {
            color: $arrow-text-color;
        }
    }
}


.nav-inpage {
    &.nav > li {
        > a, button {
            color: $arrow-link-color;
            &:hover,
            &:focus {
                background: $arrow-link-background-color;
                color: $arrow-link-hover-color;
            }
        }
        &.active > a,
        &.active > button  {
            color: $theme-text-color;
            background: $arrow-link-background-color;
            &:hover,
            &:focus {
                color: $arrow-link-active-color;
            }
        }
    }
}
