// Tinymce primary button
.mce-container,
.mce-widget,
.mce-reset {
    .mce-primary {
        background-color: $brand-primary;
        border-color: $btn-primary-border;
        font-family: $font-family-sans-serif;

        &:hover {
            background-color: darken($brand-primary, 10%);
        }

        .mce-txt {
            color: $btn-primary-color;
        }
    }
}

.modal-tinymce {
    .pieform {
        button.btn-default {
            background-color: $brand-primary;
            border-color: $btn-primary-border;
            font-family: $font-family-sans-serif;
            color: $btn-primary-color;

            &:hover {
                background-color: darken($brand-primary, 10%);
            }
        }
    }
}