// overriding/additional styles for theme

.search-toggle {
    color: #fff;
}

@media (max-width: $screen-xs-max) {
    .navbar-toggle.navbar-showchildren,
    .navbar-toggle.navbar-showchildren:hover,
    .navbar-toggle.navbar-showchildren:focus {
        background-color: $brand-primary-faint;
        @include border-top-radius(4px);
    }
}

.header .navbar-toggle {
    margin-top: 45px;
}