// Generic custom css (anything longer than a screen view should have its own component file)

// link hover color
// override bootstrap's lighten() as it looks a bit odd with the blue used for $theme-primary-color
a,
.text-link,
.list-group a.text-link,
.list-group-item-heading a,
.collapsible legend h3 .secondary-link,
.collapsible legend h4 .secondary-link,
.card-header .secondary-link,
.pagination > li > a,
.pagination > li > span {
    &:hover,
    &:focus {
        color: scale-color($theme-primary-color, $lightness: 30%);
    }
}
.list-group-item-heading a:hover .metadata,
.list-group-item-heading a:focus .metadata {
    color: scale-color($theme-primary-color, $lightness: 30%);
}

// cards
.card-secondary .card-header-nested,
.card-secondary >.card-header {
    border-left: 0;
    background-color: transparent;
}
.loading-inner {
    background: transparent;
    .icon-spinner {
        color: #fff;
    }
}
