/*
 * Brand colours should be defined here, and (ideally) used only in the global variables files (bootstrap-variables, custom-variables)
 */

$mahara-green:      #335804;
$mahara-green-light: #5f9422;
$mahara-green-lime:  #B9CB2E;
$mahara-green-bright: darken(#6faa00, 2%);

$mahara-blue:       darken(#22C49C, 5%);
$mahara-dark-grey:  #333;
$mahara-dark-brown:  #211c00;

$theme-primary: ;
$theme-secondary: ;

$theme-background: #D6D9DA;
