/*
 * Theme colours should be defined here, and (ideally) used only in the global variables files (bootstrap-variables, custom-variables)
 */

$theme-primary-color: #374757;
$theme-primary-color-dark: darken($theme-primary-color, 10%);
$theme-secondary-color: #1EAE8B;
$theme-text-color:  #545B5D;

$theme-text-lighttone-color: #888;
$theme-text-midtone-color: #888;
