/* The main calendar widget.  DIV containing a table. */

div.calendar {
	position: relative;
	font-size: 75%;
	border: 2px solid #dddddd;
}

.calendar table {
	font-size: .9167em;
	color: #333;
	cursor: default;
	background: #f0f0f0;
}
.calendar thead td {
	padding: 0;
}
.calendar tbody td {
	padding: 3px 5px;
}

/* Header part -- contains navigation buttons and day names. */
.calendar .button div { /* "<<", "<", ">", ">>" buttons have this class */
	text-align: center;    /* They are the navigation buttons */
	background-color: #2b2b2b;
	color: #FFF;
	padding: 3px 5px;
}

.calendar .nav {
	background: #7d9728 url('../images/menuarrow.gif') no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
	font-weight: bold;      /* Pressing it will take you to the current date */
	text-align: center;
	background: #2b2b2b;
	color: #FFF;
	vertical-align: middle;
}
.calendar thead .headrow { /* Row <TR> containing navigation buttons */
	
}
.headrow td.button {
	
}
.calendar thead .name { /* Cells <TD> containing the day names */
	text-align: center;
	color: #FFF;
}
.calendar thead .weekend { /* How a weekend day name shows in header */
}

.calendar thead .hilite div { /* How do the buttons in header appear when hover */
	background-color: #4b4b4b;
}

.calendar thead .active { /* Active (pressed) buttons in header */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
	background: #6a6a6a;
	font-weight: bold;
}

.calendar thead .daynames td {
	* padding: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}


/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 20px;
  text-align: right;
}
.calendar tbody .day.othermonth {
  font-size: .9167em;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #434343;
}

.calendar table .wn {
  background: #6a6a6a;
  color: #b7b7b7;
}

.calendar tbody .rowhilite td {
  background: #d1dbae;
}

.calendar tbody .rowhilite td.wn {
  background: #7d863a;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #b1c80f;
  border: none;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #8faf1f;
  border: none;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  background: #7f9d16;
  color: #fff;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #888;
}

.calendar tbody td.today { 
	font-weight: bold; 
	color: #FFF; 
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */
.calendar tfoot {
	font-size: .9167em;
	background: #2b2b2b;
	text-align: center;
	color: #FFF;
}
.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 45px;
  cursor: default;
  background: #717277;
  color: #FFF;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 45px;
}

.calendar .combo .hilite {
  background: #6e8e00;
}

.calendar .combo .active {
  background: #7d9728;
  font-weight: bold;
}

.calendar td.time {
  text-align: center;
  background-color: #605b3b;
  color: #EAE097;
  font-weight: bold;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0 3px;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  background-color: #6e8e00;
  color: #FFF;
}
