/**************** DROPDOWN NAVIGATION ****************/
/**************** MAIN NAVIGATION ********************/

#main-nav.dropdown-main li {
	position: relative;
	height: auto;
}
/**************** SUB NAVIGATION *********************/
#main-nav li {
	z-index: 3000;
}
#main-nav .dropdown-sub {
	display: none !important;
	position: absolute;
	top: 35px;
	left:0;
	z-index: 1000;
	clear: both;
	padding: 0;
	margin: 0;
}
#main-nav .dropdown-sub li {
	float: none !important;
	margin: 0 !important;
	list-style-type: none;
	background: transparent !important;
	line-height: 24px;
	height: 24px;
}
#main-nav .dropdown-sub li span {
	height: auto;
	display: block;
}
#main-nav .dropdown-sub li a, #main-nav .dropdown-sub li a:link, #main-nav .dropdown-sub li a:visited, #main-nav .dropdown-sub li a:active {
	padding: 4px 10px;
	background: #DDDDDD;
	border: none;
	float: none;
	width: 160px;
	white-space: normal;
	line-height: 1.3em;
	text-align: left;
	height: auto;
	font-weight: normal;
	font-size: .9167em;
	display: block;
}
#main-nav .dropdown-sub li a:hover {
	background: #eee;
}
#main-nav .dropdown-sub li.selected {
	margin: 0;
	background: transparent !important;
}
#main-nav .dropdown-sub li.selected a {
	font-weight: bold;
}
#main-nav li:hover .dropdown-sub {
	display: block !important;
}
