body {
  font-family: Arial,"Nimbus Sans L",Helvetica,sans-serif;
	font-size: 10pt;
	line-height: 14pt;
	background: none;
	color: #000000;
	width: 100%;
	margin: 0;
	padding: 0;
}

.hiddenStructure {
	display: none;
}


/* TITLES */
h1 {
	color: #000000;
    font-size: 18pt;
	page-break-after: avoid; 
    page-break-inside: avoid;
}
h2 {
    font-size: 16pt;
	color: #000000;
	page-break-after: avoid; 
    page-break-inside: avoid;
}
h3 {
	color: #000000;
    font-size: 14pt;
	page-break-after: avoid; 
    page-break-inside: avoid;
}
h4 {
    font-size: 12pt;
	color: #000000;
	page-break-after: avoid; 
    page-break-inside: avoid;
}
h5 {
	color: #000000;
    font-size: 10pt;
	page-break-after: avoid; 
    page-break-inside: avoid;
}
h6 {
    font-size: 9pt;
	color: #000000;
	page-break-after: avoid; 
    page-break-inside: avoid;
}


#loading_box,
#overlay,
#ajax-login-form {
    display: none;
}

/* Hides without browsers removing from the dom tree */
.safe-hidden {
    position: absolute;
    visibility: hidden;
    top: 0;
}

.s,
.description,
td.description {
	font-size: 8pt;
    font-weight: normal;
	line-height: 10pt;
    color: #000;
}
acronym {
    color: #000;
    border-bottom: 1px dotted #6e6e6e;
}
#uploadformmessage,
#createfolderformmessage,
.error {
    color: #000;
}
input.error, select.error {
    color: #000;
}
.errmsg {
    color: #000;
    font-size: 9pt;
}

.lbuttons,
.rbuttons,
#userview {
	display: none;
}


/* LINKS */
a,
a:link,
a:active,
a:visited,
a:hover {
    color: #0033ff;
	text-decoration: underline;
}


/* FORM ELEMENTS */
.required th, .required label, .requiredmarker, #register_tandc_container th {
	color: #000;
}

input.text,
input.text.required {
	border: 1px solid #000;
}

.defaultSkin table.mceLayout {
	border: none !important;
	background: none !important;
}
.mceFirst {
	display: none;
}


/* Tabs in page */
ul.in-page-tabs li a {
	display: none;
}
ul.in-page-tabs li a.current-tab {
	background: none;
	display: inherit;
	float: left;
	padding: 0;
	font-size: 18pt;
	color: #000;
}
.subpage {
	border: none;
	padding: 0;
	clear: both;
}

#top-pane,
#layout-link,
#blocksinstruction,
.blockinstance-controls input {
	display: none;
}

/* PAGINATION */
.pagination {
	display: none;
}


/* STUFF THAT I'VE YET TO WORK OUT WHERE THEY COME FROM */
table.tablerenderer th.asc,
table.tablerenderer th.desc { 
    background: none;
}
#installer th {
    border-bottom: 1px solid #6e6e6e;
}
#msgscol {
    width: 50%;
}


/* Default light buttons to the big ones */
input.submit, 
input.button, button,
input.submitcancel, 
input.cancelbackcreate,
#settings_delete {
	display: none;
}

div.grippie {
    display: none;
}


/* LABEL */
label {
    color: #000;
}
/* labels that ended up with required colour but needs to be normal */
.emaillist .validated label {
	color: #000;
	font-weight: normal;
}

/* CONTENT LAYOUT */
#container,
#containerX,
#mainwrapper,
#column-left,
#column-full,
.maincontent {
	background: none;
}

#right-column {
	display: none;
}

/* HEADER ELEMENTS */
#top-wrapper {
	border: none;
}
#containerX #top-wrapper {
	background: none;
}
#containerX #top-wrapper .viewheader {
	text-align: right;
}
#containerX #top-wrapper .rbuttons {
	display: inline !important;
	position: absolute;
	left: 0;
	right: auto;
}

#site-logo {
	float: none;
	padding: 0;
	margin-bottom: 20pt;
}
.viewheader {
	padding: 0;
	margin-bottom: 20pt;
}
.viewheader .small-logo img {
	margin: 0;
	padding: 0;
}
.viewheader .center {
	text-align: right;
}

/* search box in header */
#usf,
#main-nav,
#sub-nav,
div.sidebar,
#messages {
    display: none;
}




/* MAIN CONTENT BEGIN */
* html .content {
	float: none;
}
#main-column {
	padding: 0;
}
#containerX .main-column {
	padding: 0;
}
.maincontent ul {
	page-break-before: avoid; 
}

.maincontent li {
	line-height: 18pt;
}

.maincontent #loginbox {
	display: none;
}


.error { 
	color: #6e6e6e; 
}

.errmsg { 
	color: #6e6e6e; 
	font-size: 9pt; 
}

.column {
	padding: 0 1% 0 0;
}


/* MAIN CONTENT */
/* Message */
.message,
#messages,
.maincontent #messagediv {
    display: none;
}
/* Help Popup */
.contextualHelp,
.help {
    display: none;
}
/* Tables */
.maincontent table {
	width: 100%;
}
.maincontent thead th {
    color: #000;
	border-bottom: 1px solid #6e6e6e;
}
th,
.maincontent tbody th {
    color: #000;
	border-bottom: none;
}
.maincontent tfoot td {
	border-top: 1px solid #6e6e6e;
}
.tablerenderer {
	border: none;
	border-spacing: 0;
}
.tablerenderer-loading {
    display: none;
}
th,
tr,
td,
.wallpost,
#wall .private {
	background: none !important;
}


/* Legend */
legend {
	color: #000;
	font-weight: bold;
	font-size: 14pt;
}
legend a, 
legend a:link, 
legend a:visited, 
legend a:active {
	color: #000;
}
/* Fieldset */

/* Alternative row background colours */
.r0, .r0 td,
.r1, .r1 td {
    background: none;
}

form#files .foldernav {
	display: none;
}



/* FOOTER */
#footer-wrap,
#viewmenu {
    display: none;
}
