.meter-overlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
}

.meter-outline {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid;
    position: relative;
    padding: 20px;
    width: 55%;
    left: 22.5%;
    top: 45%;
}

.meter-wrap {
    left: 25%;
    border: 1px solid;
    background-color: #d4d4d4;
    top: 50%;
}

.meter-wrap, .meter-value, .meter-text {
    /* The width and height of your image */
    height: 30px;
}

.meter-wrap, .meter-value {
    /* background: #bdbdbd url(/path/to/your-image.png) top left no-repeat; */
}

.meter-value {
    background-color: #cff253;
}

.meter-text {
    position: absolute;
    left:0;

    padding-top: 5px;

    text-align: center;
    width: 100%;
    font-weight: bold;
    font-color: #000;
}
