/* ===== CSS for index page with all skins ===== */
.skinthumb {
    float: left;
    width: 270px;
    height: 180px;
    padding: 0px 20px 40px 20px;
}
.skinthumb h3 {
    margin-bottom: 2px;
}
img.skinthumb {
    border: 1px solid #333;
}
.skinthumb a:hover img {
    filter:alpha(opacity=50);
    opacity: 0.5;
}
.skinactions {
    width: 240px;
    text-align:left;
}
#skinactions .btn-add {
    float: right;
}
.editskin {
    float: right;
    margin-right: 30px;
    color: #aaaaaa;
}

/* ====== CSS for page skin selection tab ====== */
div.skintype {
    float: left;
    width: 100px;
    margin: 0 10px 0 0;
}
div.currentskin {
    width: auto;
    float: left;
    display: inline-block;
    margin: 0;
    padding-top: 10px;
    padding-left: 34px;
    padding-right: 15px;
    padding-bottom: 10px;
    background: #eee;
}
div.currentskin span {
    display: block;
    margin-top: 3px;
    text-align: center;
}
div.userskins,
div.siteskins,
div.favorskins {
    /* Set it so we could calculate the offsetLeft */
    position: relative;
    height: 155px;
    width: 650px;
    overflow: auto;
}
ul.userskins,
ul.siteskins,
ul.favorskins {
    display: block;
    height: 120px;
    /* max width here, for users without javascript */
    width: 15000px;
    padding: 10px;
    /* removing default styling */
    margin: 0;
    background: #eee;
    list-style: none;
}
.userskins li,
.siteskins li,
.favorskins li {
    display: block;
    float: left;
    padding: 0 4px;
}
.userskins a,
.siteskins a,
.favorskins a {
    display: block;
    text-decoration: none;
}
.userskins span,
.siteskins span,
.favorskins span {
    display: block;
    margin-top: 3px;
    text-align: center;
    color: #333;
}
.userskins a:hover span,
.siteskins a:hover span,
.favorskins a:hover span {
    display: block;
    text-decoration: none;
}
.userskins img,
.siteskins img,
.favorskins img {
    border: 1px #333 solid;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
}
.userskins a:hover img,
.siteskins a:hover img,
.favorskins a:hover img {
    filter:alpha(opacity=50);
    opacity: 0.5;
}

.pt20 {
    padding-top: 20px;
}