.form-switch .switch {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    width: 60px;
}
.form-switch .switch input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,  0,  0,  0);
    border: 0;
}
.form-switch .switch-label {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}
.form-switch .switch-inner {
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
    display: block;
    width: 200%;
    margin-left: -100%
}
.form-switch .switch-inner:before,
.form-switch .switch-inner:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset #676767 0 1px 1px;
    box-shadow: inset #676767 0 1px 1px;
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
}
.form-switch .switch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #6BB44E;
    color: #FFFFFF;
}
.form-switch .switch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #BFBFBF;
    color: #494949;
    text-align: right;
}
.form-switch .switch-switch {
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    -webkit-box-shadow: 0 1px 1px 0 #777;
    box-shadow: 0 1px 1px 0 #777;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    width: 8px;
    margin: 6px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 38px;
}
.form-switch input:checked+.switch-label .switch-inner {
    margin-left: 0;
}
.form-switch input:checked+.switch-label .switch-switch {
    right: 0px;
    background-color: #93FF66;
}
