/*  Views  */
#views-loading {
    color: #666;
}
#page {
	padding: 0 10px 10px 10px;
}

/********************** Top pane of Edit View *************************/
#top-pane {
	background: #EEE;
	padding: 0;
}
.rd-edittab {
    display: none;
}

/* The tabs that allow you to select a blocktype category */
#category-list li a,
#category-list li a:link,
#category-list li a:visited,
#category-list li a:active {
    background-color: #eee;
}
#category-list li.current a,
#category-list li.current a:link,
#category-list li.current a:visited,
#category-list li.current a:active {
    background: #d1d1d1;
    color: #333;
}

/* The panel that contains the blocktype icons */
#blocktype-list {
	background: #D1D1D1;
}
#noblocks {
    color: #666;
}
/******************* Between Panes **************************************/
#layout-link {
	background: url(../images/icon-change.gif) no-repeat left center;
	padding-left: 1.5em;
	padding-top: 1px;
	font-weight: bold;
}
#layout-link.disabled {
    color: #aaa;
	cursor: default;
}
#layout-link.disabled:hover {
	text-decoration: none;
}
#middle-pane {
	background: #dddddd;
}

/********************** Bottom pane of Edit View *************************/
#page #bottom-pane {
    padding: 20px 10px 10px 10px;
    background: #EEE url(../images/bottompane-shad.png) repeat-x top left;
}
#blocksinstruction {
    color: #888;
    padding: 5px;
}
#column-container {
	background: #FFF;
}
#column-container .column-header input[disabled="disabled"] {
    color: #ccc;
}
.column-header {
    background: #EEEEEE;
}

#block-placeholder {
    border: 2px dashed #bfbfbf;
    margin-bottom: 2px;
}

/**************** Blockinstance **********************/
/* Configure blockinstance */
.blockinstance.configure {
  border: 7px solid #eee;
  background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
 }
.blockinstance-content p.noartefacts,
.blockinstance-content .description {
    color: #808080;
}

/* tabs for the artefact chooser */
ul.artefactchooser-tabs li a,
ul.artefactchooser-tabs li a:link,
ul.artefactchooser-tabs li a:visited,
ul.artefactchooser-tabs li a:active {
  background: #eee;
}
ul.artefactchooser-tabs li.current a,
ul.artefactchooser-tabs li.current a:link,
ul.artefactchooser-tabs li.current a:visited
ul.artefactchooser-tabs li.current a:active {
  background: #ddd;
  color: #333;
}
ul.artefactchooser-subtabs li {
  border-right: 1px solid #d1d1d1;
}
ul.artefactchooser-subtabs li.current a,
ul.artefactchooser-subtabs li.current a:link,
ul.artefactchooser-subtabs li.current a:visited,
ul.artefactchooser-subtabs li.current a:active {
  color: #333;
}
#artefactchooser-body {
    border: 1px solid #ddd;
}

/* pagination */
.ac-pagination .results {
	background: #eee;
}

/* attachments */
.attachments {
    background-color: #fff;
}
#instconf_artefactid_selectlist,
#instconf_artefactids_selectlist,
#instconf_artefactid_selectlist th,
#instconf_artefactids_selectlist th {
	border-bottom: 1px solid #ccc;
}


#copyview .searchquery {
	background: #eee;
	border: 1px solid #d1d1d1;
	padding: 5px 10px;
	line-height: 2.4em;
	margin-bottom: 10px;
}

.column-content .add-button {
    margin: 5px 0;
}
.column-content .add-button input, #feedbacktable .makepublicbtn input {
    font-size: .9167em;
    border: 1px solid #5d5d5d;
    background: #e2e2e2 url(../images/btn-bkgd-small.png) repeat-x bottom left;
    color: #333333 !important;
    padding: 0 3px;
    vertical-align: text-bottom;
    margin: 0;
}
.column-content .add-button input:hover, #feedbacktable .makepublicbtn input:hover {
    border: 1px solid #454545;
    background: #e8e8e8 url(../images/btn-bkgd-small-hover.png) repeat-x bottom left;
}
.column-content .add-button input:active, #feedbacktable .makepublicbtn input:active {
    border: 1px solid #454545;
    background: #e2e2e2 url(../images/btn-bkgd-small.png) repeat-x bottom left;
}
.add-button input.newblockhere {
    width: 100%;
    margin: 0;
}
/* this rule compresses and centers the buttons better in konqueror and safari */
body:last-child:not(:root:root) .newblockhere {
    color: #547C22;
}

/* VIEWS */
#feedbacktable .fr {
	margin-top: 2px;
    white-space: nowrap;
    vertical-align: top;
}
#feedbacktable input {
	border: 0;
	cursor: pointer;
	margin-left: 3px;
}

/* views footer */
.viewfooter {
	border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#viewmenu {
	color: #d1d1d1;
}
#feedbacktable .details {
	color: #d1d1d1;
}
#feedbacktable .details span {
	color: #9e9e9e;
}
#feedback_pagination {
	border-top: 1px solid #ccc;
	background: #eee;
}

/** viewing artefact */
#view .filedata-icon {
	background: #F6F6F6;
	border: 1px solid #CCCCCC;
}

/* posted or last update */
.postdetails {
	color: #888;
}
#blocktype_externalfeed_lastupdate {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-size: .9167em;
	color: #888;
	line-height: 1.1667em;
}


/* My Views / Latest Views*/
#userviewstable {
	width: 100%;
}
.viewlist {
	width: 100%;
}
.viewlist h4 {
	margin-bottom: 0;
}
#userviewstable .details,
.viewlist .details {
	line-height: 1.3333em;
	padding-top: 3px;
	font-size: .9167em;
}

#usergroupstable h4 {
	margin-bottom: 0;
}
#usergroupstable .details {
	line-height: 1.3333em;
	padding-top: 3px;
	font-size: .9167em;
}

input.addcolumn, input.removecolumn {
    background: none;
    border: none;
}

/* Collection navigation */
ul.colnav li a {
	background: #DDDDDD;
	font-weight: bold;
}
ul.colnav li.selected span {
    color: #333;
	background: #fff;
	text-decoration: none;
	font-weight: bold;
}
