/*  Views  */
#views-loading {
    color: #666;
}
/********************** Top pane of Edit View *************************/
#top-pane {
}

/* The tabs that allow you to select a blocktype category */
#category-list li a,
#category-list li a:link,
#category-list li a:visited,
#category-list li a:active {
    background-color: #eee;
}
#category-list li.current a,
#category-list li.current a:link,
#category-list li.current a:visited,
#category-list li.current a:active {
    background: #d1d1d1;
    color: #333;
}

/* The panel that contains the blocktype icons */
#blocktype-list {
	border: 1px solid #D1D1D1;
}
#noblocks {
    color: #666;
}

/******************* Between Panes **************************************/
#layout-link {
	background: url(../images/icon-change.gif) no-repeat left center;
	padding-left: 1.5em;
	padding-top: 1px;
	font-weight: bold;
}
#layout-link.disabled {
    color: #aaa;
	cursor: default;
}
#layout-link.disabled:hover {
	text-decoration: none;
}
#btn-displaymyview {
	background: url(../images/icon-display.gif) no-repeat left center;
	padding-left: 1.6em;
	font-weight: bold;
}


/********************** Bottom pane of Edit View *************************/
#page #bottom-pane {
    border: 5px solid #ccc;
}
#blocksinstruction {
    background: #eee;
    color: #919191;
}
#column-container .column-header input[disabled="disabled"] {
    color: #ccc;
}

.column-content .add-button input {
	border: 1px solid #d1d1d1;
}

#block-placeholder {
    border: 2px dashed #bfbfbf;
    margin-bottom: 2px;
}

/**************** Blockinstance **********************/
/* Configure blockinstance */
.blockinstance.configure {
  border: 7px solid #eee;
  background: #fff;
 }
.blockinstance-content p.noartefacts,
.blockinstance-content .description {
    color: #808080;
}

/* tabs for the artefact chooser */
ul.artefactchooser-tabs li a,
ul.artefactchooser-tabs li a:link,
ul.artefactchooser-tabs li a:visited,
ul.artefactchooser-tabs li a:active {
  background: #eee;
}
ul.artefactchooser-tabs li.current a,
ul.artefactchooser-tabs li.current a:link,
ul.artefactchooser-tabs li.current a:visited
ul.artefactchooser-tabs li.current a:active {
  background: #ddd;
  color: #333;
}
ul.artefactchooser-subtabs li {
  border-right: 1px solid #d1d1d1;
}
ul.artefactchooser-subtabs li.current a,
ul.artefactchooser-subtabs li.current a:link,
ul.artefactchooser-subtabs li.current a:visited,
ul.artefactchooser-subtabs li.current a:active {
  color: #333;
}
#artefactchooser-body {
    border: 1px solid #ddd;
}
.upload_browse #artefactchooser-body {
    border: 1px solid #ddd;
}

/* pagination */
.ac-pagination .results {
	background: #eee;
}

/* attachments */
.attachments {
    background-color: #fff;
}
#instconf_artefactid_selectlist,
#instconf_artefactids_selectlist,
#instconf_artefactid_selectlist th,
#instconf_artefactids_selectlist th {
	border-bottom: 1px solid #ccc;
}



#copyview .searchquery {
	background: #eee;
	border: 1px solid #d1d1d1;
	padding: .5em 1em;
	line-height: 2.4em;
	margin-bottom: 1em;
}

/* todo: test this */
.column-content .add-button {
    margin: 5px 0;
}
.add-button .newblockhere {
    background: url(../images/btn-addblock.gif) repeat-x;
    font-weight: normal;
    height: 16px;
    padding: 1px 5px 2px 5px;
    color: #FFF;
    width: 100%;
    margin: 0;
	border-left: 1px solid #5d5d5d;
	border-right: 1px solid #5d5d5d;
}
/* this rule compresses and centers the buttons better in konqueror and safari */
body:last-child:not(:root:root) .newblockhere {
    color: #547C22;
}

/* VIEWS */
#feedbacktable .fr {
	margin-top: .25em;
}
#feedbacktable #delete_comment_delete_comment_submit {
	background: url(../images/mini-delete.gif) no-repeat;
	border: 0;
	width: 9px;
	height: 9px;
	cursor: pointer;
	float: right;
	font-size: 1%;
	text-indent: -9999px;
	margin-left: .5em;
}

/* views footer */
.viewfooter {
	border: 1px solid #eee;
}
#viewmenu {
	color: #d1d1d1;
}
#feedbacktable .details {
	color: #d1d1d1;
}
#feedbacktable .details span {
	color: #9e9e9e;
}
#feedback_pagination {
	border-top: 1px solid #ccc;
}

/** viewing artefact */
#view .filedata-icon.fr {
	background: #F6F6F6;
	border: 1px solid #CCCCCC;
}

/* posted or last update */
.postdetails {
	padding-bottom: 5px !important;
	font-size: .9em;
	color: #888;
	line-height: 1.3em;
}
#blocktype_externalfeed_lastupdate {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-size: .9em;
	color: #888;
	line-height: 1.3em;
}


/* My Views / Latest Views*/
#userviewstable {
	width: 100%;
}
* html #userviewstable {
	width: 98%;
}
#userviewstable .details,
.viewlist .details {
	line-height: 1.4em;
	font-size: .9167em;
}

input.addcolumn, input.removecolumn {
    background: none;
    border: none;
}

/* Collection navigation */
ul.colnav li a,
ul.colnav li span {
	background: #DDDDDD;
	padding: .55em 1em;
	* padding: .55em 1em .5em 1em;
	font-weight: bold;
}
ul.colnav li.selected a,
ul.colnav li.selected span {
    color: #333;
	background: #fff;
	text-decoration: none;
}

#approve_deny_friendrequest_deny {
	border-color: #f69595 #750000 #750000 #f69595 !important;
	background: #ae0101 url(../images/btn-red-bkgd.gif) repeat-x left top !important;
	color: #FFF;
	margin-left: .5em;
}
#approve_deny_friendrequest_deny:hover {
	border-color: #750000 #f69595 #f69595 #750000 !important;
	background: #f23131 url(../images/btn-red-bkgd-hover.gif) repeat-x left top !important;
	color: #FFF;
}