.footer {
  position: relative;

  @include media-breakpoint-up(md) {
    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 2vh 50vw;
        border-top-color: $body-bg;
        border-left-color: $body-bg;
        background: $site-footer-bg;
    }

    .footer-inner {
      padding-top: 9vh;
    }
  }
}
