@include media-breakpoint-up(md) {

  @for $i from 1 through 5 {
    .header.message-count-#{$i} {
      + .main-content::before {
        content: "";
        position: absolute;
        right: 1px;
        top: $navbar-height + ($i * $site-message-height);
        border-style: solid;
        border-color: transparent;
        border-width: 2vh 50vw;
        border-top-color: $theme-primary-color;
        border-left-color: $theme-primary-color;
        background: $body-bg;
      }

      + .main-content {
        padding-top: $spacing-xxxl;
      }
    }
  }

  .pageheader {
    margin-bottom: 0;
    padding-top: $spacing-xxxl;
    padding-bottom: $spacing-xxxl;

    + .main-content::before {
        position: inherit;
        right: auto;
        top: auto;
        border: 0;
        background: $body-bg;
    }
  }
  .pageheader::before {
        content: "";
        position: absolute;
        right: 1px;
        top: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 2vh 50vw;
        border-top-color: $theme-primary-color;
        border-left-color: $theme-primary-color;
        // background: $pageheader-bg;
  }
  .pageheader::after {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 2vh 50vw;
    border-bottom-color: $body-bg;
    border-left-color: $body-bg;
    // background: $body-bg;
  }
}

.tag-results .btn-top-right {
    margin-top: -2.5625rem; // -41px;
}
