/* ADMIN HOME */
/* Administration Home styles */
#register-site,
#runupgrade,
#site-stats {
    background-color: #ebf0f4;
    border: 1px solid #95a8b7;
}
#register-site form legend a {
	color: #7f9d16 !important;
}
#register-site fieldset table table th,
#upgradestable th {
    border-bottom: 1px solid #ccc;
    background-color: #none;
	color: #677a8a;
}
#register-site fieldset table table td,
#upgradestable td {
	background-color: #f4f7f9 !important;
    border-bottom: 1px solid #FFF !important;
}

/* delete suspend boxes */
#close-site,
#suspendinstitution,
#suspenddelete #delete {
	border: 1px solid #e98a88;
	background: #fbeceb;
}
#close-site h3,
#suspendinstitution h3#suspend,
#suspenddelete #delete h4 {
	color: #CA0000;
}


/* CONFIGURE SITE > LINKS AND RESOURCES MENU */
#menuitemlist table th {
	border-bottom: 1px solid #ccc;
}
#menuitemlist table td {
    background-color: #fafbf7;
}
#menuitemlist #rownew td {
	background-color: #f4f7f9;
}
#menuitemlist tr.edit td {
    background-color: #f3f7ec;
}

#institutionusers, 
#staffusers, 
#adminusers,
#groupadminsform {
	background-color: #EBF0F4;
	border: 1px solid #95A8B7;
}

/* add user */
#adduser td.step1 {
	background: #fafbf7;
}
#adduser td.step2 {
	background: #fafbf7;
}
#adduser td.step3 {
	background: #F3F7EC;
}
#adduser table table label {
	color: #474220;
}
#adduser #or {
	color: #7c826c;
}

.admininstitutionbtns .btn-edit {
	color: #6E8E00;
}