/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }

.calendar table {
  border: 1px solid #d4d1c0;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #e5e8da;
  font-family: Arial,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
  background-color: #5c8727;
  color: #FFF;
}

.calendar .nav {
  background: #5c8727 url('../images/menuarrow.gif') no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  padding: 2px;
  background: #3a5813;
  color: #e6c55b;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #d4d1c0;
  padding: 2px;
  text-align: center;
  color: #3a5813;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #585713;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #5c8727;
}

.calendar thead .active { /* Active (pressed) buttons in header */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #819f18;
  font-weight: bold;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #564;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #585713;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  background: #acc067;
}

.calendar tbody .rowhilite td {
  background: #f3f8df;
}

.calendar tbody .rowhilite td.wn {
  background: #acc067;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #c0cd89;
  padding: 1px 3px 1px 1px;
  border: none;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #dec;
  padding: 2px 2px 0px 2px;
  border: none;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #FFF;
  padding: 1px 3px 1px 1px;
  background: #e6c55b;
  color: #3a5813;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #585713;
}

.calendar tbody td.today { font-weight: bold; color: #696; }

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #3a5813;
  color: #e6c55b;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  padding: 2px;
  background: #3a5813;
  color: #e6c55b;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #d4d1c0;
  background: #f3f8df;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #FFF;
}

.calendar .combo .active {
  border-top: 1px solid #5c8727;
  border-bottom: 1px solid #5c8727;
  background: #f3f8df;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #d4d1c0;
  padding: 1px 0px;
  text-align: center;
  background-color: #819f18;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  font-weight: bold;
  background-color: #fff;
  color: #030;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #819f18;
  background-color: #f3f8df;
  color: #3a5813;
}

.calendar td.time span.active {
}
