/*
 * MARTYNS CREATEVIEW WIZARD STYLES
 * these can be replaced with something similar that looks less suck
 */
div#tree, div#template {
    margin-top: 20px;
}

div#tree {
    overflow: auto;
    float: left;
    width: 250px;
    border-right: thin solid #000;
}

div#template {
    overflow: auto;
    width: auto;
    margin-left: 10px;
}

.render_metadata, .render_full, .render_listitem, .render_children {
    cursor: move;
}




/*
 * END MARTYNS STYLES FOR CREATEVIEW WIZARD
 */
