/*
 * MARTYNS CREATEVIEW WIZARD STYLES
 * these can be replaced with something similar that looks less suck
 */
div#tree, div#template {
    margin-top: 20px;
}

div#tree {
    overflow: auto;
    float: left;
    width: 250px;
    border-right: thin solid #000;
}

div#template {
    overflow: auto;
    width: auto;
    margin-left: 10px;
}

.render_metadata, .render_full, .render_listitem, .render_children {
    cursor: move;
}

span.block, div.block {
    border: 2px solid transparent;
    background-color: #c19f88;
}

span.block_potential, div.block_potential {
    border: 2px solid #008800;
}

span.block_targetted, div.block_targetted {
    border: 2px solid #00ff00;
}

.clickable {
    cursor: pointer;
}

/*
 * END MARTYNS STYLES FOR CREATEVIEW WIZARD
 */
