div.sidebar {
    float: right;
    clear: right;
    width: 200px;
    border: thin dotted red;
    padding: 10px;
    margin-bottom: 10px;
}

div.content {
    margin-right: 240px;
    margin-left: 10px;
    padding: 10px;
    border: thin dotted red;
    margin-bottom: 10px;

}
#footer {
    font-size: smaller;
    text-align: center;
}
