body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/background.gif) repeat;
	font-size: 12px;
}

.hiddenStructure {
	display: none;
}

a,
a:link,
a:active,
a:visited {
	color: #547c22;
	text-decoration: none;
}

a:hover {
	color: #819f18;
	text-decoration: underline;
}

h1, h2 {
	color: #547c22;
	font-size: 20px;
	font-weight: normal;	
	margin: 5px 0 5px 0;
	text-transform: capitalize;
}

h3, h4, h5, h6 {
	color: #819f18;
	font-weight: bold;	
	font-size: 14px;	
	margin: 10px 0 10px 0;
	text-transform: capitalize;
}

/* CONTENT LAYOUT BEGIN */
#container {
	min-width: 770px;
   width: 90%;
	margin: 0 auto;
	padding: 0;
}

/* HEADER BEGIN */
#topwrapper {
	padding: 0;
	margin: 15px 0 0 0;
}

#header {
	padding: 0;
    margin: 0;
	background: #FFFFFF url(../images/header_corner_topleft.gif) no-repeat top left;
}

.cornertopright {
	float: right;
	margin: 0;
	padding: 0;
}

#topwrapper ul,
#topwrapper li {
  	padding: 0px;
    margin: 0px;
	text-align: right;
    display: inline;
}

/* GLOBAL NAVIGATION TABS BEGIN */
#globalTabs {
	text-align: right;
  	padding: 0;
    margin: 0 10px 5px 0;
}

#topwrapper #globalTabs #globalnav-logout a {
	width: 89px;
	height: 24px;
  	padding: 5px 25px 6px 25px;
  	margin: 0;
  	background: url(../images/globalnav_logout_off.gif) no-repeat center;
  	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#topwrapper #globalTabs #globalnav-logout a:hover {
  	background: url(../images/globalnav_logout_on.gif) no-repeat center;
  	text-decoration: none;
}

#topwrapper #globalTabs #globalnav-logout.selected a,
#topwrapper #globalTabs #globalnav-logout.selected a:link,
#topwrapper #globalTabs #globalnav-logout.selected a:active,
#topwrapper #globalTabs #globalnav-logout.selected a:visited {
  	background: url(images/../images/globalnav_logout_on.gif) no-repeat center;
  	text-decoration: none;
}

#topwrapper #globalTabs #globalnav-returntosite a {
	width: 150px;
  	padding: 5px 36px 6px 37px;
  	margin: 0;
  	background: url(../images/globalnav_siteadmin_off.gif) no-repeat center;
  	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#topwrapper #globalTabs #globalnav-returntosite a:hover {
  	background: url(../images/globalnav_siteadmin_on.gif) no-repeat center;
  	text-decoration: none;
}

#topwrapper #globalTabs #globalnav-returntosite.selected a,
#topwrapper #globalTabs #globalnav-returntosite.selected a:link,
#topwrapper #globalTabs #globalnav-returntosite.selected a:active,
#topwrapper #globalTabs #globalnav-returntosite.selected a:visited {
  	background: url(images/../images/globalnav_siteadmin_on.gif) no-repeat center;
  	text-decoration: none;
}

#topwrapper #globalTabs #globalnav-siteadmin a {
	width: 150px;
  	padding: 5px 21px 6px 21px;
  	margin: 0;
  	background: url(../images/globalnav_siteadmin_off.gif) no-repeat center;
  	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#topwrapper #globalTabs #globalnav-siteadmin a:hover {
  	background: url(../images/globalnav_siteadmin_on.gif) no-repeat center;
  	text-decoration: none;
}

#topwrapper #globalTabs #globalnav-siteadmin.selected a,
#topwrapper #globalTabs #globalnav-siteadmin.selected a:link,
#topwrapper #globalTabs #globalnav-siteadmin.selected a:active,
#topwrapper #globalTabs #globalnav-siteadmin.selected a:visited {
  	background: url(images/../images/globalnav_siteadmin_on.gif) no-repeat center;
  	text-decoration: none;
}

/* GLOBAL NAVIGATION TABS END */

.logo {
	text-align: left;
    padding: 10px 10px 10px 10px;
	margin: 0;
}

form {
   margin: 0;
}

.searchbox {
	float: right;
	font-size: 11px;
	font-weight: bold;
	color: #497424;
	padding: 0;
	margin: 30px 0 0 0;
}


#searchform #query_container {
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

#searchform#query_container #query {
	margin: 0 0 0 0;
	padding: 0;
	vertical-align: middle;
}

#searchform#submit_container {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	vertical-align: middle;
}
#searchform #submit_container #submit {
	margin:  0 0 0 5px; 
	text-align: right;
	padding: 0 0 2px 0;
	vertical-align: middle;
}
 
.searchbox td {
	padding: 0;
}
/* HEADER END */


/* MAIN COLUMNS BEGIN */
#mainwrapper {
	padding: 5px 5px 5px 5px;
	margin: 0;
	background-color: #d4d1c0;
}

/* MAIN NAVIGATION BEGIN */
.mainnav-left {
	float: left;
	margin: -8px 0 0 0;
	padding: 0;
}

.mainnav-right {
	float: right;
	margin: -8px 0 0 0;
	padding: 0;
}

#mainnav {
	padding: 8px 0 0 0;
	margin: 0 0 0 0;
	background: url(../images/navbg_spacer.gif) repeat-x;
	height: 32px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

#mainnav li {
    display: inline;
    padding: 0 0 0 0;
	color: #e6c560;
	margin: 0 6px 0 6px;
	text-decoration: none;
}

#mainnav li.selected {
	color: #FFFFFF;
}

#mainnav li a,
#mainnav li a:link,
#mainnav li a:visited,
#mainnav li a:active {
	color: #e6c560;
	text-decoration: none;
	margin: 7px 0 0 0;
}

#mainnav li a:hover{
	color: #FFFFFF;
	text-decoration: none;
}

/* MAIN NAVIGATION ENDS */

/* SUB NAVIGATION BEGINS */
.subnav-left {
	float: left;
	margin: -6px 0 0 0;
	padding: 0;
}

.subnav-right {
	float: right;
	margin: -6px 0 0 0;
	padding: 0;
}


#subnav {
	padding: 6px 0 0 0;
	margin: 0 0 0 0;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	background: url(../images/subnavbg_spacer.gif) repeat-x;
	height: 25px;
	text-transform: capitalize;
}

#subnav li a,
#subnav li a:link,
#subnav li a:visited,
#subnav li a:active {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#subnav li a:hover{
	color: #98bf10;
	text-decoration: none;
}

#subnav li {
    display: inline;
    padding: 0;
	margin: 0 5px 0 5px;
}

#subnav li.selected {
    font-weight: bold;
	color: #98bf10;
}
/* SUB NAVIGATION BEGINS */


#maincontentwrapper {
	margin: 0 0 0 0;
	padding: 0;
}

#column-left {
    margin:0 235px 0 0;
    padding:0;
	background-color: #FFFFFF;
}

#column-right {
    width: 228px;
    float: right;
}

/* RIGHT SIDE BOX BEGIN */
div.sidebar {
	background: #FFFFFF url(../images/sidebox2_top_headerbg.gif) no-repeat top;
   	padding: 10px 0 0 10px;
   	margin: 0 0 5px 0;
	color: #FFFFFF;
	font-weight: bold;
}

#column-right div.sidebar-botcorners {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#column-right .sidebarforgotpassword {
	padding: 10px 5px 5px 10px;
	margin: 0 0 0 0;
	background: #FFFFFF url(../images/sidebox_topwhite.gif) no-repeat top;
}

#column-right div.sidebarforgotpassword-botcorners {
    padding: 0 0 0 0;
    margin: 0 0 7px 0;
}

#column-right .sidebarforgotpassword a,
#column-right .sidebarforgotpassword a:link,
#column-right .sidebarforgotpassword a:active,
#column-right .sidebarforgotpassword a:visited {
	background: url(../images/icon_question.gif) no-repeat left;
	padding: 0 0 0 17px;
	color: #547c22;
	text-decoration: none;
	font-weight: bold;
}

#column-right .sidebarforgotpassword a:hover {
	color: #819f18;
	text-decoration: underline;
}

/* SITE MENU BEGINS */
#sitemenu {
	margin: 20px 0 0 -10px;
	padding: 0;
	border: 1px solid red;
}

#sitemenu li, #sitemenu li.r0 {
	padding: 0 0 0 13px;
	margin: 0 5px 0 0px;	 
	color: #000000;
	font-weight: bold;
	background: #FFFFFF url(../images/icon_arrow.gif) no-repeat left;
	list-style-type: none;
	line-height: 18px;
}

#sitemenu li.r1 {
	background-color: #FF0000;
}

/* SITE MENU ENDS */


/* LOGIN FOR COLUMN RIGHT ONLY BEGINS */
#column-right div.loginbox-botcorners {
    padding: 0 0 0 0;
    margin: 0 0 0 -10px;
}

#column-right #loginbox {
    width: 228px;
	background: #FFFFFF url(../images/sidebox_top_headerbg.gif) no-repeat top;
    padding: 10px 0 0 0;
    margin: 0 0 5px 0;
	color: #000000;
}

#column-right #loginbox fieldset {
	border: none;
	padding: 0;
	margin: 0 0 0 10px;
	width: 150px;
}

#column-right #login legend {
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 0 0 -7px;
	padding: 0;
}

#column-right #login #login_username_container {
	margin: 25px 0 0 0;
	padding: 0;
}

#column-right #login #login_password_container {
	margin: 5px 0 5px 0;
	padding: 0;
}

#column-right #login label {
	color: #547c22;
	font-weight: bold;
}

#column-right #login .description {
	font-size: 9px;
	color: #7e7e7e; 
}

#column-right #login #submit_container {
	font-size: 9px;
	float: left;
	margin: 0 0 5px 10px;
	padding: 0;
	display: inline;

}

#column-right #login a,
#column-right #login a:link,
#column-right #login a:active,
#column-right #login a:visited {
	color: #547c22;
	font-size: 9px;
	text-decoration: none;
	margin: 0 2px 0 2px;
}

#column-right #login a:hover {
	text-decoration: underline;
}
/* LOGIN FOR COLUMN RIGHT ONLY BEGINS */


/* RIGHT SIDE BOX ENDS */

/* MAIN CONTENT BEGIN */
.content { 
	padding: 0;
	margin: 0 0 5px 0;
	background-color: #FFFFFF;
}

* html .content {
    margin: 0 10px 5px 0;
	float: left;
}

.content textarea {
	width: 450px;
}

#messages {
	margin: 0 0 5px 5px;
}

#messages .ok {
	color: #547c22;
	background: url(../images/icon_goodtogo.gif) no-repeat left;
	padding: 0 0 0 17px;
}

#messages .err {
	color: #dd0221;
	background: url(../images/icon_problem.gif) no-repeat left;
	padding: 0 0 0 17px;
}

.content a,
.content a:link,
.content a:active,
.content a:visited {
	color: #547c22;
	text-decoration: none;
	border-bottom: 1px dotted #547c22;
}

.content a:hover {
	color: #819f18;
	text-decoration: none;
	border-bottom: 1px solid #819f18;
}

.box-cnrs {
    margin: 0;
  	padding: 0;
}

* html .box-cnrs {
    height: 6px;
} 

.box-cnrs .cnr-tl {
  	background: url(../images/content_corner_topleft.gif) top left no-repeat ;
  	margin: 0 0 0 0;
  	padding: 0;
  	display: block;
  	width: 100%;
}

.box-cnrs .cnr-tr {
  	margin: 0 0 0 0;
  	padding: 0;
  	background: url(../images/content_corner_topright.gif) top right no-repeat;
  	display: block;
  	width: 100%;
}

.box-cnrs .cnr-bl {
  	margin: 0 0 0 0;
  	padding: 0;
  	background: url(../images/content_corner_botleft.gif) bottom left no-repeat;
  	display: block;
  	width: 100%;
}

.box-cnrs .cnr-br {
  	margin: 0 0 0 0;
  	padding: 6px 0 6px 0;
  	background: url(../images/content_corner_botright.gif) bottom right no-repeat;
  	display: block;
  	width: 100%;
}

.maincontent {
  	padding: 5px 15px 10px 15px; 
  	margin: 0;
}

.maincontent ul {
	padding: 0;
	margin: 0 0 0 17px;
}

.maincontent li {
	line-height: 18px;
}

/* MAIN CONTENT END */


/* LOGIN FOR COLUMN LEFT BEGINS */
.maincontent #loginbox {
   	padding: 0;
   	margin: 0;
}

.maincontent #loginbox fieldset {
	border: none;
	padding: 0;
	margin: 0 0 0 10px;
}

.maincontent #login legend {
	color: #8ba520;
	font-weight: bold;
	margin: 0;
	padding: 0;
	display: none;
}

.maincontent #login #login_username_container,
.maincontent #login #login_password_container {
	margin: 0;
	padding: 0;
}

.maincontent #login label {
	color: #8ba520;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.maincontent #login .description {
	font-size: 9px;
	color: #7e7e7e; 
	margin: 0;
	padding: 0;
}

.maincontent #login #submit_container {
	font-size: 9px;
	margin: 0;
	padding: 0;
	display: inline;
}

.maincontent #login #submit {
	margin: 5px 0 0 12px;
}

.maincontent #login table,
.maincontent #login tbody,
.maincontent #login tr,
.maincontent #login td {
	margin: 0;
	padding: 0;
}
/* LOGIN FOR COLUMN LEFT ENDS */

p {
	margin: 15px 0 5px 0;
	padding: 0;
}

thead {
	color: #5c8727;
	background: #e5e8da;
}

tbody {
}

td {
	padding: 1px;
	margin: 0;
}

th {
	text-align: left;
	color: #3a5813;
	vertical-align: top;
	margin: 0;
	padding: 7px 2px 1px 2px;
}

.required label, 
.required th { 
	color: #5c8727; 
}

.required td label, 
.required td { 
	color: #000000; 
}

acronym {
	color: #474220;
	border-bottom: 1px dotted #d4d1c0;
	cursor: help;
}

.help { 
	font-size: 9px; 
	vertical-align: super; 
	text-decoration: none;
	border: none;
}

.description { 
	font-size: 9px; 
	font-style: italic; 
	color: #7e7e7e; 
	padding: 0 0 5px 15px;
}

.error { 
	color: #cf0000; 
}

.errmsg { 
	color: #cf0000; 
	font-size: 9px; 
}

#installer tr {
    height: 2em;
}


/* LISTS AND TABLE STYLES BEGINS */

#typeheader {
	color: #819f18;
	margin: 15px 0 0 0;
}

#watchlist {
	width: 100%;
}

#activitylist {
	margin: 10px 0 0 0;
	width: 100%;
}

#filelist {
	margin: 10px 0 0 0;
	width: 100%;
}

#grouplist {
	margin: 10px 0 0 0;
	width: 100%;
}

#activityprefs {
	margin: 10px 0 0 0;
}

#adminstitutionslist {
	width: 100%;
}

#loading_box {
	display: none;
	position: fixed; 
	top: 0;
	left: 0;
	background-color: #819f18; 
	color: #FFFFFF;
}

#menuitemlist {
	width: 100%;
	margin: 10px 0 0 0;
}

#staffusers table {
	width: 100%;
}

#views {
	margin: 10px 0 0 0;
	padding: 0;
}

#viewlist {
	width: 100%;
	margin: 10px 0 0 0;
}

#bloglist {
	width: 100%;
	margin: 10px 0 0 0;
}

/* LISTS AND TABLE STYLES ENDS */

/* FORMS BEGIN */

#profileprefs td {
	padding: 0 10px;
	margin: 0;
}

#profileprefs .header {
	font-weight: bold;
	color: #819f18;
}

#profileform th {
	padding: 7px 2px 0 15px;
	margin: 0;
}

#profileform td {
	padding: 1px 2px 0 15px;
	margin: 0;
}


#creategroup table {
	padding: 0 2px 0 15px;
	margin: 0;
}

#creategroup th {
	padding: 7px 0 0 0px;
	margin: 0;
}

#creategroup td {
	padding: 1px;
	margin: 0;
}

#creategroup td label {
	font-weight: bold;
	padding: 0 5px 0 0;
	margin: 0;
	color: #3a5714;
}

/* FORMS ENDS */


/* FOOTER BEGIN */
#footer {
    clear: both;
	height: 25px;
	margin: 0 0 0 0;
	padding: 7px 0 0 5px;
    font-size: 13px;
	color: #FFFFFF;
    text-align: left;
	background: #474220 url(../images/footer_navbg_left.gif) no-repeat left;
}

.footerright {
	float: right;
	margin: -7px 0 0 0;
	padding: 0;
	width: 6px;
	height: 32px;
}

#footer a {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0 5px;
	padding: 0;
	border: 0;
}

#footer a:hover {
	color: #e6c560;
	text-decoration: underline;
}


#bottom-corners .footer-left {
	float: left;
	margin: -6px 0 0 0;
	padding: 0;
}

#bottom-corners .footer-right {
	float: right;
	margin: -6px 0 0 0;
	padding: 0;
}

.cornerbotright {
	float: right;
}

/* FOOTER ENDS */
/* CONTENT LAYOUT ENDS */

