/*  Views  */

/* The tabs that allow you to select a blocktype category */
#category-list ul {
    background: url(../images/tabs-bg.gif) repeat-x left top;
    height: 25px;
    padding-left: 10px;
}
#category-list li {
    line-height: 25px;
    margin: 0 !important;
    float: left;
    color: #1E6297;
}
#category-list li a,
#category-list li a:link,
#category-list li a:visited,
#category-list li a:active {
    background: transparent url(../images/tabs-divider.gif) no-repeat right top;
    color: #474220;
    padding: 5px 12px 6px 10px;
    height: 25px;
}
#category-list li a:hover {
    color: #7E7327;
}
#category-list li.current a,
#category-list li.current a:link,
#category-list li.current a:visited,
#category-list li.current a:active {
    background: transparent url(../images/tabs-over-bg.gif) no-repeat right top;
    padding: 5px 12px 6px 10px;
    height: 25px;
}

/* The panel that contains the blocktype icons */
#blocktype-list {
    background-color: #f5f9fc;
    border-top: 0;
}

/* header*/
.blockinstance-header h4 {
    border-bottom: 2px solid #d2d2d2;
}
.blockinstance-header h4 a,
.blockinstance-header h4 a:link,
.blockinstance-header h4 a:visited,
.blockinstance-header h4 a:active {
    text-decoration: none;
	color: #1E6297;
}
.blockinstance-header h4 a:hover {
	color: #267bbd;
}

.blockinstance-content h3 {
	color: #333;
}
.blockinstance-content fieldset table th {
	color: #888;
}


/* Wall */
.wallpost {
    background-color: #F8FBFD;
}

/* tabs for the artefact chooser */
ul.artefactchooser-tabs {
    line-height: 25px;
    font-weight: bold;
    font-size: 12px !important;
    background: url(../images/tabs-bg.gif) repeat-x left top;
    height: 25px;
    padding-left: 10px !important;
}
ul.artefactchooser-tabs li {
    line-height: 25px;
    margin: 0 !important;
    float: left;
    color: #1E6297 !important;
}
ul.artefactchooser-tabs li a,
ul.artefactchooser-tabs li a:link,
ul.artefactchooser-tabs li a:visited,
ul.artefactchooser-tabs li a:active {
    background: transparent url(../images/tabs-divider.gif) no-repeat right top;
    color: #474220 !important;
    padding: 5px 12px 6px 10px;
    height: 25px;
}
ul.artefactchooser-tabs li a:hover {
    color: #7E7327 !important;
}
ul.artefactchooser-tabs li.current a,
ul.artefactchooser-tabs li.current a:link,
ul.artefactchooser-tabs li.current a:visited
ul.artefactchooser-tabs li.current a:active {
    background: transparent url(../images/tabs-over-bg.gif) no-repeat right top;
    color: #1E6297 !important;
    padding: 5px 12px 6px 10px;
    height: 25px;
}
ul.artefactchooser-tabs li.current a:hover {
}
ul.artefactchooser-subtabs {
  padding: 0 !important;
}
ul.artefactchooser-subtabs li {
  padding: 0;
  margin: 0 3px !important;
}
ul.artefactchooser-subtabs li a,
ul.artefactchooser-subtabs li a:link,
ul.artefactchooser-subtabs li a:visited,
ul.artefactchooser-subtabs li a:active {
  text-decoration: none;
  padding: 3px 5px;
  font-weight: bold;
}
ul.artefactchooser-subtabs li a:hover {
	text-decoration: none;
}
ul.artefactchooser-subtabs li.current a,
ul.artefactchooser-subtabs li.current a:link,
ul.artefactchooser-subtabs li.current a:visited,
ul.artefactchooser-subtabs li.current a:active {
  color: #333;
  font-weight: bold;
}
ul.artefactchooser-subtabs li.current a:hover {
	text-decoration: none;
}

#artefactchooser-body {
}


/* table */
.maharatable thead th {
    color: #186194;
}


.plan_incomplete td {
	background: #e9f0f5;
}

/* View Page footer menu */

/* views */
.feedback {
	background: url(../images/feedback.gif) no-repeat left top;
	padding-left: 20px !important;
}
.objection {
	background: url(../images/objectionable.gif) no-repeat left top;
	padding-left: 20px !important;
}
.print {
	background: url(../images/icon-print.gif) no-repeat left top;
	padding-left: 20px !important;
}
.watchlist {
	background: url(../images/watchlist.gif) no-repeat left top;
	padding-left: 20px !important;
}

/* Collection navigation */
ul.colnav li a {
	background: #d6e0c5;
}

.blockinstance-content .groupviewsection h5 {
	color: #333;
}
