#header {
    border: thin dotted red;
    padding: 10px;
    margin-bottom: 10px;
}

#footer {
    border: thin dotted red;
    padding: 10px;
    clear: both;
}

#mainnav li {
    display: inline;
}

#mainnav li.selected {
    font-weight: bold;
}

#subnav li {
    display: inline;
}

#subnav li.selected {
    font-weight: bold;
}
