$site-message-height: (0.375rem + 0.375rem + $font-size-base) * $line-height-base; // (padding-top + padding-bottom + font-size) * line-height

.site-messages {
    position: absolute;
}

//adjust header and fixed elements for sitemessages
@for $i from 1 through 5 {
    .header.message-count-#{$i} {
        top: $site-message-height * $i;

        @include media-breakpoint-down(sm) {
            top: 0;
        }

        ~ .container {
            .toolbar-affix.affix {
                @include media-breakpoint-up(md) {
                    margin-top: $site-message-height * $i;
                }
            }
        }

        + .main-content {
            @include media-breakpoint-up(md) {
                margin-top: $site-message-height * $i;
            }
        }

        ~ .pageheader {
            @include media-breakpoint-up(md) {
                margin-top: $site-message-height * $i;
            }
        }
    }
}

.no-site-messages {
    top: 0;
    padding-top: 0;

    + .main-content,
    + .main-content .toolbar-affix.affix {
        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    ~ .pageheader {
        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }
}
