header {
  &.header {
      background-color: darken($brand-primary, 5%);
      border-bottom: 1px solid $brand-primary;

      &.navbar {
          border-bottom: 1px solid $brand-primary;
      }

    .admin-title {
      padding: 2px 8px;
      margin-top: 12px;
      height: auto;
      background-color: darken($accent-color, 10%);
      border-radius: 3px;
      a{
        color: #FFF;
      }
      &:before,
      &:after {
        display: none;
      }
    }
    #mail {
      padding-right: 5px;
      padding-left: 5px;
    } 
    .navcount {
      &.unreadmessagecount {
        background-color: red;
        border-radius: 50%;
        display: block;
        text-align: center;
        height: 16px;
        width: 16px;
        font-size: 11px;
        line-height: 16px;
        position: absolute;
        top: 3px;
        right: 0px;
      }
    }

    .header-search-form {
      .form-control {
        background: darken($brand-primary, 10%);
        border: darken($brand-primary, 5%);
        color: #B6B6B9;

        &:focus {
          background-color: #FFF;
          color: $text-color;
        }
      }
    }
  }
}
