header {
  &.header {
      background-color: darken($brand-primary, 5%);
      border-bottom: 1px solid $brand-primary;

      &.navbar {
          border-bottom: 1px solid $brand-primary;
      }

    .admin-title {
      padding: 5px 10px;
      margin-top: 24px;
      height: auto;
      background-color: $state-info-bg;
      border-radius: 3px;
      &:before,
      &:after {
        display: none;
      }
    }
    .navcount {
      &.unreadmessagecount {
        background-color: red;
        border-radius: 50%;
        display: block;
        text-align: center;
        height: 16px;
        width: 16px;
        font-size: 11px;
        line-height: 16px;
        position: absolute;
        top: 3px;
        left: 25px;
      }
    }

    .header-search-form {
      .form-control {
        background: darken($brand-primary, 10%);
        border: darken($brand-primary, 5%);
        color: #B6B6B9;

        &:focus {
          background-color: #FFF;
          color: $text-color;
        }
      }
    }
  }
}
