.collapsible legend h4,
.collapsible legend h3,
.card-header {
    &.has-link {
        a .icon {
            color: $theme-primary-color;
        }
    }
    .metadata {
        margin-top: 3px;
        @include media-breakpoint-up(md) {
          @include media-breakpoint-down(lg) {
            float: none !important;
            font-size: 11px;
          }
        }
    }
}


// custom block heading
.column-layout {
    &:nth-child(3n+1) {
        .card-secondary {
            &:nth-child(5n+1) > .card-header, .card-header-nested {
                background-color: scale-color($theme-primary-color, $lightness: 10%);
                color: #FFFFFF;
            }
            &:nth-child(5n+2) > .card-header, .card-header-nested {
                background-color: $theme-accent-color;
                color: #FFFFFF;
            }
            &:nth-child(5n+3) > .card-header, .card-header-nested {
                background-color: $theme-accent-color-two;
                color: #FFFFFF;
            }
            &:nth-child(5n+4) > .card-header, .card-header-nested {
                background-color: $theme-secondary-color;
                color: #FFFFFF;
            }
            &:nth-child(5n+5) > .card-header, .card-header-nested {
                background-color: $theme-accent-color-three;
                color: #FFFFFF;
            }
        }
    }
    &:nth-child(3n+2) {
        .card-secondary {
            &:nth-child(5n+1) > .card-header, .card-header-nested {
                background-color: $theme-accent-color-two;
                color: #FFFFFF;
            }
            &:nth-child(5n+2) > .card-header, .card-header-nested {
                background-color: $theme-secondary-color;
                color: #FFFFFF;
            }
            &:nth-child(5n+3) > .card-header, .card-header-nested {
                background-color: $theme-accent-color-three;
                color: #FFFFFF;
            }
            &:nth-child(5n+4) > .card-header, .card-header-nested {
                background-color: scale-color($theme-primary-color, $lightness: 10%);
                color: #FFFFFF;
            }
            &:nth-child(5n+5) > .card-header, .card-header-nested {
                background-color: $theme-accent-color;
                color: #FFFFFF;
            }
        }
    }
    &:nth-child(3n+3) {
        .card-secondary {
            &:nth-child(5n+1) > .card-header, .card-header-nested {
                background-color: $theme-accent-color-three;
                color: #FFFFFF;
            }
            &:nth-child(5n+2) > .card-header, .card-header-nested {
                background-color: scale-color($theme-primary-color, $lightness: 10%);
                color: #FFFFFF;
            }
            &:nth-child(5n+3) > .card-header, .card-header-nested {
                background-color: $theme-accent-color;
                color: #FFFFFF;
            }
            &:nth-child(5n+4) > .card-header, .card-header-nested {
                background-color: $theme-accent-color-two;
                color: #FFFFFF;
            }
            &:nth-child(5n+5) > .card-header, .card-header-nested {
                background-color: $theme-secondary-color;
                color: #FFFFFF;
            }
        }
    }
}


// custom icons to some blocks
.bt-newviews .card-header:before {
    content: $fa-var-bullhorn;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-inbox .card-header:before {
    content: $fa-var-inbox;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-myviews .card-header:before {
    content: $fa-var-file;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-filedownload .card-header:before {
    content: $fa-var-download;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-folder .card-header:before {
    content: $fa-var-folder;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-gallery .card-header:before {
    content: $fa-var-picture-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-internalmedia .card-header:before {
    content: $fa-var-video-camera;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-pdf .card-header:before {
    content: $fa-var-file-pdf-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-html .card-header:before {
    content: $fa-var-code;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-blog .card-header:before {
    content: $fa-var-pencil;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-blogpost .card-header:before {
    content: $fa-var-file-text;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-recentposts .card-header:before {
    content: $fa-var-clock-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-taggedposts .card-header:before {
    content: $fa-var-tags;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-comment .card-header:before {
    content: $fa-var-comment;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-annotation .card-header:before {
    content: $fa-var-pencil-square-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-creativecommons .card-header:before {
    content: $fa-var-creative-commons;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-navigation .card-header:before {
    content: $fa-var-location-arrow;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-plans .card-header:before {
    content: $fa-var-check-square-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-recentforumposts .card-header:before {
    content: $fa-var-comments;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-textbox .card-header:before {
    content: $fa-var-pencil-square-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-profileinfo .card-header:before {
    content: $fa-var-info;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-socialprofile .card-header:before {
    content: $fa-var-thumbs-up;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-entireresume .card-header:before {
    content: $fa-var-star;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-resumefield .card-header:before {
    content: $fa-var-star-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-externalfeed .card-header:before {
    content: $fa-var-rss;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-externalvideo .card-header:before {
    content: $fa-var-youtube-play;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-googleapps .card-header:before {
    content: $fa-var-google;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-wall h3.card-header:before {
  content: $fa-var-quote-left;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-myfriends .card-header:before {
  content: $fa-var-user-plus;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-mygroups .card-header:before {
  content: $fa-var-users;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-image .card-header:before {
    content: $fa-var-picture-o;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
.bt-text .card-header:before {
    content: $fa-var-font;
    font-family: FontAwesome;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 5px;
}
