a.card-footer {
    color: $theme-primary-color;

    &:hover {
        color: scale-color($theme-primary-color, $lightness: 5%);
        .icon {
            color: scale-color($theme-primary-color, $lightness: 5%);
        }
        .icon.float-right { //only apply link colorto right aligned icons
            color: scale-color($theme-primary-color, $lightness: 5%);
        }
    }
    .icon.float-right {
        color: $theme-primary-color;
    }
}
