.card.card-secondary {
    > .card-header, .card-header-nested {
        font-family: $font-family-sans-serif;
        border-radius: 0;
        border-bottom: 0;
        padding-left: 10px;
        color: #FFFFFF;

        a {
            color: #FFFFFF;
            text-decoration: underline;
        }
    }
}
