.card.card-secondary {
    border-radius: 0;
    > .card-header, .card-header-nested {
        border-radius: 0;
        border-bottom: 0;
        padding-left: 10px;

        a {
            text-decoration: underline;
        }
    }
}
