h1 ~ div > .btn-group-top,
h2 ~ div > .btn-group-top,
h3 ~ div > .btn-group-top,
h4 ~ div > .btn-group-top,
h5 ~ div > .btn-group-top,
h6 ~ div > .btn-group-top,
p ~ div > .btn-group-top,
.page-header ~ div.btn-group-top,
.page-header + .btn-action-list .btn-group-top,
.nav-tabs +  div.btn-group-top,
.pageactions .btn-group-vertical {
  .btn-group .btn,
  .form-as-button,
  .btn {
    color: $gray-900;
    background-color: scale-color($theme-secondary-color, $lightness: 65%);
  }
  // exception
  .btn-primary {
    color: $white;
    background-color: scale-color($theme-secondary-color, $lightness: -35%);
  }
}
