.sidebar {
    .card-header {
        background-color: $theme-secondary-color;
        border-color: $theme-secondary-color;
        color: $white;

        .text-midtone {
          color: $white;
        }
    }
}
