.sidebar {
    .card {
        border-color: $theme-secondary-color;
    }
}
.card.bg-warning {
    .card-header a {
        border-width: 0;
    }
}

.card-collection,
.card-view {
    .bg-warning {
        .card-body {
            background: $white;
        }
    }
}
