.sidebar {
    .card-header {
        background-color: $theme-secondary-color;
        border-color: $theme-secondary-color;
        color: $white;

        .text-midtone {
          color: $white;
        }

        span.help .icon {
          color: $white;
        }

        a {
            color: $white;

            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
}
