.card-secondary {
    > .card-header {
        font-family: $font-family-sans-serif;
        border-bottom-width: 2px;
    }

    .list-group-item-heading {
      font-family: $font-family-sans-serif;
    }

    &.card {
        .card-header {
            border-color: $card-secondary-border;
        }
    }
}
