.card-secondary {
    > .card-header {
        font-family: $font-family-sans-serif;
        //background-color: #FFFFFF;
        border-left: 0 solid transparent;
        //padding-left: 0;
        border-bottom: 2px solid ;
    }

    .list-group-item-heading {
      font-family: $font-family-sans-serif;
    }
}
