.collection-nav {
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;

    h2 {
        font-size: 38px;
    }

    .collection-nav-btns {
      @media (min-width: $screen-md-min) {
        bottom: 22px;
      }
    }
}
