.dashboard-widget-container {
    overflow: visible;

    .thumbnail-widget {
        text-align: center;
        background-color: $dashboard-widget-bg;

        @include media-breakpoint-up(md) {
            padding: 0;
            width: 32%;
            margin-left: 2%;
            height: 223px;
            border-radius: 50%;
            &.first {
                margin-left: 0;
            }
        }
        @include media-breakpoint-up(xl) {
            height: 271px;
        }

        &:hover {
            background-color: scale-color($theme-secondary-color, $lightness: 70%);
            transition: all 0.2s ease 0s;
        }

        .widget-heading {
            border-top: 0;
            padding: 0 10px;
            height: auto;
            background: transparent;

            @include media-breakpoint-between(md, lg) {
                height: auto;
            }

            @include media-breakpoint-up(md) {
                margin-top: 20px;
            }
            @include media-breakpoint-up(xl) {
                margin-top: 40px;
            }

            .circle-bg {
                float: none;
                display: inline-block;
                width: auto;
                height: auto;

                .icon {
                    color: $dashboard-widget-cirlce-icon-color;
                    @include media-breakpoint-up(xl) {
                        font-size: 36px
                    }
                }
            }

            h2 {
                font-weight: 500;
                display: inline-block;
                color: $dashboard-widget-title-color;
                @include media-breakpoint-up(xl) {
                    font-size: 36px;
                }
            }
            p {
                font-size: 16px;
                font-family: $font-family-serif;
                color: $gray-500;
                display: block;
                @include media-breakpoint-up(xl) {
                    font-size: 20px
                }
            }
        }
        .widget-detail {
            opacity: 1;
            margin-top: 0;
            border: 0;
            height: auto;
            background: transparent;

            p {
              font-size: 13px;
              color: $gray-700;
            }
        }

        &.logged-in {
            .widget-detail {
                opacity: 1;
                margin-top: 0;
                @include media-breakpoint-between(md, lg) {
                    margin-top: 0;
                }
                @include media-breakpoint-up(xl) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
                @include media-breakpoint-down(sm) {
                    margin-top: 0;
                    border: 0;
                    background: transparent;
                }
                p {
                  font-size: 13px;
                  color: $gray-700;
                }
            }
            &:hover {
                .widget-detail {
                    opacity: 1;
                    margin-top: 0;
                    background: transparent;
                }
            }
        }

    }
}
