// overriding/additional styles for theme


// even out boxes fix
@media (min-width: $screen-sm-min) {
    .dashboard-widget-container .thumbnail-widget {
        width: 32%;
        padding: 0;
        margin-left:2%;

        &.first {
            margin-left: 0;
        }
    }
}


.dashboard-widget-container {
    overflow: visible;

    .widget-heading {
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
        height: auto;
        @media (min-width: $screen-sm-min) {
            margin-top: 20px;
        }
        @media (min-width: $screen-lg-min) {
            margin-top: 40px;
        }
        h2 {
            font-weight: 500;
            display: inline-block;
            color: $gray-dark;
            @media (min-width: $screen-lg-min) {
                font-size: 36px;
            }
        }
        p {
            font-family: $font-family-serif;
            font-size: 16px;
            color: $gray;
            display: block;
            @media (min-width: $screen-lg-min) {
                font-size: 20px
            }
        }
    }

    .circle-bg {
        float: none;
        background-color: transparent;
        display: inline-block;
        width: auto;
        height: auto;
        .icon {
            color: $brand-primary;
            @media (min-width: $screen-lg-min) {
                font-size: 36px
            }
        }
    }

    .widget-detail {
        border: 0;
    }

    .thumbnail-widget {
        background-color: $brand-primary-faint;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            height: 223px;
            border-radius: 50% !important;
        }
        @media (min-width: $screen-lg-min) {
            height: 271px;
        }
    }

    .logged-in {
        .widget-heading {
            h2 {
                font-weight: 500;
            }
            p {
                font-size: 16px;
                color: $gray;
                @media (min-width: $screen-lg-min) {
                    font-size: 20px
                }
            }
        }

        .widget-detail {
            opacity: 1;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            height: auto;
            @media (min-width: $screen-lg-min) {
                padding-left: 30px;
                padding-right: 30px;
            }
            p {
                color: $gray-dark;
                @media (max-width: $screen-lg-min) {
                    font-size: 13px;
                }
            }
        }
        &.thumbnail-widget:hover {
            background-color: $brand-primary-light;
            transition: all 0.2s ease 0s;
        }

    }

    .logged-in:hover {
        .widget-heading {
            background-color: transparent;
        }
        .widget-detail {
            margin-top: 0;
            height: auto;
            p {
                color: $gray-dark;
            }
        }
    }
}